---
import DataProgramLayout from "../_DataProgramLayout.astro";
import base_url from "@/src/lib/base_url";
---
<DataProgramLayout title="AI CMM | Research Projects">
  <h2 class="sideways blue">AI-Enabled ITS Capability Maturity Model (CMM)
  </h2>
  
   <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;"> 
    <div class="col-lg-7">
      <p>
        As the data from ITS applications and other sources become available, and as implemented ITS solutions increase in sophistication, agencies have an increasing need to evolve their engineering processes and tools from existing, well-understood heuristic approaches to artificial intelligence (AI) and machine learning (ML) solutions. These solutions have the potential to provide more automated and granular outputs to support system monitoring; diagnosis of underperformance; prediction; and prescription of strategies, tactics, and operational plans. 
      </p>
      <p>
        Artificial Intelligence (AI)-Enabled Intelligent Transportation Systems (ITS) Capability Maturity Model (CMM) and Readiness Checklists was developed for deployers to assess their system maturity in implementing and deploying AI-enabled solutions for ITS operational challenges and needs.
      </p>

      <!-- Additional Information for when it's needed 
      <ul>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Factsheet</a>
          </li>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Publication</a>
          </li>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Policy</a>
          </li>
      </ul>
      <button class="Pagebtn externalLink_White btnDark top20Margin" onclick="window.open('../stratplan2020/ITSJPO_StratPlanFactSheet.pdf');">View CMM Checklists
      </button> 

      -->

    </div>
    <div class="col-lg-5">
      <img class="sideColumnImg" src={base_url("/assets/images/data_access/ITS_DataProgram_ResourcePreivew_ComingSoon.png")}>
    </div>
  </div>
</DataProgramLayout>