---
import DataProgramLayout from "../_DataProgramLayout.astro";
import base_url from "@/src/lib/base_url";
---
<DataProgramLayout title="Gap Analysis | Research Projects">
  <h2 class="sideways blue">Gap Analysis for High-Value Data Sets</h2>

  <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;">
    <div class="col-lg-7">
      <p>
        ITS and transportation data have immense value but agencies, companies, and academia alike can face challenges understanding and capturing that value effectively, especially with the
        ever-expanding and evolving options for their needs, applications, potential solutions, and possibilities. On the other hand, variations of the same or similar datasets might not offer
        great value for researchers to solve specific problems or for the transportation industry as a whole. Understanding the criteria for high-value datasets to solve problems, researchers,
        public agencies, system developers/integrators, and other industry organizations involved in ITS and transportation technologies can prioritize acquiring specific emerging datasets
        that can also be shared across the industry.
      </p>
      <p>
        Developed as part of the ITS Data Program research activities, this report provides a background on traditional and emerging data in transportation, a framework for identifying
        high-value datasets, and deficiencies in current datasets. The objective is to develop targeted strategies to fill those gaps in support of advancing ITS research. The report also
        promotes continued discussion on the value of data in transportation and digging into the state of the practice and state of the art transportation data for various use cases, along
        with identification of dataset gaps for USDOT priority areas.
      </p>

      <!--  Additional info for when it comes
      <ul>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Factsheet</a>
          </li>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Publication</a>
          </li>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Policy</a>
          </li>
      </ul>
      <button class="Pagebtn externalLink_White btnDark top20Margin" onclick="window.open('../stratplan2020/ITSJPO_StratPlanFactSheet.pdf');">View more Gap Analysis for High-value Data Sets
      </button> 
        -->
    </div>
    <div class="col-lg-5">
      <img class="sideColumnImg" src={base_url("/assets/images/data_access/ITS_DataProgram_ResourcePreivew_ComingSoon.png")} />
    </div>
  </div>
</DataProgramLayout>