.ui_item {
  /* w-full flex flex-wrap items-center rounded-lg outline-none */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--radius-lg);
  border-width: 1px;
  border-style: solid;
  outline: none;

  /* transition-colors duration-100 */
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;

  /* Should use a custom --ring or --color-ring with primary color */
  &:focus-visible {
    box-shadow: 0 0 0 3px
      color-mix(in oklch, var(--color-ring) 50%, transparent);
  }

  // ---------- Link ----------

  /* transition-colors */
  @at-root a#{&} {
    transition-property:
      color, background-color, border-color, outline-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &:hover {
      background-color: var(--color-muted);
    }
  }

  // ---------- Variants ----------

  /* Default */
  &[data-variant="default"] {
    border-color: transparent;
  }

  /* Outline */
  /* TODO: Update border color */
  &[data-variant="outline"] {
    border-color: var(--border-light);
  }

  /* Muted */
  &[data-variant="muted"] {
    border-color: transparent;
    background-color: color-mix(in oklch, var(--color-muted) 50%, transparent);
  }

  // ---------- Sizes ----------

  /* Default */
  &[data-size="default"] {
    padding: spacing(2.5) spacing(3);
    gap: spacing(2.5);
  }

  /* Small */
  &[data-size="sm"] {
    padding: spacing(2.5) spacing(3);
    gap: spacing(2.5);
  }

  /* Extra Small */
  &[data-size="xs"] {
    padding: spacing(2.5) spacing(2);
    gap: spacing(2);
  }
}

/* ============================================================
 * ItemGroup
 * ============================================================ */

/* 
  group/item-group
  flex
  w-full
  flex-col
  gap-4
  has-data-[size=sm]:gap-2.5
  has-data-[size=xs]:gap-2
*/
.ui_item-group {
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--radius, 0.625rem) - 2px);

  > .ui_item[data-variant="outline"] {
    border-radius: 0;
    border-bottom-width: 0;

    &:first-child {
      border-top-left-radius: calc(var(--radius, 0.625rem) - 2px);
      border-top-right-radius: calc(var(--radius, 0.625rem) - 2px);
    }

    &:last-child {
      border-bottom-left-radius: calc(var(--radius, 0.625rem) - 2px);
      border-bottom-right-radius: calc(var(--radius, 0.625rem) - 2px);
      border-bottom-width: 1px;
    }
  }
}

/* ============================================================
 * ItemMedia
 * ============================================================ */

.ui_item-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: spacing(2);

  svg {
    pointer-events: none;
  }

  .ui_item:has([data-slot="item-description"]) & {
    transform: translateY(0.125rem);
    align-self: flex-start;
  }

  // ---------- Variants ----------

  /* Default */
  &[data-variant="default"] {
    background-color: transparent;
  }

  /* Icon */
  &[data-variant="icon"] {
    svg:not([class*="size-"]) {
      width: spacing(4);
      height: spacing(4);
    }
  }

  /* Image */
  &[data-variant="image"] {
    width: spacing(10);
    height: spacing(10);
    overflow: hidden;
    border-radius: var(--radius-lg);

    .ui_item[data-size="sm"] & {
      width: spacing(8);
      height: spacing(8);
    }

    .ui_item[data-size="xs"] & {
      width: spacing(6);
      height: spacing(6);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* ============================================================
 * ItemContent (DONE)
 * ============================================================ */

.ui_item-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: spacing(1);

  /* For any additional content components that follow the first one */
  & + [data-slot="item-content"] {
    flex: none;
  }

  .ui_item[data-size="xs"] & {
    gap: 0;
  }
}

/* ============================================================
 * ItemTitle (DONE)
 * ============================================================ */

.ui_item-title {
  line-clamp: 1;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: spacing(2);
  font-size: var(--text-sm);
  line-height: var(--leading-snug);
  font-weight: var(--font-weight-medium);
  text-underline-offset: calc(4px * -1);
}

/* ============================================================
 * ItemDescription (DONE)
 * ============================================================ */

.ui_item-description {
  line-clamp: 2;
  text-align: left;
  font-weight: var(--font-weight-normal);
  color: var(--muted-foreground, oklch(0.552 0.014 285.938));
  margin: 0;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    text-decoration: underline;
    text-underline-offset: calc(4px * -1);

    &:hover {
      /* TODO: Update to color primary eventually */
      color: var(--color-foreground);
    }
  }

  .ui_item[data-size="xs"] & {
    font-size: var(--text-xs);
  }
}

/* ============================================================
 * ItemActions (DONE)
 * ============================================================ */

.ui_item-actions {
  display: flex;
  align-items: center;
  gap: spacing(2);
}

/* ============================================================
 * ItemHeader (DONE)
 * ============================================================ */

.ui_item-header {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  gap: spacing(2);
}

/* ============================================================
 * ItemFooter (DONE)
 * ============================================================ */

.ui_item-footer {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  gap: spacing(2);
}
