---
import PageLayout from "@/src/layouts/PageLayout.astro";
import { Image } from "astro:assets";
import Brian_Cronin from "../../../../assets/images/staff/Brian_Cronin.png";
import SubNav from "@/src/layouts/SubNav.astro";

const keywords = ["ITS JPO Staff Listing", "ITS JPO", "Staff Listing", "Contact Us", "About Us", "Intelligent Transportation Systems Joint Program Office"];

const description =
  "The ITS JPO staff listing provides contact information for key personnel involved in the Intelligent Transportation Systems Joint Program Office. Reach out to us for inquiries, collaboration, and more.";
---

<PageLayout title="Staff Listing" keywords={keywords} description={description}>
  <Fragment slot="banner"> ITS JPO Staff Listing </Fragment>
  <SubNav path="/about/">
    <Image src={Brian_Cronin} width="200" alt="Egan Smith" class="float-end m-5 rounded-3 " />
    <h3>Brian Cronin, Director</h3>
    <p>
      <a href="mailto:Brian.Cronin@dot.gov">Brian.Cronin@dot.gov</a>
    </p>
    <p>
      Brian Cronin is the Director of the Intelligent Transportation Systems (ITS) Joint Program Office. Prior to this role, Brian served as Director, Office of Safety and Operations Research and
      Development, Federal Highway Administration (FHWA) for 5 years, and two years as the Director Office of Operations Research and Development. In his most recent role, he provided executive
      leadership and guidance for improving and advancing transportation safety and operations-related technologies and innovations through research, development, and testing. Brian is providing
      executive leadership in FHWA’s involvement in the Intersection Safety Challenge, development of a Vulnerable Road User Research Plan Report to Congress, and establishing a new Center of
      Excellence for New Mobility and Automated Vehicles. Brian guided the development of the Cooperative Driving Automation research program and V2X research efforts.
    </p><p>
      Prior to his appointment into the SES, Brian served for 11 years in the ITS JPO, with the last 8 years as the Intelligent Transportation Systems (ITS) Research Team Leader. In this position, he
      provided strategic leadership and direction in the development of ITS solutions to improve transportation mobility, safety, and the environment. Brian provided technical leadership for the
      development of the connected vehicle research program and the Secretary’s Smart City Challenge.
    </p><p>
      Prior to joining FHWA in 2003, Brian served as the Advanced Public Transportation Systems Team Leader with the Federal Transit Administration where he oversaw research and deployment of transit
      related ITS technologies to improve transit operations.
    </p><p>
      Brian holds a Master's Degree in Civil Engineering from Texas A&M University and a Bachelor’s Degree in Civil Engineering from Virginia Tech. Brian is also a licensed Professional Engineer in
      the State of Maryland.
    </p>
    <p>Brian recently celebrated his 25th wedding anniversary to his wife Lisa LaCourse, and has two girls, Lucy and Julia. Brian enjoys camping, kayaking, hiking, swimming, biking, and golf.
</p>

  </SubNav>
</PageLayout>
