---
import PageLayout from "@/src/layouts/PageLayout.astro";
import { Image } from "astro:assets";
import Brian_Cronin from "../../../../assets/images/staff/Brian_Cronin.png";
import Egan_Smith from "../../../../assets/images/staff/Egan_Smith.jpg";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
import base_url from "@/src/lib/base_url";
---

<PageLayout title="Staff Listing">
  <Fragment slot="banner"> ITS JPO Staff Listing </Fragment>
  <SidebarLayout path="/about/">
    <div class="row">
      <div class="col-md-8 order-2 order-md-1">
        <div class="row">
          <div class="col-lg-6">
            <strong>Anderson, Justin, PMP, CSEP, CISSP</strong><br />
            Program Manager<br />
            Next Generation Wireless Communications and SCMS<br />
            202-366-9198<br />
            <a href="mailto:Justin.Anderson@dot.gov">Justin.Anderson@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Ocel, Norah P.E. PMP</strong><br />
            Program Manager<br />
            ITS Safety and Stakeholder Engagement<br />
            202-366-2639<br />
            <a href="mailto:Norah.Ocel@dot.gov">Norah.Ocel@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Park, Hyungjun, Ph.D.</strong><br />
            Program Manager<br />
            Automation<br />
            202-366-9126<br />
            <a href="mailto:Hyungjun.Park@dot.gov">Hyungjun.Park@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Pina, Mike</strong><br />
            Program Manager<br />
            Communications<br />
            202-366-3700<br />
            <a href="mailto:michael.pina@dot.gov">Michael.Pina@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Pincus, Marcia, FAC/PPM III, FAC/COR III</strong><br />
            Program Manager<br />
            ITS Deployment Evaluation<br />
            202-366-9230<br />
            <a href="mailto:marcia.pincus@dot.gov">Marcia.Pincus@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Reimnitz, Amber PMP</strong><br />
            Program Manager<br />
            ITS Multimodal Digital Infrastructure<br />
            202-366-2997<br />
            <a href="mailto:Amber.Reimnitz@dot.gov">Amber.Reimnitz@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Schneeberger, John</strong><br />
            Program Manager<br />
            Knowledge and Technology Transfer<br />
            202-366-8034<br />
            <a href="mailto:john.schneeberger@dot.gov">John.Schneeberger@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Sheehan, Robert, P.E., PTOE</strong><br />
            Program Manager<br />
            Architecture and Standards<br />
            202-366-6817<br />
            <a href="mailto:robert.sheehan@dot.gov">Robert.Sheehan@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Solter, Michael</strong><br />
            Chief Program & Resource Management<br />
            202-366-4259<br />
            <a href="mailto:Michael.Solter@dot.gov">Michael.Solter@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Williams, Dana</strong><br />
            Administrative Officer<br />
            202-366-2180<br />
            <a href="mailto:dana.williams@dot.gov">Dana.Williams@dot.gov</a>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <strong>Zlotchenko, Elina, PMP, FAC/PPM III</strong><br />
            Program Manager<br />
            ITS4US, EPMO, NRITS, DATA/CODE HUBs<br />
            202-366-1697<br />
            <a href="mailto:Elina.Zlotchenko@dot.gov">Elina.Zlotchenko@dot.gov</a>

            <br /><br />
          </div>
        </div>
      </div>

      <div class="col-md-4 order-1 order-md-2">
        <p><Image src={Brian_Cronin} width="200" alt="Brian Cronin" /></p>
        <h4>Brian Cronin, Director</h4>
        202-493-3269<br />
        <a href="mailto:brian.cronin@dot.gov">Brian.Cronin@dot.gov</a>
        <p>
          
          <a href={base_url("/about/contact-us/staff-listing/Brian-Cronin")}>View Bio</a>
        </p>

        <br />

        <p><Image src={Egan_Smith} width="200" alt="Egan Smith" /></p>
        <h4>Egan Smith, Managing Director</h4>
        202-366-9224<br />
        <a href="mailto:Egan.Smith@dot.gov">Egan.Smith@dot.gov</a><br />
        <p>
          
          <a href={base_url("/about/contact-us/staff-listing/Egan-Smith")}>View Bio</a>
        </p>
      </div>
    </div>
  </SidebarLayout>
</PageLayout>
