---
import PageLayout from "@/src/layouts/PageLayout.astro";
import { Image } from "astro:assets";
import Brian_Cronin from "../../../../assets/images/staff/Brian_Cronin.png";
import Egan_Smith from "../../../../assets/images/staff/Egan_Smith.jpg";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
import base_url from "@/src/lib/base_url";

const keywords = [
  "ITS JPO Staff Listing",
  "ITS JPO",
  "Staff Listing",
  "Contact Us",
  "About Us",
  "Intelligent Transportation Systems Joint Program Office",
];

const description =
  "The ITS JPO staff listing provides contact information for key personnel involved in the Intelligent Transportation Systems Joint Program Office. Reach out to us for inquiries, collaboration, and more.";

---

<style>
p {
  text-wrap: pretty;

}
</style>
<PageLayout title="Staff Listing" keywords={keywords} description={description}>
  <Fragment slot="banner"> ITS JPO Staff Listing </Fragment>
  <SidebarLayout path="/about/">
    <div class="row">
      <div class="col-md-8 order-2 order-md-1">
        <div class="row">
          <div class="col-lg-6">
            <p>
            <strong>Anderson, Justin, PMP, CSEP, CISSP</strong><br />
            Program Manager<br />
            Next Generation Wireless Communications and SCMS<br />
            <a href="mailto:Justin.Anderson@dot.gov">Justin.Anderson@dot.gov</a>
            </p>
          </div>
          <div class="col-lg-6">
            <p>
            <strong>Ocel, Norah P.E. PMP</strong><br />
            Program Manager<br />
            ITS Safety and Stakeholder Engagement and Communications<br />
            <a href="mailto:Norah.Ocel@dot.gov">Norah.Ocel@dot.gov</a>
            </p>
          </div>
          <div class="col-lg-6">
            <p>
            <strong>Park, Hyungjun, Ph.D.</strong><br />
            Program Manager<br />
            Automation<br />
            <a href="mailto:Hyungjun.Park@dot.gov">Hyungjun.Park@dot.gov</a>
            </p>
          </div>
          <div class="col-lg-6">
            <p>
            <strong>Randall, Lisa</strong><br />
            Program Manager<br />
            Artificial Intelligence<br />
            <a href="mailto:Lisa.Randall@dot.gov">Lisa.Randall@dot.gov</a>
            </p>
          </div>
          <div class="col-lg-6">
            <p>
            <strong>Schneeberger, John, PMP, PSPO </strong><br />
            Program Manager<br />
            Knowledge and Technology Transfer<br />
            <a href="mailto:john.schneeberger@dot.gov">John.Schneeberger@dot.gov</a>
            </p>
          </div>
          <div class="col-lg-6">
            <p>
            <strong>Sheehan, Robert, P.E., PTOE</strong><br />
            Program Manager<br />
            Architecture and Standards<br />
            <a href="mailto:robert.sheehan@dot.gov">Robert.Sheehan@dot.gov</a>
            </p>
          </div>
          <div class="col-lg-6">
            <p>
            <strong>Solter, Michael</strong><br />
            Chief Program and Resource Management<br />
            <a href="mailto:Michael.Solter@dot.gov">Michael.Solter@dot.gov</a>
            </p>
          </div>
          <div class="col-lg-6">
            <p>
            <strong>Williams, Dana</strong><br />
            Administrative Officer<br />
            <a href="mailto:dana.williams@dot.gov">Dana.Williams@dot.gov</a>
            </p>
          </div>
          <div class="col-lg-6">
            <p>
            <strong>Zlotchenko, Elina, PMP, FAC/PPM III</strong><br />
            Program Manager<br />
            ITS4US, EPMO, NRITS, DATA/CODE HUBs<br />
            <a href="mailto:Elina.Zlotchenko@dot.gov">Elina.Zlotchenko@dot.gov</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 order-1 order-md-2">
        <p><Image src={Brian_Cronin} width="200" alt="Brian Cronin" class=" rounded-3" /></p>
        <h4>Brian Cronin, Director</h4>
         <p><a href="mailto:brian.cronin@dot.gov">Brian.Cronin@dot.gov</a></p>
        <p>
          <a class="btn btn-outline-light text-dark m-0 " href={base_url("/about/contact-us/staff-listing/Brian-Cronin")}>View Bio</a>
        </p>
        <br />
        </p>
      </div>
    </div>
  </SidebarLayout>
</PageLayout>
