---
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import base_url from "@/src/lib/base_url";
import "@/src/styles/ai-section.css";

---

<PageLayout title="Put AI into Practice" bannerImage={banner}>
  <Fragment slot="banner">Put AI into Practice</Fragment>
  <main>
    <h2>Put AI into Practice</h2>
    <p>
      From innovation challenges to real-world pilot deployments, explore how the ITS JPO supports transportation agencies in testing, validating, and implementing AI solutions at every stage of
      development.
    </p>

    <!-- AI Innovation Challenges Section -->
    <div class="row ai-card-row">
      <div class="col-lg-2 ai-header-col">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="39" height="39"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M144 88C144 74.7 133.3 64 120 64C106.7 64 96 74.7 96 88L96 552C96 565.3 106.7 576 120 576C133.3 576 144 565.3 144 552L144 452L224.3 431.9C265.4 421.6 308.9 426.4 346.8 445.3C391 467.4 442.3 470.1 488.5 452.7L523.2 439.7C535.7 435 544 423.1 544 409.7L544 130C544 107 519.8 92 499.2 102.3L489.6 107.1C443.3 130.3 388.8 130.3 342.5 107.1C307.4 89.5 267.1 85.1 229 94.6L144 116L144 88zM144 165.5L240.6 141.3C267.6 134.6 296.1 137.7 321 150.1C375.9 177.5 439.7 179.8 496 156.9L496 398.7L471.6 407.8C437.9 420.4 400.4 418.5 368.2 402.4C320 378.3 264.9 372.3 212.6 385.3L144 402.5L144 165.5z" fill="white"/></svg>
        <h3>AI Innovation Challenges</h3>
      </div>

      <div class="col-lg-10 p-4 d-flex gap-4 flex-column">
        <p>
          Innovation challenges are at the "proof of concept" technology phase where AI ideas are tested within a safe digital environment to confirm it is technically viable. The primary goal is to
          determine if the concept can solve a specific transportation challenge before an agency commits significant time or funding. The ITS JPO undertakes a number of AI innovation challenges
          through the USDOT Small Business Innovation Research Program and to meet other Departmental priorities.
        </p>
        <a href="https://www.volpe.dot.gov/work-with-us/small-business-innovation-research" class="text-decoration-none reset-link" target="_blank">
          <div class="card data-card shadow-sm card-body card-blue">
            <sub>SBIR</sub>
            <h5 class="card-title">AI Freight Solicitation</h5>
            <p class="card-text">The USDOT Small Business Innovation Research (SBIR) FY26 Phase I solicitation invites small businesses to propose innovative AI solutions for freight transportation, improving safety, efficiency, and resilience. Opens Summer 2026.</p>
          </div>
        </a>
        <a href={base_url("/research-areas/artificial-intelligence/focus-areas/put-ai-into-practice/transportation-planning-design")} class="text-decoration-none reset-link" target="_blank">
          <div class="card data-card shadow-sm card-body card-blue">
            <sub>SBIR</sub>
            <h5 class="card-title">AI Transportation Planning & Design (TPD) Project Briefs</h5>
            <p class="card-text">The AI for Transportation Planning and Design (AI TPD) initiative is advancing a range of AI methods to collect, integrate and apply a range of data, particularly for active transportation. These tools will allow transportation practitioners to query complex datasets in natural language, asking questions such as "Where are the highest-risk pedestrian corridors?" and receive clear, visual responses. By combining AI analytics, geospatial visualization, and dynamic simulation, agencies can test scenarios, compare design options, and monitor performance across safety, mobility, and efficiency metrics. In Phase I, USDOT awarded $200,000 each to 12 small businesses to demonstrate novel multimodal data generation and AI processing methods in a pilot geography. Five companies are now undertaking further research and scaling their approaches to additional geographies under Phase II of this project.</p>
          </div>
        </a>
      </div>
    </div>

    <!-- AI Proof of Concepts & Prototypes Section -->
    <div class="row ai-card-row">
      <div class="col-lg-2 ai-header-col">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="39" height="39"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M424.5 355.1C449 329.2 464 294.4 464 256C464 176.5 399.5 112 320 112C240.5 112 176 176.5 176 256C176 294.4 191 329.2 215.5 355.1C236.8 377.5 260.4 409.1 268.8 448L371.2 448C379.6 409 403.2 377.5 424.5 355.1zM459.3 388.1C435.7 413 416 443.4 416 477.7L416 496C416 540.2 380.2 576 336 576L304 576C259.8 576 224 540.2 224 496L224 477.7C224 443.4 204.3 413 180.7 388.1C148 353.7 128 307.2 128 256C128 150 214 64 320 64C426 64 512 150 512 256C512 307.2 492 353.7 459.3 388.1zM272 248C272 261.3 261.3 272 248 272C234.7 272 224 261.3 224 248C224 199.4 263.4 160 312 160C325.3 160 336 170.7 336 184C336 197.3 325.3 208 312 208C289.9 208 272 225.9 272 248z" fill="white"/></svg>
        <h3>AI Proof of Concepts & Prototypes</h3>
      </div>

      <div class="col-lg-10 p-4 d-flex gap-4 flex-column">
        <p>
          AI prototypes transition an AI solution from a purely digital setup into a functional system that is integrated into an agency's hardware and software. These tests are conducted under
          real-world conditions but within strictly controlled environments. This stage evaluates performance and reliability.
        </p>
        <div class="card data-card shadow-sm card-body w-100 card-gray ">
          <sub>FACT SHEET & TECHNICAL PAPER</sub>
          <h5 class="card-title">AI-Enhanced Predictive Analytics for Incident Management</h5>
          <p class="card-text">The Incident Prediction Prototype combines several types of traffic and weather data to make reliable and proactive short-term forecasts of incident risk by road segments, offering Traffic Management Centers an analytical dashboard tool for improving incident prevention, travel alerts, and long-term roadway planning.</p>
          <p class="card-text fst-italic mt-2">Coming soon</p>
        </div>
        <div class="card data-card shadow-sm card-body w-100 card-gray">
          <sub>FACT SHEET & TECHNICAL PAPER</sub>
          <h5 class="card-title">AI-Enhanced Traffic Counts</h5>
          <p class="card-text">The Enhanced Mobility Traffic Counts Prototype leverages vehicle speeds, roadway characteristics, and temporal context data to forecast hourly traffic volumes for road segments lacking direct measurements. The modular, neural network-based tool offers transportation agencies a method for improving planning-level tasks such as infrastructure management, noise modeling, and congestion analysis.</p>
          <p class="card-text fst-italic mt-2">Coming soon</p>
        </div>
        <div class="card data-card shadow-sm card-body w-100 card-gray">
          <sub>FACT SHEET & TECHNICAL PAPER</sub>
          <h5 class="card-title">AI-Video Analytics for Border Crossing Operations</h5>
          <p class="card-text">The Border Crossing Wait Times Estimation Prototype integrates live video frames with a computer vision model to detect, classify, and track vehicles across defined start and end lines. Transportation agencies, especially those engaging with international ports of entry, may use this cost-effective, lane-specific analysis tool to generate real-time wait metrics that support operational decision-making.</p>
          <p class="card-text fst-italic mt-2">Coming soon</p>
        </div>
        <div class="card data-card shadow-sm card-body w-100 card-gray">
          <sub>FACT SHEET & TECHNICAL PAPER</sub>
          <h5 class="card-title">AI Methods to Improve Categorization of Land Use Contexts</h5>
          <p class="card-text">This Land Use Context Categorization Prototype automatically combines national building, census demographic, and road attribute data to assign land use context labels to road segments, offering transportation agencies an efficient, low-cost, and scalable analysis tool for context-sensitive applications such as safety analysis, multimodal planning, and emergency evacuation routing.</p>
          <p class="card-text fst-italic mt-2">Coming soon</p>
        </div>
      </div>
    </div>

    <!-- AI Pilot Deployments Section -->
    <div class="row ai-card-row">
      <div class="col-lg-2 ai-header-col">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="39" height="39"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z" fill="white"/></svg>
        <h3>AI Pilot Deployments</h3>
      </div>

      <div class="col-lg-10 p-4 d-flex gap-4 flex-column">
        <p>
          AI pilot deployments move ready-to-test AI solutions into the real world on a limited, manageable scale. The focus is on observing how the technology interacts with actual conditions
          including users, vehicles, equipment, and freight flows while ensuring it integrates seamlessly with existing agency software.
        </p>
        <div class="card data-card shadow-sm card-body w-100 card-gray">
          <p class="card-text fst-italic">Resources coming soon</p>
        </div>
      </div>
    </div>
  </main>
</PageLayout>
<style>
 .card-gray sub {
   color: #757575;
   font-weight: bold;
 }

</style>