---
import Default from "../../../layouts/Default.astro";
import SideBar from "../../../components/SideBar_Research.astro";
import NavITS4US from "../../../components/Nav_ITS4US.astro";
import base_url from "../../../lib/base_url";
---

<Default title="ITS JPO - ITS4US">

      <!-- InstanceBeginEditable name="AboutBanner" -->

      <div class="AboutBanner AcceleratingDeployment_bkgd">
        <div class="AboutBannerTitle">
          <h1>
            <img alt="ITS4US Logo" src={base_url("/assets/images/its4us/ITS4US_logo_white.png")} style="max-height: 60px; clear: none" />
            &nbsp;| ITS4US
          </h1>
        </div>
      </div>
      <div class="container-fluid h-100 bodyWrap">
        <div class="row h-100">
          <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
          <main class="col-9 MainContent">
            <div class="row" style="padding-bottom: 20px; margin-bottom: 30px; border-bottom-style: solid; border-block-width: 1px; border-color: gainsboro">
              <NavITS4US />
              <div class="container-fluid">
                <div class="col-lg-12" style="overflow-x: auto">
                  <h2 class="sideways blue">ITS4US in the Media</h2>

                  <h3>ITS4US Program</h3>
                  <ul>
                    <li>
                      <a
                        href="https://www.transportation.gov/briefing-room/us-department-transportation-announces-over-41-million-awards-innovative-technologies"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        U.S. DOT announced ITS4US Phase 1 awardees on Wednesday, January 6, 2021
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.transportation.gov/briefing-room/us-department-transportation-selects-four-projects-receive-over-27-million-improve"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        U.S. DOT announced ITS4US Phases 2 and 3 awardees on Wednesday, June 8, 2022
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.transportation.gov/briefing-room/us-transportation-secretary-elaine-l-chao-announces-nearly-50-million-improve-access"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        U.S. Transportation Secretary Elaine L. Chao Announces Nearly $50 million to Improve Access and Mobility for All Americans
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.masstransitmag.com/technology/press-release/21204990/us-department-of-transportation-dot-usdot-awards-41-million-to-improve-transportation-design-and-access"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        USDOT awards $41 million to improve transportation design and access | Mass Transit (masstransitmag.com)
                      </a>
                    </li>
                  </ul>
                  <h3>ITS4US Program Awards</h3>
                  <ul>
                    <li>
                      Excellence in General-Diversity, Equity &amp; Inclusion from
                      <a href="https://www.communicatorawards.com/winners/list/?event=1061&amp;category=2001&amp;award=8&amp;_p=2" target="_blank" rel="noopener noreferrer">Communicator Award</a>
                    </li>
                    <li>
                      Gold Merit Award for Visual Storytelling from
                      <a href="https://www.merit-awards.com/winners-marketing-communications-category" target="_blank" rel="noopener noreferrer">Merit Awards</a>
                    </li>
                  </ul>
                  <h3>Georgia Department of Transportation (GDOT)</h3>
                  <ul>
                    <li>
                      Statewide Independent Living Council of Georgia (SILCGA) Newsletter
                      <a href="https://mailchi.mp/4b76719459c2/silcga-spring-2023" target="_blank" rel="noopener noreferrer">Spring 2023 Edition</a>
                    </li>
                    <li>
                      <a
                        href="https://atlantaregional.org/news/press-releases/arc-receives-federal-contract-to-improve-transportation-accessibility-and-efficiency-for-people-with-disabilities-and-older-adults/"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        ARC Receives Federal Contract to Improve Transportation Accessibility and Efficiency for People With Disabilities and Older Adults
                      </a>
                    </li>
                  </ul>
                  <h3>Heart of Iowa Regional Transit Agency (HIRTA)</h3>
                  <ul>
                    <li>
                      <a href="https://canceriowa.org/getting-there-practically-addressing-transportation-barriers-for-cancer-treatment/" target="_blank" rel="noopener noreferrer">
                        Getting There: Practically Addressing Transportation Barriers for Cancer Treatment
                      </a>
                    </li>
                    <li>
                      <a href="https://www.ridehirta.com/u-s-dot-awards-hirta-nearly-1-1-million-to-improve-transportation-mobility" target="_blank" rel="noopener noreferrer">
                        U.S. DOT awards HIRTA nearly $1.1 million to improve transportation mobility
                      </a>
                    </li>
                  </ul>

                  <h3>University of Washington (UW)</h3>
                  <ul>
                    <li>
                      <a href="https://www.youtube.com/watch?v=L4AK5irzvL4" target="_blank" rel="noopener noreferrer">UW Keynote presentation</a>
                      at the 2023 OpenthePaths Conference
                    </li>
                    <li>
                      <a href="https://www.dailyuw.com/news/article_10fb77e6-7b2d-11eb-8ff7-339dfc7f6ef5.html" target="_blank" rel="noopener noreferrer">
                        $11.45M federal grant will develop transit, mobility tech for underserved groups
                      </a>
                    </li>
                  </ul>

                  <h3>Niagara Frontier Transportation Authority (NFTA)</h3>
                  <ul>
                    <li>
                      <a href="https://bnmc.org/bnmc-partners-awarded-up-to-8-2-million-to-improve-transportation-access/" target="_blank" rel="noopener noreferrer">
                        BNMC &amp; Partners Awarded up to $8.2 Million to Improve Transportation Access
                      </a>
                    </li>
                  </ul>
                  <h3>California Association of Coordinated Transportation (CALACT)</h3>
                  <ul>
                    <li>
                      <a href="https://content.govdelivery.com/bulletins/gd/ORDOT-2c3aefd?wgt_ref=ORDOT_WIDGET_8" target="_blank" rel="noopener noreferrer">
                        Ore., Calif., Wash. working to improve online access to public transportation
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </main>

          <!-- large engagement section at the bottom-->

          <section class="download bg-primary text-center" id="research" style="padding-top: 2em">
            <div class="container-fluid">
              <div class="container">
                <div class="col-lg-12">
                  <h2>Contacts</h2>
                  <p style="padding-bottom: 20px">
                    Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
                    available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
                  </p>
                  <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
                    <b>Elina Zlotchenko</b>
                  </p>
                  <p>Program Manager</p>
                  <p>ITS4US, STATS, and Program Management Office</p>
                  <p>202-366-1697</p>
                  <p>
                    <a class="email-footer" href="mailto:Elina.Zlotchenko@dot.gov">Elina.Zlotchenko@dot.gov</a>
                  </p>

                  <!--<div class="badges">
            <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
            <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
          </div>-->
                </div>
              </div>
            </div>

            <!-- these are the icons below engagement-->

            
          </section>
        </div>
      </div>
    </div>

</Default>
