---
import base_url from "@/src/lib/base_url";
import Card_WaveBorder from "@/src/components/Card_WaveBorder.astro";
import SeniorTransit from "@/src/assets/images/its4us/SeniorPublicTransit.jpeg";
import Hero from "@/src/assets/images/its4us/ITS4US-Hero.jpg";

import PageLayout from "@/src/layouts/PageLayout.astro";
import logo from "@/src/assets/images/banners/ITS4US_logo_white.png";
---

<style>
  hr {
    margin: 10px 0;
  }
  .blue {
    display: grid;
  }
  .center {
    width: 40%;
  }

  .carousel-indicators {
    position: absolute;
  }
  .carousel-control-prev {
    z-index: 1000;
    left: 0;
    padding: 0;
    margin: 0;
    width: 10%;
  }

  .carousel-control-next {
    z-index: 1000;
    right: 0;
    padding: 0;
    margin: 0;
    width: 10%;
  }
  .carousel-caption {
    background-color: rgba(25, 62, 85, 0.9);
    padding: 10px;
    margin: 0;
    width: 40%;
    left: 10%;
    bottom: 18%;
  }
  .carousel-caption p {
    font-size: smaller;
    margin: 0 0 10px 0;
    padding: 0;
  }
  .btn {
    margin: 0;
  }
  h2 {
    text-wrap: pretty;
  }

  .deployment-sites h2 {
    text-transform: capitalize;
  }

  .deployment-sites {
    background-color: rgb(var(--color-gray));
  }

  .icon-list {
    list-style: none;
    padding-left: 0;
  }

  .icon-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .icon-button {
    background-color: rgb(5, 86, 129);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  .icon-button svg {
    width: 24px;
    height: 24px;
    fill: white;
  }

  @media screen and (max-width: 1400px) {
    .carousel .carousel-item {
      height: 400px;
    }

    .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 400px;
    }
  }

  .gray-edge-to-edge {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    transform: translateX(-50%);
    background: #f7f7f7;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .video-container {
    width: 100%;
  }
  .video-container iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
</style>

<PageLayout title="ITS4US Home">
  <Fragment slot="banner"> ITS4US</Fragment>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center my-4">Providing safe, efficient, and affordable mobility options for everyone:<br />ITS4US – it's transportation for all of us.</h2>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <p>
              The ITS4US Deployment Program demonstrates how advanced transportation technologies can be integrated, deployed, scaled, and replicated in communities nationwide. Innovative
              transportation technologies used to improve the safety and mobility for all travelers include:
            </p>
            <ul class="icon-list">
              <li>
                <div class="icon-button">
                  <svg width="100pt" height="100pt" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m64.062 35.938v-29.688c0-0.86328-0.69922-1.5625-1.5625-1.5625h-25c-0.86328 0-1.5625 0.69922-1.5625 1.5625v29.688h-29.688c-0.86328 0-1.5625 0.69922-1.5625 1.5625v25c0 0.86328 0.69922 1.5625 1.5625 1.5625h29.688v29.688c0 0.86328 0.69922 1.5625 1.5625 1.5625h25c0.86328 0 1.5625-0.69922 1.5625-1.5625v-29.688h29.688c0.86328 0 1.5625-0.69922 1.5625-1.5625v-25c0-0.86328-0.69922-1.5625-1.5625-1.5625zm-12.5 48.438v-6.25c0-0.86328-0.69922-1.5625-1.5625-1.5625s-1.5625 0.69922-1.5625 1.5625v6.25c0 0.86328 0.69922 1.5625 1.5625 1.5625s1.5625-0.69922 1.5625-1.5625zm0-15.625v-6.25c0-0.86328-0.69922-1.5625-1.5625-1.5625s-1.5625 0.69922-1.5625 1.5625v6.25c0 0.86328 0.69922 1.5625 1.5625 1.5625s1.5625-0.69922 1.5625-1.5625zm-29.688-20.312h-6.25c-0.86328 0-1.5625 0.69922-1.5625 1.5625s0.69922 1.5625 1.5625 1.5625h6.25c0.86328 0 1.5625-0.69922 1.5625-1.5625s-0.69922-1.5625-1.5625-1.5625zm15.625 0h-6.25c-0.86328 0-1.5625 0.69922-1.5625 1.5625s0.69922 1.5625 1.5625 1.5625h6.25c0.86328 0 1.5625-0.69922 1.5625-1.5625s-0.69922-1.5625-1.5625-1.5625zm31.25 0h-6.25c-0.86328 0-1.5625 0.69922-1.5625 1.5625s0.69922 1.5625 1.5625 1.5625h6.25c0.86328 0 1.5625-0.69922 1.5625-1.5625s-0.69922-1.5625-1.5625-1.5625zm15.625 0h-6.25c-0.86328 0-1.5625 0.69922-1.5625 1.5625s0.69922 1.5625 1.5625 1.5625h6.25c0.86328 0 1.5625-0.69922 1.5625-1.5625s-0.69922-1.5625-1.5625-1.5625zm-32.812-10.938v-6.25c0-0.86328-0.69922-1.5625-1.5625-1.5625s-1.5625 0.69922-1.5625 1.5625v6.25c0 0.86328 0.69922 1.5625 1.5625 1.5625s1.5625-0.69922 1.5625-1.5625zm0-15.625v-6.25c0-0.86328-0.69922-1.5625-1.5625-1.5625s-1.5625 0.69922-1.5625 1.5625v6.25c0 0.86328 0.69922 1.5625 1.5625 1.5625s1.5625-0.69922 1.5625-1.5625z"
                      fill-rule="evenodd"
                    >
                    </path>
                  </svg>
                </div>
                <span>Safe intersection crossing applications</span>
              </li>
              <li>
                <div class="icon-button">
                  <svg width="100pt" height="100pt" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m78.699 53.398-7.6016-18.199c-0.30078-0.69922-1-1.1992-1.8008-1.1992h-38.598c-0.80078 0-1.5 0.5-1.8008 1.1992l-7.6016 18.199c-0.10156 0.19922-0.19922 0.5-0.19922 0.80078v36.703c0 2.3008 1.8008 4.1016 4.1016 4.1016s4.1016-1.8008 4.1016-4.1016v-4.1016h41.199v4.1016c0 2.3008 1.8008 4.1016 4.1016 4.1016 2.3008 0 4.1016-1.8008 4.1016-4.1016l-0.003906-36.703c0.10156-0.30078 0.10156-0.5 0-0.80078zm-46.398 21c-3.3984 0-6.1992-2.8008-6.1992-6.1992 0-3.3984 2.8008-6.1992 6.1992-6.1992 3.3984 0 6.1992 2.8008 6.1992 6.1992 0 3.4023-2.8008 6.1992-6.1992 6.1992zm35.398 0c-3.3984 0-6.1992-2.8008-6.1992-6.1992 0-3.3984 2.8008-6.1992 6.1992-6.1992 3.3984 0 6.1992 2.8008 6.1992 6.1992 0 3.4023-2.7969 6.1992-6.1992 6.1992zm4-20.598h-43.398c-1.3984 0-2.3984-1.3984-1.8008-2.8008l4.8984-11.699c0.30078-0.69922 1-1.1992 1.8008-1.1992h33.602c0.80078 0 1.5 0.5 1.8008 1.1992l5 11.699c0.5 1.3984-0.5 2.8008-1.9023 2.8008z"
                    >
                    </path>
                    <path d="m53.602 26.898c-2-2-5.1992-2-7.1992 0l3.6016 3.6016z"></path>
                    <path d="m39.199 19.699 3.6016 3.6016c4-4 10.5-4 14.5 0l3.6016-3.6016c-6.0039-6-15.801-6-21.703 0z"></path>
                    <path d="m64.5 16.102 3.6016-3.6016c-10-10-26.199-10-36.102 0l3.6016 3.6016c7.8984-8 20.898-8 28.898 0z"></path>
                  </svg>
                </div>
                <span>Automated and connected vehicle technologies</span>
              </li>
              <li>
                <div class="icon-button">
                  <svg width="100pt" height="100pt" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m44.5 15.801 5.625 16.77c1.9258 5.7345 6.4258 10.234 12.16 12.156l16.77 5.625c0.95703 0.32032 1.6016 1.2148 1.6016 2.2266 0 1.0078-0.64453 1.8984-1.6016 2.2227l-16.77 5.625c-5.7344 1.9219-10.234 6.4219-12.16 12.156l-5.625 16.77c-0.32031 0.95703-1.2109 1.6016-2.2227 1.6016-1.0078 0-1.8984-0.64453-2.2227-1.6016l-5.625-16.77c-1.9219-5.7344-6.4219-10.234-12.156-12.156l-16.77-5.625c-0.95703-0.32031-1.6016-1.2148-1.6016-2.2227s0.64453-1.9023 1.6016-2.2266l16.77-5.625c5.7344-1.9219 10.234-6.4219 12.156-12.156l5.625-16.77c0.32031-0.95703 1.2148-1.6016 2.2227-1.6016 1.0078 0 1.9023 0.64453 2.2227 1.6016zm-2.2227 8.1172-3.4023 10.145c-2.3867 7.1289-7.9805 12.723-15.109 15.113l-10.145 3.4023 10.145 3.3984c7.1289 2.3906 12.723 7.9844 15.109 15.113l3.4023 10.145 3.4023-10.145c2.3906-7.1289 7.9844-12.723 15.113-15.113l10.145-3.3984-10.145-3.4023c-7.1289-2.3906-12.723-7.9844-15.113-15.113zm38.254-13.262 1.3555 4.0391c1.3516 4.0391 4.5234 7.2109 8.5664 8.5664l4.0391 1.3555c0.95703 0.32031 1.6016 1.2148 1.6016 2.2227 0 1.0078-0.64453 1.9023-1.6016 2.2227l-4.0391 1.3555c-4.0391 1.3555-7.2109 4.5234-8.5664 8.5664l-1.3555 4.043c-0.32031 0.95312-1.2148 1.5977-2.2227 1.5977-1.0078 0-1.9023-0.64453-2.2227-1.5977l-1.3555-4.043c-1.3555-4.0391-4.5234-7.2109-8.5664-8.5664l-4.043-1.3555c-0.95312-0.32031-1.5977-1.2109-1.5977-2.2227 0-1.0078 0.64453-1.8984 1.5977-2.2227l4.043-1.3555c4.0391-1.3516 7.2109-4.5234 8.5664-8.5664l1.3555-4.0391c0.32031-0.95703 1.2148-1.6016 2.2227-1.6016 1.0078 0 1.8984 0.64453 2.2227 1.6016zm-10.746 16.184c3.7227 1.7969 6.7266 4.8047 8.5234 8.5234 1.793-3.7227 4.8008-6.7266 8.5234-8.5234-3.7266-1.793-6.7305-4.8008-8.5234-8.5234-1.7969 3.7266-4.8047 6.7305-8.5234 8.5234z"
                      fill-rule="evenodd"
                    >
                    </path>
                  </svg>
                </div>
                <span>Artificial Intelligence (AI) and Machine Learning (ML)</span>
              </li>
              <li>
                <div class="icon-button">
                  <svg width="100pt" height="100pt" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m94.124 16.668-31.418 73.332c-1.2461 2.9883-4.1758 4.9297-7.4142 4.918h-0.79297c-3.5117-0.25781-6.4336-2.8047-7.168-6.25l-6.707-29.168-29.168-6.707c-3.3516-0.84766-5.8008-3.7266-6.1016-7.1719-0.30078-3.4492 1.6133-6.707 4.7695-8.1211l73.207-31.625c3.082-1.2031 6.582-0.46875 8.9219 1.8711s3.0742 5.8398 1.8711 8.9219z"
                    >
                    </path>
                  </svg>
                </div>
                <span>Indoor and outdoor navigation and wayfinding</span>
              </li>
              <li>
                <div class="icon-button">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"
                    >
                    </path>
                  </svg>
                </div>
                <span>Trip planning mobile and desktop web applications</span>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-6 ratio-16x9">
            <div class="w-100 video-container ratio-16x9">
              <iframe
                class="rounded-4"
                src="https://www.youtube.com/embed/RLxx90VCmKk"
                title="ITS4US Deployment Program Overview"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="deployment-sites pe-0 py-5 gray-edge-to-edge">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="sideways text-center mb-5">ITS4US Deployment Sites</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4 ">
            <Card_WaveBorder title="Georgia Mobility & Access Planner" alt="" img="gmap" href={base_url("/research-areas/ITS4US/deployments/georgia")} color="orangewave" logo="gmapIcon" logo_alt="" />
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Health Connector" alt="" img="hc" href={base_url("/research-areas/ITS4US/deployments/iowa")} color="greenwave" logo="hcIcon" logo_alt="" />
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Buffalo All Access" alt="" img="baa" href={base_url("/research-areas/ITS4US/deployments/newYork")} color="bluewave" logo="baaIcon" logo_alt="" />
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder
              title="Transportation Data Exchange Initiative"
              alt=""
              img="tdei"
              href={base_url("/research-areas/ITS4US/deployments/washington")}
              color="purplewave"
              logo="tdeiIcon"
              logo_alt=""
            />
          </div>
        </div>
      </div>
    </section>
  </main>
</PageLayout>
