---
import { Image } from "astro:assets";
import base_url from "@/src/lib/base_url";
import Photo1 from "@/src/assets/images/its4us/accessible-signal.jpeg";
import ProgramPhase from "@/src/assets/images/its4us/ITS4US-Program-Phases3.png";
import TravelerMap from "@/src/assets/images/its4us/TravelerMap.jpeg";

import PageLayout from "@/src/layouts/PageLayout.astro";
import logo from "@/src/assets/images/banners/ITS4US_logo_white.png";
---

<style>
  hr {
    margin: 10px 0;
  }
  .blue {
    display: flex;
  }
  .imgae-container{
    width: 33%;
  }
</style>

<PageLayout title="Program Overview">
  <Fragment slot="banner"> <img alt="ITS4US Logo" src={logo.src} style="max-height: 60px; clear: none" /> | ITS4US</Fragment>
  <main>
    
    <h2 class="sideways blue">Videos</h2>
    <div class="w-100 ratio ratio-16x9">
      <iframe class="rounded-4" src="https://www.youtube.com/embed/RLxx90VCmKk" title="ITS4US Deployment Program Overview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </main>
</PageLayout>
