---
import Default from "../../../layouts/Default.astro";
import SideBar from "../../../components/SideBar_Research.astro";
import NavITS4US from "../../../components/Nav_ITS4US.astro";
import DataTable from "../../../components/TableWebinars.astro";
import base_url from "../../../lib/base_url";
---
<Default title="ITS JPO - ITS4US Webinars">

      <!-- InstanceBeginEditable name="AboutBanner" -->

      <div class="AboutBanner AcceleratingDeployment_bkgd">
        <div class="AboutBannerTitle">
          <h1>
            <img alt="ITS4US Logo" src={base_url("/assets/images/its4us/ITS4US_logo_white.png")} style="max-height: 60px; clear: none" />
            &nbsp;| ITS4US
          </h1>
        </div>
      </div>
      <!-- InstanceEndEditable -->

      <!-- End Research ARea  Header ---------------------->
      <div class="container-fluid h-100 bodyWrap">
        <div class="row h-100">
          <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
          <!-- InstanceEndEditable -->

          <!-- InstanceBeginEditable name="mainbody" -->
          <main class="col-9 MainContent">
            <div class="row"
              style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
  
              <div class="container-fluid">
                <NavITS4US />
                <div class="col-lg-12" style="overflow-x:auto;">
                  <h2 class="sideways blue">Publications</h2>
                 
                  <DataTable />
                  
                     
                </div>
  
  
              </div>
  
            </div>
  
  
  
          </main>

          <!-- large engagement section at the bottom-->

          <section class="download bg-primary text-center" id="research" style="padding-top: 2em">
            <div class="container-fluid">
              <div class="container">
                <div class="col-lg-12">
                  <h2>Contacts</h2>
                  <p style="padding-bottom: 20px">
                    Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
                    available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
                  </p>
                  <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
                    <b>Elina Zlotchenko</b>
                  </p>
                  <p>Program Manager</p>
                  <p>ITS4US, STATS, and Program Management Office</p>
                  <p>202-366-1697</p>
                  <p>
                    <a class="email-footer" href="mailto:Elina.Zlotchenko@dot.gov">Elina.Zlotchenko@dot.gov</a>
                  </p>

                  <!--<div class="badges">
            <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
            <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
          </div>-->
                </div>
              </div>
            </div>

            <!-- these are the icons below engagement-->

            
          </section>
        </div>
      </div>
    </div>



</Default>

