---
import PageLayout from '@/src/layouts/PageLayout.astro';
import base_url from '@/src/lib/base_url';
---
<PageLayout title="FAQs">
  <Fragment slot="banner">
    Frequently Asked Questions
  </Fragment>
  <h2>Frequently Asked Questions</h2>
  <ul>
    <li><a href="#what">What is ITS?</a></li>
    <li><a href="#fedrole">What is the Federal role in ITS?</a></li>
    <li><a href="#key_act">What are the current key activities of the Federal ITS Program?</a></li>
    <li><a href="#cur_act">What are the ITS Program's current research activities?</a></li>
    <li><a href="#what_ben">What benefits are expected from the current research activities?</a></li>
    <li><a href="#how_est">How did the Federal ITS Program become established?</a></li>
  </ul>

  <h3>
    <a name="what" id="what"></a>
    Q: What is ITS?
  </h3>

  <p>
    <strong>A:</strong>
    ITS improves transportation safety and mobility and enhances American productivity through the integration of advanced communications technologies into the transportation infrastructure and in
    vehicles. Intelligent transportation systems (ITS) encompass a broad range of wireless and wire line communications-based information and electronics technologies.
  </p>

  <h3>
    <a name="fedrole" id="fedrole"></a>
    Q: What is the Federal role in ITS?
  </h3>
  <p>
    <strong>A:</strong>
    Located in the U.S. Department of Transportation’s Office of the Assistance Secretary for Research and Technology (OST-R), the Intelligent Transportation Systems (ITS) program researches ways
    that information and communications technologies can improve surface transportation safety and mobility and contribute to America’s economic growth.&nbsp; ITS applications focus on both the infrastructure
    and vehicle as well as integrated applications between the two.&nbsp; Familiar ITS technologies include electronic toll collection, in-vehicle navigation systems, rear-end collision avoidance
    systems and dynamic message signs.&nbsp; Technology transfer is also a key element of the ITS program.&nbsp; Research findings and evaluations are published online; a National ITS Architecture
    and Standards program ensures that States and jurisdictions have the framework they need to deploy interoperable ITS systems; and training on the latest ITS applications is developed and delivered
    by the program.
  </p>
  <h3>
    <a name="key_act" id="key_act"></a>
    Q: What are the current key activities of the Federal ITS Program?
  </h3>
  <p>
    <strong>A:</strong>
    The ITS Strategic Plan 2020-2025 outlines the direction and goals of the U.S. DOT’s ITS Program and provides a framework around which the ITS JPO and other Department agencies will conduct research,
    development, and adoption activities to achieve the program’s outcomes and goals. For an overview of JPO research, read the ITS Strategic Plan 2020-2025
    <a href={base_url("/assets/pdf/stratplan2020/ITSJPO_StrategicPlan_2020-2025.pdf")} target="_blank" rel="noopener noreferrer">Fact Sheet</a>
    . For an in-depth description, view the full
    <a href={base_url("/about/stratplan2020")}>ITS Strategic Plan 2020-2025</a>
    .
  </p>

  <h3>
    <a name="cur_act" id="cur_act"></a>
    Q:What are the ITS Program's current research activities?
  </h3>
  <p>
    <strong>A:</strong>
    The ITS Program’s current activities focus on six high-priority research areas:
  </p>
  <ul class="faq_lists">
    <li>
      <strong>Automation:</strong>
      Responding effectively to automation requires a cross-modal effort. This area facilitates multimodal automation research and collaboration in safety, infrastructure interoperability, and policy
      analysis. Cross-cutting tools—such as evaluation methods, data access and exchanges, and development of other decision-making tools—support these three areas. Additionally, addressing cybersecurity
      concerns is a key aspect of automation and for ITS in general.
    </li>
    <li>
      <strong>ITS4US Deployment:</strong>
      This research area addresses the persistent and serious lack of transportation access or availability for Americans facing economic constraints, living in remote areas, living with disabilities,
      or seniors. ITS4US leverages ITS and facilitates public-private partnerships to allow for a traveler-centric approach that improves mobility options for all travelers, including travelers with
      disabilities, travelers from rural areas, and lower-income travelers.
    </li>
    <li>
      <strong>Cybersecurity for ITS:</strong>
      This area focuses on developing and coordinating research that addresses cyber vulnerabilities from an integrated, multimodal perspective. This includes defining shared priorities, developing
      related policies, identifying and addressing cross-modal cyber issues, and sharing best practices and information. The ITS JPO also offers leadership, information, and resources to state and
      local agencies that cross modal boundaries and ensure risk management across the transportation system.
    </li>

    <li>
      <strong>Emerging and Enabling Technologies:</strong>
      This program area focuses on identifying and assessing next-generation technologies. By formalizing these activities into a program, the ITS JPO and modal partners have a mechanism to determine
      opportunities and risks for introducing promising innovative or disruptive technologies to transportation.
    </li>
    <li>
      <strong>Accelerating ITS Deployment:</strong>
      This area includes four technology transfer programs.
    </li>
    <ul>
      <li>
        <strong>ITS Professional Capacity Building (PCB):</strong>
        The ITS PCB Program offers a variety of learning opportunities to improve ITS deployments and enable more efficient operations of existing systems through cooperation with modal partners,
        other federal agencies, public-sector entities, academia, private-sector organizations, professional associations, and other partners. Because the targeted packaging and communication of
        knowledge is critical, the ITS PCB Program works closely with the ITS Communications Program to support knowledge and technology transfer. The ITS PCB Program also identifies new needs and
        gaps in training and education from analyses produced by the ITS Deployment Evaluation Program.
      </li>
      <li>
        <strong>ITS Architecture and Standards:</strong>
        This program helps to evolve the ITS architecture reference, tool sets, and voluntary technical standards to reflect technological innovations and advancements while also maintaining the
        required backward compatibility and interoperability. These critical tools are essential to enhance the success of technology deployments. They help plan for the “unknowns,” allow for flexibility
        and cost-effective designs, and help to manage complexity while mitigating the dynamics of change.
      </li>
      <li>
        <strong>ITS Deployment Evaluation:</strong>
        This program provides data-driven and evidence-based products and services to the ITS stakeholder community. The program will continue to generate data and analyses related to the benefits,
        costs, and extent of deployed ITS. These data have been instrumental in understanding trends in ITS technology deployment and emerging priorities in agency ITS deployment plans. The program
        focuses on putting communities and people first by addressing a full spectrum of stakeholder data needs related to the foundational elements of successful ITS deployment and the full ITS
        deployment lifecycle. The program develops data-based products and tools to serve as a launch point for more engagement with ITS deployment and evaluation data to help enable successful,
        effective, and interoperable ITS deployments and demonstrate that ITS deployment is a sound investment. The program also provides resources and tools to support effective and meaningful evaluations
        of ITS deployments, pre- and post-investment.
      </li>
      <li>
        <strong>ITS Communications:</strong>
        This program transforms research results, data, and knowledge into information that can be shared with the wider transportation industry and public and private entities. This communication
        function is essential as the transportation enterprise is a crucial element in the daily life, economy, and well-being of American citizens and businesses.
      </li>
      <li>
        <strong>Data Access and Exchanges:</strong>
        This program area focuses on enabling access to core transportation data across the ITS ecosystem. Access to harmonized data across the nation is essential to the integration of automated
        vehicles, which are highly data-dependent. This research seeks to foster the adoption of modern technology best practices essential to trusted data exchanges. As vehicles and travelers cross
        jurisdictional boundaries, exchanges are a key component of data access and are crucial for the next generation of interoperable transportation.
      </li>
    </ul>
  </ul>
  <h3>
    <a name="what_ben" id="what_ben"></a>
    Q: What benefits are expected from the current research activities?
  </h3>
  <p>
    <strong>A:</strong>
    The benefits of a transformed transportation system — one that is fully connected, information-rich, and able to address safety, mobility, and environmental impacts — are wide-ranging and powerful.
    They will be felt by every one of us, delivering greater livability to our communities and to our daily lives.
  </p>
  <p>The concept of transportation connectivity, once it has developed from research into deployment, will bring with it benefits that we are just beginning to understand:</p>
  <ul class="faq_lists">
    <li>
      <strong>Travelers are the primary beneficiaries.</strong>
      They will experience improved safety of travel, including reduction in fatalities, injuries, and the costs associated with crashes. Travelers will also benefit from real-time, multimodal information
      that will lead to more efficient and eco-friendly choices regarding travel routes and modal choices. For instance, informed travelers may decide to avoid congestion by taking alternate modes
      such as walking, biking, or public transit; by rescheduling their trip; or by taking alternate routes.
    </li>
    <li>
      <strong>Transportation agencies</strong>
      benefit by being able to see and respond dynamically to conditions on the transportation network as they evolve and expand across all of the modes. Operators will have the tools to manage the
      multi-modal system more efficiently, saving fuel, and reducing environmental impact. For example, data generated by connected vehicles systems can provide transportation operations centers
      with detailed, real-time data on traffic volume, speeds, transit schedule status, parking availability, evolving weather conditions, and other roadway conditions. This information can be used
      to optimize the transit capacity, traffic signal timing or ramp meter operations, corridor management, incident and emergency response, variable speed limits, dynamic road pricing, road weather
      surface treatments, and improved real-time travel alerts and advisories, among others.
    </li>
    <li>
      <strong>Industry benefits</strong>
      with the introduction of a new marketplace in support of connected vehicles technologies, applications, and new, creative products and services. A key component of each of the research programs
      described in this
      <strong>ITS Strategic Research Plan</strong>
      is the focus on catalyzing new markets and the assurance that resulting policy will support market growth; in fact, successful connected vehicles adoption will rely upon the ability of private
      markets to efficiently bring products and services to consumers across the Nation.
    </li>
    <li>
      <strong>Industry will also</strong>
      benefit from efficiencies delivered by connected vehicles deployments. Organizations that engage in freight and passenger transportation, in particular, will find that the seamless, real-time
      information enabled by wireless communication between vehicles and with infrastructure translates into greater economic productivity, administrative cost savings, and profits. System and operational
      efficiencies will be gained through real-time information on system conditions, routing recommendations, vehicle diagnostics, and fleet and capacity usage. Connected vehicle applications will
      also enable interoperable operations and real-time data sharing and exchange to facilitate automated screening, inspections, credentialing, and other processes. Further, for those organizations
      that provide information services, wireless technologies will deliver a more ubiquitous range of data sources for developing new applications and services.
    </li>
  </ul>

  <h3>
    <a name="how_est" id="how_est"></a>
    Q: How did the Federal ITS Program become established?
  </h3>
  <p>
    <strong>A:</strong>
    The Intermodal Surface Transportation Efficiency Act of 1991 (ISTEA) established a Federal program to research, develop, and operationally test Intelligent Transportation Systems (ITS) and to
    promote their implementation. The program was designed to facilitate deployment of technology to enhance the efficiency, safety, and convenience of surface transportation, resulting in improved
    access, saved lives and time, and increased productivity.
    <br />
  </p>
  <p>
    The program began as a three-pronged effort that fostered the development of ITS through (1)&nbsp;basic research and development, (2) operational tests that served as the bridge between
    basic research and full deployment, and (3) various technology transfer activities that facilitated the implementation of ITS technologies.
    <br />
  </p>

  <p>
    The ITS program carries out its goals through research and development, operational testing, technology transfer, training and technical guidance in the areas of intelligent vehicles,
    advanced traffic and transit management, commercial vehicle operations, public safety, traveler information, and intermodal freight.
  </p>
</PageLayout>