---
import PageLayout from '@/src/layouts/PageLayout.astro';
import base_url from '@/src/lib/base_url';
---

<PageLayout title="Strategic Plan">
  <Fragment slot="banner">
    Strategic Plan
  </Fragment>
  <h2>The ITS JPO’s New Strategic Plan for the First Half of the Decade</h2>

  <ul>
    <li>
      <a href={base_url("/assets/pdf/stratplan2020/ITSJPO_StrategicPlan_2020-2025.pdf")} target="_blank">ITS Strategic Plan 2020-2025</a>
    </li>

    <li>
      <a href={base_url("/assets/pdf/stratplan2020/ITSJPO_StratPlanFactSheet.pdf")} target="_blank">ITS Strategic Plan 2020-2025 Fact Sheet</a>
    </li>
  </ul>

  <p>
    Pilot deployments are expected to integrate connected vehicle research concepts into practical and effective elements, enhancing existing operational capabilities. The intent of
    these pilot deployments is to encourage partnerships of multiple stakeholders (e.g., private companies, States, transit agencies, commercial vehicle operators, and freight shippers)
    to deploy applications utilizing data captured from multiple sources (e.g., vehicles, mobile devices, and infrastructure) across all elements of the surface transportation system
    (i.e., transit, freeway, arterial, parking facilities, and tollways) to support improved system performance and enhanced performance-based management. The pilot deployments are also
    expected to support an impact assessment and evaluation effort that will inform a broader cost-benefit assessment of connected vehicle concepts and technologies.
  </p>

  <h3>Research Areas</h3>

  <p>
    The ITS Strategic Plan 2020–2025 includes in-depth discussion of the ITS JPO’s strategic goals, related research areas, and four technology transfer programs, which together work to
    accelerate deployment:
  </p>

  <ul>
    <li>
      <a href={base_url("/research/emerging-tech")}>Emerging and Enabling Technologies</a>
    </li>

    <li>
      <a href={base_url("/research/data_program/research_projects/data-exchanges/")}>Data Access and Exchanges</a>
    </li>

    <li>
      <a href={base_url("/resources/asc/cybersecurity")}>Cybersecurity for ITS</a>
    </li>

    <li>
      <a href={base_url("/research/automation")}>Automation</a>
    </li>

    <li>
      <a href={base_url("/research/ITS4US")}>ITS4US</a>
    </li>

    <li>
      <a href={base_url("/research/accelerating")}>Accelerating ITS Deployment</a>
    </li>
  </ul>

  <p>
    This plan will be appended annually to include the ITS JPO's Annual Modal Research Plan (AMRP), which provides details about the projects and initiatives undertaken by the ITS JPO
    with a 2-year outlook.
  </p>
</PageLayout>