---
import PageLayout from "@/src/layouts/PageLayout.astro";
import base_url from "@/src/lib/base_url";
---
<PageLayout title="History">
  <Fragment slot="banner">
    History of Intelligent Transportation Systems
  </Fragment>
  <h2>A Changing Transportation System</h2>
  <p>
    ITS capabilities have matured significantly since the Intelligent Transportation Systems (ITS) Joint Program Office was created. Updated in 2021, this History of ITS report celebrates
    advances in the field and explores its exciting future, while also serving as a guide for future ITS research programs.
  </p>

  <ul>
    <li><a href={base_url("/assets/pdf/history/HistoryofITS_book.pdf")} target="_blank" rel="noopener noreferrer">History of Intelligent Transportation Systems (PDF)</a></li>
  </ul>

  <p>
    Our nation looks forward to revolutionary changes to our transportation system, making it a particularly apt time to look back at the history of ITS and reflect on what we can learn to help
    shape the future.
  </p>
</PageLayout>