---
import Default from "../../layouts/Default.astro";
import SideBar from "../../components/SideBar_About.astro";
---

<Default title="ITS JPO - History">
  <!-- InstanceBeginEditable name="AboutBanner" -->

  <div class="AboutBanner">
    <div class="AboutBannerTitle">
      <h1>History of Intelligent Transportation Systems</h1>
    </div>
  </div>
  <!-- InstanceEndEditable -->

  <!-- Sidebar -->
  <!-- InstanceBeginEditable name="sidenav" -->

  <div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
      <!-- InstanceEndEditable -->
      <!-- InstanceBeginEditable name="MainContent" -->

      <main class="col-9 MainContent">
        <h2>A Changing Transportation System</h2>

        <p>
          ITS capabilities have matured significantly since the Intelligent Transportation Systems (ITS) Joint Program Office was created. Updated in 2021, this History of ITS report celebrates
          advances in the field and explores its exciting future, while also serving as a guide for future ITS research programs.
        </p>

        <ul>
          <li><a href="/assets/pdf/history/HistoryofITS_book.pdf" target="_blank" rel="noopener noreferrer">History of Intelligent Transportation Systems (PDF)</a></li>
        </ul>

        <p>
          Our nation looks forward to revolutionary changes to our transportation system, making it a particularly apt time to look back at the history of ITS and reflect on what we can learn to help
          shape the future.
        </p>
      </main>
    </div>
  </div>
</Default>
