---
import { Image } from "astro:assets";
import PageLayout from "@/src/layouts/PageLayout.astro";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";

---

<PageLayout title="About - ITS Joint Program Office">
  <Fragment slot="banner">ITS Joint Program Office</Fragment>
  <SidebarLayout path="/about/">
  <main>
    <div class="row">
      <div class="col">
        <h2>About Us</h2>
        <p>
          The Intelligent Transportation Systems Joint Program Office&rsquo;s (ITS JPO) foundational programs are mandated under the <a
            href="https://uscode.house.gov/view.xhtml?path=/prelim@title23/chapter5&edition=prelim">
          United States Code Title 23 Chapter 5</a>&nbsp;and subject to provisions outlined in Sections 512-519. These foundational programs provide the opportunity for the JPO to execute the Trump Administration&rsquo;s safety
          directives on technology and innovation through the development of specific ITS technology and innovation focus areas that are guided and developed in accordance with the
          Administration&rsquo;s directives.
        </p>
        <p>
          Specifically, outlined is the use of funds for ITS activities for the deployment of ITS technologies that will improve the performance of the National Highway System in such areas as traffic
          operations, emergency response, incident management, surface transportation network management, freight management, traffic flow information, and congestion management through accelerating
          the adoption of innovative technologies with the use of demonstration programs; grant funding; incentives to eligible entities; and other tools, strategies, or methods that will result in
          the deployment of innovative ITS technologies.
        </p>
        <p>
          The ITS foundational programs, include Architecture and Standards, Communications and Outreach, Cybersecurity, Deployment Evaluation, Exploratory Research, and Professional Capacity Building
          and are detailed in the statutory language of Sections 512-519.
        </p>
      </div>
    </div>
  </main></SidebarLayout>
  </PageLayout
>
