---
import PageLayout from '@/src/layouts/PageLayout.astro';
---
<PageLayout title="Site Map">
  <Fragment slot="banner">
    Site Map
  </Fragment>
  <div class="row">
    <div class="col-lg-6">
      <h2>ABOUT<br></h2>
        <div style="margin-left: 12px;">
          <a href="its_jpo.htm">ITS Joint Program Office</a><br>
          <a href="../stratplan2020/index.htm">Strategic Plan</a><br>
          <a href="../history/index.html">History of Intelligent Transportation Systems</a><br>
          <a href="../itspac/index.htm">ITS Program Advisory Committee</a><br>
          
          <a href="faqs.htm">Frequently Asked Questions</a><br>
        </div>
        <br>
        <h2>RESEARCH<br></h2>
        <div style="margin-left: 12px;">
          <a href="../research_areas/accelerating/index.htm">Accelerating ITS Deployment</a><br>
          <a href="../research_areas/automation/index.htm">Automation</a><br>

          <a href="../research_areas/cybersecurity/index.htm">Cybersecurity for ITS</a><br>
          <a href="../research_areas/data_access/index.htm">Data Access and Exchanges</a><br>

          <a href="../research_areas/emerging_tech/index.htm">
              Emerging and Enabling Technologies
          </a><br>



          <a href="../research_areas/its_ntl.htm">National Transportation Library</a><br>

          <a href="../isc/index.html">Intersection Safety Challenge</a><br>
        </div>
        <br>
        <h2>ITS DEPLOYMENT<br></h2>
        <div style="margin-left: 12px;">
          <a href="../its4us/index.htm">ITS4US</a><br>

          <a href="../deployment/v2x.htm">Vehicle-to-Everything</a><br>
          <a href="../pilots/index.htm">Connected Vehicle Pilots</a>
          <div style="margin-left: 18px;">
            <a href="../pilots/pilots_nycdot.htm">New York City DOT</a><br>
            <a href="../pilots/pilots_thea.htm">Tampa (THEA)</a><br>
            <a href="../pilots/pilots_wydot.htm">Wyoming DOT</a><br>
                    
          </div>
             
          <a href="../pilots/events.htm">Connected Vehicle Deployment Assistance</a><br>
          <a href="../pilots/cv_pilot_apps.htm">Connected Vehicle Applications</a><br>
          <a href="../pilots/cv_pilot_deployment.htm">Sample Deployment Concepts</a><br>
          <a href="../pilots/events.htm">Connected Vehicle Publications</a><br>
          <a href="https://www.arc-it.net/" target="_blank" rel="noopener noreferrer">National ITS Architecture</a><br>
          <a href="../deployment/SmartCommunities.htm">Smart Communities</a><br>
          <a href="https://www.its.dot.gov/scrc/index.html#/" target="_blank" rel="noopener noreferrer">Smart Community Resource Center</a><br>

        </div>
        <br>
        <h2>COMMUNICATIONS<br></h2>
        <div style="margin-left: 12px;">
          <a href="../press/news.htm">Latest News from ITS JPO</a><br>
          <a href="../communications/its_factsheets.htm">ITS Research Fact Sheets</a><br>
          <a href="../infographs/index.htm">Infographs</a><br>
          <a href="../communications/video.htm">Videos</a><br>
          <a href="../communications/its_images.htm">Image Library</a><br>

        </div>
      </div>

      <div class="col-lg-6">
        <h2>TECHNOLOGY TRANSFER<br></h2>

          <div style="margin-left: 12px;">
            <a href="https://www.itskrs.its.dot.gov/" target="_blank" rel="noopener noreferrer">ITS Deployment Evaluation</a><br>
            <a href="https://www.pcb.its.dot.gov/" target="_blank" rel="noopener noreferrer">ITS Professional Capacity Building</a><br>

            <a href="https://www.standards.its.dot.gov/" target="_blank" rel="noopener noreferrer">ITS Standards Program</a><br>
            <a href="https://www.its.dot.gov/scrc/index.html#/" target="_blank" rel="noopener noreferrer">Smart Community Resource Center</a><br>
            <a href="../isc/index.html">Intersection Safety Challenge</a><br>
        </div>
        <br>
        <h2>RESOURCES<br></h2>
        <div style="margin-left: 12px;">
            
          <a href="https://www.its.dot.gov/code/index.htm">ITS  CodeHub</a><br>
          <a href="https://www.its.dot.gov/data/index.htm">ITS  DataHub</a><br>
          <a href="https://www.itskrs.its.dot.gov/" target="_blank" rel="noopener noreferrer">ITS Deployment Evaluation</a><br>
          <a href="https://www.itskrs.its.dot.gov/deployment" target="_blank" rel="noopener noreferrer">ITS Deployment Statistics</a><br>
          <a href="../resources/scms.htm">Security Credential Management System (SCMS)</a><br>
            
        </div>
        <br>
        <h2>CONTACT US<br></h2>
        <div style="margin-left: 12px;">
          
          <a href="../contacts/StaffListing.htm">ITS JPO Staff Listing</a><br>
          <a href="../contacts/mailinglist.htm">Join Our Mailing List</a><br>

          <a href="https://www.fhwa.dot.gov/resourcecenter/teams/operations/index.cfm" target="_blank" rel="noopener noreferrer">ITS Specialists in Field Offices</a><br>
          
        </div>
      </div>
    </div>
  </div>
</PageLayout>