---
import Default from '../../layouts/Default.astro';
import SideBar from '../../components/SideBar_About.astro';
import PageLayout from '@/src/layouts/PageLayout.astro';
---
<PageLayout title="ITS Presentations">
  <Fragment slot="banner">
    ITS Presentations
  </Fragment>
  <h3 id="national-rural-its-nrits-conference-2024">National Rural ITS (NRITS) Conference 2024</h3>
  <ul>
  <li><a href="https://www.its.dot.gov/resources/pdf/RuralITSWorkshop_NRITS2024.pdf">All the Front-End Stuff You Need to Do: How to Jump Start ITS Projects for Small and Rural Communities</a></li>
  </ul>
  <h3 id="ampo-planning-tools-and-training-symposium">2024 AMPO Planning Tools and Training Symposium</h3>
  <ul>
  <li><a href="https://www.its.dot.gov/presentations/pdf/Setting_Deployers_Up_Success_PDF_NSN.pdf">Setting Deployers Up for Success: Using Technical Assistance Resources to Make a Better Business Case for Deployment, Improve Project Execution, and Accelerate ITS Deployment</a></li>
  </ul>
  <h3 id="community-transportation-association-of-america-ctaa-2023">Community Transportation Association of America (CTAA) 2023</h3>
  <ul>
  <li><a href="https://www.its.dot.gov/its4us/pdf/ITS4US_Session_%20June2023_CTAA.pdf">ITS4US - ITS for Underserved Communities: An Overview of the U.S. DOT’s ITS4US Deployment Program</a></li>
  </ul>
  <h3 id="its-america-annual-meeting-2023">ITS America Annual Meeting 2023</h3>
  <ul>
  <li><a href="https://www.its.dot.gov/its4us/pdf/ITS4US_Sessions_ITSA2023.pdf">ITS4US - ITS for Underserved Communities: An Overview of the U.S. DOT’s ITS4US Deployment Program</a></li>
  </ul>
  <h3 id="its-carolinas-annual-meeting-2023"><strong>ITS Carolinas Annual Meeting 2023</strong></h3>
  <ul>
  <li><a href="https://www.its.dot.gov/its4us/pdf/ITS4US_ITS4Equity_Carolinas2023.pdf">ITS for Underserved Communities ITS4US – A Trifecta of Engineering for Equity</a></li>
  </ul>
  <h3 id="transportation-review-board-trb-2023"><strong>Transportation Review Board (TRB) 2023</strong></h3>
  <ul>
  <li><a href="https://www.its.dot.gov/its4us/pdf/ITS4US_TRB_2023_slidedeck.pdf">ITS4US - ITS for Underserved Communities: An Overview of the U.S. DOT’s ITS4US Deployment Program</a></li>
  </ul>
  <h3 id="its-world-congress-2022">ITS World Congress 2022</h3>
  <ul>
  <li><a href="https://www.its.dot.gov/presentations/world_congress2022/ITSWC2022_its4us.pdf">ITS4US - Congress ITS for Underserved Communities: An Overview of the U.S. DOT’s ITS4US Deployment Program</a></li>
  </ul>
  <h3 id="association-of-metropolitan-planning-organizations-ampo-2022">Association of Metropolitan Planning Organizations (AMPO) 2022</h3>
  <ul>
  <li><a href="https://www.its.dot.gov/presentations/ampo2022/AMPO2022_its4us.pdf">ITS4US - Improving Mobility for Vulnerable Communities</a></li>
  </ul>
  <h3 id="its-america-annual-meeting-2021">ITS America Annual Meeting 2021</h3>
  <ul>
  <li><a href="https://www.its.dot.gov/presentations/pdf/Putting_People_First_Panel_Presentation.pdf">Putting People First: USDOT Plenary at the ITS America Annual Meeting</a></li>
  </ul>
  <h3 id="transportation-research-board-annual-meeting-2020">Transportation Research Board Annual Meeting 2020</h3>
  <ul>
  <li><a href="https://www.its.dot.gov/presentations/2020/trb/TRB2020_State_ITS.pdf">State of ITS</a></li>
  <li><a href="https://www.its.dot.gov/presentations/2020/trb/ITSJPO_CyberTRB.pdf">ITS Cybersecurity Activities</a></li>
  <li><a href="https://www.its.dot.gov/presentations/2020/trb/CVP_TRB2020.pdf">Real-World Deployment of Connected Vehicles: Challenges and Lessons Learned</a></li>
  </ul>
</PageLayout>