---
import Default from '../../layouts/Default.astro';
import SideBar from '../../components/SideBar_About.astro';
---
<Default title="ITS JPO - Strategic Plan">
      <!--  name="AboutBanner" -->
      <div class="AboutBanner">
        <div class="AboutBannerTitle">
          <h1>Strategic Plan</h1>
        </div>
      </div>
      <div class="container-fluid h-100 bodyWrap">
        <div class="row h-100">
          <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
          <!-- InstanceEndEditable -->
          <!-- name="MainContent" -->

          <main class="col-9 MainContent">
            <div class="row">
              <div class="col-lg-9">
                <h2>The ITS JPO’s New Strategic Plan for the First Half of the Decade</h2>

                <ul>
                  <li>
                    <a href="/assets/pdf/stratplan2020/ITSJPO_StrategicPlan_2020-2025.pdf">ITS Strategic Plan 2020-2025</a>
                  </li>

                  <li>
                    <a href="/assets/pdf/stratplan2020/ITSJPO_StratPlanFactSheet.pdf">ITS Strategic Plan 2020-2025 Fact Sheet</a>
                  </li>
                </ul>

                <p>
                  Pilot deployments are expected to integrate connected vehicle research concepts into practical and effective elements, enhancing existing operational capabilities. The intent of
                  these pilot deployments is to encourage partnerships of multiple stakeholders (e.g., private companies, States, transit agencies, commercial vehicle operators, and freight shippers)
                  to deploy applications utilizing data captured from multiple sources (e.g., vehicles, mobile devices, and infrastructure) across all elements of the surface transportation system
                  (i.e., transit, freeway, arterial, parking facilities, and tollways) to support improved system performance and enhanced performance-based management. The pilot deployments are also
                  expected to support an impact assessment and evaluation effort that will inform a broader cost-benefit assessment of connected vehicle concepts and technologies.
                </p>

                <h3>Research Areas</h3>

                <p>
                  The ITS Strategic Plan 2020–2025 includes in-depth discussion of the ITS JPO’s strategic goals, related research areas, and four technology transfer programs, which together work to
                  accelerate deployment:
                </p>

                <ul>
                  <li>
                    <a href="../research_areas/emerging_tech/index.htm">Emerging and Enabling Technologies</a>
                  </li>

                  <li>
                    <a href="../research_areas/data_access/index.htm">Data Access and Exchanges</a>
                  </li>

                  <li>
                    <a href="../research_areas/cybersecurity/index.htm">Cybersecurity for ITS</a>
                  </li>

                  <li>
                    <a href="../research_areas/automation/index.htm">Automation</a>
                  </li>

                  <li>
                    <a href="../its4us/index.htm">ITS4US</a>
                  </li>

                  <li>
                    <a href="../its4us/index.htm">Accelerating ITS Deployment</a>
                  </li>
                </ul>

                <p>
                  This plan will be appended annually to include the ITS JPO's Annual Modal Research Plan (AMRP), which provides details about the projects and initiatives undertaken by the ITS JPO
                  with a 2-year outlook.
                </p>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  
</Default>