---
import StandardsHeading from "@/src/components/standards/StandardsHeading.astro";
import StandardsLayout from "./_StandardsLayout.astro";
---
<style>
	.typography {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		margin-bottom: 2rem;
	}

  @media (min-width: 500px) {
    p {
      margin-right: 0;
    }
  }
</style>
<StandardsLayout title="Enabling Legislation & Policy">
	<StandardsHeading title="ASC Applicable and Enabling Policy and Legislation"/>
	<div class="typography">
		<p>
			To facilitate the creation of standards the ASC Program follows a variety of policy and legislation, enabling the successful
			development of and adherence to standards.
			<ul>
				<li>
					The Final/Rule/Policy is a major enabler of ITS standards usage alongside regional architectures
				</li>
				<li>
					The Code of Federal Regulations (CFR) includes rules to encourage the use of the National ITS Architecture through
					development of regional ITS architecture, specifically 23CFR 940.1 – 940.13, which calls for the need for conformance
					to the National ITS Architecture and any associated standards.
				</li>
				<li>
					The Office of Management and Business (OMB) published OMB Circular A-119, which emphasizes the benefits of
					utilizing standards created by voluntary consensus SDOs whenever possible as federal policy.
				</li>
				<li>
					Additionally, the Biden-Harris administration has committed to strengthening their support for standards
					development through their USG NSSCET Implementation Roadmap. A cooperative agreement between NIST and the
					American National Standards Institute (ANSI) further solidifies this position.
				</li>
			</ul>
		</p>
	</div>
	<StandardsHeading title="Final Rule/Policy: ITS Architecture and Standards"/>
	<div class="typography">
		<p>
			Standards-based ITS is most powerful and produces the greatest benefit when deployed under a comprehensive regional
			(or corridor) transportation planning effort. Such an approach ensures that the ITS requirements (and other
			transportation needs) of all transportation stakeholders in the region are identified, resulting in an integrated and
			multimodal transportation network. Standards allow agencies to integrate ITS functions and services. Standards work
			hand-in-hand with the National ITS Reference Architecture, enabling a systematic and comprehensive approach to ITS
			integration and deployment. ITS standards are specifications that define how transportation system components
			interconnect and interact within the overall framework of the National ITS Reference Architecture. They specify how
			different technologies, products, and components interconnect and interoperate among the different systems so that
			information can be shared automatically.
		</p>
		<p>
			To facilitate interoperability and encourage the use of ITS standards in deployments, on January 8, 2001, the U.S.
			Department of Transportation published two important and related documents in the Federal Register:
			<ul>
				<li>
					The Federal Highway Administration's (FHWA) Final Rule
				</li>
				<li>
					The Federal Transit Administration's (FTA) Policy
				</li>
			</ul>
		</p>
		<p>
			The FHWA and FTA are guided by these two rules for administering ITS projects.
		</p>
		<p>
			This rule/policy supports the development and deployment of regional ITS architectures. A regional ITS architecture
			establishes a framework that helps guide the integration of ITS components. Applicable ITS standards can be derived
			from a regional architecture based on the information flows specified in the regional architecture. Standards can
			enhance the communications of ITS systems identified in the architecture and help to reduce stove-piping.
		</p>
		<p>
			If you have questions or comments about the website, or if you have ideas
		</p>
		<p>
			<a href="https://ops.fhwa.dot.gov/its_arch_imp/policy.htm">
				Federal Highway Administration Final Rule/Federal Transit Administration Final Policy
			</a>
		</p>
	</div>
	<StandardsHeading title="Additional Links"/>
	<div class="typography">
		<p>
			<ul>
				<li>
					<a href="https://www.ecfr.gov/" target="_blank" rel="noopener noreferrer">Code of Federal Regulations</a>
					<ul>
						<li>
							<a href="https://www.ecfr.gov/current/title-23/chapter-I/subchapter-K/part-940" target="_blank" rel="noopener noreferrer">23 CFR Part 940 &mdash; Intelligent Transportation System Architecture and Standards</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="https://obamawhitehouse.archives.gov/omb/circulars_a119_a119fr" target="_blank" rel="noopener noreferrer">Circular No. A-119 &mdash; Federal Register (Federal Participation in the Development and Use of Voluntary Consensus Standards and in Conformity Assessment Activities)</a>
				</li>
				<li>
					<a href="https://www.nist.gov/standardsgov/usg-nss" target="_blank" rel="noopener noreferrer">US Government National Standards Strategy</a>
				</li>
			</ul>
		</p>
	</div>
</StandardsLayout>
