---
import { Image } from "astro:assets";
import base_url from "@/src/lib/base_url";
import Andre from "@/src/assets/images/its4us/andre.png";
import Map from "@/src/assets/images/its4us/ST-CTN-map.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
import logo from "@/src/assets/images/banners/ITS4US_logo_white.png";
---

<style>
  hr {
    margin: 10px 0;
  }
  .blue {
    display: grid;
  }

  figure {
    margin: auto;
    width: 40%;
    float: right;
    margin: 10px;
  }
  figcaption {
    color: #333;
    font-style: italic;
    font-size: small;
    padding: 10px;
  }

  figcaption p {
    padding: 0;
    margin: 0;
    font-size: small;
  }
  iframe {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
</style>
<PageLayout title="Georgia Department of Transportation">

  <Fragment slot="banner"> <img 
    alt="ITS4US Logo" 
    src={logo.src} 
    style="max-height: 60px; clear: none" 
  /> | ITS4US</Fragment>
  <SidebarLayout path="/research-areas/ITS4US/deployments/">
    
  <h2 class="sideways blue">GDOT Deployment Overview</h2>
  <figure>
    <Image src={Andre} alt="A man in a wheelchair" width={800} class="float-sm-end img-fluid col-6-sm mb-2" />
    <figcaption>
      <p>
        “I am a disabled veteran who needs to make occasional trips to the Northside Hospital at Gwinnett. The G-MAP app allows me to create a personalized plan to navigate around unexpected
        obstacles.”
      </p>
      <p class="text-end">- Illustrative Example of Potential User</p>
    </figcaption>
  </figure>
  <p>
    Safe Trips in a Connected Transportation Network (ST-CTN) enhances the travel experience for all travelers. It leverages innovative solutions and existing systems such as vehicle-to-everything (V2X) deployments, an advanced trip routing engine, and a regional trip planner - all developed within an open-sourced application called the Georgia - Mobility Access Map (G-MAP). The application allows travelers to create a personalized trip plan to navigate physical infrastructure, resolve unexpected obstacles, and ensure visibility throughout their travel.
  </p>
  <p>
    The deployment pilot project is led by the Georgia Department of Transportation (GDOT) with support from the Atlanta Regional Commission in Gwinnett County, Georgia, which is a suburban county northeast of Atlanta. The ST-CTN system provides Gwinnett County travelers with detailed information and step-by-step navigation tailored for users’ specific needs along with a range of other features geared to improve trip safety and efficiency. This concept is comprised of an integrated set of advanced transportation technology solutions including V2X, transit signal priority, machine learning (ML), artificial intelligence (AI) and predictive analytics.
  </p>
  <br /><br />

  
  <h2 class="sideways blue">Approach – Project Challenges and Solutions</h2>

  <figure>
    <Image src={Map} alt="Image of a map of ST-CTN Study Area in Gwinnett County" width={800} class="float-sm-end img-fluid col-6-sm mb-2" />
    <figcaption>
      <p>ST-CTN Study Area in Gwinnett County</p>
    </figcaption>
  </figure>
  <p>
    The ST-CTN project is upgrading and integrating existing technologies and services to assist travelers with completing their trip safely, successfully, and reliably. The vision of the project is to provide travelers with directions, conditions, and status on the links between trip legs that are personalized based on their preferences and capabilities, while connecting them to V2X infrastructure to provide safer trips and greater transportation network awareness. The ST-CTN project includes the following key elements that address identified stakeholder challenges:
  </p>
  <ul>
    <li>
      <strong>Route Planning.</strong>
      <p>
        Comprehensive data collected on sidewalk conditions and the ability to customize trip preferences based on specific needs (e.g., sidewalk width, sidewalk slope, available elevators) gives users reliable trips and greater confidence.
      </p>
    </li>
    <li>
      <strong>Navigation.</strong>
      <p>
        Users benefit from personalized navigation settings for hands-free and usable options including haptic, voice, and text. Turn-by-turn directions include building entrances and indoor navigation.
      </p>
    </li>
    <li>
      <strong>Safety.</strong>
      <p>
        Information flows between systems, which enables remote service requests to transit vehicles, information about intersection crossings and pedestrian crossing time extensions if needed, and alerts to connected vehicles and users increasing traveler awareness.
      </p>
    </li>
  </ul>
  <h2 class="sideways blue">Measuring Deployment Impacts</h2>
  <p>Some of the key performance goals and targets for ST-CTN include:</p>
  <ul>
    <li>
      <strong>Enhancing the traveler’s multimodal complete trip experience.</strong>
      <p>
        Enhancements include ST-CTN system functions and features, enroute traveler support, and the ability for travelers to seamlessly transfer between modes while considering changes in routes due to unplanned events.
      </p>
    </li>
    <li>
      <strong>Enhancing safety.</strong>
      <p>
        The project aims to reduce transportation-related incidents, injuries, and near misses along pedestrian routes and at intersections; increase driver awareness of pedestrians; and improve pedestrian awareness of connected and emergency vehicles at intersections.
      </p>
    </li>
    <li>
      <strong>Improving mobility and access.</strong>
      <p>
        Improvements include optimized transit schedules and travel times as part of transit signal priority (TSP) operations, traveler knowledge of usable routes, automated actuation of walk phase requests, transit stop requests through travelers' mobile device or automated based on a traveler's planned route within the application, and identification of existing barriers for infrastructure enhancements.
      </p>
    </li>
  </ul>
  <h2 class="sideways blue">Project Partners</h2>
  <div class="row">
    <div class="col-6">
      <ul>
        <li>Georgia Department of Transportation</li>
        <li>Atlanta Regional Commission</li>
        <li>Gwinnett County</li>
        <li>Statewide Independent Living Council of Georgia</li>
        <li>Georgia Institute of Technology</li>
        <li>ICF</li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li>Avail Technologies</li>
        <li>Kimley-Horn Associates</li>
        <li>GO Systems and Solutions</li>
        <li>Arcadis (formerly IBI Group)</li>
        <li>HNTB</li>
      </ul>
    </div>
  </div>
  <h2 class="sideways blue">GDOT Links and Resources</h2>
  <ul>
    <li>Visit the <a href="https://georgia-map.com/">GDOT Project Website</a>.</li>
  </ul>
</SidebarLayout>
</PageLayout>
