---
import { Image } from "astro:assets";
import base_url from "@/src/lib/base_url";
import letitia from "@/src/assets/images/its4us/LetitiaSlide4.png";
import Andre from "@/src/assets/images/its4us/AndreSlide2.png";
import Waukee from "@/src/assets/images/its4us/WaukeeSlide1.png";
import Takashi from "@/src/assets/images/its4us/TakashiSlide3.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import logo from "@/src/assets/images/banners/ITS4US_logo_white.png";
import Card_WaveBorder from "@/src/components/Card_WaveBorder.astro";
---

<style>
  .deployment-sites h2 {
    text-transform: capitalize;
  }

   .deployment-sites {
    background-color: rgb(var(--color-gray));
  }
</style>

<PageLayout title="Deployments">
  <Fragment slot="banner"> <img alt="ITS4US Logo" src={logo.src} style="max-height: 60px; clear: none" /> | ITS4US</Fragment>
     <section class="deployment-sites py-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2 class="sideways text-center mb-5">ITS4US Deployment Sites</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Georgia Mobility & Access Planner" alt="" img="andre" href="deployments/georgia" color="orange" logo="" logo_alt="" />
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Health Connector" alt="" img="andre" href="deployments/iowa" color="green" logo="" logo_alt="" />
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Buffalo All Access" alt="" img="andre" href="deployments/newYork" color="blue" logo="" logo_alt="" />
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Transportation Data Exchange Initiative" alt="" img="andre" href="deployments/washington" color="purple" logo="" logo_alt="" />
          </div>
        </div>
      </div>
    </section>
</PageLayout>
