---
import { Image } from "astro:assets";
import base_url from "@/src/lib/base_url";
import PageLayout from "@/src/layouts/PageLayout.astro";
import logo from "@/src/assets/images/banners/ITS4US_logo_white.png";
import Card_WaveBorder from "@/src/components/Card_WaveBorder.astro";
---

<style>
  .deployment-sites h2 {
    text-transform: capitalize;
  }

   .deployment-sites {
    background-color: rgb(var(--color-gray));
  }
</style>

<PageLayout title="Deployments">
  <Fragment slot="banner"> ITS4US</Fragment>
    <section class="deployment-sites py-5 pe-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2 class="sideways text-center mb-5">ITS4US Deployment Sites</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Georgia Mobility & Access Planner" alt="Georgia Mobility and Access Planner mobile app interface" img="gmap" href={base_url("/research-areas/ITS4US/deployments/georgia")} color="orangewave" logo="gmapIcon" logo_alt="G-MAP logo" />
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Health Connector" alt="Health Connector transit service" img="hc" href={base_url("/research-areas/ITS4US/deployments/iowa")} color="greenwave" logo="hcIcon" logo_alt="Health Connector logo" />
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Buffalo All Access" alt="Buffalo All Access transportation system" img="baa" href={base_url("/research-areas/ITS4US/deployments/newYork")} color="bluewave" logo="baaIcon" logo_alt="Buffalo All Access logo" />
          </div>
          <div class="col-12 col-lg-5 d-flex justify-content-center mb-4">
            <Card_WaveBorder title="Transportation Data Exchange Initiative" alt="Transportation Data Exchange Initiative platform" img="tdei" href={base_url("/research-areas/ITS4US/deployments/washington")} color="purplewave" logo="tdeiIcon" logo_alt="TDEI logo" />
          </div>
        </div>
      </div>
    </section>
</PageLayout>
