---
import PageLayout from "@/src/layouts/PageLayout.astro";
---
<PageLayout title="Research Fact Sheets">
  <Fragment slot="banner">
    ITS JPO Research Fact Sheets
  </Fragment>
  <h2>ITS Research Fact Sheets</h2>
  <p>We provide a range of factsheets related to ITS for you to learn more about ITS JPO and our many research programs.</p>
  <h3>ITS Program</h3>
  <ul>
      <li><a href="../stratplan2020/ITSJPO_StratPlanFactSheet.pdf" target="_blank" rel="noopener noreferrer">ITS Strategic Plan 2020-2025</a></li>
      <li><a href="../factsheets/pdf/ITSJPO_overview.pdf" target="_blank" rel="noopener noreferrer">ITS Program Overview</a></li>
  </ul>
  <h3>Accelerating ITS Deployment</h3>
  <ul>
      <li><a href="../factsheets/pdf/PR_Accelerating_Factsheet.pdf" target="_blank" rel="noopener noreferrer">Accelerating ITS Deployment</a></li>
      <li><a href="../factsheets/pdf/JPO_PCB_fs.pdf" target="_blank" rel="noopener noreferrer">ITS Professional Capacity Building (PCB) Program</a></li>
      <li><a href="../factsheets/pdf/JPO-033 STANDARDS V5.5 F.pdf" target="_blank" rel="noopener noreferrer">Standards and Architecture Harmonization</a></li>
      <li><a href="../factsheets/pdf/ITSJPO_Rural_ITS_NRITS.pdf" target="_blank" rel="noopener noreferrer">Rural Intelligent Transportation Systems (ITS) Program</a></li>
  </ul>
  <h3>Automation</h3>
  <ul>
      <li><a href="../factsheets/pdf/PR_Automation_Factsheet.pdf" target="_blank" rel="noopener noreferrer">Automation</a></li>
  </ul>
  <h3>ITS4US</h3>
  <ul>
      <li><a href="../factsheets/pdf/ITS4US_Factsheet.pdf" target="_blank" rel="noopener noreferrer">ITS4US</a></li>
      <li>
          <a href="../factsheets/pdf/ITS4US_GDOTSafeTrip.pdf" target="_blank" rel="noopener noreferrer">
              Georgia Department of Transportation
              (GDOT) Safe Trips in a Connected
              Transportation Network
          </a>
      </li>
      <li>
          <a href="../factsheets/pdf/ITS4US_HIRTA.pdf" target="_blank" rel="noopener noreferrer">
              Heart of Iowa Regional Transit Agency
              (HIRTA) Health Connector for the Most
              Vulnerable: An Inclusive Mobility
              Experience from Beginning to End
          </a>
      </li>
      <li>
          <a href="../factsheets/pdf/ITS4US_NFTABuffalo.pdf" target="_blank" rel="noopener noreferrer">
              Niagara Frontier Transportation
              Authority (NFTA) Buffalo, New York
          </a>
      </li>
      <li>
          <a href="../factsheets/pdf/ITS4US_UW_TDEI.pdf" target="_blank" rel="noopener noreferrer">
              University of Washington
              Transportation Data Equity Initiative
          </a>
      </li>
      <li><a href="../factsheets/pdf/Rural.pdf" target="_blank" rel="noopener noreferrer">ITS Benefits for Rural Communities</a></li>
  </ul>
  <h3>Cybersecurity for ITS</h3>
  <ul>
      <li><a href="../factsheets/pdf/PR_CyberSecurity_Factsheet.pdf" target="_blank" rel="noopener noreferrer">Cybersecurity for ITS</a></li>
  </ul>
  <h3>Emerging and Enabling Technologies</h3>
  <ul>
      <li><a href="../factsheets/pdf/PR_EmergingAndEnabling.pdf" target="_blank" rel="noopener noreferrer">Emerging and Enabling Technologies</a></li>
      <li><a href="../research_areas/emerging_tech/pdf/ITSJPO_AIforITS_Program.pdf" target="_blank" rel="noopener noreferrer">AI for ITS Program</a></li>
      <li><a href="../factsheets/pdf/AIforITS_Program_Factsheet_RealWorld_AI_Scenarios_in_Transportation_D4.pdf" target="_blank" rel="noopener noreferrer">AI for ITS: Real World AI Scenarios</a></li>
      <li><a href="../factsheets/pdf/AIforITS_Program_Factsheet_RealWorld_AI_PotentialApps_in_Transportation_D4.pdf" target="_blank" rel="noopener noreferrer">AI for ITS: Potential AI Applications</a></li>
      <li><a href="../factsheets/pdf/MobilityonDemand.pdf" target="_blank" rel="noopener noreferrer">Mobility on Demand Program</a></li>
      <li><a href="../factsheets/pdf/MOD_BusinessModelsAnalysis.pdf" target="_blank" rel="noopener noreferrer">MOD Business Models Analysis</a></li>
      <li><a href="../factsheets/pdf/MOD_IntegratedPayment.pdf" target="_blank" rel="noopener noreferrer">MOD Integrated Payment</a></li>
      <li><a href="../factsheets/pdf/MOD_MarketplaceConOps.pdf" target="_blank" rel="noopener noreferrer">MOD Marketplace Overview</a></li>
      <li><a href="../factsheets/pdf/MOD_Micromobility.pdf" target="_blank" rel="noopener noreferrer">MOD Opportunities and Challenges of Shared Micromobility</a></li>
      <li><a href="../factsheets/pdf/MOD_OffPeakTransit.pdf" target="_blank" rel="noopener noreferrer">MOD - Opportunities for Supplementing Off-Peak (Fixed-Route) Transit Services</a></li>
  </ul>
  <h3>ITS Data Access and Exchanges</h3>
  <ul>
      <li><a href="../factsheets/pdf/PR_ITSDataAccessExchanges_Factsheet.pdf" target="_blank" rel="noopener noreferrer">ITS Data Access and Exchanges Program</a></li>
      <li><a href="../factsheets/pdf/ITSJPO_ODE.pdf" target="_blank" rel="noopener noreferrer">Operational Data Environment (ODE)</a></li>

      <li><a href="../factsheets/pdf/ITS_ResearchData.pdf" target="_blank" rel="noopener noreferrer">ITS DataHub</a></li>
  </ul>
  <h3>Connected Vehicles</h3>
  <ul>
      <li><a href="../factsheets/pdf/cybersecurity_factsheet.pdf" target="_blank" rel="noopener noreferrer">Connected Vehicle and Cybersecurity</a></li>
      <li><a href="../factsheets/pdf/CV_Interoperability.pdf" target="_blank" rel="noopener noreferrer">Connected Vehicle Pilot Deployment Program Phase 2: Interoperability Test</a></li>
      <li><a href="../factsheets/pdf/ITSJPO_Connected_Vehicle_Standards.pdf" target="_blank" rel="noopener noreferrer">Connected Vehicle Standards</a></li>
      <li><a href="../factsheets/pdf/JPO_HowCVWork.pdf" target="_blank" rel="noopener noreferrer">How Connected Vehicles Work</a></li>
      <li><a href="../factsheets/pdf/JPO_CVPilot.pdf" target="_blank" rel="noopener noreferrer">Connected Vehicle Pilot Deployment Program</a></li>
      <li><a href="../factsheets/pdf/NYCCVPliot_Factsheet.pdf" target="_blank" rel="noopener noreferrer">Connected Vehicle Pilot: New York City</a></li>
      <li><a href="../factsheets/pdf/TampaCVPIlot_Factsheet.pdf" target="_blank" rel="noopener noreferrer">Connected Vehicle Pilot: Tampa</a></li>
      <li><a href="../factsheets/pdf/WyomingCVPilot_Factsheet.pdf" target="_blank" rel="noopener noreferrer">Connected Vehicle Pilot: Wyoming</a></li>
      <li><a href="../factsheets/pdf/CV_SCMS.pdf" target="_blank" rel="noopener noreferrer">Security Credential Management System (SCMS)</a></li>
      <li><a href="../factsheets/pdf/JPO_SafetyPilot.pdf" target="_blank" rel="noopener noreferrer">Safety Pilot</a></li>
      <li><a href="../factsheets/pdf/safetypilot_nhtsa_factsheet.pdf" target="_blank" rel="noopener noreferrer">Safety Pilot (NHTSA)</a></li>
      <li><a href="../factsheets/pdf/SafetyPilotModelDeployment.pdf" target="_blank" rel="noopener noreferrer">Safety Pilot Model Deployment Data</a></li>
      <li><a href="../factsheets/pdf/JPO-027_DMA.pdf" target="_blank" rel="noopener noreferrer">Dynamic Mobility Applications</a></li>
  </ul>
  <p>&nbsp;</p>
</PageLayout>
