---
import LibraryImg from '@/src/components/Img_Library.astro';
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
import PageLayout from "@/src/layouts/PageLayout.astro";

// To update this page add the image to the "imageLibrary" folder then add its src to this array and give it some alt text. The alt text is used for the image title.

const ImagesArray = [
{src: '../assets/images/imageLibrary/img_1.jpg', alt: 'Trucks'},
{src: '../assets/images/imageLibrary/img_2.jpg', alt: 'Freight and Transit Connected Vehicles'},
{src: '../assets/images/imageLibrary/img_3.jpg', alt: 'Connected Traffic Signal'},
{src: '../assets/images/imageLibrary/img_4.jpg', alt: 'Street Car'},
{src: '../assets/images/imageLibrary/img_5.jpg', alt: 'Rush Hour Connected Vehicle Exit'},
{src: '../assets/images/imageLibrary/img_6.jpg', alt: 'Port'},
{src: '../assets/images/imageLibrary/img_7.jpg', alt: 'Vehicle Platooning'},
{src: '../assets/images/imageLibrary/img_8.jpg', alt: 'Passenger Car'},
{src: '../assets/images/imageLibrary/img_9.jpg', alt: 'Merging'},
{src: '../assets/images/imageLibrary/img_10.jpg', alt: 'Truck Convoy'},
{src: '../assets/images/imageLibrary/img_11.jpg', alt: 'Sample Connected Vehicle Applications'},
{src: '../assets/images/imageLibrary/img_12.jpg', alt: 'Connected Vehicles Traveling on Highway'},
{src: '../assets/images/imageLibrary/img_13.jpg', alt: 'Connected Vehicle Intersection Stop'},
{src: '../assets/images/imageLibrary/img_14.jpg', alt: 'Train Intersection'},
{src: '../assets/images/imageLibrary/img_15.png', alt: 'Semi Rural'},
{src: '../assets/images/imageLibrary/img_16.png', alt: 'Loading Truck Port'},
{src: '../assets/images/imageLibrary/img_17.png', alt: 'Intersection Wheelchair'},
{src: '../assets/images/imageLibrary/img_18.png', alt: 'Intersection Bike'},
{src: '../assets/images/imageLibrary/img_19.png', alt: 'Inside Smart Bus'},
{src: '../assets/images/imageLibrary/img_20.png', alt: 'Automated Vehicle Highway'},
{src: '../assets/images/imageLibrary/img_22.jpg', alt: 'Connected Vehicles Intersection'},
{src: '../assets/images/imageLibrary/img_24.jpg', alt: 'Connected Vehicles Intersection'},
{src: '../assets/images/imageLibrary/img_25.jpg', alt: 'CV Do Not Pass Dashboard Warning'},
{src: '../assets/images/imageLibrary/img_35.jpg', alt: 'CV Intersection Stop'},
{src: '../assets/images/imageLibrary/img_42.jpg', alt: 'CV Construction Zone Warning'},
{src: '../assets/images/imageLibrary/img_43.jpg', alt: 'CV Technology Assessment'},
{src: '../assets/images/imageLibrary/img_44.jpg', alt: 'Connected Vehicles Communicating at Intersection'},
{src: '../assets/images/imageLibrary/img_46.jpg', alt: 'Dynamic Road Side Platooning'},
{src: '../assets/images/imageLibrary/img_47.jpg', alt: 'Automated University Ride Sharing'},
{src: '../assets/images/imageLibrary/img_48.jpg', alt: 'How an Automated Vehicle Works'},
{src: '../assets/images/imageLibrary/img_51.jpg', alt: 'Connected Freight Carrier Highway'},
{src: '../assets/images/imageLibrary/img_52.jpg', alt: 'Connected Freight Carrier and Car'},
{src: '../assets/images/imageLibrary/img_53.jpg', alt: 'Truck Safety'},
{src: '../assets/images/imageLibrary/img_55.jpg', alt: 'Connected Vehicles Intersection'},
{src: '../assets/images/imageLibrary/img_57.jpg', alt: 'CV Approaching Warning'},
{src: '../assets/images/imageLibrary/img_58.jpg', alt: 'CV Technology Assessment'},
{src: '../assets/images/imageLibrary/V2X_KidSkateboard.png', alt: 'Skateboard interacting with a vehicle'},
{src: '../assets/images/imageLibrary/V2X_MotherKid.png', alt: 'Stroller interacting with a vehicle	'},
{src: '../assets/images/imageLibrary/V2X_WheelchairBus.png', alt: 'Wheelchair interacting with a bus	'},
{src: '../assets/images/imageLibrary/V2X_WomanBike.png', alt: 'Bicycle interacting with a vehicle'},
];

const keywords = [
  'Connected Vehicles',
  'Automated Vehicles',
  'Vehicle to Vehicle Communication',
  'Vehicle to Infrastructure Communication',
  'Vehicle to Everything Communication',
  'Connected Vehicle Technology',
  'Automated Vehicle Technology',
  'Connected Vehicle Applications',
  'Automated Vehicle Applications',
  'Connected Vehicle Safety',
  'Automated Vehicle Safety',
  'Connected Vehicle Research',
  'Automated Vehicle Research'
];
---

<style>

.grid-container {
    display: grid;
    vertical-align: top;
}

.widthcontroller {
  display: inline-block;
}

.widthcontroller p {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

</style>
<PageLayout title="Image Library">
  <Fragment slot="banner">
    Image Library
  </Fragment>
  <SidebarLayout path="/news-info/">
  <h2 class="sideways blue">Images courtesy of the U.S. Department of Transportation</h2>
  <p>Click image for downloadable high resolution version. </p>
  <div class="d-flex flex-wrap">
    {ImagesArray.map((ImagesArray) => (
      <div class="p-2 widthcontroller">
        <LibraryImg imagePath={ImagesArray.src} altText={ImagesArray.alt} />
        <p>{ImagesArray.alt}</p> 
      </div>
    ))}
  </div>
  <br>
  <h4>For additional images please contact</h4>
  <p>
      <strong>Mike Pina</strong><br>
      Program Manager, Communications &amp; Outreach<br>
      U.S. Department of Transportation<br>
      FHWA/Office of the Assistant Secretary for Research and Technology<br>
      HOIT-1 E33 - 409<br>
      1200 New Jersey Avenue, SE<br>
      Washington, DC 20590<br>
      (202) 366 3700<br>
      (202)  493 2027 (fax)<br>
      <a href="mailto:mike.pina@dot.gov">mike.pina@dot.gov</a>
  </p></SidebarLayout>
</PageLayout>