---
import LibraryImg from '../../components/Img_Library.astro'
import PageLayout from "@/src/layouts/PageLayout.astro";

// To update this page add the image to the "imageLibrary" folder then add its src to this array and give it some alt text. The alt text is used for the image title.

const ImagesArray = [
{src: '../assets/images/imageLibrary/img_1.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_2.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_3.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_4.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_5.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_6.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_7.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_8.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_9.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_10.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_11.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_12.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_13.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_14.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_15.png', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_16.png', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_17.png', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_18.png', alt: 'Intersection Bike'},
{src: '../assets/images/imageLibrary/img_19.png', alt: 'Inside Smart Bus'},
{src: '../assets/images/imageLibrary/img_20.png', alt: 'Automated Vehicle Highway'},
{src: '../assets/images/imageLibrary/img_22.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_24.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_25.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_35.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_42.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_43.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_44.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_46.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_47.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_48.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_51.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_52.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_53.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_55.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_57.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/img_58.jpg', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/V2X_KidSkateboard.png', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/V2X_MotherKid.png', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/V2X_WheelchairBus.png', alt: 'placeholder'},
{src: '../assets/images/imageLibrary/V2X_WomanBike.png', alt: 'placeholder'},
];
---

<style>

.grid-container {
    display: grid;
}

</style>
<PageLayout title="Image Library">
  <Fragment slot="banner">
    Image Library
  </Fragment>
  <h2 class="sideways blue">Images courtesy of the U.S. Department of Transportation</h2>
  <p>Click image for downloadable image or dowload a <a href="media_zip.htm">zip file</a> for available high resolution photos. </p>
  <div class="d-flex flex-wrap">
    {ImagesArray.map((ImagesArray) => (
      <div class="p-2">
        <LibraryImg imagePath={ImagesArray.src} altText={ImagesArray.alt} />
        <p>{ImagesArray.alt}</p> 
      </div>
    ))}
  </div>
  <h4>For additional images please contact</h4>
  <p>
      <strong>Mike Pina</strong><br>
      Program Manager, Communications &amp; Outreach<br>
      U.S. Department of Transportation<br>
      FHWA/Office of the Assistant Secretary for Research and Technology<br>
      HOIT-1 E33 - 409<br>
      1200 New Jersey Avenue, SE<br>
      Washington, DC 20590<br>
      (202) 366 3700<br>
      (202)  493 2027 (fax)<br>
      <a href="mailto:mike.pina@dot.gov">mike.pina@dot.gov</a>
  </p>
</PageLayout>