---
import PageLayout from "@/src/layouts/PageLayout.astro";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";

const keywords = [
  "ITS",
  "Intelligent Transportation Systems",
  "Joint Program Office",
  "ITS JPO",
  "U.S. DOT",
  "Department of Transportation",
  "transportation safety",
  "technology research program",
  "news and info"
];

const description =
  "The ITS JPO coordinates U.S. DOT’s ITS research to improve transportation safety, mobility, and efficiency through innovative technologies.";
---

<PageLayout title="News and Info" keywords={keywords} description={description}>
  <Fragment slot="banner">News & Info</Fragment>
  <SidebarLayout path="/news-info/">
    <div class="row">
      <div class="col">
        <h2>News & Info</h2>
        <p></p>
      </div>
    </div>
  </SidebarLayout>
</PageLayout>
