---
import Default from "../../layouts/Default.astro";
import SideBar from "../../components/SideBar_News.astro";
---

<Default title="ITS JPO - History">
  <!-- InstanceBeginEditable name="AboutBanner" -->

  <div class="AboutBanner">
    <div class="AboutBannerTitle">
        <h1>Videos</h1>
    </div>
</div>
  <!-- InstanceEndEditable -->

  <!-- Sidebar -->
  <!-- InstanceBeginEditable name="sidenav" -->

  <div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
      <!-- InstanceEndEditable -->
      <!-- InstanceBeginEditable name="MainContent" -->

      <main class="col MainContent">

        <div class="row">

            <div class="col-lg-12">

                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://youtu.be/E31qTLF6e0o" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/tosco.png" class="VideoImage" alt="Emergency"></a>
                            </div>

                            <div>
                                <a href="https://youtu.be/E31qTLF6e0o" target="_blank" rel="noopener noreferrer">Traffic Optimization for Signalized Corridors (TOSCO)</a><br>December 28, 2022
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/yQE5cI7ZWec" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/itsjpo_video_tn2.png" alt="Intelligent Transportation Systems: What’s Available Today and the Vision for Tomorrow" class="VideoImage"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/yQE5cI7ZWec" target="_blank" rel="noopener noreferrer">Intelligent Transportation Systems: What’s Available Today and the Vision for Tomorrow</a><br> July 14, 2021
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/0dja4B9qCSU" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_roadweather.jpg" class="VideoImage" alt="Road Weather"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/0dja4B9qCSU" target="_blank" rel="noopener noreferrer">Connected Vehicle Pilot Protect Pedestrians</a><br>July 16, 2021 
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/5pskRioUcxA" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_10.jpg" class="VideoImage" alt="Emergency"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/5pskRioUcxA" target="_blank" rel="noopener noreferrer">The Path Forward: The Future of Accessible Transportation</a><br>April 4, 2017
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://youtu.be/q1ewENzPgLo" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/tampa_cvp.jpg" class="VideoImage" alt="Tampa Pilot Video"></a>
                            </div>

                            <div>
                                <a href="https://youtu.be/q1ewENzPgLo" target="_blank" rel="noopener noreferrer">Tampa (THEA) Connected Vehicle Pilot</a><br>July 6, 2017
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://youtu.be/Bxu29Qbs-zI" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/nyc_cvp.jpg" class="VideoImage" alt="New York City Pilot Video"></a>
                            </div>

                            <div>
                                <a href="https://youtu.be/Bxu29Qbs-zI" target="_blank" rel="noopener noreferrer">New York City Connected Vehicle Pilot</a><br>July 17, 2017
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://youtu.be/9TPluh2dm20" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/wyoming_cvp.jpg" class="VideoImage" alt="Wyoming Pilot Video"></a>
                            </div>

                            <div>
                                <a href="https://youtu.be/9TPluh2dm20" target="_blank" rel="noopener noreferrer">Wyoming Connected Vehicle Pilot</a><br>July 21, 2017
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/Q8Cn47L8FRQ" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_future.jpg" class="VideoImage" alt="Connected Vehicles"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/Q8Cn47L8FRQ" target="_blank" rel="noopener noreferrer">Connected Vehicle: The Future of Transportation</a><br> February 8, 2016
                            </div>
                        </div>
                    </div>

                    

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://youtu.be/3z09fCqmILU" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_9.jpg" alt="How Connected Vehicles Work" class="VideoImage"></a>
                            </div>

                            <div>
                                <a href="https://youtu.be/3z09fCqmILU" target="_blank" rel="noopener noreferrer">How Connected Vehicles Work</a><br>April 4, 2016
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/T7hesQvqYHo" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/protect_pedestrians.jpg" class="VideoImage" alt="Connected Vehicles Protect Pedestrians"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/T7hesQvqYHo" target="_blank" rel="noopener noreferrer">Connected Vehicles Protect Pedestrians</a><br>November 16, 2016
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/0urqaPioLwk" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_dsrc.jpg" alt="Dedicated Short Range Communications (DSRC)" class="VideoImage"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/0urqaPioLwk" target="_blank" rel="noopener noreferrer">Dedicated Short Range Communications (DSRC)</a><br>February 10, 2015
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://youtu.be/j5jsxrGWrX4" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/barack_cars.jpg" alt="Next Big Thing - What's the future of so-called talking cars?" class="VideoImage" ></a>
                            </div>

                            <div>
                                <a href="https://youtu.be/j5jsxrGWrX4" target="_blank" rel="noopener noreferrer">Next Big Thing - What's the future of so-called talking cars?</a><br>August 5, 2014
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/muGYPz33qB8" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_mobility.jpg" class="VideoImage" alt="Mobility"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/muGYPz33qB8" target="_blank" rel="noopener noreferrer">Connected Vehicle Technology for Mobility</a><br>December 19, 2014
                            </div>
                        </div>
                    </div>

                    

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/kvjyaDpv7pA" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_safety.jpg" class="VideoImage" alt="Safety"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/kvjyaDpv7pA" target="_blank" rel="noopener noreferrer">Connected Vehicle Technology for Safety</a><br>December 19, 2014 
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/sdFlqfpv41s" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_environment.jpg" class="VideoImage" alt="Environment"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/sdFlqfpv41s" target="_blank" rel="noopener noreferrer">Connected Vehicle Technology for the Environment</a><br>December 19, 2014
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/vWVhioxzeP0" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_roadweather.jpg" class="VideoImage" alt="Road Weather"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/vWVhioxzeP0" target="_blank" rel="noopener noreferrer">Connected Vehicle Technology for Road Weather Safety</a><br>December 19, 2014
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/taniUsUNN9s" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_emergency.jpg" class="VideoImage" alt="Emergency"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/taniUsUNN9s" target="_blank" rel="noopener noreferrer">Connected Vehicle Technology for Emergency Services</a><br>December 19, 2014
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/RXNbpLu_Y5g" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_8.jpg" alt="Safety Pilot" class="VideoImage" ></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/RXNbpLu_Y5g" target="_blank" rel="noopener noreferrer">Safety Pilot Model Deployment in Ann Arbor, Michigan</a><br>September 17, 2012
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://player.vimeo.com/video/45533527" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_7.jpg" alt="video icon"  class="VideoImage"></a>
                            </div>

                            <div>
                                <a href="https://player.vimeo.com/video/45533527" target="_blank" rel="noopener noreferrer">Vehicle-To-Vehicle Communication: The Future of Vehicle Crash Avoidance </a><br>July 10, 2012
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/hMc1XiWdEUY" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_1.jpg" alt="video icon"  class="VideoImage"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/hMc1XiWdEUY" target="_blank" rel="noopener noreferrer">Dedicated Short Range Communications (DSRC)</a><br>January 28, 2011
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/QkXvg4kL5rk" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_3.jpg" alt="video icon"  class="VideoImage"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/QkXvg4kL5rk" target="_blank" rel="noopener noreferrer">Intersection Collision Avoidance </a><br>January 28, 2011
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/yGm2NVhV9jw" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_2.jpg" alt="video icon"  class="VideoImage"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/yGm2NVhV9jw" target="_blank" rel="noopener noreferrer">Inter-Vehicle Hazard Warning</a><br>January 28, 2011
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/nrRhxBChHh4" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_4.jpg" alt="video icon"  class="VideoImage"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/nrRhxBChHh4" target="_blank" rel="noopener noreferrer">Emergency Vehicle Warning</a><br>January 28, 2011
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="FlexVideoDiv">
                            <div>
                                <a href="https://www.youtube.com/embed/Xs5YF2PjHtE" target="_blank" rel="noopener noreferrer"><img src="/src/assets/images/video_5.jpg" alt="video icon"  class="VideoImage"></a>
                            </div>

                            <div>
                                <a href="https://www.youtube.com/embed/Xs5YF2PjHtE" target="_blank" rel="noopener noreferrer">
                                    Vehicle-to-Vehicle Communication:
                                    A New Generation of Driver Assistance and Safety
                                </a><br>August 19, 2011
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </main>
    </div>
  </div>
</Default>
