---
import VideoThumbail from "@/src/components/VideoThumbail.astro";
import PageLayout from "@/src/layouts/PageLayout.astro";
import type { VideoThumbnail } from "@/src/types";

const videos: VideoThumbnail[] = [
  {
    title: "Traffic Optimization for Signalized Corridors (TOSCO)",
    date: "December 28, 2022",
    href: "https://youtu.be/E31qTLF6e0o",
    image: "tosco.png",
    alt: "Emergency"
  },
  {
    title: "Intelligent Transportation Systems: What’s Available Today and the Vision for Tomorrow",
    date: "July 14, 2021",
    href: "https://www.youtube.com/embed/yQE5cI7ZWec",
    image: "itsjpo_video_tn2.png",
  },
  {
    title: "Connected Vehicle Pilot Protect Pedestrians",
    date: "July 16, 2021 ",
    href: "https://www.youtube.com/embed/0dja4B9qCSU",
    image: "video_roadweather.jpg",
    alt: "Road Weather"
  },
  {
    title: "The Path Forward: The Future of Accessible Transportation",
    date: "April 4, 2017",
    href: "https://www.youtube.com/embed/5pskRioUcxA",
    image: "video_10.jpg",
    alt: "Emergency"
  },
  {
    title: "Tampa (THEA) Connected Vehicle Pilot",
    date: "July 6, 2017",
    href: "https://youtu.be/q1ewENzPgLo",
    image: "tampa_cvp.jpg",
    alt: "Tampa Pilot Video"
  },
  {
    title: "New York City Connected Vehicle Pilot",
    date: "July 17, 2017",
    href: "https://youtu.be/Bxu29Qbs-zI",
    image: "nyc_cvp.jpg",
    alt: "New York City Pilot Video"
  },
  {
    title: "Wyoming Connected Vehicle Pilot",
    date: "July 21, 2017",
    href: "https://youtu.be/9TPluh2dm20",
    image: "wyoming_cvp.jpg",
    alt: "Wyoming Pilot Video"
  },
  {
    title: "Connected Vehicle: The Future of Transportation",
    date: "February 8, 2016",
    href: "https://www.youtube.com/embed/Q8Cn47L8FRQ",
    image: "video_future.jpg",
    alt: "Connected Vehicles"
  },
  {
    title: "How Connected Vehicles Work",
    date: "April 4, 2016",
    href: "https://youtu.be/3z09fCqmILU",
    image: "video_9.jpg",
  },
  {
    title: "Connected Vehicles Protect Pedestrians",
    date: "November 16, 2016",
    href: "https://www.youtube.com/embed/T7hesQvqYHo",
    image: "protect_pedestrians.jpg",
  },
  {
    title: "Dedicated Short Range Communications (DSRC)",
    date: "February 10, 2015",
    href: "https://www.youtube.com/embed/0urqaPioLwk",
    image: "video_dsrc.jpg",
  },
  {
    title: "Next Big Thing - What's the future of so-called talking cars?",
    date: "August 5, 2014",
    href: "https://youtu.be/j5jsxrGWrX4",
    image: "barack_cars.jpg",
  },
  {
    title: "Connected Vehicle Technology for Mobility",
    date: "December 19, 2014",
    href: "https://www.youtube.com/embed/muGYPz33qB8",
    image: "video_mobility.jpg",
    alt: "Mobility"
  },
  {
    title: "Connected Vehicle Technology for Safety",
    date: "December 19, 2014",
    href: "https://www.youtube.com/embed/kvjyaDpv7pA",
    image: "video_safety.jpg",
    alt: "Safety"
  },
  {
    title: "Connected Vehicle Technology for the Environment",
    date: "December 19, 2014",
    href: "https://www.youtube.com/embed/sdFlqfpv41s",
    image: "video_environment.jpg",
    alt: "Environment"
  },
  {
    title: "Connected Vehicle Technology for Road Weather Safety",
    date: "December 19, 2014",
    href: "https://www.youtube.com/embed/vWVhioxzeP0",
    image: "video_roadweather.jpg",
    alt: "Road Weather"
  },
  {
    title: "Connected Vehicle Technology for Emergency Services",
    date: "December 19, 2014",
    href: "https://www.youtube.com/embed/taniUsUNN9s",
    image: "video_emergency.jpg",
    alt: "Emergency"
  },
  {
    title: "Safety Pilot Model Deployment in Ann Arbor, Michigan",
    date: "September 17, 2012",
    href: "https://www.youtube.com/embed/RXNbpLu_Y5g",
    image: "video_8.jpg",
    alt: "Safety Pilot"
  },
  {
    title: "Vehicle-To-Vehicle Communication: The Future of Vehicle Crash Avoidance",
    date: "July 10, 2012",
    href: "https://player.vimeo.com/video/45533527",
    image: "video_7.jpg",
  },
  {
    title: "Dedicated Short Range Communications (DSRC)",
    date: "January 28, 2011",
    href: "https://www.youtube.com/embed/hMc1XiWdEUY",
    image: "video_1.jpg",
  },
  {
    title: "Intersection Collision Avoidance",
    date: "January 28, 2011",
    href: "https://www.youtube.com/embed/QkXvg4kL5rk",
    image: "video_3.jpg",
  },
  {
    title: "Inter-Vehicle Hazard Warning",
    date: "January 28, 2011",
    href: "https://www.youtube.com/embed/yGm2NVhV9jw",
    image: "video_2.jpg",
  },
  {
    title: "Emergency Vehicle Warning",
    date: "January 28, 2011",
    href: "https://www.youtube.com/embed/nrRhxBChHh4",
    image: "video_4.jpg",
  },
  {
    title: "Vehicle-to-Vehicle Communication: A New Generation of Driver Assistance and Safety",
    date: "August 19, 2011",
    href: "https://www.youtube.com/embed/Xs5YF2PjHtE",
    image: "video_5.jpg",
  },
]
---
<PageLayout title="Videos">
  <Fragment slot="banner">
    Videos
  </Fragment>
  <div class="row">
    {videos.map(video => (
      <VideoThumbail video={video}/>
    ))}
  </div>
</PageLayout>