# Base URL used in `astro.config`
# - During development, this may be something custom like `test`
#   if you are hosting the site in a subdirectory
# - For production, it should always be empty or `/`
BASE_URL=""