---
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
---

<PageLayout title="AI Methods & Sub-Methods" bannerImage={banner}>
  <Fragment slot="banner">AI Methods & Sub-Methods</Fragment>
      <main>
       <p>Placeholder</p>
      
      </main>
</PageLayout>
