---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
---

<BaseLayout title="filter" description="Filter news content by type and topic." keywords={"filter"}>
  <main class="container my-5">
    <h1 class="h2 mb-4 sideways blue">NEWSROOM</h1>
    <p></p>
    <h2 class="sideways blue">V2X Deployment Toolkit</h2>
    <section>
        <h3>Fact Sheets</h3>
        <div>

        </div>
    </section>
     <section>
        <h3>Talking Points</h3>
        <div>
            
        </div>
    </section>
     <section>
        <h3>Social Posts</h3>
        <div>
            
        </div>
    </section>
     <section>
        <h3>Infographics</h3>
        <div>
            
        </div>
    </section>
     <section>
        <h3>Slides</h3>
        <div>
            
        </div>
    </section>
  </main>
</BaseLayout>

<script>
  
</script>

<style>

</style>
