---
import PageLayout from "@/src/layouts/PageLayout.astro";
// import banner from "@/src/assets/images/banners/NTL_Banner.png";
import banner from "@/src/assets/images/banners/ASC_Banner.jpg";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";

const keywords = [
  "ARC-IT",
  "Architecture Reference for Cooperative and Intelligent Transportation",
  "standards development organizations",
  "SDOs",
  "interoperability",
  "transportation systems",
  "cybersecurity",
  "protocols",
  "standards",
];
---

<PageLayout title="ITS Architecture and Standards" bannerImage={banner}>
  <Fragment slot="banner"> Architecture and Standards </Fragment>
  <SidebarLayout path="/resources/">
    <h2 class="sideways blue">ITS Architecture and Standards Program</h2>
    <p>
      This Program provides a reference system architecture along with voluntary technical standards, 
      tools, and deployment support. These efforts guide safe, secure, efficient, and interoperable
      deployment of infrastructure, connected, and automated ITS technologies as outlined in <a
        href="https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title23-section517&num=0&edition=prelim"
        target="_blank"
      >
        USC Sect. 517
      </a>.
    </p>
    <p>
      ITS Architecture as defined in the Architecture Reference for Cooperative and Intelligent Transportation (ARC-IT) 
      provides a common framework for planning, defining, and integrating ITS, as well as guiding investment in standards 
      to facilitate interoperable deployment. Evolution and maintenance of ARC-IT is critical to addressing 
      the concerns of all stakeholders in the ITS community, staying abreast of technological developments and policy constraints, 
      while ensuring that investment in standards development and deployment is able to economically leverage new technologies
      while maintaining and enhancing interoperability.
    </p>
    <p>
      Standards define an architecture of interrelated systems that work together to deliver transportation services. 
      Most standards are voluntary, consensus-based, and open. ITS standards cover different physical systems, 
      such as Roadside Units and Advanced Traffic Controllers, and "communications layers", like Uu or PC5, in their description 
      of how data is communicated between the relevant transportation systems. These layers start with the description 
      of how bits of data are combined and transmitted and extend to the meaning of the entire message sent 
      over the communications path. ITS standards specify consistency and compatibility of the physical systems, interconnects, 
      and interfaces within an advanced transportation system.
    </p>
    <p>
      These standards enable cooperation, collaboration, and interoperability between different devices and deployments 
      through their description of standardized interfaces and systems. By incorporating standards into ITS deployments, 
      deployers will establish stable ITS solutions with expanded impact on their user-base regardless of device or solution vendor. 
    </p>
    <p>
      The ITS Architecture and Standards Program conducts activities to support the development and maintenance of standards 
      and protocols using the services of standards development organizations (SDOs), updates ARC-IT to reflect changes 
      in standards development and technology evolution and provides mechanisms for ITS professionals to learn 
      about ITS architecture, standards, and how architecture, standards and cybersecurity are relevant to deployment.
    </p>
  </SidebarLayout>
</PageLayout>
