---
import { getCollection, type CollectionEntry } from "astro:content";
import PcbLayout from "../_pcb-layout.astro";

export async function getStaticPaths() {
  const academicResources = await getCollection("pcb", (entry) => 
    entry.id.startsWith("academic-resources")
  );
  return academicResources.map(entry => ({
    params: { slug: entry.slug.split("/")[1] },
    props: { entry }
  }));
}

interface Props {
  entry: CollectionEntry<"pcb">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<PcbLayout 
  title={`${entry.data.title} | Academic Resources`}
  currentBreadcrumb={entry.data.title}
>
  <h2>{entry.data.title}</h2>
  <Content/>
</PcbLayout>