---
import Link from "@/src/components/Link.astro";
import PcbLayout from "../_pcb-layout.astro";
---
<PcbLayout title="Academic Modules | Academic Resources" currentBreadcrumb="Academic Modules">
  <section>
    <h2>Academic Modules</h2>
    <p>
      Placeholder paragraph for academic modules goes here.
    </p>
  </section>
</PcbLayout>