---
import Link from "@/src/components/Link.astro";
import PcbLayout from "../_pcb-layout.astro";
---
<PcbLayout title="ITS Career Pathways | Academic Resources" currentBreadcrumb="ITS Career Pathways">
  <section>
    <h2 class="pcb-title">ITS Career Pathways</h2>
    <p>
      In support of workforce development in ITS, the ITS PCB Program is developing 
      an ITS career paths white paper. This white paper provides an overview of ITS, 
      identifies the variety of different careers in the ITS sector, including key details 
      on specific roles, responsibilities, and skills/education, and provides 
      example career paths. The aim is to showcase opportunities within different ITS 
      areas for individuals exploring or considering a future career in ITS. 
    </p>
    <p>
      Based on the ITS career paths white paper, interactive online-based example 
      career paths as well as videos to provide a snapshot overview of ITS careers 
      will be developed as well.  
    </p>

    <p>
      <em>Additional content coming soon.</em>
    </p>
  </section>
</PcbLayout>