---
import Link from "@/src/components/Link.astro";
import PcbLayout from "../_pcb-layout.astro";
---
<style scoped>
  .table th, .table td {
    text-align: left;
  }
  .table {
    margin-top:2rem;
    margin-bottom:2rem;
  }
</style>
<style is:global>
  .table a:hover {
    font-weight:normal;
  }
</style>
<PcbLayout title="Case Studies and Lesson Plans | Academic Resources" currentBreadcrumb="Case Studies and Lesson Plans">
  <section>
    <h2>Case Studies and Lesson Plans</h2>
    <p>
      The ITS PCB Program offers higher education instructors learning resources for the classroom. 
      ITS Academic Case Studies are scenario-based learning tools that can be used to expose students 
      to real-world decisions that come with planning, deploying, and operating ITS technologies.
    </p>
    <p>
      ITS Case Studies are organized by instructor files (PowerPoints and PDFs of Word documents) 
      and student files. Both sets of files include a study guide, a presentation on the technology, 
      the actual case study, and the case study debrief.
    </p>
    <ul>
      <li>Instructors must register to gain access to the instructor files</li>
      <li>Student files are available for anyone to view</li>
    </ul>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width:30%;">Case Study</th>
          <th scope="col">Instructor Files</th>
          <th scope="col" colspan="3">Student Files/Links</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" rowspan="3">Adaptive Signal Control</th>
          <td rowspan="3">
            <Link href="https://www.its.dot.gov/pcb/casestudies/materialrequest.aspx?materialid=1" isExternal>Register/Login</Link>
          </td>
          <td>Introduction to ITS & Adaptive Signal Control Technologies</td>
          <td>
            <Link href="/assets/pcb/case-studies/adaptive-signal-control/ASC_StudentGuide_Component1_Intro.ppt">PPT</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/adaptive-signal-control/ASC_StudentGuide_Component1_Intro.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <td>Take Home Packet</td>
          <td>N/A</td>
          <td>
            <Link href="/assets/pcb/case-studies/adaptive-signal-control/ASC_StudentGuide_Component2_TakeHome.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <td>In-class Debrief</td>
          <td>
            <Link href="/assets/pcb/case-studies/adaptive-signal-control/ASC_StudentGuide_Component3_Debrief.ppt">PPT</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/adaptive-signal-control/ASC_StudentGuide_Component3_Debrief.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <th scope="row" rowspan="3">Civil Design Considerations for ITS Implementations</th>
          <td rowspan="3">
            <Link href="https://www.its.dot.gov/pcb/casestudies/materialrequest.aspx?materialid=18" isExternal>Register/Login</Link>
          </td>
          <td>Component 1: Case Study Presentation</td>
          <td>
            <Link href="/assets/pcb/case-studies/civil-design/civil_design_Component1_Presentation.pptx">PPT</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/civil-design/civil_design_Component1_Presentation.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <td>Component 2: Study Exercise</td>
          <td>
            <Link href="/assets/pcb/case-studies/civil-design/civil_design_Component2_Exercise_Instructor_Version.doc">Word</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/civil-design/civil_design_Component2_Exercise_Instructor_Version.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <td>Component 3: Study Exercise Debrief</td>
          <td>
            <Link href="/assets/pcb/case-studies/civil-design/civil_design_Component3_Debrief.pptx">PPT</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/civil-design/civil_design_Component3_Debrief.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <th scope="row" rowspan="3">Concept of Operations Development as Part of a Systems Engineering Process Case Study</th>
          <td rowspan="3">
            <Link href="https://www.its.dot.gov/pcb/casestudies/materialrequest.aspx?materialid=14" isExternal>Register/Login</Link>
          </td>
          <td>Component 1: Case Study Presentation</td>
          <td>
            <Link href="/assets/pcb/case-studies/concept-of-operations/SE_conOps_Component1_Presentation.pptx">PPT</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/concept-of-operations/SE_conOps_Component1_Presentation.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <td>Component 2: Study Exercise</td>
          <td>
            <Link href="/assets/pcb/case-studies/concept-of-operations/SE_conOps_Component2_Exercise_Instructor_Version.doc">Word</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/concept-of-operations/SE_conOps_Component2_Exercise_Instructor_Version.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <td>Component 3: Study Exercise Debrief</td>
          <td>
            <Link href="/assets/pcb/case-studies/concept-of-operations/SE_conOps_Component3_Debrief.pptx">PPT</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/concept-of-operations/SE_conOps_Component3_Debrief.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <th scope="row" rowspan="1">National ITS Architecture Case Study</th>
          <td rowspan="1">
            <Link href="https://www.its.dot.gov/pcb/casestudies/materialrequest.aspx?materialid=6" isExternal>Register/Login</Link>
          </td>
          <td>Component 2: National ITS Architecture Exercise</td>
          <td>
            <Link href="/assets/pcb/case-studies/national-its-architecture/NationalITSArchitecture_Component2_Exercise_Student_Version.doc">Word</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/national-its-architecture/NationalITSArchitecture_Component2_Exercise_Student_Version.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <th scope="row" rowspan="2">Travel Time-Based Performance Measures Case Study</th>
          <td rowspan="2">
            <Link href="https://www.its.dot.gov/pcb/casestudies/materialrequest.aspx?materialid=11" isExternal>Register/Login</Link>
          </td>
          <td>Travel Time-Based Performance Measures Presentation</td>
          <td>
            <Link href="/assets/pcb/case-studies/travel-time-based-pm/TravelTimeBasedPM_Presentation.pptx">PPT</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/travel-time-based-pm/TravelTimeBasedPM_Presentation.pdf">PDF</Link>
          </td>
        </tr>
        <tr>
          <td>Travel Time-Based Performance Measures Class Problem</td>
          <td>
            <Link href="/assets/pcb/case-studies/travel-time-based-pm/TravelTimeBasedPM_ClassProblem.docx">Word</Link>
          </td>
          <td>
            <Link href="/assets/pcb/case-studies/travel-time-based-pm/TravelTimeBasedPM_ClassProblem.pdf">PDF</Link>
          </td>
        </tr>
      </tbody>
    </table>
    <h3>ITS Lesson Plans for Middle School and High School</h3>
    <p>
      Free <Link isExternal href="https://nanosonic.com/pages/free-stem-lesson-plans">ITS Lesson Plans</Link> are 
      available for Middle School and High Schools. These lesson plans target Science, Technology, Engineering, 
      and Math (STEM) programs—robotics, coding, math, electronics, and communication systems. The lessons combine activities 
      in these areas to demonstrate Intelligent Transportation Systems (ITS), Connected Vehicles (CV), and Automated Vehicles (AV).
    </p>
    <p>
      Ten lesson plans are available—one level for middle school students and another 
      for high school students—that cover the following topics:
    </p>
    <ul>
      <li>Module 1: Crash Prevention</li>
      <li>Module 2: Connected Vehicles</li>
      <li>Module 3: School Zone Safety Audit</li>
      <li>Module 4: Traffic Signal Design</li>
      <li>Module 5: Sustainable and Intelligent Transportation</li>
      <li>Module 6: Congestion Pricing</li>
      <li>Module 7: Road Trip Board Game</li>
      <li>Module 8: RADAR and LIDAR Systems in Intelligent Transportation Systems</li>
      <li>Module 9: Dynamic Message Signs</li>
      <li>Module 10: Intelligent Transportation Systems- Smart Work Zones</li>
    </ul>
    <p>
      <Link href="https://nanosonic.com/pages/free-stem-lesson-plans" isExternal>View the Lesson Plans</Link>
    </p>
  </section>
</PcbLayout>