---
import Card from "@/src/components/pcb/Card.astro";
import PcbLayout from "../_pcb-layout.astro";
import academicWorkshopsImage from "@/src/assets/images/pcb/academic-resources/academic-workshops.jpg";
import careerPathsImage from "@/src/assets/images/pcb/academic-resources/career-paths.jpg";
import caseStudiesImage from "@/src/assets/images/pcb/academic-resources/case-studies.jpg";
import studentCompetitionsImage from "@/src/assets/images/pcb/academic-resources/student-competitions.png";

const resources = [
  // {
  //   title: "Case Studies and Lesson Plans",
  //   description: "Academic case studies and lesson plans on ITS, V2X, and Automated Vehicle (AV) technologies are available, with instructor access requiring registration and student materials open to all.",
  //   image: caseStudiesImage,
  //   slug: "case-studies"
  // },
  {
    title: "Academic Modules",
    description: "Coming soon...",
    image: caseStudiesImage,
    slug: "academic-modules"
  },
  {
    title: "Student Competitions",
    description: "The Transportation Technology Tournament (TTT) enables ITS students to collaborate with public agencies, applying ITS and TSMO solutions to solve real-world transportation challenges.",
    image: studentCompetitionsImage,
    slug: "student-competitions"
  },
  {
    title: "Academic Workshops",
    description: "Collaborative sessions where educators and organization representatives explore strategies for integrating ITS education into curricula and provide feedback for developing new learning tools.",
    image: academicWorkshopsImage,
    slug: "workshops"
  },
  {
    title: "Career Paths",
    description: "Coming soon...",
    image: careerPathsImage,
    slug: ""
  },
]
---

<PcbLayout title="Academic Resources">
  <h2 class="blue">Academic Resources</h2>
  <p>
    Connect faculty and instructors with tools and materials to support students in preparing for careers in ITS. 
  </p>
  <div class="row gy-4 mb-4 justify-content-start">
    {resources.map(resource => (
      <div class="col-sm-6">
        <Card
          image={resource.image}
          title={resource.title}
          description={resource.description}
          href={`/resources/training/pcb/academic-resources/${resource.slug}`}
        />
      </div>
    ))}
  </div>
</PcbLayout>