---
import { getCollection, type CollectionEntry } from "astro:content";
import PcbLayout from "../_pcb-layout.astro";

export async function getStaticPaths() {
  const exchanges = await getCollection("pcb", (entry) => 
    entry.id.startsWith("peer-exchanges")
  );
  return exchanges.toSorted(entry => 
    entry.data.order
  ).map(entry => ({
    params: { slug: entry.slug.split("/")[1] },
    props: { entry }
  }));
}

interface Props {
  entry: CollectionEntry<"pcb">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<style is:global>
  hr {
    margin: 1.5rem 0 1.5rem 0;
  }
</style>
<PcbLayout 
  title={`${entry.data.title} | Peer Exchanges`}
  currentBreadcrumb={entry.data.title}
>  
  <h2>{entry.data.title}</h2>
  <Content/>
</PcbLayout>