---
import PageLayout from "@/src/layouts/PageLayout.astro";
import banner from "@/src/assets/images/accelerating/Headers_Accelerating_Deployment_Banner.png";
import base_url from "@/src/lib/base_url";
---
<style>
  section {
    padding: 0;
  }
</style>
<PageLayout title="Accelerating ITS Deployment" bannerImage={banner}>
  <Fragment slot="banner">
    Accelerating ITS Deployment
  </Fragment>
  <section>
    <h2 class="sideways green">About the Accelerating ITS Deployment Research Area</h2>
    <p class="read-more-wrap" style="padding-top: 0px">The ITS JPO has four technology transfer programs under Accelerating ITS Deployment:</p>
    <ul>
      <li>
        <a href="https://www.itskrs.its.dot.gov/" target="_blank" rel="noopener noreferrer">
          <b>ITS Deployment Evaluation</b>
        </a>
      </li>
      <li>
        <a href="https://www.pcb.its.dot.gov/" target="_blank" rel="noopener noreferrer">
          <b>ITS Professional Capacity Building</b>
        </a>
      </li>
      <li>
        <a href="https://local.iteris.com/arc-it/" target="_blank" rel="noopener noreferrer">
          <b>ITS Architecture</b>
        </a>
        and
        <a href="https://www.standards.its.dot.gov/" target="_blank" rel="noopener noreferrer">
          <b>Standards</b></a>
      </li>
      <li>
        <a href="https://www.its.dot.gov/communications.htm">
          <b>ITS Communications</b>
        </a>
      </li>
    </ul>
    <p class="read-more-wrap" style="padding-top: 0px">
      By integrating these programs that focus on knowledge and technology transfer into the Accelerating ITS Deployment program area, the ITS JPO has created a “lab-to-market” capability that
      supports transitioning federally funded innovations into use. By combining these four activities, the ITS JPO is better able to coordinate actions and resources to help accelerate the
      deployment of ITS.
    </p>
    <p class="read-more-wrap" style="padding-top: 0px"></p>
  </section>
  <section>
    <h2 class="sideways green">Planned Accelerating ITS Deployment Activities</h2>
    <div class="row" style="padding-bottom: 20px; margin-bottom: 30px; border-bottom-style: solid; border-block-width: 1px; border-color: gainsboro">
      <div class="col-lg-1 regions-graphic">
        <img src={base_url("/assets/images/accelerating/ITS_AcceleratingDeploymentMockup_Evaluation.png")} alt="ITS Evaluation" width="100%" class="img-responsive" style="padding-bottom: 20px" />

        <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

        <!--
              
              <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

            -->
      </div>
      <div class="col-lg-11">
        <h3>ITS Deployment Evaluation</h3>
        <p style="font-weight: bolder">
          The ITS Deployment Evaluation Program will continue to generate data and analyses related to the benefits, costs, and extent of deployed ITS. These data have been instrumental in
          understanding trends in ITS technology deployment technologies and emerging priorities in agencies’ ITS deployment plans. The ITS JPO has been collecting data on the benefits, costs,
          and extent of deployed ITS for over 20 years. These unique data resources also allow the ITS JPO to continue to support Departmental goals related to evidence-driven and data-based
          decision making.
        </p>
        <p>The ITS JPO uses the ITS deployment data it collects to:</p>
        <ul class="faq_lists">
          <li>Assess the current state of ITS deployment and communicate the benefits that might be accrued by deploying ITS technologies and systems;</li>
          <li>Highlight ITS technologies that have had particular success in solving common transportation problems;</li>
          <li>Highlight ITS technologies that enjoy widespread use and show how they have been successfully deployed over time;</li>
          <li>Identify opportunities for strategic action and more intensive tech transfer, training, support, and data collection related to ITS; and</li>
          <li>Identify gaps or needs that the ITS JPO and its modal partners can address with respect to ITS deployment data.</li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="row" style="padding-bottom: 20px; margin-bottom: 30px; border-bottom-style: solid; border-block-width: 1px; border-color: gainsboro">
      <div class="col-lg-1 regions-graphic">
        <img
          src={base_url("/assets/images/accelerating/ITS_AcceleratingDeploymentMockup_PCB.png")}
          alt="ITS Professional Capacity Building"
          width="100%"
          class="img-responsive"
          style="padding-bottom: 20px"
        />

        <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

        <!---
          
          <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

    -->
      </div>
      <div class="col-lg-11">
        <h3>ITS Professional Capacity Building</h3>
        <p style="font-weight: bolder">
          Supports the learning and knowledge transfer process, which will be developed to ensure that transportation industry professionals are prepared for each generation of ITS.
        </p>
        <ul class="faq_lists">
          <li>Develop courseware to advance knowledge and technology transfer for connected vehicle technologies and applications on smart phones, social media, and other platforms</li>
          <li>Facilitate round-table events and discussions that allow experts to inform interested stakeholders</li>
          <li>Expand coordination with other U.S. DOT programs to maintain a multimodal, multidisciplinary focus to transfer knowledge to decision-makers</li>
          <li>Develop case studies, best practices, and lessons learned that serve current deployers and academics seeking to incorporate real-world, hands-on experiences into education</li>
        </ul>

        <!--These are the basis which should not be shown-->

        <!--

          <h2 style="text-align:center; padding-right:0;">Basis for Rating</h2>
          <p>
            <ul>
              <li>
                Panelists highlighted this proposal’s significant effort to include the disability community in the early stages of project planning
              </li>
              <li>
                The proposal offered many components of the complete trip segments. 
              </li>
              <li>
                The project team demonstrated a clear understanding of the transportation challenges faced by their target populations. 
              </li>
              <li>
                Overall, the proposal was rated this as a ”highly recommended” project that aligned with ITS4US objectives.
              </li>
            </ul>
          </p>

        -->
      </div>
    </div>
  </section>
  <section>
    <div class="row" style="padding-bottom: 20px; margin-bottom: 30px; border-bottom-style: solid; border-block-width: 1px; border-color: gainsboro">
      <div class="col-lg-1 regions-graphic">
        <img
          src={base_url("/assets/images/accelerating/ITS_AcceleratingDeploymentMockup_ArchitectureStandards.png")}
          alt="ITS Architecture and Standards"
          width="100%"
          class="img-responsive"
          style="padding-bottom: 20px"
        />

        <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

        <!---
          
          <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

      -->
      </div>
      <div class="col-lg-11">
        <h3>ITS Architecture and Standards</h3>
        <p style="font-weight: bolder">Products support applied research, pilots, and expedited integration of emerging technologies into the transportation system.</p>
        <ul class="faq_lists">
          <li>
            Make a complete and mature set of ITS standards available to support secure, interoperable integration of connected and automated technologies into the transportation system along
            with advanced ITS infrastructure services
          </li>
          <li>
            Identify voluntary technical standards needs and support adaption of suitable information and communication technology standards and development of ITS standards when beneficial
          </li>
          <li>
            Evolve ITS architecture reference and tool sets supporting wide-scale, cross-border, interoperable deployments of ITS infrastructure as well as connected and automated vehicle
            deployments
          </li>
          <li>Develop additional architecture functionality to support the needs of the transportation planning community</li>
        </ul>

        <!--These are the basis which should not be shown-->

        <!---
          
          <h2 style="text-align:center; padding-right:0;">Basis for Rating</h2>
          <p>
            <ul>
              <li>
                The panelists were in agreement that the concept in this proposal could potentially produce a really high value application with broad geography.
              </li>
              <li>
                The proposal was viewed to be be generalizable to other small transit agencies.
              </li>
              <li>
                Panelists highlighted the benefits of using an open sourced data system, which was viewed as innovative for smaller transit organizations. 
              </li>
            </ul>
          </p>

        -->
      </div>
    </div>
  </section>
  <section>
    <div class="row" style="padding-bottom: 20px">
      <div class="col-lg-1 regions-graphic">
        <img src={base_url("/assets/images/accelerating/ITS_AcceleratingDeploymentMockup_ITSComms.png")} alt="ITS Communications" width="100%" class="img-responsive" style="padding-bottom: 20px" />

        <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

        <!--

          <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

      -->
      </div>
      <div class="col-lg-11">
        <h3>ITS Communications</h3>
        <p style="font-weight: bolder">
          Initiatives accelerate deployment through knowledge-sharing opportunities and partnerships to deliver tailored ITS product and capability information to stakeholders throughout the
          transportation system.
        </p>
        <ul class="faq_lists">
          <li>Encourage market-based solutions based on U.S. DOT research and products with effective communications</li>
          <li>Translate ITS research results into clear, step-by-step guides for deployers</li>
          <li>Establish teams with modal partners to promote and mainstream ITS technologies</li>
          <li>
            Develop simplified and targeted communications materials that explain the benefits of and paths to implementation of ITS technologies for state and local transportation professionals
          </li>
        </ul>

        <!--These are the basis which should not be shown-->

        <!---
          <h2 style="text-align:center; padding-right:0;">Basis for Rating</h2>
          <p>
            <ul>
              <li>
                The panel found this proposal to be both detailed and demonstrative of a clear understanding of ITS4US program objectives. 
              </li>
              <li>
                The panel noted that the proposal has all of the components (wayfinding, low-cost sidewalk improvements, etc.) necessary to be replicated and deployed across the country, not just for hospitals. 
              </li>
              <li>Multiple Complete-Trip components were addressed in this proposal.
              </li>
              <li>
                The panel found that the ICF project team was highly qualified and experienced in similar deployments
              </li>
            </ul>
          </p>
        
        -->
      </div>
    </div>
  </section>
  <!-- <section class="partners" id="partners">
    <h2 class="sideways">USDOT Partners</h2>
    <div class="row">
      <div class="col-lg-3">
        <a href="https://www.its.dot.gov/ ">
          <img src="img/ITSfUSMockup_011221_ITSJPO.png" style="width:100%" />
          <p class="h6">
            Intelligent Trannsportation Systems Joint Program Office (ITS JPO)
          </p>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="https://www.transit.dot.gov/">
          <img src="img/TechnologyBus_011421.png" style="width:100%" />
          <p class="h6">
            Federal Transit Administration (FTA)
          </p>
        </a>
      </div>
      <div class="col-lg-3">
        <a href="https://highways.dot.gov/ ">
          <img src="img/ITSfUSMockup_011221_FHWA.png" style="width:100%" />
          <p class="h6">
            Federal Highway Administration (FHWA)
          </p>
        </a>
      </div>
      <div class="col-lg-3">
        <a
          href="https://www.transportation.gov/administrations/assistant-secretary-research-and-technology/ost-rs-programs">
          <img src="img/ITSfUSMockup_011221_OST.png" style="width:100%" />
          <p class="h6">
            Office of the Secretary (OST)
          </p>
        </a>
      </div>
    </div>
    <hr>
  </section> -->
  <section>
    <h2 class="sideways green">Additional Information</h2>
    <div class="row engagement-row">
      <div class="col-lg-12">
        <div class="accordion accordion-flush" id="myAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                <img src={base_url("/assets/images/accelerating/ITS_AcceleratingDeploymentMockup_FAQs.png")} alt="FAQs" class="smallDropdownIcon" />
                <h3>Frequently Asked Questions (FAQs)</h3>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
              <div class="card-body">
                <h4>What factors make ITS adoption safer and more efficient?</h4>
                <p class="read-more-wrap FAQs">
                  Once technologies are proven, states and localities must have the tools, capacity, and information they need to implement technologies and systems. Interoperability also is
                  essential to a safe and efficient intelligent national transportation system as well as cooperation and consistency across jurisdictional boundaries. In addition, evaluations
                  determine the effectiveness and benefits of deployed ITS and the value of ITS Program investments and ensure progress toward the vision of integrated ITS.
                </p>

                <h4>What technologies are ITS JPO priorities for deployment?</h4>
                <p class="read-more-wrap FAQs">
                  The ITS JPO evaluates ITS technologies for their ability to perform effectively to solve real-world transportation challenges. This involves continually assessing the
                  feasibility, maturity, and benefits of ITS and shepherding transportation solutions from inception to implementation. In 2020 through 2025, the ITS JPO will capitalize on past
                  investments in key technologies such as automation and connectivity and continue to augment such efforts by focusing on new emerging technologies that show promise.
                </p>

                <h4>What is ITS JPO’s role in accelerating deployment?</h4>
                <p class="read-more-wrap FAQs">
                  As new ITS technologies and systems evolve into market-ready products, the ITS JPO’s role focuses on transitioning federally funded innovations into adoption and widespread
                  use. This includes facilitating the transfer of knowledge and technologies into regular practice and helping to bring the next generation of ITS into interoperable deployment.
                  This role provides foundational information to reduce uncertainty for market investors and minimize industry risk. The ITS JPO also provides ongoing support through the
                  development and delivery of standards, policy, technical assistance and training, and other mechanisms. The ITS JPO coordinates long-term collaborative mechanisms to facilitate
                  the continued integration and deployment of ITS and facilitates cooperation and consistency across jurisdictional boundaries.
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                <img src={base_url("/assets/images/accelerating/ITS_AcceleratingDeploymentMockup_ProgramResources.png")} alt="Resources" class="smallDropdownIcon" />
                <h3>Program Resources</h3>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
              <div class="card-body">
                <ul class="ritafont">
                  <li>
                    <a href={base_url("/assets/pdf/factsheets/PR_Accelerating_Factsheet.pdf")} target="_blank" rel="noopener noreferrer">
                      <b>Accelerating ITS Deployment fact sheet</b>
                    </a>
                  </li>
                  <li >
                    <a href={base_url("/assets/pdf/factsheets/JPO_PCB_fs.pdf")} target="_blank" rel="noopener noreferrer">
                      <b>ITS PCB Program Fact Sheet</b>
                    </a>
                  </li>
                  <li >
                    <a href="https://www.pcb.its.dot.gov/t3_webinars.aspx" target="_blank" rel="noopener noreferrer">
                      <b>ITS Training</b>
                    </a>
                  </li>
                  <li >
                    <a href="https://www.pcb.its.dot.gov/stds_training.aspx" target="_blank" rel="noopener noreferrer">
                      <b>ITS Standards Training Modules</b>
                    </a>
                  </li>
                  <li >
                    <a href="https://www.pcb.its.dot.gov/CV_deployer_resources.aspx" target="_blank" rel="noopener noreferrer">
                      <b>Connected Vehicle Deployer Resources</b>
                    </a>
                  </li>
                  <li >
                    <a href="https://www.itskrs.its.dot.gov/deployment" target="_blank" rel="noopener noreferrer">
                      <b>ITS Deployment Statistics</b>
                    </a>
                  </li>
                  <li >
                    <a href="https://www.itskrs.its.dot.gov/briefings" target="_blank" rel="noopener noreferrer">
                      <b>ITS Benefits, Costs, and Lessons Learned: Executive Briefings</b>
                    </a>
                  </li>
                  <li >
                    <a href="https://www.standards.its.dot.gov/DeploymentResources" target="_blank" rel="noopener noreferrer">
                      <b>ITS Standards Deployment Resources</b>
                    </a>
                  </li>
                  <li >
                    <a href="https://local.iteris.com/arc-it/html/resources/resources.html" target="_blank" rel="noopener noreferrer">
                      <b>Architecture Resources and Tools</b>
                    </a>
                  </li>
                  <li >
                    <a href={base_url("/news-info/fact-sheet")}>
                      <b>ITS Fact Sheets</b>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button type="button" class="accordion-button collapsed" onclick="window.open('../news-info/news/')">
                <img src={base_url("/assets/images/accelerating/ITS_AcceleratingDeploymentMockup_NewsEvents.png")} alt="News" class="smallDropdownIcon" />
                <h3>Updates</h3>
              </button>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section slot="footer" class="download bg-primary text-center" id="research" style="padding-top: 2em; padding-bottom: 4rem;">
    <div class="container-fluid">
      <div class="container">
        <div class="col-lg-12">
          <h2>Contacts</h2>
          <p style="padding-bottom: 20px">
            Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
            available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
          </p>
          <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
            <b>Marcia Pincus</b>
          </p>
          <p>ITS Joint Program Office</p>
          <p>Program Manager, ITS Deployment Evaluation</p>
          <p>(202) 366-9230</p>
          <p>
            <a class="email-footer" href="mailto:Marcia.Pincus@dot.gov">Marcia.Pincus@dot.gov</a>
          </p>

          <p style="padding-top: 20px; border-top-style: none; border-color: honeydew; border-width: 2px">
            <b>Mike Pina</b>
          </p>
          <p>ITS Joint Program Office</p>
          <p>(202) 366-3700</p>
          <p>
            <a class="email-footer" href="mailto:Mike.Pina@dot.gov">Mike.Pina@dot.gov</a>
          </p>
          <!--<div class="badges">
              <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
              <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
              </div>-->
        </div>
      </div>
    </div>

    <!-- these are the icons below engagement-->

  
  </section>
</PageLayout>