---
import Default from "../../layouts/Default.astro";
import SideBar from "../../components/SideBar_Research.astro";
---

<Default title="ITS JPO - Emerging and Enabling Technologies">
  <div class="AboutBanner Automation_bkgd">
    <div class="AboutBannerTitle"> 
      <h1>Emerging and Enabling Technologies</h1>
    </div>
</div>
  <div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
      <main class="col-9 MainContent">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <p>
                The U.S. Department of Transportation (DOT) recognizes the need to advance the adoption and use of emerging practices and technologies for transportation—particularly, where they play
                a key role in providing public benefits to Americans. The ITS JPO will coordinate and conduct investigations and exploratory research into emerging technologies across government,
                academia, and the private sector. This research will provide the U.S. DOT with a significant understanding of the potential benefits and disruptions these technologies could represent
                to the transportation system. The ITS JPO has the following programs and initiatives advancing the adoption of emerging technologies:
              </p>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <h2 class="sideways blue">ITS / V2X Communications for Deployment</h2>

          <div class="row">
            <div class="col-lg-2 regions-graphic">
              <img src="../../assets/images/emerging_tech/ITSJPO_NextGeneration_Logo_final-36.png" alt="ITS Evaluation" width="100%" class="img-responsive" style="padding-bottom:20px;" />

              <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

              <!--
                        
                        <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>
  
                      -->
            </div>
            <div class="col-lg-10">
              <br />
              <p>
                The ITS Joint Program Office ITS/V2X Communications for Deployment is focused on monitoring and assessing wireless communications technologies to determine their capabilities to
                support a wide range of transportation system communications requirements regarding safety, effectiveness and other capabilities.
              </p>
            </div>
          </div>
        </div>

        <!-- 
    <section class="partners" id="partners">
      <div class="col-lg-12">
        <div class="container-fluid">
          <h2 class="sideways">USDOT Partners</h2>
          <div class="row">
            <div class="col-lg-3">
              <a href="https://www.its.dot.gov/ ">
                <img src="img/ITSfUSMockup_011221_ITSJPO.png" style="width:100%" />
                <p class="h6">
                  Intelligent Trannsportation Systems Joint Program Office (ITS JPO)
                </p>
              </a>
            </div>
            <div class="col-lg-3">
              <a href="https://www.transit.dot.gov/">
                <img src="img/TechnologyBus_011421.png" style="width:100%" />
                <p class="h6">
                  Federal Transit Administration (FTA)
                </p>
              </a>
            </div>
            <div class="col-lg-3">
              <a href="https://highways.dot.gov/ ">
                <img src="img/ITSfUSMockup_011221_FHWA.png" style="width:100%" />
                <p class="h6">
                  Federal Highway Administration (FHWA)
                </p>
              </a>
            </div>
            <div class="col-lg-3">
              <a
                href="https://www.transportation.gov/administrations/assistant-secretary-research-and-technology/ost-rs-programs">
                <img src="img/ITSfUSMockup_011221_OST.png" style="width:100%" />
                <p class="h6">
                  Office of the Secretary (OST)
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </section> -->
        <!-- this is the large table of automation program resources -->

        <!--This is the engagement section, ready for when appropriate links are available-->

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="accordion accordion-flush" id="deliverableAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#cda_accordion" aria-expanded="false">
                      <h3>ITS / V2X Testing Overview</h3>
                    </button>
                  </h2>
                  <div id="cda_accordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion" style="">
                    <div class="card-body">
                      <p>
                        Assessment of V2X technologies for safety, system efficiency, and mobility; and assessment of the safest and most efficient use of allocated spectrum to accommodate
                        transportation needs requires transparent, comprehensive, and repeatable test results that assure that the technologies work under normal as well as varying traffic conditions
                        that create “edge-use” cases.
                      </p>

                      <p>
                        This website will serve as the host for the information on current and future US DOT ITS/V2X communications research and testing activities, including test goals and
                        objectives, test plans and approaches, laboratory and field test data, summaries of key test observations, and program fact sheets and briefings.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion accordion-flush" id="deliverableAccordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#ams_accordion" aria-expanded="false"><h3>LTE-V2X Analysis</h3></button>
                    </h2>
                    <div id="ams_accordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion" style="">
                      <div class="card-body">
                        <p>
                          The goal of the U.S. DOT’s LTE-V2X Test Program is to examine the radio performance of LTE-V2X technology under challenging, “edge-use case” conditions—the type of conditions
                          that result in some of the most common and fatal crashes. These challenging conditions are not exclusive to transportation. However, because the V2X communications and BSM
                          transmissions are designed to provide 360-degree awareness around a vehicle of the threats and hazards forming on the roadway from nearby vehicles, pedestrians, motorcycles,
                          bicyclists or others, examination of the radio environment—its reliability and availability—is equally as important.
                        </p>
                        <p>
                          The test team designed scenarios to mimic the type of complex roadway conditions under which the radio or communications technology must perform reliably and consistently in
                          a broadcast, non-networked mode. The radio performance must sustain communications under a variety of conditions, such as when:
                        </p>
                        <ul>
                          <li>Vehicles move at high speeds (which has an effect on communications)</li>
                          <li>Vehicles move at varying speeds while maintaining the capability to “hear” one another within the nearby area</li>
                          <li>
                            The density of vehicles increases in a manner similar to traffic in major metropolitan areas or to suburban arterials during rush hour. The radio communications are blocked
                            by buildings, larger vehicles (i.e., trucks or buses), or other obstacles (known as non-line-of-sight (NLOS) communications)
                          </li>
                          <li>
                            The radios lose access to global positioning systems (GPS), which is an important component for both the LTE-V2X performance as well as the vehicle-to-vehicle (V2V) safety
                            applications performance
                          </li>
                          <li>
                            A new manufacturer enters the market—the radio technology needs to be interoperable so that all makes and models can communicate, particularly during hazardous conditions.
                          </li>
                        </ul>

                        <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                          <h4>Test Plan &amp; Approach</h4>
                          <div class="col-lg-1 iconSpacing">
                            <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_Approach.png" alt="Test Plan & Approach" />
                          </div>
                          <div class="col-lg-10">
                            <ul>
                              <li>
                                <a href="https://www.transportation.gov/sites/dot.gov/files/2022-04/LTE%20V2X%20Test%20Plan%20Overview%20v2_2.pdf" target="_blank" rel="noopener noreferrer">
                                  Testing Long-Term Evolution Vehicle-to-Everything (LTE-V2X) Radio Performance Capabilities within the 5.9 GHz Safety Band
                                </a>
                              </li>
                              <li>
                                <a
                                  href="https://www.transportation.gov/sites/dot.gov/files/2022-04/DOT%20LTE%20V2X%20Summary%20Overview%2007cDEC2021%20vFINAL.pdf"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                >
                                  Test Plan and Test Procedures Summary: Testing Long-Term Evolution Vehicle-to-Everything (LTE-V2X) Radio Performance Capabilities within the 5.9 GHz Safety Band
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                          <h4>Field Test Parameters</h4>
                          <div class="col-lg-1 iconSpacing">
                            <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_Spreadsheets.png" alt="Field Test Runs Scenario Spreadsheets" />
                          </div>
                          <div class="col-lg-10">
                            <p>
                              A field test scenario spreadsheet was used to structure and organize the various field test runs performed at the large-scale field test site. The spreadsheet is provided
                              below:
                            </p>
                            <ul>
                              <li>
                                <a href="../tests/File1_USDOT_LTE_V2X_TESTING_TestParameters.xlsx">USDOT LTE V2X Test Parameters</a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                          <h4>Laboratory Device Testing</h4>
                          <div class="col-lg-1 iconSpacing">
                            <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_Characterization.png" alt="Laboratory Device Testing" />
                          </div>
                          <div class="col-lg-10">
                            <p>
                              Device performance testing verifies that all parameters are set as directed by the software and that the performance of the devices and antennas meets specifications.
                              Results from characterization testing can also provide insights into operational and/or performance trade-offs.
                            </p>
                            <p>
                              The laboratory testing performed on the LTE-V2X devices included: device characterization, GPS drift assessment, continuity of communications with loss of GPS, and device
                              interoperability testing. Results of these tests are summarized below:
                            </p>
                            <ul>
                              <li>
                                <a href="../tests/File2_State_FedUsers_InputTool_CurrentList.xlsx_Shortcut.pdf" target="_blank" rel="noopener noreferrer">USDOT Laboratory Device Characterization</a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                          <h4>Large-Scale Controlled Field Data</h4>
                          <div class="col-lg-1 iconSpacing">
                            <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_LargeScale.png" alt="Large-Scale Controlled Field Data" />
                          </div>
                          <div class="col-lg-10">
                            <p>
                              This U.S. DOT large-scale controlled field testing moves beyond the reliance on simulation to collect and present real-world measurements taken under challenging
                              transportation conditions. The large-scale field test set-up will mimic the following use cases:
                            </p>
                            <ol class="faq_lists">
                              <li>
                                Crash-imminent scenarios where there are widely differing vehicle speeds with the vehicles involved in the potential conflict situation—with and without line-of-sight;
                                with and without the presence of unlicensed Wi-Fi.
                              </li>
                              <li>
                                Crash-imminent scenarios where the density of vehicles causes congested conditions in the wireless communications—with and without line-of-sight; with and without the
                                presence of unlicensed Wi-Fi.
                              </li>
                            </ol>
                            <p>The data collected from these tests is provided below:</p>
                            <ul>
                              <li>
                                <a href="../tests/Scenario1_Moving_Vehicle_Data.zip">Scenario 1 Moving Vehicle Data</a>
                              </li>
                              <li>
                                <a href="../tests/Scenario2_Moving_Vehicle_Data.zip">Scenario 2 Moving Vehicle Data</a>
                              </li>
                              <li>
                                <a href="../tests/Scenario3_Moving_Vehicle_Data.zip">Scenario 3 Moving Vehicle Data</a>
                              </li>
                              <li><a href="../tests/Scenario4_Moving_Vehicle_Data.zip">Scenario 4 Moving Vehicle Data</a></li>
                            </ul>
                          </div>
                        </div>

                        <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                          <h4>Modeling &amp; Simulation Data</h4>
                          <div class="col-lg-1 iconSpacing">
                            <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_Methodologies.png" alt="Modeling & Simulation Data" />
                          </div>
                          <div class="col-lg-10">
                            <p>
                              Initial modeling and simulation work helped the test team determine if any adjustments were necessary to the planned field test congestion scenario set-ups. The results
                              from these efforts helped to provide the best understanding of communications performance in the field test environment before going out into the field. In addition, the
                              modeling and simulation identified the necessity of allowing the congestion cloud to settle into its ongoing SPS performance before starting field test runs.
                            </p>
                            <p>A summary of these activities is provided below:</p>
                            <ul>
                              <li>
                                <a href="../tests/File8_USDOT_LTE_V2X_TESTING_SimulationModel.pdf" target="_blank" rel="noopener noreferrer">U.S. DOT LTE-V2X Simulation Modeling</a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                          <h4>
                            LTE-V2X Test Observations <span style="color:grey"><i>(Coming in the Future)</i></span>
                          </h4>
                          <div class="col-lg-1 iconSpacing">
                            <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_Observations.png" alt="LTE-V2X Test Observations" />
                          </div>
                          <div class="col-lg-10">
                            <p>
                              The majority of the LTE-V2X testing has been completed and a summary of observations on device performance, interference, and performance within the 30 MHz is provided
                              below:
                            </p>
                          </div>
                        </div>

                        <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                          <h4>
                            Ongoing Testing Activities <span style="color:grey"><i>(Coming in the Future)</i></span>
                          </h4>
                          <div class="col-lg-1 iconSpacing">
                            <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_OngoingTest.png" alt="Ongoing Testing Activities" />
                          </div>
                          <div class="col-lg-10">
                            <div class="verticalCenterText"></div>
                          </div>
                        </div>

                        <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                          <h4>Data Sets</h4>
                          <div class="col-lg-1 iconSpacing">
                            <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_DataSets.png" alt="Data Sets" />
                          </div>
                          <div class="col-lg-10">
                            <p></p>
                            <ul>
                              <li><a href="../tests/LTE_V2X_TestingTestDataPrimer.pdf" target="_blank" rel="noopener noreferrer">Data Primer</a></li>
                              <li>
                                <a
                                  href="https://signin.aws.amazon.com/signin?redirect_uri=https%3A%2F%2Fs3.console.aws.amazon.com%2Fs3%2Fbuckets%2Fspectrum.public.data.repository%3Fregion%3Dus-east-1%26state%3DhashArgs%2523%26tab%3Dobjects%26isauthcode%3Dtrue&client_id=arn%3Aaws%3Aiam%3A%3A015428540659%3Auser%2Fs3&forceMobileApp=0&code_challenge=gM_egmhhhZFaAJoEG7VTTwmX94aF3Unu7UqjFDJq_QY&code_challenge_method=SHA-256"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                >
                                  Raw Data
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion accordion-flush" id="deliverableAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#freight_accordion" aria-expanded="false">
                          <h3>DSRC V2X Analysis Archive</h3>
                        </button>
                      </h2>
                      <div id="freight_accordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion" style="">
                        <div class="card-body">
                          <p>
                            The USDOT tested Dedicated Short-range Communications (DSRC) technology extensively over several years, including the impact of sharing the band with unlicensed devices,
                            impact of out of band emissions (OOBE) and interference from unlicensed devices operating in adjacent channels.
                          </p>
                          <p>As a result of these activities, several technical reports were produced and made available to the public. You can find these reports on the Safety Band website.</p>
                          <ul>
                            <li>
                              <a href="https://www.transportation.gov/research-and-technology/safety-band-testing-plans-and-technical-info" target="_blank" rel="noopener noreferrer">Safety Band</a>
                            </li>
                            <li>
                              <a href="https://its.dot.gov/research_archives/connected_vehicle/connected_vehicle_policy.htm" target="_blank" rel="noopener noreferrer">
                                ITS JPO Connected Vehicle Policy Website
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion accordion-flush" id="deliverableAccordion">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#v2xSummitAccordion" aria-expanded="false">
                            <h3>V2X Communications Summit - April 28, 2023; August 24 - 25, 2022</h3>
                          </button>
                        </h2>
                        <div id="v2xSummitAccordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion" style="">
                          <div class="card-body">
                            <h3>April 28, 2023 - Enhancing Interoperable Connectivity for Safe Transportation: Continuing The Momentum Toward National Deployment Workshop</h3>
                            <ul>
                              <li>
                                <a href="https://youtu.be/QxzhnE_Lg-I" target="_blank" rel="noopener noreferrer">Continuing the Momentum Toward Nationwide Deployment Presentation</a> (Full Length Video)
                              </li>
                              <li>
                                <a href="https://www.youtube.com/playlist?list=PLjP1oRdEKVdQqIZUlYyKOvTm6CcpfRAfS" target="_blank" rel="noopener noreferrer">
                                  Continuing the Momentum Toward Nationwide Deployment Presentation
                                </a> (Playlist of 12 Videos)
                              </li>
                              <li><a href="../pdf/V2X_WorkshopDetailedSummary.pdf" target="_blank" rel="noopener noreferrer">Workshop Detailed Summary</a></li>
                              <li><a href="../pdf/V2X_WorkshopAppendixB.pdf" target="_blank" rel="noopener noreferrer">Workshop Detailed Summary: Appendix B</a></li>
                              <li><a href="../pdf/V2X_Workshop_Highlights_Momentum.pdf" target="_blank" rel="noopener noreferrer">Workshop Summary Highlights</a></li>
                            </ul>
                            <h3>August 24 - 25, 2022 - Identifying a Path Forward for V2X Deployment Agenda</h3>
                            <ul>
                              <li><a href="../pdf/USDOT_V2X_Summit_Agenda_August2022.pdf" target="_blank" rel="noopener noreferrer">Download Meeting Agenda</a></li>
                            </ul>

                            <h3>Meeting Materials</h3>
                            <ul>
                              <li><a href="ITS_V2X_MeetingMaterials.htm">Identifying a Path Forward for V2X Deployment</a></li>
                            </ul>

                            <h3>Meeting Recording</h3>
                            <ul>
                              <li><a href="https://youtu.be/dUgIEPJNlj4" target="_blank" rel="noopener noreferrer">Day 1 (August 24) recording</a></li>
                              <li><a href="https://youtu.be/_X8TOpQsf-4" target="_blank" rel="noopener noreferrer">Day 2 (August 25) recording</a></li>
                            </ul>

                            <h3>Meeting Summary</h3>
                            <ul>
                              <li>
                                <a href="../pdf/V2XSummitSummary_Short.pdf" target="_blank" rel="noopener noreferrer">
                                  V2X Communications Summit: Meeting Summary Highlights: Preparing for Connect Deployment Nationwide
                                </a>
                              </li>
                              <li>
                                <a href="../pdf/V2XSummitSummary_Detailed.pdf" target="_blank" rel="noopener noreferrer">
                                  V2X Communications Summit: Detailed Meeting Summary: Preparing for Connect Deployment Nationwide
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="accordion accordion-flush" id="deliverableAccordion">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#v2xActionsAccordion" aria-expanded="false">
                              <h3>V2X: Near-Term Actions and Future Deployment Vision</h3>
                            </button>
                          </h2>
                          <div id="v2xActionsAccordion" class="accordion-collapse collapse" data-bs-parent="#deliverableAccordion" style="">
                            <div class="card-body">
                              <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                                <h4>Waiver Request Information</h4>
                                <div class="col-lg-1 iconSpacing">
                                  <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_GrantOpportunities.png" alt="Grant Opportunities" />
                                </div>
                                <div class="col-lg-10">
                                  <p>
                                    The U.S. Department of Transportation is working with the Federal Communications Commission and the National Telecommunications and Information Administration to
                                    ensure that the LTE-V2X technology can coexist with the Department of Defense systems in the 30 MHz band (5.895-5.925 GHz). This December 2022 provides details on
                                    the path toward addressing this question.
                                  </p>
                                  <ul>
                                    <li>
                                      <a href="../pdf/V2X_Communications_Activities.pdf" target="_blank" rel="noopener noreferrer">
                                        Advancing V2X Communicationsfor Connected Interoperable Transportation Environments
                                      </a>
                                    </li>
                                  </ul>
                                  <h4>Grant Opportunities</h4>
                                  <p>
                                    The U.S. Department of Transportation is working with the Federal Communications Commission and the National Telecommunications and Information Administration to
                                    ensure that the LTE-V2X technology can coexist with the Department of Defense systems in the 30 MHz band (5.895-5.925 GHz). This December 2022 provides details on
                                    the path toward addressing this question.
                                  </p>
                                </div>
                              </div>

                              <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                                <h4>U.S. DOT Innovation Principles</h4>
                                <div class="col-lg-1 iconSpacing">
                                  <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_Principles.png" alt="U.S. DOT Innovation Principles" />
                                </div>
                                <div class="col-lg-10">
                                  <p>
                                    Innovations are part of the solution to reduce deaths and serious injuries on our Nation’s transportation network, while committing to the highest standards of
                                    safety across technologies.
                                  </p>
                                  <ul>
                                    <li>
                                      <a href="https://www.transportation.gov/priorities/transformation/us-dot-innovation-principles" target="_blank" rel="noopener noreferrer">
                                        DOT Innovation Principles
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                                <h4>Technical Assistance</h4>
                                <div class="col-lg-1 iconSpacing">
                                  <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_TechnicalAssistance.png" alt="Technical Assistance" />
                                </div>
                                <div class="col-lg-10">
                                  <p>There are several resources available for technical assistance:</p>
                                  <ul>
                                    <li>
                                      Connected Vehicle Deployer Resources are available at <a href="https://www.pcb.its.dot.gov/CV_deployer_resources.aspx" target="_blank" rel="noopener noreferrer">
                                        https://www.pcb.its.dot.gov/CV_deployer_resources.aspx
                                      </a>
                                    </li>
                                    <li>
                                      <a href="https://www.pcb.its.dot.gov/p2p.aspx" target="_blank" rel="noopener noreferrer">ITS Peer Exchange Program</a> puts you in touch with technical experts and
                                      peers.
                                    </li>
                                    <li>
                                      ITS Help Line provides technical support by <a href="mailto:itshelp@dot.gov">email</a> and telephone at 866-367-7487
                                    </li>
                                    <li>
                                      For assistance with connected vehicle infrastructure implementation, please contact: <a href="mailto:CAVSupportServices@dot.gov">CAVSupportServices@dot.gov</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                                <h4>Broadening ITS Communications Options for V2X</h4>
                                <div class="col-lg-1 iconSpacing">
                                  <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_CommOptions.png" alt="Broadening ITS Communications Options for V2X" />
                                </div>
                                <div class="col-lg-10">
                                  <p></p>
                                  <ul>
                                    <li>
                                      <a href="../pdf/13_Sill_ITS_V2X_CommsSummit_22Aug22.pdf" target="_blank" rel="noopener noreferrer">
                                        System of Systems Architecture Perspective: Concepts for Optimizing Public Benefits from V2X Communications
                                      </a>, Steve Sill, P.E.
                                    </li>
                                  </ul>
                                </div>
                              </div>

                              <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
                                <h4>
                                  Vision/Action Plan <span style="color:grey"><i>(A plan will be prepared and posted in the coming months)</i></span>
                                </h4>
                                <div class="col-lg-1 iconSpacing">
                                  <img src="../../assets/images/emerging_tech/ITSV2X_WebsiteIons_Vision.png" alt="Vision/Action Plan" />
                                </div>
                                <div class="col-lg-10">
                                  <div class="verticalCenterText"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="container-fluid">
                        <h2 class="sideways blue" style="padding-top:24px;">Additional Information</h2>
                        <div class="row engagement-row">
                          <div class="col-lg-12">
                            <div class="accordion accordion-flush" id="myAccordion">
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                    <img src="../../assets/images/accelerating/ITS_AcceleratingDeploymentMockup_FAQs.png" alt="FAQs" class="smallDropdownIcon" /><h3>
                                      Frequently Asked Questions (FAQs)
                                    </h3>
                                  </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                    <h4>What emerging and enabling technologies are being researched by the ITS JPO?</h4>
                                    <p>
                                      The ITS JPO is identifying and assessing the potential of emerging technologies, such as artificial intelligence, cellular-vehicle-to-everything communications,
                                      5G communication networks, passenger drones, Hyperloop, and more, for adoption or adaptation to the transportation system.
                                    </p>
                                    <h4>What is the ITS JPO’s role in pursuing emerging and enabling technologies?</h4>
                                    <p>
                                      As emerging technologies offer the potential to enter the transportation environment, the ITS JPO will evaluate their fit in meeting transportation needs and work
                                      with agency modes to extend resulting benefits from these technologies across the transportation system.
                                    </p>
                                    <h4>How do I get access to the webinar materials?</h4>
                                    <p>All webinars are recorded. Recording and presentation slide decks will be posted on the Events page.</p>
                                  </div>
                                </div>
                              </div>

                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                    <img src="../../assets/images/accelerating/ITS_AcceleratingDeploymentMockup_ProgramResources.png" alt="Resources" class="smallDropdownIcon" /><h3>Resources</h3>
                                  </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                  <div class="card-body">
                                    <ul>
                                      <li>
                                        <a href="../../factsheets/pdf/PR_EmergingAndEnabling.pdf" target="_blank" rel="noopener noreferrer">Emerging and Enabling Technologies Factsheet</a>
                                      </li>
                                      <li>
                                        <a href="../pdf/WhitePaper_emerging.pdf" target="_blank" rel="noopener noreferrer">Emerging Capabilities White Paper</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>

                              <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                  <button type="button" class="accordion-button collapsed" onclick=" window.open('https://www.its.dot.gov/press/news.htm','_blank')">
                                    <img src="../../assets/images/accelerating/ITS_AcceleratingDeploymentMockup_NewsEvents.png" alt="News" class="smallDropdownIcon" /><h3 class="externalLink">
                                      Updates
                                    </h3>
                                  </button>
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- large engagement section at the bottom-->

  <section class="download bg-primary text-center" id="research" style="padding-top: 2em">
    <div class="container-fluid">
      <div class="container">
        <div class="col-lg-12">
          <h2>Contacts</h2>
          <p style="padding-bottom: 20px">
            Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
            available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
          </p>
          <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
            <b>Marcia Pincus</b>
          </p>
          <p>ITS Joint Program Office</p>
          <p>Program Manager, ITS Deployment Evaluation</p>
          <p>(202) 366-9230</p>
          <p>
            <a class="email-footer" href="mailto:Marcia.Pincus@dot.gov">Marcia.Pincus@dot.gov</a>
          </p>

          <p style="padding-top: 20px; border-top-style: none; border-color: honeydew; border-width: 2px">
            <b>Mike Pina</b>
          </p>
          <p>ITS Joint Program Office</p>
          <p>(202) 366-3700</p>
          <p>
            <a class="email-footer" href="mailto:Mike.Pina@dot.gov">Mike.Pina@dot.gov</a>
          </p>
          <!--<div class="badges">
              <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
              <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
              </div>-->
        </div>
      </div>
    </div>

    <!-- these are the icons below engagement-->
  </section>
</Default>
