---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import base_url from "@/src/lib/base_url";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
---

<PageLayout title="Artificial Intelligence" bannerImage={banner}>
  <Fragment slot="banner">Artificial Intelligence</Fragment>
  <SidebarLayout path="/research-areas/">
    <main>
      <div>
        <h2 class="sideways blue">Artificial Intelligence (AI)</h2>
        <p class="read-more-wrap" style="padding-top:0px">
          The ITS JPO seeks to understand the landscape of how AI in transportation is currently being leveraged, and how potential investment in the future can help address transportation challenges.
          There is a need to understand the risks and challenges, address stakeholders via U.S. DOT pooled fund efforts, and to develop collaborative research and deployment plan initiatives. There
          will be a focus on technical working groups, and continued support of a U.S. DOT wide understanding of the application of AI for ITS and AI.
        </p>
      </div>
    </main></SidebarLayout
  >
</PageLayout>
