---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import banner from "@/src/assets/images/automation/Automation_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import base_url from "@/src/lib/base_url";

import LinkBG1 from "../../assets/images/automation/USDOT_AVCP.jpg";
import LinkBG2 from "../../assets/images/automation/ITSAutomation_011221_FHWA.png";
import LinkBG3 from "../../assets/images/automation/ITSAutomation_011221_FMCSA.png";
import LinkBG4 from "../../assets/images/automation/TechnologyBus_011421.png";
import LinkBG5 from "../../assets/images/automation/ITSAutomation_011221_NHTSA-1.png";
import LinkBG6 from "../../assets/images/automation/ITSAutomation_011221_MARAD.jpg";

const LinkBG1const = await getImage({ src: LinkBG1 });
const LinkBG2const = await getImage({ src: LinkBG2 });
const LinkBG3const = await getImage({ src: LinkBG3 });
const LinkBG4const = await getImage({ src: LinkBG4 });
const LinkBG5const = await getImage({ src: LinkBG5 });
const LinkBG6const = await getImage({ src: LinkBG6 });
---

<link href="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.1.4/datatables.min.css" rel="stylesheet" />
<PageLayout title="Automation" bannerImage={banner}>
  <Fragment slot="banner"> Automation </Fragment>
  <main>
    
    <div>
      <h2 class="sideways blue">About the Automation Research Area</h2>
      <p class="read-more-wrap" style="padding-top:0px">
        The ITS JPO’s automation research is a major component of the U.S. DOT’s vision of supporting the safe, reliable, efficient, and cost-effective integration of automation into the broader,
        multimodal transportation system.
      </p>
      <p>
        The U.S. DOT recognizes that public and private sectors must work in partnership to improve the safety and security of automation technologies and address the concerns of the general public.
        ITS JPO’s role in this joint effort is to facilitate multimodal automation research and collaboration in safety, infrastructure interoperability, and policy analysis.
      </p>
      <p>
        ADAS means "Advanced Driver Assistance System," and refers to SAE Level 2. ADAS provides partial driving automation in the form of assisting an attentive driver. ADS means "Automated Driving
        System" and refers to SAE Levels 3-5 driving automation technologies. In a vehicle equipped with ADAS, the driver must continually monitor the driving environment, and always be prepared to
        provide steering, braking, and throttle inputs at all times. At its mature state, a vehicle equipped with ADS can perform the entire dynamic driving task on a sustained basis within a defined
        operating design domain (commonly referred to as the ODD) without driver involvement. For more information, please visit <a
          href="https://www.nhtsa.gov/vehicle-safety/automated-vehicles-safety"
        >
          NHTSA Automated Vehicles for Safety
        </a>
        .
      </p>

      <p class="read-more-wrap" style="padding-top:0px">
        By integrating these programs that focus on knowledge and technology transfer into the Accelerating ITS Deployment program area, the ITS JPO has created a “lab-to-market” capability that
        supports transitioning federally funded innovations into use. By combining these four activities, the ITS JPO is better able to coordinate actions and resources to help accelerate the
        deployment of ITS.
      </p>
      <p class="read-more-wrap" style="padding-top:0px"></p>
    </div>
    <div>
      <h2 class="sideways blue">Planned Automation Activities</h2>
      <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
        <div class="col-lg-1 regions-graphic">
          <img src={base_url("/assets/images/automation/ITS_AutomationMockup_Safety.png")} alt="ITS Evaluation" width="100%" class="img-responsive" style="padding-bottom:20px;" />

          <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

          <!--
                
                <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

              -->
        </div>
        <div class="col-lg-11">
          <h3>Safety</h3>
          <p>
            The ITS Deployment Evaluation Program will continue to generate data and analyses related to the benefits, costs, and extent of deployed ITS. These data have been instrumental in
            understanding trends in ITS technology deployment technologies and emerging priorities in agencies’ ITS deployment plans. The ITS JPO has been collecting data on the benefits, costs, and
            extent of deployed ITS for over 20 years. These unique data resources also allow the ITS JPO to continue to support Departmental goals related to evidence-driven and data-based decision
            making.
          </p>
          <p>
            Activities will improve understanding of safe automated vehicle operations and generate actionable data and decision support results for the broader stakeholder community. Human factors
            research, such as simulator or naturalistic driving studies, is fundamental to safety. The ITS JPO will partner with the National Highway Traffic Safety Administration (NHTSA), Federal
            Highway Administration (FHWA), and Federal Motor Carrier Safety Administration (FMCSA) to support this research. Together, we will continue to study automated vehicle safety issues related
            to transportation system management and operation, highway infrastructure, and vehicles.
          </p>
        </div>
      </div>
      <div class="row" style="padding-bottom:20px; margin-bottom:30px; border-bottom-style:solid; border-block-width:1px; border-color:gainsboro;">
        <div class="col-lg-1 regions-graphic">
          <img
            src={base_url("/assets/images/automation/ITS_AutomationMockup_Infrastructure.png")}
            alt="ITS Professional Capacity Building"
            width="100%"
            class="img-responsive"
            style="padding-bottom:20px;"
          />

          <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

          <!---
            
            <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

      -->
        </div>
        <div class="col-lg-11">
          <h3>Infrastructure and Interoperability</h3>
          <p>
            Activities will support the safe interaction of automated vehicles among themselves, with other road users, and with highway infrastructure. The ITS JPO will partner with FHWA, FMCSA, the
            Maritime Administration, and the Federal Transit Administration to develop and test cooperative driving automation (CDA). CDA enables the machine-to-machine sharing of information that
            will allow roadway and port infrastructure users (e.g., vehicles, traffic signals, and mobile devices) to operate more efficiently and safely with a goal of improving transportation system
            performance and potentially reducing the costs of new construction by maximizing current infrastructure capacity limited today by human drivers. This program will support expanded
            stakeholder collaboration activities to develop and implement industry standards for CDA.
          </p>

          <!--These are the basis which should not be shown-->

          <!--

            <h2 style="text-align:center; padding-right:0;">Basis for Rating</h2>
            <p>
              <ul>
                <li>
                  Panelists highlighted this proposal’s significant effort to include the disability community in the early stages of project planning
                </li>
                <li>
                  The proposal offered many components of the complete trip segments. 
                </li>
                <li>
                  The project team demonstrated a clear understanding of the transportation challenges faced by their target populations. 
                </li>
                <li>
                  Overall, the proposal was rated this as a ”highly recommended” project that aligned with ITS4US objectives.
                </li>
              </ul>
            </p>

          -->
        </div>
      </div>
      <div class="row" style="padding-bottom:20px;">
        <div class="col-lg-1 regions-graphic">
          <img src={base_url("/assets/images/automation/ITS_AutomationMockup_Policy.png")} alt="ITS Architecture and Standards" width="100%" class="img-responsive" style="padding-bottom:20px;" />

          <!--This is a button for later inclustion, it will link to the specific awardeee's website-->

          <!---
            
            <a class="btn" href="https://www.its.dot.gov/" style="width:100%">Learn More</a>

        -->
        </div>
        <div class="col-lg-11">
          <h3>Policy Analysis</h3>
          <p>
            Activities will assess the impacts of automated vehicles on the general public and identify and evaluate critical issues related to automated vehicle adoption. Automated vehicle technology
            development continues to advance at a rapid pace, requiring a nimble and coordinated approach to policy development. The ITS JPO will lead Departmental research efforts in system dynamics
            (SD), which allows analysts to use simple causal interactions within a complex system to build a model that can demonstrate and quantify not-so-evident dynamic behavior. SD models are part
            of the strategic modeling toolbox, as they are aggregate, fast models that can provide essential insights for other strategic planning models. The ITS JPO will partner with FHWA and FMCSA
            to collect field data on CDA and other automated vehicle operations to improve ongoing analysis, modeling, and simulation development.
          </p>

          <!--These are the basis which should not be shown-->

          <!---
            
            <h2 style="text-align:center; padding-right:0;">Basis for Rating</h2>
            <p>
              <ul>
                <li>
                  The panelists were in agreement that the concept in this proposal could potentially produce a really high value application with broad geography.
                </li>
                <li>
                  The proposal was viewed to be be generalizable to other small transit agencies.
                </li>
                <li>
                  Panelists highlighted the benefits of using an open sourced data system, which was viewed as innovative for smaller transit organizations. 
                </li>
              </ul>
            </p>

          -->
        </div>
      </div>
    </div>
    
  </main>
</PageLayout>
<section slot="footer" class="download bg-primary text-center" id="research" style="padding-top:2em;">
  <div class="container-fluid">
    <div class="container">
      <div class="col-lg-12">
        <h2>Contacts</h2>
        <p style="padding-bottom:20px;">
          Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes available.
          For inquiries regarding the program, please contact the USDOT Point of Contact below.
        </p>
        <p style="padding-top:20px; border-top-style:solid; border-color:honeydew; border-width:2px;">
          <b>Hyungjun Park, Ph.D.</b>
        </p>
        <p>Program Manager – Automation and AMS (Analysis, Modeling, and Simulation)</p>
        <p>ITS Joint Program Office</p>
        <p>202.366.9126</p>
        <p>
          <a class="email-footer" href="mailto:hyungjun.park@dot.govv">hyungjun.park@dot.gov</a>
        </p>
      </div>
    </div>
  </div>
</section>

<script is:inline src="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.1.4/datatables.min.js"></script>
<script is:inline>
  let sortTable_CDA = new DataTable("#sortTable_CDA");
  let sortTable_AMS = new DataTable("#sortTable_AMS");
  let sortTable_Freight = new DataTable("#sortTable_Freight");
  let sortTable_Human = new DataTable("#sortTable_Human");
  let sortTable_Policy = new DataTable("#sortTable_Policy");
  let sortTable_Transit = new DataTable("#sortTable_Transit");
</script>
