---
import banner from "@/src/assets/images/banners/Automation_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";

const keywords = [
  "Automation Program", 
  "Transportation Research",
  "Automated Driving Systems",
  "Advanced Driver Assistance Systems",
  "ADAS",
];

const description =
  "The ITS JPO Automation Program focuses on the safe deployment of automated driving systems and advanced driver assistance systems through collaboration and research.";
---

<PageLayout title="Automation Program" bannerImage={banner} keywords={keywords} description={description}>
  <Fragment slot="banner">Automation Program</Fragment>
  <SidebarLayout path="/research-areas/">
      <div>
        <h2 class="sideways blue">Automation Program</h2>
        <p class="read-more-wrap" style="padding-top:0px">
          Driving automation is one of the major transportation industry trends of this decade. Through close collaboration and monitoring of current industry and academic technology innovators and
          leaders in automation the ITS JPO continues the pursuit of an automation program that will support the safe deployment of an automated future. Advanced Driver Assistance Systems (ADAS) with
          automation of lateral or longitudinal controls are widely available in passenger vehicles, although their development and refinement continue. Automated Driving System (ADS)-equipped
          vehicles are being piloted in passenger vehicles, commercial motor vehicles, and transit buses. While driving automation research has been, to some degree, mainstreamed across the
          Department's Operating Administrations, research needs are evolving alongside the technology. The technological and practical challenges of translating research breakthroughs into daily
          transportation are significant and often are not fully understood at the outset. Many foundational questions around ADS and ADAS cannot be resolved until more and better data are available.
          The ITS JPO Automation Program’s collaborative and multi-modal research portfolio provides cross-cutting support across the U.S. DOT.
        </p>
      </div>
    </SidebarLayout>
</PageLayout>
