---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import banner from "@/src/assets/images/banners/DataAccess_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import base_url from "@/src/lib/base_url";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
---

<link href="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.1.4/datatables.min.css" rel="stylesheet" />
<PageLayout title="Digital Infrastructure" bannerImage={banner}>
  <Fragment slot="banner">Digital Infrastructure</Fragment>
  <SidebarLayout path="/research-areas/">
    <main>
      <div>
        <h2 class="sideways blue">Digital Infrastructure</h2>
        <p class="read-more-wrap" style="padding-top:0px">
          Broadly defined, digital infrastructure is collective public and private technology assets that create, exchange, or use data or information to improve the transportation system by the
          provision of existing and new services for travelers, businesses, and agencies. Work in this area continues to apply system engineering and research principles to identify the technology and
          policy gaps as the application of ITS continues to improve through integration, expansion, and more focused application. The Program expects to describe the research statements, user needs,
          system needs, potential impacts, and technology and standards.
        </p>
      </div>
    </main>
    </SidebarLayout>
</PageLayout>
