---
import banner from "@/src/assets/images/banners/Headers_Accelerating_Deployment_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";

const keywords = [
  "Intersection Safety Challenge", 
  "Intersection Safety", 
  "Safety Challenge", 
  "Intersection Safety Technologies", 
  "Vulnerable Road Users", 
  "Traffic Control", 
  "Traffic Safety"
];

const description = "The U.S. DOT Intersection Safety Challenge promotes innovative technologies to improve safety for vehicles and vulnerable road users at intersections.";
---

<link href="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.1.4/datatables.min.css" rel="stylesheet" />
<PageLayout title="Intersection Safety Challenge" bannerImage={banner} keywords={keywords}>
  <Fragment slot="banner">Intersection Safety Challenge</Fragment>
  <SidebarLayout path="/research-areas/">
    <div>
      <h2 class="sideways blue">Intersection Safety Challenge</h2>
      <p class="read-more-wrap" style="padding-top:0px">
        The U.S. DOT Intersection Safety Challenge aims to transform intersection safety by incentivizing the innovative application of new and emerging technologies to identify and mitigate unsafe
        conditions involving vehicles and vulnerable road users at intersections. The Challenge complements other Federal efforts to improve intersection safety, with the Challenge specifically
        focused on the use of technology. Further, the intersection environment itself is well-suited to innovative mitigative approaches leveraging, utilizing, and potentially repurposing existing
        traffic control and support infrastructure.
      </p>
      <h4>Intersection Safety Challenge Dataset</h4>
      <p>
        The Intersection Safety Challenge Dataset features a comprehensive collection of conflict/non-conflict scenario data involving various road users, captured under various weather and lighting
        conditions captured by&nbsp;visual and thermal cameras, LiDAR, and radar sensors.
      </p>

      <p>
        The data can be used to develop and train models that can anticipate potential conflicts and provide enough time for warnings or other real-time countermeasures. This rich and unique dataset
        lays the foundation for key research efforts aimed at improving intersection safety.
      </p>

      <p>
        Users can download sample data and request access to the full dataset from the 
        <a href="https://data.transportation.gov/Roadways-and-Bridges/Intersection-Safety-Challenge-Stage-1B-Sample/vq7s-mv3v/about_data">Intersection Safety Challenge Dataset</a>.
      </p>
    </div>
  </SidebarLayout>
</PageLayout>
