---
import banner from "@/src/assets/images/banners/Default_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import SubNav from "@/src/layouts/SubNav.astro";

const keywords = [
  "Interoperable Connectivity",
  "Spectrum",
  "ITS",
  "Wi-Fi",
  "LTE-V2X",
  "5G NR",
  "5G NRU",
  "V2X",
  "SCMS",
  "Security Credential Management System",
];

const description = "Interoperable Connectivity/Spectrum research area focuses on secure, interoperable, and connected ITS, including Wi-Fi, LTE-V2X, 5G NR, and SCMS for V2X communication.";
---

<PageLayout title="Interoperable Connectivity/Spectrum" bannerImage={banner} keywords={keywords} description={description}>
  <Fragment slot="banner">Interoperable Connectivity/Spectrum</Fragment>
  <SubNav path="/research-areas/">
      <div>
        <h2 class="sideways blue">Interoperable Connectivity/Spectrum</h2>
        <p class="read-more-wrap" style="padding-top:0px">
          A key component of the Program focuses on Interoperable Connectivity Wireless Communications research for secure, interoperable, and connected ITS, which includes various forms of Wi-Fi,
          Long-Term Evolution Vehicle-to-Everything (LTE-V2X), new forms of satellite communications, or the upcoming 5G New Radio (NR) or 5G NR Unlicensed (5G NRU), as well as future “G’s”; another
          recent effort includes a focus on transportation digital infrastructure. As interoperable connectivity applications exchange information among vehicles, roadway infrastructure, traffic
          management centers, and wireless mobile devices, a security system is needed to ensure that users can trust the validity of information received from other system users—indistinct users that
          they have never met and do not know personally. Research and implementation support for a Security Credential Management System (SCMS) is a critical component of this environment. An SCMS
          provides the security infrastructure to issue and manage the security certificates that form the basis of trust for V2X communication. The certificates prove the device is a trusted actor in
          the system while also maintaining privacy. Misbehavior detection and reporting allow the system to identify bad actors and revoke message privileges, when necessary.
        </p>
      </div>
  </SubNav>
</PageLayout>
