---
import PageLayout from "@/src/layouts/PageLayout.astro";
import logo from "@/src/assets/images/its4us/ITS4US_logo_white.png";
import banner from "@/src/assets/images/its4us/ITS4US_Banner.png";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";

interface Props {
  title: string
}
const { title } = Astro.props;
---
<style>
  p {
    padding-right: 0;
  }
</style>
<PageLayout title={`${title} | ITS4US`} bannerImage={banner}>
  <Fragment slot="banner">
    <img 
      alt="ITS4US Logo" 
      src={logo.src} 
      style="max-height: 60px; clear: none" 
    /> | ITS4US
  </Fragment>
  <SidebarLayout path="/research-areas/deployments/its4us">
    <slot/>
  </SidebarLayout>
  <section slot="footer" class="download bg-primary text-center" id="research" style="padding-top: 2em">
    <div class="container-fluid">
      <div class="container">
        <div class="col-lg-12">
          <h2>Contacts</h2>
          <p style="padding: 0 20px 20px 20px">
            Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
            available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
          </p>
          <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px;">
            <b>Elina Zlotchenko</b>
          </p>
          <p>Program Manager</p>
          <p>ITS4US, STATS, and Program Management Office</p>
          <p>202-366-1697</p>
          <p>
            <a class="email-footer" href="mailto:Elina.Zlotchenko@dot.gov">Elina.Zlotchenko@dot.gov</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</PageLayout>