---
import { Image } from "astro:assets";
import base_url from "@/src/lib/base_url";
import ITS4USLayout from "./_ITS4USLayout.astro";
import SeniorTransit from "@/src/assets/images/its4us/SeniorPublicTransit.jpeg";
---

<style>
  .introH2 {
    color: #055581;
    font-size: x-large;
  }
</style>
<ITS4USLayout title="Home">
  <div class="row" style="padding-bottom: 20px; margin-bottom: 30px; border-bottom-style: solid; border-block-width: 1px; border-color: gainsboro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <Image src={SeniorTransit} alt="Senior Hispanic man using public transportation" width={800} class="center float-sm-end mr-3 img-fluid col-6-sm m-2" />
          <h2 class="introH2">Providing independent, safe, dependable, affordable, accessible, and efficient mobility options for everyone: ITS4US – It’s transportation for all of us.</h2>
          <p>
            By leveraging new and innovative technologies and integrating them within our existing transportation systems, the lives of the traveling public in our communities will be improved. The
            technology we have today is constantly changing and evolving. We are excited about providing these innovative solutions to transportation issues.
          </p>
          <p>Some of the solutions we are working with are:</p>
          <ul>
            <li>Trip planning mobile and desktop web applications</li>
            <li>Extending pedestrian crossing times at intersections</li>
            <li>Connected vehicle technology</li>
            <li>Wayfinding applications</li>
            <li>Machine learning technologies</li>
          </ul>
        </div>
      </div>
      <h2 class="sideways blue">Overview Video</h2>
      <iframe
        class="col-lg-6 center mb-3"
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/pztl1lRyXAc"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen=""
      >
      </iframe>

      <div class="row">
        <div class="col-lg-12">
          <h2 class="sideways blue">Latest Events and Announcements</h2>
          <p><strong>Site Webinars:</strong></p>
          <ul>
            <li>
              <strong>Completed Site Webinars</strong>
              <ul>
                <li>
                  ITS4US GDOT &amp; UW Joint Webinar: &ldquo;Paving the way: Innovative Data Collection Methods for Sidewalk (or Pedestrian) Infrastructure&rdquo;.
                    <a href="https://www.its.dot.gov/its4us/htm/webinars.htm">Recording and slides available now</a>
                  
                </li>
              </ul>
            </li>
          </ul>
          <p><strong>Factsheets and Presentations</strong>:</p>
          <ul>
            <li>Find outreach and event resources on the&nbsp;<a href="https://www.its.dot.gov/its4us/htm/featured-links.htm">Featured Links</a>&nbsp;page.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ITS4USLayout>
