---
import DataTable from "@/src/components/TablePublications.astro";
import ITS4USLayout from "./_ITS4USLayout.astro";
---
<ITS4USLayout title="Publications">
  <h2 class="sideways blue">Publications</h2>
  <DataTable />
</ITS4USLayout>