---
import DataTable from "@/src/components/TableWebinars.astro";
import ITS4USLayout from "./_ITS4USLayout.astro";
---
<ITS4USLayout title="Webinars">
  <h2 class="sideways blue">Webinars</h2>
  <DataTable />
</ITS4USLayout>