---
import PageLayout from "@/src/layouts/PageLayout.astro";
import newsletterImage from "@/src/assets/images/ITSJPO_NewsletterWebsiteImage_030123.png";
import { Image } from "astro:assets";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
---
<style>
  .newsletterImage {
    max-width: 80%;
  }
</style>

<PageLayout title="Mailing List">
  <Fragment slot="banner">
    ITS JPO Mailing List
  </Fragment>
  <SidebarLayout path="/about/">
  <h2>Join our ITS JPO Mailing List</h2>
  <p>
    Thank you for your interest in receiving ITS Program updates. Please join our
    <a 
      href="https://public.govdelivery.com/accounts/USDOTFHWA/subscriber/new?topic_id=USDOTFHWA_180" 
      target="_blank" 
      rel="noopener noreferrer"
    >
      ITS Joint Program Office Mailing list
    </a>.
  </p>
  <a 
    href="https://public.govdelivery.com/accounts/USDOTFHWA/subscriber/new?topic_id=USDOTFHWA_180" 
    target="_blank" 
    rel="noopener noreferrer"
  >
    <Image 
      src={newsletterImage} 
      alt="Get updates on ITS JPO News and Events by clicking this image to sign up for the mailing list." 
      class="img-fluid newsletterImage"
    />
  </a>
  <p class="mt-4">
    You can also choose to receive updates from the ITS Program via
    <a 
      href="https://twitter.com/ITS_USDOT" 
      target="_blank" 
      rel="noopener noreferrer"
    >
      X</a> and
    <a 
      href="https://www.facebook.com/USDOTResearch" 
      target="_blank" 
      rel="noopener noreferrer"
    >
      Facebook</a>.
  </p>
</SidebarLayout>
</PageLayout>
