---
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import "@/src/styles/ai-section.css";
---

<PageLayout title="Get AI-Ready" bannerImage={banner}>
  <Fragment slot="banner">Artificial Intelligence</Fragment>
  <main>
    <h2>Get AI-Ready</h2>
    <p>
      Before deploying AI in transportation, agencies need to start with the right foundation. Explore curated datasets, industry standards, risk management frameworks, validation approaches, and
      other readiness tools designed specifically for transportation practitioners.
    </p>
    <div class="row ai-card-row">
      <div class="col-lg-2 ai-header-col">
        <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">
          <path
            d="M19.125 38.25C13.7771 38.25 9.2526 37.4266 5.55156 35.7797C1.85052 34.1328 0 32.1229 0 29.75V8.5C0 6.1625 1.86823 4.16146 5.60469 2.49688C9.34115 0.832292 13.8479 0 19.125 0C24.4021 0 28.9089 0.832292 32.6453 2.49688C36.3818 4.16146 38.25 6.1625 38.25 8.5V29.75C38.25 32.1229 36.3995 34.1328 32.6984 35.7797C28.9974 37.4266 24.4729 38.25 19.125 38.25ZM19.125 12.8031C22.2771 12.8031 25.4469 12.3516 28.6344 11.4484C31.8219 10.5453 33.6104 9.58021 34 8.55313C33.6104 7.52604 31.8307 6.55208 28.6609 5.63125C25.4911 4.71042 22.3125 4.25 19.125 4.25C15.9021 4.25 12.7411 4.70156 9.64219 5.60469C6.54323 6.50781 4.74583 7.49063 4.25 8.55313C4.74583 9.61563 6.54323 10.5896 9.64219 11.475C12.7411 12.3604 15.9021 12.8031 19.125 12.8031ZM19.125 23.375C20.6125 23.375 22.0469 23.3042 23.4281 23.1625C24.8094 23.0208 26.1286 22.8172 27.3859 22.5516C28.6432 22.2859 29.8297 21.9583 30.9453 21.5688C32.0609 21.1792 33.0792 20.7365 34 20.2406V13.8656C33.0792 14.3615 32.0609 14.8042 30.9453 15.1938C29.8297 15.5833 28.6432 15.9109 27.3859 16.1766C26.1286 16.4422 24.8094 16.6458 23.4281 16.7875C22.0469 16.9292 20.6125 17 19.125 17C17.6375 17 16.1854 16.9292 14.7688 16.7875C13.3521 16.6458 12.0151 16.4422 10.7578 16.1766C9.50052 15.9109 8.32292 15.5833 7.225 15.1938C6.12708 14.8042 5.13542 14.3615 4.25 13.8656V20.2406C5.13542 20.7365 6.12708 21.1792 7.225 21.5688C8.32292 21.9583 9.50052 22.2859 10.7578 22.5516C12.0151 22.8172 13.3521 23.0208 14.7688 23.1625C16.1854 23.3042 17.6375 23.375 19.125 23.375ZM19.125 34C20.7542 34 22.4099 33.876 24.0922 33.6281C25.7745 33.3802 27.324 33.0526 28.7406 32.6453C30.1573 32.238 31.3438 31.7776 32.3 31.2641C33.2562 30.7505 33.8229 30.2281 34 29.6969V24.4906C33.0792 24.9865 32.0609 25.4292 30.9453 25.8188C29.8297 26.2083 28.6432 26.5359 27.3859 26.8016C26.1286 27.0672 24.8094 27.2708 23.4281 27.4125C22.0469 27.5542 20.6125 27.625 19.125 27.625C17.6375 27.625 16.1854 27.5542 14.7688 27.4125C13.3521 27.2708 12.0151 27.0672 10.7578 26.8016C9.50052 26.5359 8.32292 26.2083 7.225 25.8188C6.12708 25.4292 5.13542 24.9865 4.25 24.4906V29.75C4.42708 30.2812 4.9849 30.7948 5.92344 31.2906C6.86198 31.7865 8.03958 32.238 9.45625 32.6453C10.8729 33.0526 12.4313 33.3802 14.1313 33.6281C15.8313 33.876 17.4958 34 19.125 34Z"
            fill="white"
          >
          </path>
        </svg>
        <h3>AI Ready Data</h3>
      </div>

      <div class="col-lg-10 p-4 d-flex gap-4 flex-column">
        <p>
          Data serves as the fundamental building block of AI and the ultimate value that an AI system provides. Foundational success depends on robust data governance and management to ensure
          information is accurate, aligned, and secure. Data storage and access protocols are key to ensuring high-quality data is accessible at times and locations it is needed and available to staff
          based on identified roles. AI systems can offer more sophisticated insights if available data can be effectively and efficiently integrated across data types, collection methods and
          programs. The ITS JPO is currently researching the state of data integration for AI & TSMO applications. This effort will identify critical interoperability requirements to improve data
          readiness and test innovative, data-centric AI approaches for prioritized TSMO use cases.
        </p>
        
          <div class="card data-card shadow-sm card-body card-gray">
            <sub>PRESENTATION</sub>
            <h5 class="card-title">AI & Data Strategic Considerations Presentation</h5>
            <p class="card-text">
              Data is the critical foundation underlying all AI applications. In transportation, the quality, scale, and management of that data directly determines whether an AI system delivers
              reliable results. In this presentation, the ITS JPO AI Program team walked through key data considerations for AI in transportation, including data quality, quantity, privacy, security,
              and ownership, as well as share lessons learned from agencies already deploying AI.
            </p>
          </div>
      </div>
    </div>

    <div class="row ai-card-row">
      <div class="col-lg-2 ai-header-col">
        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
          <mask id="mask0_34_132" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="52" height="52">
            <rect width="52" height="52" fill="#D9D9D9"></rect>
          </mask>
          <g mask="url(#mask0_34_132)">
            <path
              d="M27.5434 34.0437C27.9586 33.6284 28.1663 33.1138 28.1663 32.4999C28.1663 31.886 27.9586 31.3715 27.5434 30.9562C27.1281 30.5409 26.6135 30.3333 25.9996 30.3333C25.3857 30.3333 24.8711 30.5409 24.4559 30.9562C24.0406 31.3715 23.8329 31.886 23.8329 32.4999C23.8329 33.1138 24.0406 33.6284 24.4559 34.0437C24.8711 34.459 25.3857 34.6666 25.9996 34.6666C26.6135 34.6666 27.1281 34.459 27.5434 34.0437ZM23.8329 28.1666H28.1663V17.3333H23.8329V28.1666ZM20.0413 47.6666L19.1746 40.7333C18.7052 40.5527 18.2628 40.336 17.8475 40.0833C17.4322 39.8305 17.026 39.5596 16.6288 39.2708L10.1829 41.9791L4.22461 31.6874L9.80378 27.4624C9.76767 27.2096 9.74961 26.9659 9.74961 26.7312V25.2687C9.74961 25.034 9.76767 24.7902 9.80378 24.5374L4.22461 20.3124L10.1829 10.0208L16.6288 12.7291C17.026 12.4402 17.4413 12.1694 17.8746 11.9166C18.3079 11.6638 18.7413 11.4471 19.1746 11.2666L20.0413 4.33325H31.9579L32.8246 11.2666C33.2941 11.4471 33.7364 11.6638 34.1517 11.9166C34.567 12.1694 34.9732 12.4402 35.3704 12.7291L41.8163 10.0208L47.7746 20.3124L42.1954 24.5374C42.2316 24.7902 42.2496 25.034 42.2496 25.2687V26.7312C42.2496 26.9659 42.2135 27.2096 42.1413 27.4624L47.7204 31.6874L41.7621 41.9791L35.3704 39.2708C34.9732 39.5596 34.5579 39.8305 34.1246 40.0833C33.6913 40.336 33.2579 40.5527 32.8246 40.7333L31.9579 47.6666H20.0413ZM23.8329 43.3333H28.1121L28.8704 37.5916C29.9899 37.3027 31.0281 36.8784 31.985 36.3187C32.942 35.759 33.8177 35.0819 34.6121 34.2874L39.9746 36.5083L42.0871 32.8249L37.4288 29.3041C37.6093 28.7985 37.7357 28.2659 37.8079 27.7062C37.8802 27.1465 37.9163 26.5777 37.9163 25.9999C37.9163 25.4221 37.8802 24.8534 37.8079 24.2937C37.7357 23.7339 37.6093 23.2013 37.4288 22.6958L42.0871 19.1749L39.9746 15.4916L34.6121 17.7666C33.8177 16.936 32.942 16.2409 31.985 15.6812C31.0281 15.1214 29.9899 14.6971 28.8704 14.4083L28.1663 8.66659H23.8871L23.1288 14.4083C22.0093 14.6971 20.9711 15.1214 20.0142 15.6812C19.0572 16.2409 18.1816 16.918 17.3871 17.7124L12.0246 15.4916L9.91211 19.1749L14.5704 22.6416C14.3899 23.1833 14.2635 23.7249 14.1913 24.2666C14.1191 24.8083 14.0829 25.386 14.0829 25.9999C14.0829 26.5777 14.1191 27.1374 14.1913 27.6791C14.2635 28.2208 14.3899 28.7624 14.5704 29.3041L9.91211 32.8249L12.0246 36.5083L17.3871 34.2333C18.1816 35.0638 19.0572 35.759 20.0142 36.3187C20.9711 36.8784 22.0093 37.3027 23.1288 37.5916L23.8329 43.3333Z"
              fill="white"
            >
            </path>
          </g>
        </svg>
        <h3>Safe & Trustworthy AI in Transportation</h3>
      </div>

      <div class="col-lg-10 p-4 d-flex gap-4 flex-column">
        <p>
          Effective AI implementation in transportation is less about the "black box" of technology and more about the foundation of trust public agencies build around it. AI Risk Management acts as
          an all-encompassing umbrella, providing a continuous strategy to identify and mitigate potential hazards before they impact multimodal transportation systems.  This risk “umbrella” is held
          up by two critical pillars: AI Standards, which provide the rigorous, nationally recognized benchmarks (like the National Institute of Technologies (NIST) AI Risk Management Framework) to
          ensure AI systems are defensible and consistent; and AI and TEVV (Test, Evaluation, Verification, and Validation), the structured process of proving a system is safe and reliable in the real
          world. Together, this framework ensures that whether the focus is on managing simple assets or complex traffic flows, AI remains a transparent, safe and trustworthy solution. The ITS JPO has
          a suite of forthcoming AI risk, standards and TEVV resources under development to support transportation agencies as they implement AI solutions.  These will be tailored by staff roles,
          program areas and agency type.
        </p>
        <a href="https://www.transportation.gov/hasscoe/highlights/AI-assurance-whitepaper-apr2024" class="text-decoration-none reset-link" target="_blank">
          <div class="card data-card shadow-sm card-body card-blue">
            <sub>WHITE PAPER</sub>
            <h5 class="card-title">USDOT Highly Automated Systems Safety (HASS) AI Assurance White Paper</h5>
            <p class="card-text">
              The USDOT HASS AI Assurance whitepaper outlines a comprehensive framework for evaluating and ensuring the safety, performance, and security of AI components in transportation systems
              throughout their lifecycle, covering key concepts such as risk assessment, data assurance, and design assurance, as well as the technical and regulatory challenges of deploying AI in
              highly automated transportation environments.
            </p>
          </div>
        </a>
        <a href="https://nvlpubs.nist.gov/nistpubs/ai/NIST.AI.100-1.pdf" class="text-decoration-none reset-link" target="_blank">
          <div class="card data-card shadow-sm card-body card-blue">
            <sub>FRAMEWORK</sub>
            <h5 class="card-title">NIST AI Risk Management Framework</h5>
            <p class="card-text">
              The NIST AI Risk Management Framework helps organizations incorporate trustworthiness considerations into AI system design, development, use, and evaluation while managing risks to
              individuals, organizations, and society.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="row ai-card-row">
      <div class="col-lg-2 ai-header-col">
        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="white">
          <path
            d="m 20.0413,47.6667 -0.8667,-6.9333 c -0.4694,-0.1806 -0.9118,-0.3972 -1.3271,-0.65 -0.4153,-0.2528 -0.8215,-0.5236 -1.2187,-0.8125 L 10.1829,41.9792 4.22461,31.6875 9.80378,27.4625 C 9.76767,27.2098 9.74961,26.966 9.74961,26.7313 v -1.4625 c 0,-0.2347 0.01806,-0.4785 0.05417,-0.7313 l -5.57917,-4.225 5.95829,-10.2916 6.4459,2.7083 c 0.3972,-0.2889 0.8125,-0.5597 1.2458,-0.8125 0.4333,-0.2528 0.8667,-0.4694 1.3,-0.65 l 0.8667,-6.93333 h 11.9166 l 0.8667,6.93333 c 0.4695,0.1806 0.9118,0.3972 1.3271,0.65 0.4153,0.2528 0.8215,0.5236 1.2187,0.8125 l 6.4459,-2.7083 5.9583,10.2916 -5.5792,4.225 c 0.0362,0.2528 0.0542,0.4966 0.0542,0.7313 v 1.4625 c 0,0.2347 -0.0361,0.4785 -0.1083,0.7312 l 5.5791,4.225 -5.9583,10.2917 -6.3917,-2.7083 c -0.3972,0.2889 -0.8125,0.5597 -1.2458,0.8125 -0.4333,0.2528 -0.8667,0.4694 -1.3,0.65 l -0.8667,6.9333 z m 3.7916,-4.3333 h 4.2792 l 0.7583,-5.7417 c 1.1195,-0.2889 2.1577,-0.7132 3.1146,-1.2729 0.957,-0.5597 1.8327,-1.2368 2.6271,-2.0313 l 5.3625,2.2209 2.1125,-3.6834 -4.6583,-3.5208 c 0.1805,-0.5055 0.3069,-1.0382 0.3791,-1.5979 0.0723,-0.5597 0.1084,-1.1285 0.1084,-1.7063 0,-0.5777 -0.0361,-1.1465 -0.1084,-1.7062 -0.0722,-0.5597 -0.1986,-1.0924 -0.3791,-1.5979 l 4.6583,-3.5209 -2.1125,-3.6833 -5.3625,2.275 C 33.8177,16.9362 32.942,16.241 31.985,15.6813 31.0281,15.1216 29.9899,14.6973 28.8704,14.4084 L 28.1663,8.66671 h -4.2792 l -0.7583,5.74169 c -1.1195,0.2889 -2.1577,0.7132 -3.1146,1.2729 -0.957,0.5597 -1.8326,1.2368 -2.6271,2.0312 l -5.3625,-2.2208 -2.11249,3.6833 4.65829,3.4667 c -0.1805,0.5417 -0.3069,1.0833 -0.3791,1.625 -0.0722,0.5417 -0.1084,1.1195 -0.1084,1.7333 0,0.5778 0.0362,1.1375 0.1084,1.6792 0.0722,0.5417 0.1986,1.0833 0.3791,1.625 l -4.65829,3.5208 2.11249,3.6834 5.3625,-2.275 c 0.7945,0.8305 1.6701,1.5257 2.6271,2.0854 0.9569,0.5597 1.9951,0.984 3.1146,1.2729 z"
          >
          </path>
          <path d="m 23.257725,34.145532 -7.069406,-7.126124 1.767352,-1.781531 5.302054,5.344592 11.37925,-11.470584 1.767352,1.781531 z"></path>
        </svg>

        <h3>AI Testing, Evaluation, Verification & Validation (TEVV)</h3>
      </div>

      <div class="col-lg-10 p-4 d-flex gap-4 flex-column">
        <p>
          AI-driven solutions—ranging from advanced signal control to predictive maintenance—promise data-driven decision-making that can address real-time transportation challenges. However, the
          complexity and criticality of these systems demand rigorous methods to perform TEVV over AI components and their integration into legacy systems across their lifecycle, ensuring they are
          both reliable and aligned with stakeholder needs.
        </p>
        <p>
          To tackle this complexity, USDOT is pursuing a structured approach to a comprehensive AI TEVV Framework. This effort is intended to guide state and local agencies—as well as their
          consultants and vendors—in systematically designing, implementing, and monitoring AI solutions using common definitions, artifacts, and acceptance criteria.
        </p>
        <div class="card data-card shadow-sm card-body w-100 card-gray">
          <p class="card-text fst-italic">Resources coming soon</p>
        </div>
      </div>
    </div>

    <div class="row ai-card-row">
      <div class="col-lg-2 ai-header-col">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
          <mask id="mask0_34_135" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="45" height="45">
            <rect width="45" height="45" fill="#D9D9D9"></rect>
          </mask>
          <g mask="url(#mask0_34_135)">
            <path
              d="M9.375 35.625V9.375V30.6562V26.6719V35.625ZM9.375 39.375C8.34375 39.375 7.46094 39.0078 6.72656 38.2734C5.99219 37.5391 5.625 36.6562 5.625 35.625V9.375C5.625 8.34375 5.99219 7.46094 6.72656 6.72656C7.46094 5.99219 8.34375 5.625 9.375 5.625H35.625C36.6562 5.625 37.5391 5.99219 38.2734 6.72656C39.0078 7.46094 39.375 8.34375 39.375 9.375V24.375H35.625V9.375H9.375V35.625H22.5V39.375H9.375ZM32.5312 41.25L25.875 34.5938L28.5469 31.9688L32.5312 35.9531L40.5 27.9844L43.125 30.6562L32.5312 41.25ZM16.3359 23.8359C16.6953 23.4766 16.875 23.0312 16.875 22.5C16.875 21.9688 16.6953 21.5234 16.3359 21.1641C15.9766 20.8047 15.5312 20.625 15 20.625C14.4688 20.625 14.0234 20.8047 13.6641 21.1641C13.3047 21.5234 13.125 21.9688 13.125 22.5C13.125 23.0312 13.3047 23.4766 13.6641 23.8359C14.0234 24.1953 14.4688 24.375 15 24.375C15.5312 24.375 15.9766 24.1953 16.3359 23.8359ZM16.3359 16.3359C16.6953 15.9766 16.875 15.5312 16.875 15C16.875 14.4688 16.6953 14.0234 16.3359 13.6641C15.9766 13.3047 15.5312 13.125 15 13.125C14.4688 13.125 14.0234 13.3047 13.6641 13.6641C13.3047 14.0234 13.125 14.4688 13.125 15C13.125 15.5312 13.3047 15.9766 13.6641 16.3359C14.0234 16.6953 14.4688 16.875 15 16.875C15.5312 16.875 15.9766 16.6953 16.3359 16.3359ZM20.625 24.375H31.875V20.625H20.625V24.375ZM20.625 16.875H31.875V13.125H20.625V16.875Z"
              fill="white"
            >
            </path>
          </g>
        </svg>
        <h3>AI Readiness & Assessment Tools</h3>
      </div>

      <div class="col-lg-10 p-4 d-flex gap-4 flex-column">
        <p>
          In an era of rapid technological shifts, transportation agencies face the daunting task of moving from curiosity to being "road-ready".  A Capability Maturity Model (CMM) can serve as a
          guiding “compass” for this journey, providing a structured approach to assess an agency’s readiness for AI implementation at different scales. For transportation agencies of different types
          and sizes, an AI CMM offers a customizable, structured approach to self-assessment that bridges the gap between different program areas or roles. Agency leadership and staff can leverage the
          results of a CMM assessment to collaboratively identify key focus areas for advancement, establish high-priority AI goals, and establish specific priorities that align available strategies
          and resources to move purposefully between levels of AI maturity.  The ITS JPO is updating its 2022 AI CMM framework and will provide new AI readiness resources These will include an
          enhanced AI CMM framework and online tool (with new institutional and technical assessment dimensions) along with curated reports, fact sheets, quick start guides, and supporting workshops
          and webinars.
        </p>
        <a href="https://rosap.ntl.bts.gov/view/dot/78879" class="text-decoration-none reset-link" target="_blank">
          <div class="card data-card shadow-sm card-body card-blue">
            <sub>REPORT</sub>
            <h5 class="card-title">AI for ITS Capability Maturity Model (CMM) and Readiness Checklists</h5>
            <p class="card-text">
              The AI for ITS CMM and Readiness Checklists can help agencies assess their AI readiness. A new report framework, quick start guide and online tool will be available in Fall 2026.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="row ai-card-row">
      <div class="col-lg-2 ai-header-col">
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
          <mask id="mask0_52_157" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="47" height="47">
            <rect width="47" height="47" fill="#D9D9D9"></rect>
          </mask>
          <g mask="url(#mask0_52_157)">
            <path
              d="M23.5007 45.0416C19.8451 45.0416 16.4833 44.2093 13.4152 42.5447C10.3472 40.8801 7.83398 38.6607 5.87565 35.8864V41.1249H1.95898V29.3749H13.709V33.2916H8.86211C10.4288 35.6416 12.4932 37.5346 15.0553 38.9708C17.6175 40.4069 20.4326 41.1249 23.5007 41.1249C25.9486 41.1249 28.2415 40.6598 30.3793 39.7296C32.5171 38.7994 34.3776 37.5428 35.9606 35.9598C37.5435 34.3768 38.8001 32.5164 39.7303 30.3786C40.6605 28.2407 41.1257 25.9478 41.1257 23.4999H45.0423C45.0423 26.4701 44.4793 29.2607 43.3533 31.8718C42.2272 34.4829 40.685 36.7676 38.7267 38.726C36.7684 40.6843 34.4836 42.2265 31.8725 43.3525C29.2614 44.4786 26.4708 45.0416 23.5007 45.0416ZM21.7382 37.2083V34.6624C20.2041 34.3034 18.9557 33.6425 17.9928 32.6796C17.03 31.7168 16.3201 30.452 15.8632 28.8853L19.0944 27.6124C19.4861 28.9506 20.098 29.9543 20.9303 30.6234C21.7626 31.2925 22.7173 31.627 23.7944 31.627C24.8715 31.627 25.7935 31.3741 26.5605 30.8682C27.3276 30.3622 27.7111 29.5708 27.7111 28.4937C27.7111 27.5471 27.3112 26.7801 26.5116 26.1926C25.7119 25.6051 24.284 24.936 22.2277 24.1853C20.302 23.4999 18.8904 22.6839 17.9928 21.7374C17.0953 20.7909 16.6465 19.5506 16.6465 18.0166C16.6465 16.6784 17.1116 15.4626 18.0418 14.3692C18.972 13.2758 20.2368 12.5659 21.8361 12.2395V9.79159H25.2632V12.2395C26.4382 12.3374 27.5071 12.8107 28.4699 13.6593C29.4328 14.5079 30.0937 15.5034 30.4527 16.6458L27.3194 17.9187C27.0583 17.168 26.634 16.5397 26.0465 16.0338C25.459 15.5279 24.643 15.2749 23.5986 15.2749C22.4562 15.2749 21.5831 15.5197 20.9793 16.0093C20.3755 16.4989 20.0736 17.168 20.0736 18.0166C20.0736 18.8652 20.4489 19.5343 21.1996 20.0239C21.9503 20.5135 23.3048 21.0846 25.2632 21.7374C27.6132 22.586 29.1798 23.5815 29.9632 24.7239C30.7465 25.8662 31.1382 27.1228 31.1382 28.4937C31.1382 29.4402 30.975 30.2725 30.6486 30.9905C30.3222 31.7086 29.8897 32.3206 29.3512 32.8265C28.8126 33.3324 28.1843 33.7404 27.4663 34.0504C26.7482 34.3605 25.9812 34.5971 25.1652 34.7603V37.2083H21.7382ZM1.95898 23.4999C1.95898 20.5298 2.52201 17.7392 3.64805 15.128C4.77409 12.5169 6.31628 10.2322 8.27461 8.27388C10.2329 6.31554 12.5177 4.77336 15.1288 3.64731C17.7399 2.52127 20.5305 1.95825 23.5007 1.95825C27.1562 1.95825 30.518 2.79054 33.5861 4.45513C36.6541 6.11971 39.1673 8.33916 41.1257 11.1135V5.87492H45.0423V17.6249H33.2923V13.7083H38.1392C36.5725 11.3583 34.5081 9.4652 31.946 8.02909C29.3838 6.59297 26.5687 5.87492 23.5007 5.87492C21.0527 5.87492 18.7599 6.34002 16.622 7.27023C14.4842 8.20044 12.6237 9.45704 11.0408 11.04C9.45777 12.623 8.20117 14.4834 7.27096 16.6213C6.34076 18.7591 5.87565 21.052 5.87565 23.4999H1.95898Z"
              fill="white"
            >
            </path>
          </g>
        </svg>
        <h3>AI Procurement</h3>
      </div>

      <div class="col-lg-10 p-4 d-flex gap-4 flex-column">
        <p>
          As transportation agencies increasingly procure AI systems, shifting from a "buy and deploy" mindset to a lifecycle approach is essential for long-term success. Fundamentally, this means
          treating AI technology as a living asset that requires active management rather than a one-time purchase.  Procurement begins with a rigorous planning phase where agencies define the problem
          before selecting the tool. At this stage, agencies should evaluate if their existing data is high-quality and ready to "feed" an AI and determine if their current IT infrastructure can
          actually support it. It is also critical to establish clear performance metrics and accountability protocols.  During selection and award, the focus shifts to verification. Key
          considerations should center on how vendors will demonstrate transparency and prove their systems meet safety parameters through rigorous testing. Post-award, agencies must plan for
          continuous monitoring, as AI systems can "drift" or lose accuracy when they encounter new real-world conditions. By managing AI through every procurement stage, transportation agencies
          ensure their investments remain a safe, dependable, and trustworthy part of their decision-making infrastructure.  The ITS JPO will deploy a national webinar and peer exchange series on AI
          procurement in late summer/early fall 2026.
        </p>
        <div class="card data-card shadow-sm card-body w-100 card-gray">
          <p class="card-text fst-italic">Resources coming soon</p>
        </div>
      </div>
    </div>
  </main>
</PageLayout>
