---
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
---

<PageLayout title="Get AI-Ready" bannerImage={banner}>
  <Fragment slot="banner">Get AI-Ready</Fragment>
      <main>
       <p>Placeholder</p>
      
      </main>
</PageLayout>
