---
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
---

<PageLayout title="Put AI into Practice" bannerImage={banner}>
  <Fragment slot="banner">Put AI into Practice</Fragment>
      <main>
       <p>Placeholder</p>
      
      </main>
</PageLayout>
