---
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
---

<PageLayout title="What Are AI Transportation Use Cases" bannerImage={banner}>
  <Fragment slot="banner">What Are AI Transportation Use Cases</Fragment>
      <main>
       <p>Placeholder</p>
      
      </main>
</PageLayout>
