---
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
---

<PageLayout title="How Does AI Work" bannerImage={banner}>
  <Fragment slot="banner">How Does AI Work</Fragment>
      <main>
       <p>Placeholder</p>
      
      </main>
</PageLayout>
