---
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
---

<PageLayout title="What Is The JPO AI Implementation Approach" bannerImage={banner}>
  <Fragment slot="banner">What Is The JPO AI Implementation Approach</Fragment>
      <main>
       <p>Placeholder</p>
      
      </main>
</PageLayout>
