---
import base_url from "@/src/lib/base_url";
import { findBreadcrumbItems } from "@/src/lib/navigation";

interface Props {
  currentBreadcrumb?: string;
}

const { currentBreadcrumb } = Astro.props;

const path = Astro.url.pathname;

const items = findBreadcrumbItems(path);
const breadcrumbs = currentBreadcrumb ? [...items, { name: currentBreadcrumb, url: ""}] : items;
---

<style>
  a:hover {
    font-weight: normal;
  }
  @media (max-width: 1023px) {
    .breadcrumb-item:last-child > span {
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }
  @media (max-width: 767px) {
    .breadcrumb-item:last-child {
      display: none;
    }
  }
</style>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb w-full">
    {breadcrumbs.map((item, index) => {
      const isLast = index === breadcrumbs.length - 1;
      const isFirst = index === 0;
      // Only link if not first, not last, and enabled
      const shouldLink = !isFirst && !isLast;
      return (
        <li
          class:list={["breadcrumb-item", { active: isLast }]}
          aria-current={isLast ? "page" : undefined}
        >
          {shouldLink ? (
            <a href={base_url(item.url)}>{item.name}</a>
          ) : (
            <span>{item.name}</span>
          )}
        </li>
      );
    })}
  </ol>
</nav>
