---
import base_url from "@/src/lib/base_url";
import { findBreadcrumbItems } from "@/src/lib/navigation";

interface Props {
  currentBreadcrumb?: string;
}

const { currentBreadcrumb } = Astro.props;

const path = Astro.url.pathname;

const items = findBreadcrumbItems(path);
const breadcrumbs = currentBreadcrumb ? [...items, { name: currentBreadcrumb, url: ""}] : items;
---

<style>
  a:hover {
    font-weight: normal;
  }
  @media (max-width: 1023px) {
    .breadcrumb-item:last-child > span {
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }
  @media (max-width: 767px) {
    .breadcrumb-item:last-child {
      display: none;
    }
  }
</style>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb w-full">
    {
      breadcrumbs.map((item, index) => (
        // The last item here will be the active one on any given page
        <li
          class:list={["breadcrumb-item", { active: index === breadcrumbs.length - 1 }]}
          aria-current={index === breadcrumbs.length - 1 ? "page" : "false"}
        >
          {index === breadcrumbs.length - 1 || !item.isEnabled ? (
            <span>{item.name}</span>
          ) : (
            <a href={base_url(item.url)} >{item.name}</a>
          )}
        </li>
      ))
    }
  </ol>
</nav>
