---
import Card from "@/src/components/pcb/Card.astro";
import microlearningImage from "@/src/assets/images/pcb/actions/microlearning.jpg";
import peerExchangesImage from "@/src/assets/images/pcb/actions/peer-exchanges.jpg";
import resourcesImage from "@/src/assets/images/pcb/actions/resources.jpg";
import trainingsImage from "@/src/assets/images/pcb/actions/trainings.jpg";
import v2xToolsImage from "@/src/assets/images/pcb/actions/v2x-tools.png";
import webinarsImage from "@/src/assets/images/pcb/actions/webinars.jpg";

const resources = [
  {
    title: "Explore ITS Trainings",
    description: "Discover available training sessions to enhance your ITS knowledge.",
    href: "/resources/training/pcb/trainings",
    image: trainingsImage,
  },
  {
    title: "Explore Microlearning Videos",
    description: "Access brief videos for quick, focused learning on ITS topics.",
    href: "/resources/training/pcb/microlearning",
    image: microlearningImage,
  },
  {
    title: "Access Academic Resources",
    description: "Connect with tools and materials to support students and faculty in preparing for careers in ITS.",
    href: "/resources/training/pcb/resources",
    image: resourcesImage,
  },
  {
    title: "Collaborate through ITS Peer Exchanges",
    description: "Engage with your peers to share your challenges, best practices, and experiences advancing ITS technologies.",
    href: "/resources/training/pcb/peer-exchanges",
    image: peerExchangesImage,
  },
  // {
  //   title: "Utilize V2X Open-Source Tools",
  //   description: "Leverage open-source tools to streamline V2X deployment and implementation V2X",
  //   href: "/resources/training/pcb/v2x-tools",
  //   image: v2xToolsImage
  // },
  {
    title: "View or Register for Webinars",
    description: "Learn about upcoming webinars on ITS and emerging transportation technologies, or view past webinars.",
    href: "/resources/training/pcb/webinars",
    image: webinarsImage
  }
]
---
<section>
  <h2 class="text-center mb-4">What Do You Want to Do?</h2>
  <div class="row gy-4">
    {resources.map(resource => (
      <div class="col-lg-6">
        <Card
          image={resource.image}
          title={resource.title}
          description={resource.description}
          orientation="horizontal"
          {...(resource.href && { "href": resource.href })}
        />
      </div>
    ))}
  </div>
</section>