---
import Card from "@/src/components/pcb/Card.astro";
import scrcImage from "@/src/assets/images/pcb/resources/scrc.png";
import v2xImage from "@/src/assets/images/pcb/resources/v2x.png";
import caveImage from "@/src/assets/images/pcb/resources/cave.jpg";
import cohortImage from "@/src/assets/images/pcb/resources/cohort.jpg";

const resources = [
  {
    title: "Smart Community Resource Center",
    description: "Online resource connecting states, tribal governments, and local communities with resources to help develop intelligent transportation systems and smart community transportation programs.",
    href: "https://www.its.dot.gov/scrc/index.html#/",
    image: scrcImage,
    isExternalLink: true,
  },
  {
    title: "Vehicle-to-Everything (V2X) Trainings",
    description: "Providing foundational knowledge on V2X technology, its components, benefits, and use cases, focusing on how it enhances safety, mobility, and sustainability through wireless communication.",
    href: "/resources/training/pcb/trainings/foundational-v2x",
    image: v2xImage,
  },
  {
    title: "CAVe-in-a-Box",
    description: "Hands-on learning experience to aid curriculum, and support instruction for community colleges and trade schools, facilitate benchmarking connected vehicle equipment, and support onboarding of ITS technicians.",
    href: "/resources/training/pcb/v2x-tools/cave",
    image: caveImage,
  },
  {
    title: "Accelerating V2X Cohort",
    description: "Community of practice with state and local agencies advancing V2X. This cohort facilitates peer-led discussions to address challenges, share best practices, and support interoperable connectivity deployments.",
    href: "/resources/training/pcb/v2x-tools/v2x-cohort",
    image: cohortImage,
  }
]
---
<section>
  <h2 class="text-center mb-4">Spotlight on Training and Technical Assistance Resources</h2>
  <div class="row gy-4">
    {resources.map(resource => (
      <div class="col-sm-6 col-lg-3">
        <Card
          image={resource.image}
          title={resource.title}
          description={resource.description}
          {...(resource.href && { "href": resource.href })}
          isExternalLink={resource.isExternalLink}
        />
      </div>
    ))}
  </div>
</section>