---
import Card from "@/src/components/pcb/Card.astro";
import scrcImage from "@/src/assets/images/pcb/resources/scrc.jpg";
import v2xImage from "@/src/assets/images/pcb/resources/v2x.jpg";
import caveImage from "@/src/assets/images/pcb/resources/cave.jpg";
import cohortImage from "@/src/assets/images/pcb/resources/cohort.jpg";

const resources = [
  {
    title: "Smart Community Resource Center",
    description: "An online resource connecting states, tribal governments, and local communities with resources to help develop intelligent transportation systems and smart community transportation programs.",
    href: "https://www.its.dot.gov/scrc/index.html#/",
    image: scrcImage,
    isExternalLink: true,
  },
  {
    title: "Vehicle-to-Everything (V2X) Trainings",
    description: "Learn about vehicle-to-everything (V2X) technologies. Our comprehensive training program provides foundational trainings for practitioners as well as technical trainings on V2X standards.",
    href: "/resources/training/pcb/trainings/foundational-v2x",
    image: v2xImage,
  },
  {
    title: "Connected and Automated Vehicle Education (CAVe)",
    description: "Hands-on learning experience to aid curriculum, and support instruction for community colleges and trade schools, facilitate benchmarking connected vehicle equipment, and support onboarding of ITS technicians.",
    href: "/resources/training/pcb/trainings/cave",
    image: caveImage,
  },
  {
    title: "Accelerating V2X Cohort",
    description: "A community of practice of state and local agencies -- and other infrastructure owners and operators (IOOs) sharing best practices and lessons learned to  accelerate the deployment of V2X technologies.",
    href: "/resources/training/pcb/v2x-tools/v2x-cohort",
    image: cohortImage,
  }
]
---
<section>
  <h2 class="text-center mb-4">Spotlight on Training and Technical Assistance Resources</h2>
  <div class="row gy-4">
    {resources.map(resource => (
      <div class="col-sm-6 col-lg-3">
        <Card
          image={resource.image}
          title={resource.title}
          description={resource.description}
          {...(resource.href && { "href": resource.href })}
          isExternalLink={resource.isExternalLink}
        />
      </div>
    ))}
  </div>
</section>