---
import Divider from "@/src/components/layout/Divider.astro";
import PcbLayout from "./_pcb-layout.astro";
import Resources from "./_resources.astro";
import Actions from "./_actions.astro";
---
<style>
  
  .video {
    border-radius: 1rem;
  }
</style>
<PcbLayout title="Home">
  <section>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2>ITS Professional Capacity Building</h2>
        <p>
          Watch the ITS Professional Capacity Building (PCB) Program Overview video 
          to gain a comprehensive understanding of the ITS PCB Program. Discover 
          how it supports the development of skilled professionals in the ITS community 
          through various training and educational resources.
        </p>
      </div>
      <div class="col-lg-6">
        <iframe
          width="100%"
          height="250"
          class="video"
          src="https://www.youtube.com/embed/pztl1lRyXAc"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </section>
  <Divider/>
  <Resources/>
  <Divider/>
  <Actions/>
</PcbLayout>