---
import Divider from "@/src/components/layout/Divider.astro";
import PcbLayout from "./_pcb-layout.astro";
import Resources from "./_resources.astro";
import Actions from "./_actions.astro";
---
<style>
  .video {
    border-radius: 1rem;
    max-width: 500px;
  }
</style>
<PcbLayout title="Home">
  <section>
    <h2 class="pcb-title">ITS Professional Capacity Building</h2>
    <div class="row align-items-center g-2">
      <div class="col-xl-7">
        <p>
          The ITS Professional Capacity Building (PCB) Program supports activities that deliver multimodal ITS learning opportunities 
          to transportation professionals by providing ITS trainings and webinars, fostering cohorts, and providing technical assistance to agencies deploying ITS technologies 
          as identified in <a href="https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title23-section514&num=0&edition=prelim" target="_blank" rel="noopener noreferrer">23 USC Sect 514</a>. 
        </p>
        <p>
          The ITS PCB Program works with Federal, State, and local transportation stakeholders to ensure they have adequate knowledge of intelligent transportation systems 
          for consideration in the transportation planning process and that the United States has a workforce capable 
          of developing, operating, and maintaining ITS.
        </p>
      </div>
      <div class="col-xl-5">
        <div class="ratio ratio-16x9 video">
          <iframe
            class="video"
            src="https://www.youtube.com/embed/26k5ppegR6E?si=kTsmTnpGudR7e-1f"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </section>
  <Divider/>
  <Resources/>
  <Divider/>
  <Actions/>
</PcbLayout>