---
import PcbLayout from "./_pcb-layout.astro";
import cohortImage from "@/src/assets/images/pcb/cohort-map.jpg";
import Link from "@/src/components/Link.astro";
import { Image } from "astro:assets";
---
<PcbLayout title="Educational V2X Resources">
  <article>
    <h2>Educational V2X Resources</h2>
    <p>
      Information about V2X Resources such as CAVe coming soon...
    </p>
  </article>
</PcbLayout>