---
import PcbLayout from "./_pcb-layout.astro";
import cohortImage from "@/src/assets/images/pcb/cohort-map.jpg";
import Link from "@/src/components/Link.astro";
import { Image } from "astro:assets";
---
<PcbLayout title="Accelerating V2X Cohort">
  <article>
    <h2>Accelerating V2X Cohort</h2>
    <p>
      The Accelerating V2X Cohort, organized by the Intelligent Transportation Systems (ITS) Joint Program Office (JPO), 
      is a collaborative initiative aimed at accelerating the deployment of V2X transportation technologies. 
      This cohort brings together public agencies actively engaged in V2X projects to share their experiences, 
      challenges, and solutions in deploying wireless connectivity among vehicles, infrastructure, and mobile devices. 
    </p>
    <p>
      Through virtual meetings, members discuss topics such as concept planning, design, procurement, testing, deployment, 
      and maintenance, facilitated by the U.S. DOT providing technical support and resources. The initiative builds 
      on the success of previous ITS JPO cohorts, offering a platform for peer learning and collaboration to ensure 
      that V2X deployments deliver on their intended safety and efficiency goals. 
    </p> 
    <p>
      Organizations interested in joining the cohort should contact J.D. Schneeberger at <Link isExternal href="mailto:john.schneeberger@dot.gov">john.schneeberger@dot.gov</Link>.
    </p>
    <Image 
      class="img-fluid mt-4"
      src={cohortImage} 
      alt="Map of the United States with cohort states shaded in and yellow points with the names of each cohort agency"
    />
  </article>
</PcbLayout>