---
import DataProgramLayout from "../_DataProgramLayout.astro";
import base_url from "@/src/lib/base_url";
---
<DataProgramLayout title="Vehicle-to-Everyting (V2X) Hub | Resources and Tools">
  <h2 class="sideways blue">Vehicle-to-Everything (V2X) Hub</h2>
          
  <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;"> 
   <div class="col-lg-7">
     <p>
       The Vehicle-to-Everything Hub (V2X Hub) was developed as a result of an effort to build a framework of data flows, data exchanges, and the interfaces that will allow CAV information to be shared between relevant components of the transportation infrastructure and mobile devices, including those in vehicles. The V2X Hub was developed with input/feedback from a community of practice that brought together stakeholders from related efforts and ensured that the additions to the V2X Hub software met the needs of the eventual implementors. Essentially, V2X Hub is a repository that provides open-source frameworks for infrastructure components of a connected vehicle deployment. The V2X Hub builds on existing open source software (OSS) applications for communication among all parts of a connected deployment including vehicles, infrastructure, pedestrians, cyclists, and emergency services to create an interoperable software environment for V2X research and deployment.         </p>
     <ul>
         <li>
             <a href="https://www.fhwa.dot.gov/publications/research/operations/22047/22047.pdf" target="_blank">Vehicle-to-Everything (V2X) Hub Factsheet</a>
         </li>
     </ul>
     <button class="Pagebtn externalLink_White btnDark top20Margin" onclick="window.open('https://github.com/usdot-fhwa-OPS/V2X-Hub');">Visit the V2X GitHub Repository</button> 

   </div>
   <div class="col-lg-5">
     <img class="sideColumnImg" src={base_url("/assets/images/data_access/V2XHub.png")}>
   </div>
 </div>
</DataProgramLayout>