---
import Breadcrumb from "@/src/components/programs/Breadcrumb.astro";
import Layout from "../_layout.astro";
import ResourceFooter from "./_ResourceFooter.astro";
---

<Layout>
  <main class="container-xl program-main program-padding">
    <section class="program-section">
      <Breadcrumb items={[
        { name: "Academic Resources", path: "/resources/pcb/academic-resources" },
        { name: "Academic Course Modules" }
      ]}/>
      <h2 class="program-title-lg">
        Careeer Pathways
      </h2>
      <p class="program-text">
        In support of workforce development in ITS, the ITS PCB Program is developing 
        an ITS career paths white paper. This white paper provides an overview of ITS, 
        identifies the variety of different careers in the ITS sector, including key details 
        on specific roles, responsibilities, and skills/education, and provides 
        example career paths. The aim is to showcase opportunities within different ITS 
        areas for individuals exploring or considering a future career in ITS. 
      </p>
      <p class="program-text">
        Based on the ITS career paths white paper, interactive online-based example 
        career paths as well as videos to provide a snapshot overview of ITS careers 
        will be developed as well.  
      </p>
      <p class="program-text">
        <em>Additional content coming soon.</em>
      </p>
    </section>
    
  </main>
  <ResourceFooter/>
</Layout>