---
import Breadcrumb from "@/src/components/programs/Breadcrumb.astro";
import ProgramSection from "@/src/components/programs/ProgramSection.astro";

import Layout from "../_layout.astro";
import ResourceFooter from "./_ResourceFooter.astro";
---

<Layout>
  <main class="program-main pb-0">
    <ProgramSection>
      <Breadcrumb items={[
        { name: "Academic Resources", path: "/resources/pcb/academic-resources" },
        { name: "Career Paths" }
      ]}/>
      <h2 class="program-title-lg">
        ITS Career Paths
      </h2>
      <p class="program-text">
        In support of workforce development in ITS, the ITS PCB Program is developing 
        an ITS career paths white paper. This white paper provides an overview of ITS, 
        identifies the variety of different careers in the ITS sector, including key details 
        on specific roles, responsibilities, and skills/education, and provides 
        example career paths. The aim is to showcase opportunities within different ITS areas 
        for individuals exploring or considering a future career in ITS. 
      </p>
      <p class="program-text">
        Based on the ITS career paths white paper, potential interactive online-based 
        example career paths as well as videos to provide a snapshot overview of ITS careers 
        may be developed as well.  
      </p>
      <p class="program-text">
        <em>Status: Under Development</em>
      </p>
    </ProgramSection>
    <ResourceFooter/>
  </main>
  
</Layout>