---
import BullseyeIcon from "@/src/components/programs/icons/BullseyeIcon.astro";
import CompassIcon from "@/src/components/programs/icons/CompassIcon.astro";
import CheckIcon from "@/src/components/programs/icons/CheckIcon.astro";
import ListIcon from "@/src/components/programs/icons/ListIcon.astro";
import Layout from "../_layout.astro";
import ProgramSection from "@/src/components/programs/ProgramSection.astro";
---

<style>
  /* General Styles */
  .subtitle {
    color: rgb(var(--color-brand-dark));
    font-size: 22px;
    text-transform: none;
  }
</style>
<style>
  /* Focus Area Cards */
  .area-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  @media (min-width: 992px) {
    .area-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .area-card {
    border: 1px solid var(--border-light);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
  }
  .area-card-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    color: rgb(var(--color-brand-dark));
  }
  .area-card-title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: inherit;
  }
</style>
<style>
  .highlight-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: 1rem; */
  }
  /* Highlight Cards */
  .highlight-card {
    border: 1px solid var(--border-light);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-left: 4px solid rgb(var(--color-brand-dark));
  }
  .highlight-card-header {
    background: rgb(var(--color-gray-light));
    padding: 1rem 1rem;
    margin: 0;
    color: rgb(var(--color-brand-dark));
    font-size: 18px;
    font-weight: medium;
  }
  .highlight-card-content {
    padding: 1rem;
    margin: 0;
    font-size: 1.1rem;
  }
</style>
<Layout title="Automation Program">
  <main class="program-main">
   
      <h2 class="program-title-lg">
        Cooperative Driving Automation (CDA)
      </h2>
      <p class="max-w-lg program-text">
        Cooperative Driving Automation enables automated vehicles to communicate with other vehicles, infrastructure, and road users to coordinate movements and improve safety, efficiency, and mobility.
      </p>
      <div class="area-container mt-4">
        <div class="area-card">
          <div class="area-card-header">
            <BullseyeIcon size={24}/>
            <h3 class="area-card-title">Goal</h3>
          </div>
          <p class="program-text">
            Assess the feasibility of conducting a small-scale Cooperative Driving Automation pilot (focusing on L0-2 with Interoperable Connectivity) and package the accomplishments for design and architecture.
          </p>
        </div>
        <div class="area-card">
          <div class="area-card-header">
            <CompassIcon size={24}/>
            <h3 class="area-card-title">Approach</h3>
          </div>
          <p class="program-text">
            Facilitate selected multimodal deployment use cases where infrastructure and AVs face clear operational challenges, without overlapping industry R&D.
          </p>
        </div>
        <div class="area-card">
          <div class="area-card-header">
            <CheckIcon size={24}/>
            <h3 class="area-card-title">Anticipated Outcomes</h3>
          </div>
          <p class="program-text">
            Reduced AV incidents/impacts and more successful overall deployment.
          </p>
        </div>
        <div class="area-card">
          <div class="area-card-header">
            <ListIcon size={24}/>
            <h3 class="area-card-title">Near-Term Actions</h3>
          </div>
          <p class="program-text">
            Address foundational CDA research such as in architecture and standards, research and assess potential CDA use cases, and support cross-cutting activities such as related analysis, modeling, and simulation across modes and use case scenarios.
          </p>
        </div>
      </div>
    </ProgramSection>
    <ProgramSection>
      <h3 class="program-title-md">
        Current Project Highlights
      </h3>
      <div class="highlight-container mt-4">
        <div class="highlight-card">
          <h4 class="highlight-card-header">
            CDA Design and Architecture
          </h4>
          <div class="highlight-card-content">
            The objectives of this project are to:
            <ol>
              <li>
                Develop and/or improve the CARMA Ecosystem's architecture and interfaces
              </li>
              <li>
                Develop a CDA domain achievable within the next 5-7 years
              </li>
              <li>
                Develop an understanding of spectrum requirements for the deployment 
                of the use cases/applications developed thus far in the CDA Program. 
              </li>
            </ol>
          </div>
        </div>
        <div class="highlight-card">
          <h4 class="highlight-card-header">
            Near Term CDA Small Scale Prototype Planning
          </h4>
          <div class="highlight-card-content">
            This project engages IOOs, OEMs, industry members and SDOs to assess readiness 
            for CDA prototypes and/or pilot using stakeholder engagement and planning.
          </div>
        </div>
        <div class="highlight-card">
          <h4 class="highlight-card-header">
            Truck Platooning Impacts on Bridges, Phase II: Structural Serviceability
          </h4>
          <div class="highlight-card-content">
            Structural Serviceability will investigate potential impacts on service and fatigue limit states of common bridge types from most probable truck platoon configurations identified in Phase I.
          </div>
        </div>
      </div>
    </ProgramSection>
  </main>
</Layout>