---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<style>
  .hero-container {
    background-position: center;
    background-size: cover;
    padding: 50px 0 100px 0;
  }

  .HotTopicBlock img {
    width: 100%;
    height: auto;
  }
  h2 {
    text-wrap: pretty;
  }
</style>
<BaseLayout title="ITS JPO">
  <div class="bodyWrap">
    <div class="container">
      <div class="usa-prose">
        <!-- This template can be used for most types of error pages -->
        <!-- Remove these comments when you build your error pages -->

        <!-- Describe the error in the main heading -->
        <h1>Page not found</h1>

        <!-- Explain what caused the error in the lead text -->
        <h3 class="usa-intro">We're currently redesigning and improving our site to serve you better—thank you for your patience!</h3>
        <p>Please use the above navigation to check out the new format.</p>

        <!-- Provide instructions how the user can address or fix the error -->
        <p>Visit our homepage for helpful tools and resources.</p>

        <!-- Use buttons for main actions user can take, such as visiting the homepage or a contact page -->
        <div class="margin-y-5">
          <a href="/" class="btn btn-secondary">Visit homepage</a>
           
        </div>

        <!-- Error code if appropriate -->
        <p><strong>Error code:</strong> 404</p>
      </div>
    </div>
  </div>
</BaseLayout>
