---
import PageLayout from "@/src/layouts/PageLayout.astro";
import base_url from "@/src/lib/base_url";
---
<PageLayout title="Smart Communities">
  <Fragment slot="banner">
    Smart Communities
  </Fragment>
  <h2>
    U.S. Department of Transportation Releases Report on 
    Smart Cities and Communities
  </h2>
  <p>
    The U.S. Department of Transportation (U.S. DOT) has released the 
    Putting People First – Smart Cities and Communities report. 
    The report covers the benefits, goals, challenges, and success factors 
    associated with smart cities and communities (SC&amp;C) and gives a 
    glimpse of the path forward.
  </p>
  <a href={base_url("/assets/pdf/factsheets/SmartCities.pdf")} target="_blank" rel="noopener noreferrer">
    <img 
      src={base_url("/assets/images/rotatorbanner/ITSJPO_WebBanner_SmartCities.png")} 
      style="width:100%; margin-bottom:20px;"
    >
  </a>
  <h2>Background</h2>
  <p>
    SC&amp;Cs use advanced information and communications technologies 
    to find new ways to solve age-old problems like potholes and pollution, 
    traffic and parking, public health and safety, and equity and public engagement. 
    SC&amp;Cs create an intelligent and integrated information network 
    by applying sensors and wireless communications technologies to infrastructure, 
    vehicles, wearables, and any number of physical devices. They use this network 
    to receive, analyze, and share data in real time to make better decisions 
    and provide more responsive, efficient, and data-driven services. 
    These bold new solutions have the potential to change the face 
    of transportation by closing the gap between rich and poor, capturing the needs 
    of both young and old, and bridging the digital divide through smart design 
    so the future of transportation meets the needs of all.
  </p>
  <h2>Report Overview</h2>
  <p>
    The Putting People First – Smart Cities and Communities report outlines 
    the three hallmarks for establishing an SC&amp;C:
  </p>
  <ul>
    <li>
      <p>
        <b>Networks:</b> They use networks of sensors to gather and integrate data 
        that can be used for various applications and citizen services.
      </p>
    </li>
    <li>
      <p>
        <b>Connectivity:</b> They use connectivity to enable city officials 
        to interact directly with the community and to monitor and 
        manage city infrastructure.
      </p>
    </li>
    <li>
      <p>
        <b>Open Data:</b> They are committed to an open data philosophy 
        and routinely share operations and planning data with the public.
      </p>
    </li>
  </ul>
  <p>
    In addition, the report highlights some of the forward-thinking ways 
    that communities are applying SC&amp;C concepts along with how 
    the U.S. DOT is supporting those efforts. It shares results from 
    a survey of more than 50 American cities on their use of SC&amp;C technologies. 
    The report also provides an overview of the benefits and challenges 
    of SC&amp;Cs and the key factors that can drive success. 
    The report gives a glimpse of what the future might hold and how 
    the U.S. DOT is helping communities blaze the way to a brighter future.
  </p>
  <h2>Moving Forward</h2>
  <p>
    To download the full report, 
    click <a href={base_url("/assets/pdf/factsheets/SmartCities.pdf")} target="_blank" rel="noopener noreferrer">here</a> .
  </p>
  <p>
    For more information, explore 
    the <a href="https://www.its.dot.gov/scrc/index.html#/">Smart Community Resource Center</a>, 
    which serves as a compilation of resources for practitioners to develop advance ITS 
    and smart community transportation projects and programs. This website is 
    a living resource that will be routinely updated with additional resources 
    and tools to assist in deploying smart community technologies.
  </p>
</PageLayout>