---
import Default from "../../layouts/Default.astro";
import SideBar from "../../components/SideBar_Deployment.astro";
---

<Default title="ITS JPO - Vehicle-to-Everything (V2X)">
  <!-- InstanceBeginEditable name="AboutBanner" -->

  <div class="AboutBanner">
    <div class="AboutBannerTitle">
      <h1>Vehicle-to-Everything (V2X)</h1>
    </div>
  </div>
  <!-- InstanceEndEditable -->

  <!-- Sidebar -->
  <!-- InstanceBeginEditable name="sidenav" -->

  <div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light">
        <SideBar />
      </aside>
      <!-- InstanceEndEditable -->
      <!-- InstanceBeginEditable name="MainContent" -->

      <main class="col-9 MainContent">
        <h2>Vehicle-to-Everything</h2>
        <p>
          Vehicle-to-Everything (V2X) is the next generation of Intelligent Transportation Systems (ITS). V2X technologies capture vehicle-generated traffic data, wirelessly providing information such
          as advisories from the infrastructure to the vehicle that inform the driver of safety, mobility, or environment-related conditions. State and local agencies are likely to install V2X
          infrastructure alongside or integrated with existing ITS equipment. Because of this, the majority of V2X deployments may qualify for similar federal-aid programs as ITS deployments, if the
          deploying agency meets certain eligibility requirements.
        </p>
        <p>
          This page lists a broad range of resources that help planners, transportation engineers, decision-makers, and other involved in the ITS deployment process with valuable information about V2X
          technologies.
        </p>
        <h3>For Licensees</h3>
        <p>
          <strong>
            <a href="https://rosap.ntl.bts.gov/view/dot/3577" target="_blank" rel="noopener noreferrer">Guide to Licensing Dedicated Short Range Communications for Road Side Units -</a>
          </strong>The goal of this document is to make licensing requirements transparent and best practices accessible to any organization, public or private, seeking to deploy “Connected Vehicle”
          Dedicated Short Range Communications Roadside Units and services that support V2X applications.
        </p>
        <h3>Connected Vehicle Training</h3>
        <ul>
          <li><a href="https://www.pcb.its.dot.gov/itscourses/default.aspx" target="_blank">Connected Vehicle Training resources</a></li>
        </ul>
        <p>
          Visit the <a href="../pilots/index.htm">Connected Vehicle Program</a> section of this website for more information about the U.S. DOT’s Connected Vehicle Program and connected vehicle technologies.
        </p>
        <p>&nbsp;</p>
        <p><img src="/src/assets/images/Image38.jpg" alt="Wireless communications will allow connectivity between all modes of transportation" width="558" height="369" /></p>
        <h2>Program Resources</h2>

        <ul>
          <li><a href="v2x.htm">Vehicle-to-Everything (V2X) Publications</a></li>
        </ul>

        <div class="contacts">
          <h2>Research Contacts</h2>
          <p>
            <strong>JD Schneeberger</strong><br />
            <em>Program Manager</em><br />
            ITS Joint Program Office<br />
            (202) 366-8034<br />
            <a href="mailto:John.Schneeberger@dot.gov">John.Schneeberger@dot.gov</a>
          </p>
        </div>
      </main>
    </div>
  </div>
</Default>
