---

import banner from "@/src/assets/images/banners/V2X_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";

const keywords = [
  "V2X",
  "Vehicle-to-Everything",
  "V2X Deployment",
  "interoperable connectivity",
  "safety",
  "goods movement",
  "public investment",
  "private investment",
];

const description =
  "The V2X Deployment program accelerates the adoption and deployment of interoperable connectivity nationwide, enhancing safety and mobility.";
---

<PageLayout title="V2X Deployment" bannerImage={banner} keywords={keywords} description={description}>
  <Fragment slot="banner">Vehicle-to-Everything (V2X)</Fragment>
      <main>
        <h2 class="sideways blue">DSRC V2X Analysis Archive</h2>
        
        <p class="mt-4">
          The USDOT tested Dedicated Short-range Communications (DSRC) technology extensively over several years, including the impact of sharing the band with unlicensed devices, impact of out of band emissions (OOBE) and interference from unlicensed devices operating in adjacent channels.
        </p>

        <p>
          As a result of these activities, several technical reports were produced and made available to the public. You can find these reports on the Safety Band website.
        </p>

        <ul class="mt-4">
          <li><a href="https://www.transportation.gov/research-and-technology/safety-band-testing-plans-and-technical-info" target="_blank" rel="noopener noreferrer">Safety Band</a></li>
          <li><a href="https://its.dot.gov/research_archives/connected_vehicle/connected_vehicle_policy.htm" target="_blank" rel="noopener noreferrer">ITS JPO Connected Vehicle Policy Website</a></li>
        </ul>
      </main>
</PageLayout>
