---
import PageLayout from "@/src/layouts/PageLayout.astro";
import banner from "@/src/assets/images/banners/NTL_Banner.png";

const keywords = [
  "ARC-IT",
  "Architecture Reference for Cooperative and Intelligent Transportation",
  "standards development organizations",
  "SDOs",
  "interoperability",
  "transportation systems",
  "cybersecurity",
  "protocols",
  "standards",
];

const description =
  "The ITS Architecture and Standards Program supports safe, secure, and interoperable ITS deployment with tools, standards, and ARC-IT guidance.";
---

<PageLayout title="ITS Architecture and Standards" bannerImage={banner} keywords={keywords} description={description}>
  <Fragment slot="banner"> Architecture and Standards </Fragment>
    <h2 class="sideways blue">ITS Architecture and Standards</h2>
    <p>
      This Program provides a reference system architecture along with voluntary technical standards, tools, and
      deployment support. These efforts guide safe, secure, efficient, and interoperable deployment of infrastructure,
      connected, and automated ITS technologies as outlined in <a
        href="https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title23-section517&num=0&edition=prelim"
        target="_blank"
      >
        USC Sect. 517
      </a>.
    </p><p>
      ITS Architecture as defined in the Architecture Reference for Cooperative and Intelligent Transportation (ARC-IT)
      provides a common framework for planning, defining, and integrating ITS, as well as guiding investment in
      standards to facilitate interoperable deployment. Evolution and maintenance of ARC-IT is critical to addressing
      the concerns of all stakeholders in the ITS community, staying abreast of technological developments and policy
      constraints, while ensuring that investment in standards development and deployment is able to economically
      leverage new technologies while maintaining and enhancing interoperability.
    </p><p>
      Standards define an architecture of interrelated systems that work together to deliver transportation services.
      Most standards are voluntary, consensus-based, and open. ITS standards cover different "communications layers" in
      their description of how data is communicated between the relevant transportation systems. These layers start with
      the description of how bits of data are combined and transmitted and extend to the meaning of the entire message
      sent over the communications path. ITS standards specify consistency and compatibility of the interconnects and
      interfaces, both hardware and software, within an advanced transportation system.
    </p><p>
      The ITS Architecture and Standards Program conducts activities to support the development and maintenance of
      standards and protocols using the services of standards development organizations (SDOs), updates ARC-IT to
      reflect changes in standards development and technology evolution and provides mechanisms for ITS professionals to
      learn about ITS architecture, standards, and how architecture, standards and cybersecurity are relevant to
      deployment.
    </p>
</PageLayout>
