---
import PageLayout from "@/src/layouts/PageLayout.astro";
import banner from "@/src/assets/images/banners/NTL_Banner.png";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";

const keywords = [
  "National Transportation Library",
  "NTL",
  "Intelligent Transportation Systems",
  "Transportation Research",
  "Transportation Library",
];

const description = "The National Transportation Library (NTL) and the Repository & Open Science Access Portal (ROSA P) contains documents on Intelligent Transportation Systems topics published or sponsored by the U.S. DOT. Most of the documents are in PDF format.";
---
<PageLayout title="National Transportation Library" bannerImage={banner} keywords={keywords} description={description}>
  <Fragment slot="banner">
    National Transportation Library
  </Fragment>
  <SidebarLayout path="/resources/">

  <p>
    The <a href="https://ntl.bts.gov/" target="_blank" rel="noopener noreferrer">National Transportation Library (NTL)</a> and the <a
      href="https://rosap.ntl.bts.gov/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Repository &amp; Open Science Access Portal (ROSA P)
    </a> contains documents on Intelligent Transportation Systems topics published or sponsored by the U.S. DOT. Most of the documents are in PDF format.
  </p>

  <h3>National Transportation Library</h3>
  <ul>
    <li><a href="https://rosap.ntl.bts.gov/" target="_blank" rel="noopener noreferrer" class="externalLink">Simple Search of ITSJPO Digital Library Collection</a></li>
    <li><a href="https://rosap.ntl.bts.gov/advancesearch" target="_blank" rel="noopener noreferrer" class="externalLink">Advanced Search</a></li>
    <li><a href="https://rosap.ntl.bts.gov/help" target="_blank" rel="noopener noreferrer" class="externalLink">Search Tips</a></li>
  </ul>
  <section slot="footer" class="download bg-primary text-center" id="research" style="padding-top: 2em">
    <div class="container-fluid">
      <div class="container">
        <div class="col-lg-12">
          <h2>Contacts</h2>
          <p style="padding-bottom: 20px">
            Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
            available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
          </p>
          <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
            <b>Marcia Pincus</b>
          </p>
          <p>ITS Joint Program Office</p>
          <p>Program Manager, ITS Deployment Evaluation</p>
          <p>(202) 366-9230</p>
          <p>
            <a class="email-footer" href="mailto:Marcia.Pincus@dot.gov">Marcia.Pincus@dot.gov</a>
          </p>

          <p style="padding-top: 20px; border-top-style: none; border-color: honeydew; border-width: 2px">
            <b>Mike Pina</b>
          </p>
          <p>ITS Joint Program Office</p>
          <p>(202) 366-3700</p>
          <p>
            <a class="email-footer" href="mailto:Mike.Pina@dot.gov">Mike.Pina@dot.gov</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  </SidebarLayout>
</PageLayout>