---
import PageLayout from "@/src/layouts/PageLayout.astro";
import banner from "@/src/assets/images/banners/NTL_Banner.png";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";

const keywords = [
  "ITS Professional Capacity Building Program",
  "ITS PCB Program",
];
---

<PageLayout title="ITS Professional Capacity Building Program" bannerImage={banner}>
  <Fragment slot="banner"> ITS Professional Capacity Building (PCB) Program </Fragment>
  <SidebarLayout path="/resources/">
    <p>
      The ITS PCB Program supports activities that deliver multimodal ITS learning opportunities to transportation professionals by providing ITS trainings and webinars, fostering cohorts, and
      providing technical assistance to agencies deploying ITS technologies as identified in <a
        href="https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title23-section514&num=0&edition=prelim"
      >23 USC Sect 514.</a> The PCB Program works with Federal, State, and local transportation stakeholders to ensure they have adequate knowledge of intelligent transportation systems for consideration in the transportation
      planning process and that the United States has a workforce capable of developing, operating, and maintaining ITS.
    </p>
  </SidebarLayout>
</PageLayout>
