---
import Default from "../../../../layouts/Default.astro";
import SideBar from "../../../../components/SideBar_About.astro";
import NavITSPAC from "../../../../components/Nav_ITSPAC.astro";
---


<Default title="ITS JPO - ITSPAC">

      <!-- InstanceBeginEditable name="AboutBanner" -->

      <div class="AboutBanner">
        <div class="AboutBannerTitle">
          <h1>ITS Program Advisory Committee (ITSPAC)</h1>
        </div>
      </div>
      <!-- InstanceEndEditable -->

      <!-- Sidebar -->
      <!-- InstanceBeginEditable name="sidenav" -->

      <div class="container-fluid h-100 bodyWrap">
        <div class="row h-100">
          <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
          <!-- InstanceEndEditable -->
          <!-- InstanceBeginEditable name="MainContent" -->

          <main class="col-9 MainContent">
            <div class="row">
              <div class="col-lg-12">
                <NavITSPAC />
                <h2>Reference Documents and Committee Historical Archive</h2>
                <section class="rule" style="background-color: #055581; margin: 15px 0px 10px 0px"></section>
              </div>
            </div>

            <div class="accordion accordion-flush" id="myAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                    <h3>Reference Documents</h3>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <ul class="ritafont">
                      <li>
                        <a href="https://www.govinfo.gov/content/pkg/USCODE-2021-title23/pdf/USCODE-2021-title23-chap5-sec515.pdf" target="_blank" rel="noopener noreferrer">23 U.S.C. 515(h)(1)</a>
                      </li>

                      <li><a href="/about/itspac/archive/itspac_ethics/">ITSPAC Ethics Guidelines</a></li>
                      <li>
                        <a
                          href="https://www.federalregister.gov/documents/2023/01/30/2023-01769/notice-of-establishment-of-the-intelligent-transportation-systems-program-advisory-committee-and-to"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          Federal Register Notice of ITSPAC Establishment
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                    <h3>Reports to Congress</h3>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <ul class="ritafont">
                      <li><a href="/assets/pdf/itspac/pdf/2008_ReportCongress.pdf" target="_blank" rel="noopener noreferrer">Report to Congress 2008</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/2009_ReportCongress.pdf" target="_blank" rel="noopener noreferrer">Report to Congress 2009</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/2010_ReportCongress.pdf" target="_blank" rel="noopener noreferrer">Report to Congress 2010</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/2011 Report Only.pdf" target="_blank" rel="noopener noreferrer">Report to Congress 2011</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/2012_ReportCongress.pdf" target="_blank" rel="noopener noreferrer">Report to Congress 2012</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/2013_ReportCongress.pdf" target="_blank" rel="noopener noreferrer">Report to Congress 2013</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/2014_ReportCongress.pdf" target="_blank" rel="noopener noreferrer">Report to Congress 2014</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/2015_ReportCongress.pdf" target="_blank" rel="noopener noreferrer">Report to Congress 2015</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/2016_ReportCongress.pdf" target="_blank" rel="noopener noreferrer">Report to Congress 2016</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                    <h3>Reports to the Secretary</h3>
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <ul class="ritafont">
                      <li><a href="/assets/pdf/itspac/sec_reports/2017_Report_Secretary.pdf" target="_blank" rel="noopener noreferrer">Report to the Secretary 2017</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                    <h3>ITSPAC Advice Memoranda</h3>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <ul class="ritafont">
                      <li><a href="/assets/pdf/itspac/pdf/2016_AdviceMemorandum.pdf" target="_blank" rel="noopener noreferrer">ITSPAC Advisory Memorandum to U.S. DOT, January 2, 2016</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/2015_AdviceMemorandum.pdf" target="_blank" rel="noopener noreferrer">ITSPAC Advisory Memorandum to U.S. DOT, October 5, 2015</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/Nov2014_AdviceMemorandum.pdf" target="_blank" rel="noopener noreferrer">ITSPAC Advisory Memorandum to U.S. DOT, November 20, 2014</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/ITSPAC_Final_Recommendations2013_12_20.pdf" target="_blank" rel="noopener noreferrer">ITSPAC Advisory Memorandum to U.S. DOT, December 20, 2013</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/itspac_2011Report_SecDOT_CmteFinal.pdf" target="_blank" rel="noopener noreferrer">ITSPAC Advisory Memorandum to U.S. DOT, November 28, 2011</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/ITSPACAdvisoryMemoUSDOTAug62010.pdf">ITSPAC Advisory Memorandum to U.S. DOT, August 6, 2010</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/ITSPAC_AdvMemo2.pdf" target="_blank" rel="noopener noreferrer">ITSPAC Advisory Memorandum to U.S. DOT, Number 2, October 31, 2008</a></li>
                      <li><a href="/assets/pdf/itspac/pdf/ITSPAC_AdviceMemo1.pdf" target="_blank" rel="noopener noreferrer">ITSPAC Advisory Memorandum to U.S. DOT, Number 1, May 29, 2008</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                    <h3>July 18-19, 2017</h3>
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <ul class="ritafont">
                      <li><a href="/assets/pdf/itspac/july2017/SummaryProceedings_ITSPAC_2017-07-19.pdf" target="_blank" rel="noopener noreferrer">Summary of Proceedings - July 19, 2017</a></li>
                      <li><a href="/assets/pdf/itspac/july2017/SummaryProceedings_2017-07-18.pdf" target="_blank" rel="noopener noreferrer">Summary of Proceedings - July 18, 2017</a></li>
                      <li><a href="/assets/pdf/itspac/july2017/transcript1_2017.pdf" target="_blank" rel="noopener noreferrer">Meeting Transcript - July 18, 2017</a></li>
                      <li><a href="/assets/pdf/itspac/july2017/0719_Transcript.pdf" target="_blank" rel="noopener noreferrer">Meeting Transcript - July 19, 2017</a></li>
                      <li>Presentation</li>
                      <ul>
                        <li><a href="/assets/pdf/itspac/july2017/July2017_HartmanCVPsv2.pdf" target="_blank" rel="noopener noreferrer">Connected Vehicle Pilot Deployment Program</a></li>
                        <li><a href="/assets/pdf/itspac/july2017/July2017_Sheehan MODATTRIv6.pdf" target="_blank" rel="noopener noreferrer">Mobility on Demand (MOD) and Accessible Transportation Technologies Research Initiative (ATTRI) Programs</a></li>
                        <li><a href="/assets/pdf/itspac/july2017/ITSPAC_2017-07-18v3.pdf" target="_blank" rel="noopener noreferrer">ITS Program Advisory Committee Meeting</a></li>
                        <li><a href="/assets/pdf/itspac/july2017/July2017_Gold_DATAv2.pdf" target="_blank" rel="noopener noreferrer">Data Program Update</a></li>
                      </ul>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven">
                    <h3>April 19, 2017</h3>
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <ul class="ritafont">
                      <li><a href="april2017/Summary_Proceedings_2017-04-19.pdf" target="_blank" rel="noopener noreferrer">Summary of Proceedings</a></li>
                      <li><a href="april2017/April19_MeetingTranscript.pdf" target="_blank" rel="noopener noreferrer">Meeting Transcript</a></li>
                      <li><a href="april2017/ITSPAC_2017-04-19v4.pdf" target="_blank" rel="noopener noreferrer">Meeting Presentation</a></li>

                      <li><a href="/assets/pdf/itspac/pdf/ITSPAC8.11.16_SubcommitteeAssignments.pdf" target="_blank" rel="noopener noreferrer">Subcommittee Assignments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseEight">
                    <h3>December 7, 2016</h3>
                  </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <ul class="ritafont">
                      <li><a href="dec2016/ITSAdvisoryCommitteeRecommendationsImplementation.pdf" target="_blank" rel="noopener noreferrer">Recommendations Implementation Update</a></li>
                      <li><a href="dec2016/SummaryProceedings_ITSPAC_2016-12-07.pdf" target="_blank" rel="noopener noreferrer">Summary of Proceedings</a></li>
                      <li><a href="dec2016/Transcript_MeetingDecember2016.pdf" target="_blank" rel="noopener noreferrer">Meeting Transcript</a></li>

                      <li><a href="/assets/pdf/itspac/pdf/ITSPAC8.11.16_SubcommitteeAssignments.pdf" target="_blank" rel="noopener noreferrer">Subcommittee Assignments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                    <h3>August 11, 2016</h3>
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <ul>
                      <li><a href="august2016/SummaryProceedings_ITSPAC_2016.pdf" target="_blank" rel="noopener noreferrer">Summary of Proceedings</a></li>
                      <li><a href="august2016/MeetingTranscript.pdf" target="_blank" rel="noopener noreferrer">Meeting Transcript</a></li>
                      <li><a href="august2016/ITS_PAC_Presentation_JPO-KLeonard.pdf" target="_blank" rel="noopener noreferrer">Meeting Presentation</a></li>

                      <li><a href="/assets/pdf/itspac/pdf/ITSPAC8.11.16_SubcommitteeAssignments.pdf" target="_blank" rel="noopener noreferrer">Subcommittee Assignments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseNine">
                    <h3>March 31, 2016</h3>
                  </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                    <ul class="ritafont">
                      <li><a href="march2016/Transcript_2016-03-31.pdf" target="_blank" rel="noopener noreferrer">Meeting Transcript</a></li>
                      <li><a href="march2016/Presentation_ITSPAC2016-03-31v2.pdf" target="_blank" rel="noopener noreferrer">ITS Program Advisory Committee Meeting</a></li>

                      <li><a href="march2016/SummaryProceedings_2016-03-31.pdf" target="_blank" rel="noopener noreferrer">Summary of Proceedings</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
    <!-- InstanceEndEditable -->

    <div id="footer-container"></div>  </body>
  <!-- InstanceEnd -->
</Default>