---
import Card from "@/src/components/pcb/Card.astro";
import PcbLayout from "./_pcb-layout.astro";
import caseStudiesImage from "@/src/assets/images/pcb/case-studies.jpeg";
import studentCompetitionsImage from "@/src/assets/images/pcb/student-competitions.png";
import workshopsImage from "@/src/assets/images/pcb/workshops.jpeg";
import careerPathsImage from "@/src/assets/images/pcb/career-paths.jpeg";
---

<PcbLayout title="Academic Resources">
  <h2>Academic Resources</h2>
  <p>
    Connect with tools and materials to support students and faculty in preparing for careers in ITS.
  </p>
  <div class="row gy-4 mb-4 justify-content-start">
    <div class="col-md-6">
      <Card
        image={caseStudiesImage}
        title="Case Studies (for Higher Education)"
        description="Academic case studies and lesson plans on ITS, CV, and AV technologies are available, with instructor access requiring registration and student materials open to all."
        href="https://its.dot.gov"
        isExternalLink
      />
    </div>
    <div class="col-md-6">
      <Card
        image={studentCompetitionsImage}
        title="ITS Student Competitions"
        description="The Transportation Technology Tournament (TTT) enables ITS students to collaborate with public agencies, applying ITS and TSMO solutions to solve real-world transportation challenges."
        href="https://its.dot.gov"
        isExternalLink
      />
    </div>
    <div class="col-md-6">
      <Card
        image={workshopsImage}
        title="ITS Academic Workshops"
        description="Collaborative sessions where educators and organization representatives explore strategies for integrating ITS education into curricula and provide feedback for developing new learning tools."
        href="https://its.dot.gov"
        isExternalLink
      />
    </div>
    <div class="col-md-6">
      <Card
        image={careerPathsImage}
        title="Career Paths"
        description="Coming soon..."
        href="https://its.dot.gov"
        isExternalLink
      />
    </div>
  </div>
</PcbLayout>