---
import Link from "@/src/components/Link.astro";
import PcbLayout from "./_pcb-layout.astro";
---

<PcbLayout title="Webinars">
  <h2>ITS Webinars for Academics</h2>
  <p>
    Welcome to the T3 Webinar Archive! This archive contains over 100 recordings of past T3 and T3e Webinars. 
    The archive also includes links to ITS-related webinars produced by ITS PCB partners, including the Institute 
    of Transportation Engineers, ITS America, and the National Operations Center of Excellence. 
    These recordings are a great way to get up to date quickly on a broad range of ITS topics.
  </p>
  <p>
    A T3 Webinar consists of the following:
    <ul>
      <li>
        Audio playback
      </li>
      <li>
        Presentations delivered in the webinar
      </li>
      <li>
        Transcript of the webinar's question and answer discussion
      </li>
      <li>
        Webinar announcement, containing the description, learning objectives, and biographies of presenters
      </li>
    </ul>
  </p>
  <p>
    If you have any questions about the archive or suggestions about future T3 Webinar topics, 
    <Link isExternal href="mailto:Tara.Reel@dot.gov">
      please contact us
    </Link>
  </p>
</PcbLayout>