---
import Default from "../../../layouts/Default.astro";
import SideBar from "../../../components/SideBar_Research.astro";
import NavDataProgram from "../../../components/Nav_DataProgram.astro";
---

<Default title="ITS JPO - ITS Data Program">
  <!-- InstanceBeginEditable name="AboutBanner" -->

  <div class="AboutBanner DataAccess_bkgd">
    <div class="AboutBannerTitle">
      <h1>ITS Data Program</h1>
    </div>
  </div>
  <div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light"><SideBar />
        </aside>
        <main class="col-9 MainContent">

          <div class="container-fluid"><NavDataProgram />
            <h2 class="sideways blue">Data and Exchanges Program News and Events</h2>
            
             <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;"> 
              <div class="col-lg-7">
                <p>
                  Interested in staying up to date on the latest ITS Data Program news and events? We have you covered.        
                </p>
                <h3>News</h3>
        
                <!-- Placeholder links for future
                <ul>
                    <li>
                        <a href="../../factsheets/pdf/nameofPDF" target="_blank"> New data feed added to the WZDx Feed Registry</a>
                    </li>
                    <li>
                      <a href="../../factsheets/pdf/nameofPDF" target="_blank">Additional News Highlight 1</a>
                  </li>
                  <li>
                    <a href="../../factsheets/pdf/nameofPDF" target="_blank">Additional News Highlight 2</a>
                  </li>
                  <li>
                    <a href="../../factsheets/pdf/nameofPDF" target="_blank">Additional News Highlight 3</a>
                  </li>
                    
                </ul>
        
              -->
        
                <h3>Events</h3>
                 <!-- Placeholder links for future 
                <ul>
                  <li>
                    <a href="../../factsheets/pdf/nameofPDF" target="_blank">Past or Upcoming Event 1</a>
                  </li>
                  <li>
                    <a href="../../factsheets/pdf/nameofPDF" target="_blank">Past or Upcoming Event 2</a>
                  </li>
                  <li>
                    <a href="../../factsheets/pdf/nameofPDF" target="_blank">Past or Upcoming Event 3</a>
                  </li>
                </ul>
        
              -->
                <button class="Pagebtn externalLink_White btnDark top20Margin" onclick="window.open('https://www.its.dot.gov/press/news.htm');">View all ITS JPO News and Events</button> 
        
              </div>
              <div class="col-lg-5">
                <img class="sideColumnImg" src="/src/assets/images/data_access/ITS_DataProgram_ResourcePreivew_News.png">
              </div>
            </div>
          </div>
        
        
        
              
        
        
        
        
            </main>
    </div>
  </div>
  <section class="download bg-primary text-center" id="research" style="padding-top: 2em">
    <div class="container-fluid">
      <div class="container">
        <div class="col-lg-12">
          <h2>Contacts</h2>
          <p style="padding-bottom: 20px">
            Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
            available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
          </p>
          <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
            <b>Murat Omay</b>
          </p>
          <p>Program Manager, ITS Data Program</p>
          <p>ITS Joint Program Office</p>
          <p>(202)-366-4374</p>
          <p>
            <a class="email-footer" href="mailto:Murat.Omay@dot.gov">Murat.Omay@dot.gov</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</Default>
