---
import Default from "../../../layouts/Default.astro";
import SideBar from "../../../components/SideBar_Research.astro";
import NavDataProgram from "../../../components/Nav_DataProgram.astro";
import DataProgramLayout from "./_DataProgramLayout.astro";
---
<DataProgramLayout title="Get Involved">
  <h2 class="sideways blue">Get Involved</h2>        
  <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;"> 
   <div class="col-lg-7">
     <p>
       Looking to get involved with the ITS Data Program? You're in the right place to discover how you can be an active part of our data-driven community and make a meaningful impact.
     </p>
     <h3>Contact Us</h3>
      <h4>
        Work Zone Data Exchange (WZDx)
      </h4>
      <p>
        <a href="mailto:WZDxSupport@dot.gov" target="_blank">WZDxSupport@dot.gov</a><br>
      </p>


      <h4 class="contentSeparation">
        ITS DataHub and ITS CodeHub
      </h4>
      <p>
        <a href="mailto:data.itsjpo@dot.gov" target="_blank">data.itsjpo@dot.gov</a>     
      </p>


      <h4 class="contentSeparation">
        Research, Operational, and AI Data Integration Initiative (ROADII) 
      </h4>
      <p>
        <a href="mailto:ROADII@dot.gov" target="_blank">ROADII@dot.gov</a>     
      </p>


      <h4 class="contentSeparation">
        Data Exchange for Managing Disruptions 
      </h4>
      <p>
        <a href="mailto:AVDX@dot.gov" target="_blank">AVDX@dot.gov</a>     
      </p>

      <h4 class="contentSeparation">
        Data and Innovation Research 
          </h4>
      <p>
        Murat Omay<br>
        Program Manager, ITS Data Program <br>
        ITS Joint Program Office <br>
        <a href="mailto:Murat.Omay@dot.gov" target="_blank">Murat.Omay@dot.gov</a>     
      </p>
     

            <!-- Removed Button

     <button class="Pagebtn externalLink_White btnDark top20Margin" onclick="window.open('../stratplan2020/ITSJPO_StratPlanFactSheet.pdf');">View More Ways to Get Involved with U.S. DOTs</button> 


            -->  
    </div>
    <div class="col-lg-5">
      <img class="sideColumnImg" src="/src/assets/images/data_access/ITS_DataProgram_ResourcePreivew_GetInvolved.png">
    </div>
  </div>
</DataProgramLayout>
<Default title="ITS JPO - ITS Data Program">
  <!-- InstanceBeginEditable name="AboutBanner" -->

  <div class="AboutBanner DataAccess_bkgd">
    <div class="AboutBannerTitle">
      <h1>ITS Data Program</h1>
    </div>
  </div>
  <div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light"><SideBar />
        </aside>
        <main class="col-9 MainContent">

          <div class="container-fluid"><NavDataProgram />
            
          </div>
        
        
        
              
        
        
        
        
            </main>
    </div>
  </div>
  <section class="download bg-primary text-center" id="research" style="padding-top: 2em">
    <div class="container-fluid">
      <div class="container">
        <div class="col-lg-12">
          <h2>Contacts</h2>
          <p style="padding-bottom: 20px">
            Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
            available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
          </p>
          <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
            <b>Murat Omay</b>
          </p>
          <p>Program Manager, ITS Data Program</p>
          <p>ITS Joint Program Office</p>
          <p>(202)-366-4374</p>
          <p>
            <a class="email-footer" href="mailto:Murat.Omay@dot.gov">Murat.Omay@dot.gov</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</Default>
