---
import Default from "../../layouts/Default.astro";
import SideBar from "../../components/SideBar_ContactUs.astro";
---

<Default title="ITS JPO - FAQs">
  <div class="AboutBanner">
    <div class="AboutBannerTitle">
      <h1>ITS JPO MAILING LIST</h1>
    </div>
  </div>
  <!-- InstanceEndEditable -->
  <div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
      <!-- InstanceEndEditable -->
      <!-- InstanceBeginEditable name="MainContent" -->

      <main class="col-9 MainContent">
        <h2>Join our ITS JPO Mailing List</h2>
        <p>
          Thank you for your interest in receiving ITS Program updates. Please join our
          <a href="https://public.govdelivery.com/accounts/USDOTFHWA/subscriber/new?topic_id=USDOTFHWA_180" target="_blank" rel="noopener noreferrer">
            <strong>ITS Joint Program Office Mailing list</strong>
          </a>
          .
        </p>
        <p></p>
        <a href="https://public.govdelivery.com/accounts/USDOTFHWA/subscriber/new?topic_id=USDOTFHWA_180" target="_blank" rel="noopener noreferrer">
          <img src="/src/assets/images/ITSJPO_NewsletterWebsiteImage_030123.png" style="width: 80%">
        </a>
        <p></p>
        <p>
          You can also choose to receive updates from the ITS Program via
          <a href="https://twitter.com/ITS_USDOT" target="_blank" rel="noopener noreferrer"><strong>Twitter</strong></a>
          and
          <a href="https://www.facebook.com/USDOTResearch" target="_blank" rel="noopener noreferrer"><strong>Facebook</strong></a>
          .
        </p>
      </main>
    </div>
  </div>
</Default>
