 <div class="program-phases-container">
        <ul>
          <li id="program-initiation" class="program-phase-item active">
            <h3>Program Initiation</h3>
          </li> 
          <li id="program-initiation" class="program-phase-item">
            <h3>Program Initiation</h3>
          </li> 
          <li id="phase-1-awards" class="program-phase-award">
            <h4>Phase 1 Awards</h4>
          </li>
          <li id="program-initiation" class="program-phase-item">
            <h3>Program Initiation</h3>
          </li> 
           <li id="phase-2-awards" class="program-phase-award">
            <h4>Phase 2/3 Awards</h4>
          </li>
          <li id="program-initiation" class="program-phase-item">
            <h3>Program Initiation</h3>
          </li> 
          <li id="program-initiation" class="program-phase-item">
            <h3>Program Initiation</h3>
          </li> 
            <li id="program-initiation" class="program-phase-item">
            <h3>Program Initiation</h3>
          </li> 
          <li id="program-initiation" class="program-phase-item">
            <h3>Program Initiation</h3>
          </li> 
        </ul>
      </div>
      <div class="program-phase-details">
        <h3>Program Initiation</h3>
        <p class="status-pill">Status: Completed</p>
        <p>The Program Initiation phase establishes the foundation for the ITS4US deployment. This includes identifying stakeholders, defining project scope, securing funding, and forming partnerships necessary to support the deployment program.</p>
      </div>