 <div>
        <ul class="program-phases-container">
          <li id="program-initiation" class="program-phase-item active">
            <span class="phase-item-circle progress"></span>
            <h3>Program Initiation</h3>
          </li> 
          <li id="program-initiation" class="program-phase-item">
            <span class="phase-item-circle progress"></span>
            <h3>Program Initiation</h3>
          </li> 
          <li id="phase-1-awards" class="program-phase-award">
            <span class="phase-item-circle award"></span>
            <h4>Phase 1 Awards</h4>
          </li>
          <li id="program-initiation" class="program-phase-item">
            <span class="phase-item-circle progress"></span>
            <h3>Program Initiation</h3>
          </li> 
           <li id="phase-2-awards" class="program-phase-award">
            <span class="phase-item-circle award"></span>
            <h4>Phase 2/3 Awards</h4>
          </li>
          <li id="program-initiation" class="program-phase-item">
            <span class="phase-item-circle progress"></span>
            <h3>Program Initiation</h3>
          </li> 
          <li id="program-initiation" class="program-phase-item">
            <span class="phase-item-circle progress"></span>
            <h3>Program Initiation</h3>
          </li> 
            <li id="program-initiation" class="program-phase-item">
            <span class="phase-item-circle"></span>
            <h3>Program Initiation</h3>
          </li> 
          <li id="program-initiation" class="program-phase-item">
            <span class="phase-item-circle"></span>
            <h3>Program Initiation</h3>
          </li> 
        </ul>
      </div>
      <div class="program-phase-details">
        <h3>Program Initiation</h3>
        <p class="status-pill">Status: Completed</p>
        <p>The Program Initiation phase establishes the foundation for the ITS4US deployment. This includes identifying stakeholders, defining project scope, securing funding, and forming partnerships necessary to support the deployment program.</p>
      </div>
<style>
    .program-phases-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2rem;
    }
    .program-phase-item {
      list-style: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      padding-top: 2.5rem;
    }

    .program-phase-award {
      list-style: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      padding-top: 2.5rem;
      background-image: url("/assets/images/its4us/award-icon.png");
    }
    .program-phase-item > h3,
    .program-phase-award > h4 {
      margin: 0.75rem 0 0;
      padding-right: 0;
      font-size: 1rem;
      line-height: 1.2;
      text-transform: none;
      text-wrap: nowrap;
      font-weight: 400;
      transition: all 300ms ease-in-out;
    }
    .program-phase-item > h3:hover, .program-phase-item:hover {
      font-weight: 700;
    }

    .program-phase-award > h4 {
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      margin: 0;
      width: 100%;
      color: #055681;
      font-weight: 500;
      transition: all 300ms ease-in-out;
    }

      .program-phase-award > h4:hover  {
      cursor: pointer;
      color: #dc3545;
      font-weight: 700;
    }



    .phase-item-circle {
       border-radius: 100%; 
       background-color: #ffffff;
       border: 5px solid #d1d5dc;
       width: 40px;
       height: 40px;
       position: relative;
       display: inline-block;
       margin-right: 0;
      transition: all 300ms ease-in-out;

   }
    .phase-item-circle.progress {
        background-color: #055681;
    }

    .phase-item-circle.progress::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;          /* dot size */
        height: 10px;
        background: #ffffff;
        border-radius: 100%;
        transform: translate(-50%, -50%);
      }
     .phase-item-circle.award {
        background-color:  #dc3545;
        border: none;
        width: 32px;
        height: 32px;
    }

     .phase-item-circle.award:hover {
        transform: scale(1.1);
    }
    .phase-item-circle.progress:hover, .phase-item-circle:hover {
      transform: scale(1.2);
    }
</style>