---
import base_url from "../lib/base_url";

const pages = [
  { name: 'Latest News from ITS JPO', url: base_url('/news-info/news/') },
  { name: 'ITS JPO Director\'s Blog', url: base_url('/news-info/blog/') },
  { name: 'ITS Research Fact Sheet', url: base_url('/news-info/fact-sheet/') },
  { name: 'Infographics', url: base_url('/news-info/infographics/') },
  { name: 'Videos', url: base_url('/news-info/video') },
  { name: 'Image Library', url: base_url('/news-info/image-library') },
];
---

<script>
  var currentUrl = window.location.href;
  const sidenav = document.querySelector(".sidebarjs");
  var links = sidenav!.querySelectorAll("a");
  links.forEach(function (link) {
    if (currentUrl.includes(link.href)) {
      link.parentElement!.classList.add("activated");
      link.classList.add("active");
    }
  });
</script>

<style>
  .sidebarjs .active {
    color: #fff;
  }
</style>

  <nav class="sidebarjs navbar navbar-expand navbar-light bg-light flex-row align-items-start Sidebar">
    <ul class="d-flex flex-column SidebarNav flex-row navbar-nav w-100 justify-content-between">
  {pages.map(page => (
    <li class="nav-item"><a class="nav-link pl-3" href={page.url}>{page.name}</a></li>
  ))}
</ul>
</nav>
