---
const pages = [
  { name: 'Accelerating ITS Deployment', url: '/research/accelerating/' },
  { name: 'Automation', url: '/research/automation/' },
  { name: 'ITS4US', url: '/research/ITS4US/' },
  { name: 'ITS Cybersecurity Research', url: 'https://www.its.dot.gov/research_areas/cybersecurity/index.htm' },
  { name: 'ITS Data Program', url: '/research/data_program/' },
  { name: 'Emerging and Enabling Technologies', url: '/research/emerging-tech/' },
  { name: 'National Transportation Library', url: '/research/national-transportation-library/' }
];
---

<script>
  var currentUrl = window.location.href;
  const sidenav = document.querySelector(".sidebarjs");
  var links = sidenav!.querySelectorAll("a");
  links.forEach(function (link) {
    if (currentUrl.includes(link.href)) {
      link.parentElement!.classList.add("activated");
      link.classList.add("active");
    }
  });
</script>

<style>
  .sidebarjs .active {
    color: #fff;
  }
</style>

  <nav class="sidebarjs navbar navbar-expand navbar-light bg-light flex-row align-items-start Sidebar">
    <ul class="d-flex flex-column SidebarNav flex-row navbar-nav w-100 justify-content-between">
  {pages.map(page => (
    <li class="nav-item"><a class="nav-link pl-3" href={page.url}>{page.name}</a></li>
  ))}
</ul>
</nav>
