---
import type { ChildNavigationItem, NavigationItem } from '../lib/navigation';

interface Props {
  items: ChildNavigationItem[];
  currentItem?: ChildNavigationItem;
}

const { items, currentItem } = Astro.props;
---

<script>
  var currentUrl = window.location.href;
  const sidenav = document.querySelector(".subnavITS");
  var links = sidenav!.querySelectorAll("a");
  links.forEach(function (link) {
    if (currentUrl.endsWith(link.href)) {
      link.classList.add("subnavactive");
      if (link.parentElement!.className.includes("dropdown") ) {
        link.parentElement!.parentElement!.classList.add("subnavactive");
}
    }
  });
</script>


<style>
  a{
    transition: all .35s
  }
  .subnavITS {
    padding: 0;
    margin: 5px 0 20px 0;
    border-bottom: rgb(220, 220, 220) solid 4px;
  }
  @media (width <= 575px){
    .subnavITS {
    padding: 0;
    margin: 5px 0 10px 0;
    background: #fff;
  }
  }
  .subnavITS a{
    color: black;
  }
  .subnavITS a:hover{
    color: #09638c;
    background: rgb(235, 235, 235);
    border-radius: .5rem .5rem 0 0;
  }
  .subnavITS .subnavactive {
    color: #09638c;
    font-weight:bolder;
    background: rgb(220, 220, 220);
    border-radius: .5rem .5rem 0 0;
  }
</style>

<nav class="subnavITS navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
      
      <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#subnavbar"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="subnavbar">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          {items.map(page => (
              <li class="nav-item"><a class="nav-link pl-3" href={page.url}>{page.name}</a></li>
            ))}
        </ul>
      </div>
    </div>
  </nav>

