---
import { Image } from 'astro:assets';
import base_url from '@/src/lib/base_url';
import type { Resource } from '@/src/types';

interface Props {
  resource: Resource;
  disabled?: boolean;
}

const { resource: { title, href, image, alt }, disabled } = Astro.props;

const fullPath = "../../assets/images/asc/categories/" + image;
const images = import.meta.glob<{ default: ImageMetadata }>("../../assets/images/asc/categories/*.{jpeg,jpg,png,gif}");
if (!images[fullPath]) throw new Error(`"${fullPath}" does not exist in glob: "@/src/assets/images/asc/categories/*.{jpeg,jpg,png,gif}"`);
---
<style>
  .resource-card {
    background-color: #f5f5f5;
    border-radius: 24px;
    filter: drop-shadow(5px 5px 4px #ececec);
    border: none;
    text-align: left;
    padding-top: 12px;
    height: 100%;
  }
  .resource-card:hover {
    background-color: #e4f0fb;
    transform: scale(1.03);
    transition: ease;
  }

  .resource-card-disabled {
    background-color: #f5f5f5;
    filter: drop-shadow(5px 5px 4px #ececec);
    opacity: 0.6;
    cursor: not-allowed;
  }
  .resource-card-disabled:hover {
    background-color: #f5f5f5;
    transform: none;
  }
  .resource-card-image {
    width: 100%;
    height: auto;
    padding: 0px 0px 10px 20px;
    float: right;
    text-align: right;
  }
  .resource-card-title {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    color: black;
  }
  .resource-card-description {
    font-size: 12px;
    color: #002383;
  }
  .resource-card-description::after {
    content: '\f054';
    padding-left: 2px;
    font-family: FontAwesome;
  }
  .reset-link {
    text-decoration: none;
    font: inherit;
    color: inherit;
    outline: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: inline;
    cursor: pointer;
  }
  .reset-link:hover {
    font-weight: normal;
  }
  .disabled-link {
    pointer-events: none;
    cursor: not-allowed;
  }
</style>

<a href={disabled ? "" : base_url(href)} class:list={["reset-link", disabled ? "disabled-link" : ""]}>
  <div class:list={["resource-card d-flex align-items-center", disabled ? "resource-card-disabled" : ""]}>
    <div class="row d-flex align-items-center">
      <div class="col-5">
        <Image src={images[fullPath]()} class="resource-card-image" alt={alt || title}/>
      </div>
      <div class="col-7">
        <p class="resource-card-title">
          {title}
        </p>
        <p class="resource-card-description">
          {disabled ? "Coming Soon" : "View Standards"}
        </p>
      </div>
    </div>
  </div>
</a>