---
import { type ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  image?: ImageMetadata
  title: string
}

const { image, title } = Astro.props;
---

<div class="mb-4">
  <div class="heading hstack gap-2 align-items-center">
    {image && (
      <div class="icon rounded-circle d-flex align-items-center justify-content-center">
        <img 
          src={image.src} 
          alt={`Icon for ${title}`} 
        />
      </div>
    )}
    <h2 class:list={[{"mb-2": !image}, {"mb-0": image}]}>{title}</h2>
  </div>
  <hr class:list={["heading-border", {"image-border": image}]}/>
</div>

<style>
.icon {
  background-color: rgb(3,48,68);
  height: 3rem;
  width: 3rem;
}

.icon img {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
}

.heading {
  color: rgb(3,48,68);
}

.heading-border {
  margin: -4px 0px 0px 0px;
  border-width: 4px;
  border-color: rgb(3,48,68);
  opacity: 1.0;
}

.image-border {
  margin-left: 1.5rem;
}
</style>