---
import Link from "@/src/components/Link.astro";
import PcbLayout from "../_pcb-layout.astro";
import Accordion from "@/src/components/Accordion.astro";
import AccordionItem from "@/src/components/AccordionItem.astro";
---

<style scoped>
  article {
    padding-top: 1rem;
  }
</style>
<PcbLayout title="Equipment and Loan Desk">
  <section>
    <h2>Equipment and Loan Desk</h2>
    <p>
      The USDOT's Connected and Automated Vehicle Support Services provide infrastructure owner operators (IOOs), equipment manufacturers, 
      and device vendors with technical assistance and equipment loans during connected and automated vehicle (CAV) deployments. 
      By providing knowledge and equipment, the services advance CAV deployments without any cost for users. 
      Support services are provided to all levels of users, including IOOs interested in testing CAV technologies as they consider deployment, 
      vendors interested in bench testing time and space at the Turner-Fairbank Highway Research Center (TFHRC), 
      and organizations in the later stages of CAV deployment, such as the Connected Vehicle Pilot Sites.
    </p>
    <p>
      For more information, email <Link href="mailto:CAVSupportServices@dot.gov" isExternal>CAVSupportServices@dot.gov</Link> or review the 
      <Link href="/assets/pdf/pcb/EquipmentLoan_HelpDesk_Primer.pdf">Equipment Loan Program and Help Desk Technical Primer</Link>. 
      Please note that our previous online ticketing system has been discontinued in order to consolidate all requests under our email address.
    </p>
    <!-- <article>
      <h3>Equipment Loan Program</h3>
      <p>
        The Equipment Loan Program provides a CAV user with the opportunity to become familiar 
        with the types of equipment typically used in connected vehicle deployment. 
        Available equipment includes:
        <ul>
          <li>Roadside Units (RSUs)</li>
          <li>Onboard Units (OBUs)</li>
          <li>Packet Sniffers</li>
          <li>Signal Phase and Timing (SPaT) and MCAP Message Test Devices</li>
          <li>
            Connected and Automated Vehicle Education (CAVe)-In-a-Box – CAVe-in-a-box 
            is a hands-on learning experience to aid curriculum, and support instruction 
            for community colleges and trade schools, facilitate benchmarking 
            connected vehicle equipment, and support onboarding of ITS technicians. 
            The toolkit features two prototype designs for roadside and in-vehicle installations 
            as well as a detailed system design document for configuration and deployment. 
            To learn more about CAVe-in-a-box or borrow one to test on your own, 
            email <Link href="mailto:CAVSupportServices@dot.gov" isExternal>CAVSupportServices@dot.gov</Link>
          </li>
        </ul>
      </p>
    </article>
    <article>
      <h3>Help Desk</h3>
      <p>
        The Help Desk provides technical assistance during CAV testing and deployments, including:
        <ul>
          <li>
            Device Configuration Support
            <ul>
              <li>Output review &mdash; assistance with submission of case and review of logs</li>
              <li>J2735 messages &mdash; assistance with interpretations of standard, content, and structure</li>
            </ul>
          </li>
          <li>
            MAP/Traveler Information Message (TIM) Tool Application Support
            <ul>
              <li>First-level support for questions or issues related to MAP/TIM generation tools</li>
            </ul>
          </li>
          <li>
            Device Testing Support
            <ul>
              <li>Dedicated short-range communications (DSRC) wireless sniffer access</li>
              <li>Global Positioning Satellite (GPS) location support</li>
              <li>Internet Protocol Version 6 (IPv6) assistance</li>
            </ul>
          </li>
          <li>
            Infrastructure Implementation Support
            <ul>
              <li>IPv6 network design recommendations</li>
              <li>Physical installation guidance</li>
            </ul>
          </li>
          <li>
            Security Support
            <ul>
              <li>Network security guidance</li>
              <li>Security Credential Management System (SCMS) questions and updates</li>
            </ul>
          </li>
          <li>
            Vehicle-to-Everything (V2X) Hub
            <ul>
              <li>Support for V2X Hub User Group</li>
              <li>V2X Hub installation and setup</li>
            </ul>
          </li>
          <li>
            Work Zone Data Exchange (WZDx)
            <ul>
              <li>First-level support for questions and issues related to WZDx specifications</li>
            </ul>
          </li>
        </ul>
      </p>
      <p>
        To submit a help desk or equipment loan request, please email us 
        at <Link href="mailto:CAVSupportServices@dot.gov" isExternal>CAVSupportServices@dot.gov</Link>. 
        Please note that our previous online ticketing system has been 
        discontinued in order to consolidate all requests under our email address.
      </p>
    </article> -->
  </section>
  
</PcbLayout>

