---
import Accordion from "@/src/components/Accordion.astro";
import PcbLayout from "../_pcb-layout.astro";
import AccordionItem from "@/src/components/AccordionItem.astro";
import Link from "@/src/components/Link.astro";
import { Image } from "astro:assets";
import v2xHubImage from "@/src/assets/images/pcb/v2x/v2x-hub.png";
import odeImage from "@/src/assets/images/pcb/v2x/ode.png";
import mapImage from "@/src/assets/images/pcb/v2x/map.png";
import cavImage from "@/src/assets/images/pcb/v2x/cav-telematics.png";

---
<style scoped>
  article {
    padding: 2rem 0 2rem 0;
  }
  article:first-child {
    padding-top: 0;
  }
  article:not(:last-child) {
    border-bottom: 1px solid var(--border-light);
  }
</style>
<PcbLayout title="V2X Tools">
  <section>
    <h2>V2X Tools</h2>
    <article>
      <div class="row align-items-center">
        <div class="col-8">
          <h3>Vehicle-to-Everything (V2X) Hub</h3>
          <p>
            <Link href="https://www.fhwa.dot.gov/publications/research/operations/22047/22047.pdf" isExternal>Vehicle-to-Everything (V2X) Hub</Link> is 
            an open-source software facilitating real-time communication 
            between connected vehicles and transportation infrastructure, enabling information exchange 
            to enhance safety, coordinate vehicle actions based on traffic conditions, improve traffic management, 
            and facilitate the integration of automated vehicles into the transportation system.
          </p>
          <ul>
            <li>
              <Link href="https://usdot-carma.atlassian.net/wiki/spaces/CH/overview" isExternal>
                Access the V2X Hub Confluence Page
              </Link>
            </li>
            <li>
              <Link href="https://github.com/usdot-fhwa-OPS/V2X-Hub" isExternal>
                Access the V2X Hub GitHub Site
              </Link>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <Image 
            class="img-fluid"
            src={v2xHubImage} 
            alt="V2X Hub Logo"
          />
        </div>
      </div>
    </article>
    <article>
      <div class="row align-items-center">
        <div class="col-8">
          <h3>MAP Creation Tool</h3>
          <p>
            The open-source MAP Creation Tool simplifies the development of SAE International® J2735™ MAP messages, 
            crucial for connected intersections, with features such as a user-friendly interface, support 
            for multiple output formats, and visual inspection capabilities. Ongoing efforts aim to enhance this tool's flexibility 
            and add support for forthcoming SAE J2945/A™ Road Geometry Attributes messages.
          </p>
          <p>
            <Link href="">
              Access the MAP Creation Tool
            </Link>
          </p>
        </div>
        <div class="col-4">
          <Image 
            class="img-fluid"
            src={mapImage} 
            alt="Map of a four-way intersection with yellow lines replacing lanes and orange dots replacing stop lines"
          />
        </div>
      </div>
    </article>
    <article>
      <div class="row align-items-center">
        <div class="col-8">
          <h3>Connected and Automated Vehicle (CAV) Telematics Tool</h3>
          <p>
            The Connected and Automated Vehicle (CAV) Telematics Tool provides real-time data to create customized dashboards 
            for visualizing message data. The telematics dashboards allow real-time monitoring and analysis 
            of CDA use case testing, including vehicle and traffic data.
          </p>
          <p>
            <Link href="https://www.youtube.com/watch?v=kZi15fF5TnA" isExternal>
              Access the CAV Tool
            </Link>
          </p>
        </div>
        <div class="col-4">
          <Image 
            class="img-fluid"
            src={cavImage} 
            alt="Black car with sensor mounted on top"
          />
        </div>
      </div>
    </article>
    <article>
      <div class="row align-items-center">
        <div class="col-12">
          <h3>Traveler Information Message (TIM) Tool</h3>
          <p>
            The open-source Traveler Information Message (TIM) Tool simplifies the development 
            of SAE International® J2735™ TIM messages, crucial for connected infrastructure, 
            with features such as a user-friendly interface, support for multiple output formats, 
            and visual inspection capabilities.
          </p>
          <p>
            <Link href="">
              Access the TIM Tool
            </Link>
          </p>
        </div>
      </div>
    </article>
    <article>
      <div class="row align-items-center">
        <div class="col-8">
          <h3>Operational Data Environment</h3>
          <p>
            The ITS Operational Data Environment (ODE) is a real-time virtual data router that ingests and processes operational data 
            from various connected devices &mdash; including vehicles, infrastructure, and traffic management centers &mdash; and distributes 
            the data to other devices and subscribing transportation management applications. Using the ITS ODE 
            within intelligent transportation deployments increases data fluidity and interoperability while meeting operational needs 
            and protecting user privacy. The software's microservices architecture makes it easier 
            to add new capabilities to meet local needs. For more information, visit:
          </p>
          <ul>
            <li>
              <Link href="https://usdot-oss4its.atlassian.net/wiki/spaces/DCD/overview" isExternal>
                Access the ODE Confluence Page
              </Link>
            </li>
            <li>
              <Link href="https://github.com/usdot-jpo-ode" isExternal>
                Access the ODE GitHub Site
              </Link>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <Image 
            class="img-fluid"
            src={odeImage} 
            alt="Control room with multiple computers and a large screen at the front"
          />
        </div>
      </div>
    </article>
  </section>

  <!-- <section class="mt-4">
    <h3>Open Source Connected Vehicle Tools</h3>
    <p>
      Open Source Software for Intelligent Transportation Systems (OSS4ITS) is an ecosystem 
      that advances the deployment of interoperable transportation systems. The software suite 
      provides infrastructure owner operators (IOOs), software companies, and device manufacturers 
      a clear picture of the available open source software tools for both technical and business audiences. 
      OSS4ITS provides the ITS deployment community with robust, flexible, and extensible open-source 
      software products that are easier to implement and maintain and encourages collaboration 
      by contributing back to accelerate the future deployments. These products include CARMASM, V2X Hub, 
      Operational Data Environment (ODE), and Secure Data Commons (SDC). For more information 
      on Open Source Connected Vehicle Tools, visit the
      <Link href="https://usdot-carma.atlassian.net/wiki/spaces/CAR/overview" isExternal>OSS4ITS Confluence Page</Link>.
    </p>
    <div class="mx-md-4">
      <Accordion id="accordion-2">
        <AccordionItem title="CARMA<sup>SM</sup>" titleHtml parentId="accordion-2" index={0}>
          <p>
            The Federal Highway Administration (FHWA) developed the innovative CARMA<sup>SM</sup> Platform 
            to encourage collaboration with the goal of improving transportation efficiency and safety. 
            FHWA's interest in advancing transportation systems management and operations (TSMO) strategies 
            with automated driving technology is focused on how infrastructure can move traffic more efficiently. 
            The CARMASM Platform is built on robot operating system (ROS) and utilizes open source software 
            that enables Cooperative Driving Automation (CDA) features to allow Automated Driving Systems (ADS) 
            to interact and cooperate with infrastructure and other vehicles through communication. 
            For more information, visit:
            <ul>
              <li>
                <Link href="https://highways.dot.gov/research/operations/CARMA" isExternal>
                  CARMA<sup>SM</sup> Website
                </Link>
              </li>
              <li>
                <Link href="https://usdot-carma.atlassian.net/wiki/spaces/CAR/overview" isExternal>
                  CARMA<sup>SM</sup> Confluence Page
                </Link>
              </li>
              <li>
                <Link href="https://www.its.dot.gov/pcb/PageRedirect.aspx?RedirectedURL=https://github.com/usdot-fhwa-stol" isExternal>
                  CARMA<sup>SM</sup> GitHub Site
                </Link>
              </li>
            </ul>
          </p>
        </AccordionItem>
        <AccordionItem title="V2X Hub" parentId="accordion-2" index={1}>
          <p>
            The Vehicle-to-Everything (V2X) Hub builds on existing open source software applications 
            for communication among all parts of a connected deployment including vehicles, infrastructure, 
            pedestrians, cyclists, and emergency services to create an interoperable software environment 
            for V2X research and deployment. The V2X Hub is a message handler that acts as a translator 
            and data aggregator/disseminator for infrastructure components of a connected vehicle deployment. 
            For more information, visit:
            <ul>
              <li>
                <Link href="https://usdot-carma.atlassian.net/wiki/spaces/CH/overview" isExternal>
                  V2X Hub Confluence Page
                </Link>
              </li>
              <li>
                <Link href="https://github.com/usdot-fhwa-OPS/V2X-Hub" isExternal>
                  V2X Hub GitHub Site
                </Link>
              </li>
            </ul>
          </p>
        </AccordionItem>
        <AccordionItem title="Operational Data Environment (ODE)" parentId="accordion-2" index={2}>
          <p>
            The ITS Operational Data Environment (ODE) is a real-time virtual data router that ingests 
            and processes operational data from various connected devices – including vehicles, 
            infrastructure, and traffic management centers – and distributes the data to other devices 
            and subscribing transportation management applications. Using the ITS ODE within 
            intelligent transportation deployments increases data fluidity and interoperability 
            while meeting operational needs and protecting user privacy. The software’s microservices 
            architecture makes it easier to add new capabilities to meet local needs. 
            For more information, visit:
            <ul>
              <li>
                <Link href="https://usdot-oss4its.atlassian.net/wiki/spaces/DCD/overview" isExternal>
                  ODE Confluence Page
                </Link>
              </li>
              <li>
                <Link href="https://github.com/usdot-jpo-ode" isExternal>
                  ODE GitHub Site
                </Link>
              </li>
            </ul>
          </p>
        </AccordionItem>
        <AccordionItem title="Secure Data Commons (SDC)" parentId="accordion-2" index={3}>
          <p>
            The Secure Data Commons (SDC) is a cloud-based analytics platform that enables traffic engineers, 
            researchers, and data scientists to access transportation-related datasets. The USDOT created 
            the SDC to provide a secure platform for sharing and collaborating on research, tools, algorithms, 
            and analysis involving moderate sensitivity level (personally identifiable information 
            and confidential business information) datasets using commercially available tools, without needing 
            to install tools or software locally.
            <ul>
              <li>
                <Link href="https://www.transportation.gov/data/secure" isExternal>
                  Secure Data Commons (SDC)
                </Link>
              </li>
            </ul>
          </p>
        </AccordionItem>
      </Accordion>
    </div>
  </section> -->
</PcbLayout>