---
import PcbLayout from "../_pcb-layout.astro";
import cohortImage from "@/src/assets/images/pcb/cohort-map.png";
import Link from "@/src/components/Link.astro";
import { Image } from "astro:assets";
---
<PcbLayout title="V2X Tools">
  <h2>V2X Cohort</h2>
  <div class="row">
    <div class="col-6">
      <p>
        The vehicle-to-everything (V2X) cohort, organized by the Intelligent Transportation Systems (ITS) Joint Program Office (JPO), 
        is a collaborative initiative aimed at accelerating the deployment of interoperable connected transportation technologies. 
        This cohort brings together public agencies actively engaged in U.S. Department of Transportation (DOT)-funded V2X projects 
        to share their experiences, challenges, and solutions in deploying wireless connectivity among vehicles, infrastructure, and mobile devices. 
        
      </p>
    </div>
    <div class="col-6">
      <Image 
        class="img-fluid"
        src={cohortImage} 
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Through monthly virtual meetings, members will discuss topics such as concept planning, design, procurement, testing, deployment, and maintenance, 
        with U.S. DOT providing technical support and resources. This initiative builds on the success of previous ITS JPO cohorts, 
        offering a platform for peer learning and collaboration to ensure that connectivity deployments deliver on their intended safety and efficiency goals.
      </p> 
      <p>
        State and local agencies interested in joining the cohort should contact J.D. Schneeberger at <Link isExternal href="mailto:john.schneeberger@dot.gov">john.schneeberger@dot.gov</Link>.
      </p>
    </div>
  </div>
</PcbLayout>