---
import Default from "../../../layouts/Default.astro";
import SideBar from "../../../components/SideBar_About.astro";
import NavITSPAC from "../../../components/Nav_ITSPAC.astro";
---

<Default title="ITS JPO - ITSPAC">

      <div class="AboutBanner">
        <div class="AboutBannerTitle">
          <h1>ITS Program Advisory Committee (ITSPAC)</h1>
        </div>
      </div>
      <!-- InstanceEndEditable -->

      <!-- Sidebar -->
      <!-- InstanceBeginEditable name="sidenav" -->

      <div class="container-fluid h-100 bodyWrap">
        <div class="row h-100">
          <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
          <!-- InstanceEndEditable -->
          <!-- InstanceBeginEditable name="MainContent" -->

          <main class="col-9 MainContent">
            <div class="row">
              <div class="col-lg-12">
                <NavITSPAC />
                <h2>Federal Advisory Committee Charter</h2>

                <section class="rule"></section>

                <div id="pageContent">
                  <!--start of right side container for sub pages-->
                  <!-- InstanceBeginEditable name="EditRegionBODY" -->

                  <ul>
                    <li>
                      <strong>1. COMMITTEE’S OFFICIAL DESIGNATION</strong>
                      :&nbsp; The Committee shall be known as the Intelligent Transportation Systems (ITS) Program Advisory Committee (PAC).
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>2. AUTHORITY</strong>
                      :&nbsp; This charter renews the ITS Joint Program Office’s (JPO) ITS PAC and provides for its operation in accordance with the provisions of the Federal Advisory Committee Act
                      (FACA), as amended, 5 U.S.C., App.
                    </li>
                  </ul>

                  <ul>
                    <li>
                      <strong>3. OBJECTIVES AND SCOPE OF ACTIVITIES</strong>
                      :&nbsp;
                      <ul>
                        <li>
                          The U.S. Secretary of Transportation, or his or her designee, shall present ITS PAC with tasks on matters relating to the study, development, and implementation of ITS and,
                          in the exercise of his or her discretion, may withdraw a task being considered by ITS PAC at any time.&nbsp; The ITS PAC shall act solely in an advisory capacity to the
                          Secretary.&nbsp; Through the ITS JPO, the ITS PAC will make recommendations to the Secretary regarding ITS program needs, objectives, plans, approaches, contents, and
                          progress.&nbsp; The Secretary may accept or reject a recommendation made by ITS PAC and is not bound to pursue any recommendation from ITS PAC.
                        </li>
                        <li>
                          The ITS PAC will provide a forum for national discussion and recommendations on ITS activities and will work to promote the coordination of external ITS activities with those
                          of the U.S. Department of Transportation (DOT).
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>4. DESCRIPTION OF DUTIES</strong>
                      :
                    </li>
                  </ul>
                  <ul>
                    <ul>
                      <li>The ITS PAC shall be responsive to specific assignments and may conduct studies, inquiries, and workshops as the Secretary may authorize or direct.</li>
                    </ul>
                  </ul>
                  <ul>
                    <ul>
                      <li>At a minimum, the ITS PAC will be expected to</li>
                    </ul>
                  </ul>
                  <ul>
                    <ul>
                      <ul>
                        <li>Provide input into the development of ITS aspects of the U.S. DOT Strategic Plan under 23 U.S.C. § 508.</li>
                      </ul>
                    </ul>
                  </ul>
                  <ul>
                    <ul>
                      <ul>
                        <li>
                          Review, at least annually, areas of ITS research being considered for funding by the Department, to determine:
                          <ul>
                            <li>whether these activities are likely to advance either the ITS state-of-the-practice or state-of-the-art;</li>
                            <li>whether ITS technologies are likely to be deployed by users, and if not, to determine the barriers to deployment; and</li>
                            <li>the appropriate roles for Government and the private sector in investing in the research and technologies being considered.</li>
                          </ul>
                        </li>
                      </ul>
                    </ul>
                  </ul>

                  <ul>
                    <li>
                      <strong>5. AGENCY OR OFFICIAL TO WHOM THE COMMITTEE REPORTS</strong>
                      :&nbsp; The ITS PAC shall report to the Secretary of Transportation through the ITS JPO.
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>6. SUPPORT</strong>
                      : &nbsp;The ITS JPO will serve as the sponsor of ITS PAC and shall provide necessary administrative support.
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>7. ESTIMATED ANNUAL OPERATING COSTS AND STAFF YEARS</strong>
                      :&nbsp; Operating expenses will be borne by the ITS JPO.&nbsp; The estimated annual cost to the Government is $392,000 and 0.4 full-time equivalent staff years.
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>8. DESIGNATED FEDERAL OFFICER</strong>
                      :&nbsp; The ITS JPO shall appoint a full-time or permanent part-time employee to serve as the ITS PAC Designated Federal Officer (DFO) (or designee).&nbsp; The DFO will approve
                      and call all committee and subcommittee meetings, prepare and approve all meeting agendas (in consultation with the ITS PAC Chair), attend all committee and subcommittee
                      meetings, adjourn any meeting whenever such action is in the public interest, chair meetings when directed to do so by the Secretary of Transportation, and furnish detailed
                      minutes of each meeting to the ITS JPO Director.
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>9. ESTIMATED NUMBER AND FREQUENCY OF MEETINGS:</strong>
                      <ul>
                        <li>
                          The ITS PAC will meet approximately 3 times each year.&nbsp; As necessary, special meetings and subcommittee meetings may be called by the DFO.&nbsp; Notice of each scheduled
                          meeting shall be published in the Federal Register at least 15 calendar days prior to the date of the meeting.&nbsp; Notice shall include the agenda, date, time, location,
                          and purpose of the meeting.
                        </li>
                        <li>
                          All meetings shall be open to the public, except as provided under section 10(d) of FACA, as implemented by 41 CFR § 101-6.10, the Government in the Sunshine Act (5 U.S.C. §
                          522b(c)), 41 CFR Part 102-3, and DOT Order 1120.3B.&nbsp; Members of the public shall be permitted to appear before or file statements with the ITS PAC.&nbsp;
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>10. DURATION</strong>
                      :&nbsp; Continuing, subject to renewal every 2 years.
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>11. TERMINATION</strong>
                      :&nbsp; This charter shall terminate 2 years after its effective date unless renewed in accordance with FACA and other applicable requirements.
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>12. MEMBERSHIP AND DESIGNATION</strong>
                      :
                      <ul>
                        <li>
                          The ITS PAC shall comprise not more than 20 individuals appointed by the Secretary of Transportation upon recommendation by the Administrator of the Research and Innovative
                          Technology Administration.&nbsp; The ITS PAC members will serve for up to 2 years, or until replacements have been appointed.&nbsp; Nonparticipation by any member in ITS PAC
                          activities will be sufficient reason for the appointment of a replacement member by the Secretary of Transportation.
                        </li>
                      </ul>
                    </li>
                  </ul>

                  <ul>
                    <ul>
                      <li>
                        In order to reflect the diverse nature of the ITS program, ITS PAC membership shall be composed of individuals representing the categories of organizations listed in
                        subparagraph (c) below.&nbsp; The ITS JPO may consult with applicable organizations to determine the appropriate individuals to be recommended.&nbsp; Also, due to the rapid
                        evolution of ITS-related technologies and the emphasis that must be placed on deployment, ITS PAC membership shall reflect experience in and familiarity with future innovations
                        in technology, business development, and strategic planning issues. &nbsp;
                      </li>
                    </ul>
                  </ul>

                  <ul>
                    <ul>
                      <li>
                        The ITS PAC membership shall comprise members from among the following categories and be balanced between metropolitan and rural interests; however, members also may be
                        considered who are not from the categories listed to achieve the broad range of experience and understanding noted above:
                        <ul>
                          <li>a representative from a State highway department;</li>
                          <li>a representative from a local highway department who is not from a metropolitan planning organization;</li>
                          <li>a representative from a State, local, or regional transit agency;</li>
                          <li>a representative from a metropolitan planning organization;</li>
                          <li>a private sector user of ITS technologies;</li>
                          <li>an academic researcher with expertise in computer science or another information science field related to ITS, and who is not an expert on transportation issues;</li>
                          <li>an academic researcher who is a civil engineer;</li>
                          <li>an academic researcher who is a social scientist with expertise in transportation issues;</li>
                          <li>a representative from a nonprofit group representing the ITS industry;</li>
                          <li>a representative from a public interest group concerned with safety;</li>
                          <li>a representative from a public interest group concerned with the impact of the transportation system on land use and residential patterns; and</li>
                          <li>members with expertise in planning, safety, and operations.</li>
                        </ul>
                      </li>
                    </ul>
                  </ul>

                  <ul>
                    <ul>
                      <li>
                        Members appointed solely for their expertise will be considered for appointment as Special Government Employees, and members appointed to represent specific stakeholder groups
                        will be appointed as Representative Members.
                      </li>
                      <li>
                        To the extent practicable, ITS PAC membership will include senior policy-level representatives of their respective organizations.&nbsp; Additionally, to ensure that the
                        recommendations of the ITS PAC have taken into account the needs of diverse groups served by the Department, membership shall include, to the extent practicable, individuals
                        and/or organizations that represent minorities, women, and persons with disabilities.
                      </li>
                      <li>The Chairman and Vice-Chairman will be appointed by the Secretary of Transportation, with recommendations from the ITS JPO.&nbsp;</li>
                    </ul>
                  </ul>

                  <ul>
                    <li>
                      <strong>13. SUBCOMMITTEES</strong>
                      :&nbsp; The ITS JPO shall be authorized to establish subcommittees.&nbsp; Subcommittees shall not work independently of the chartered ITS PAC, and shall report all of their
                      recommendations and advice to the full ITS PAC for deliberation and discussion.&nbsp; Subcommittees must not provide advice or work products directly to the Secretary or to the
                      ITS JPO.
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>14. RECORDKEEPING</strong>
                      : &nbsp;The records, reports, minutes, agenda, and other documents made available to or by the ITS PAC shall be handled in accordance with General Records Schedule 26, Item 2,
                      and other approved agency records disposition schedule.&nbsp; The records shall be made available for public inspection and duplication in the ITS JPO at 1200 New Jersey Ave.,
                      SE, Room E33-415 (HOIT), Washington, DC 20590, or through the ITS PAC Web site at http://www.its.dot.gov/itspac.
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <strong>15. FILING DATE</strong>
                      :&nbsp; The filing date of this renewed charter is January 23, 2012.&nbsp; If not renewed, this charter will expire on January 23, 2014.
                    </li>
                  </ul>

                  <!-- InstanceEndEditable -->
                  <!-- End of page content -->
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <!-- InstanceEndEditable -->
    </div>
    <div id="footer-container"></div>  </body>
</Default>