---
import ITSPACLayout from "./_ITSPACLayout.astro";
---
<ITSPACLayout title="Ethics Guidelines">
  <h2>Ethics Guidelines</h2>
  <p>
    The ITS Advisory Committee is a federally chartered advisory committee and, as such, must comply with the Federal Advisory Committee Act (FACA). The FACA, and the implementing regulations
    issued by the General Services Administration, require that the head of the agency ensure that the interests and affiliations of advisory committee members are reviewed for conformance
    with the applicable conflict of interest statutes. (see 41 CFR Sec. 102-3.105(h)). Whether an advisory committee member is subject to the Federal ethics rules is dependent on the
    member’s status. Committee members are generally divided into two groups, either a “representative” (e.g., a representative from a State highway department) or a
    “special government employee” (SGE) (e.g., a member with expertise in planning, safety, and operations). Generally, SGEs are covered by the Federal ethics regulations and
    certain conflict of interest statutes, while representative members are not subject to these ethics requirements. At the first meeting of the ITS Advisory Program Committee meeting, there
    will be a short ethics briefing.
  </p>
</ITSPACLayout>