---
import Default from "../../../layouts/Default.astro";
import SideBar from "../../../components/SideBar_About.astro";
import NavITSPAC from "../../../components/Nav_ITSPAC.astro";
---
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css" />
<Default title="ITS JPO - ITSPAC">

      <div class="AboutBanner">
        <div class="AboutBannerTitle">
          <h1>ITS Program Advisory Committee (ITSPAC)</h1>
        </div>
      </div>
     

      <div class="container-fluid h-100 bodyWrap">
        <div class="row h-100">
          <aside class="col-12 col-md-3 p-3 bg-light"><SideBar /></aside>
          <main class="col-9 MainContent">
            <div class="row">
              <div class="col-lg-12">
                <NavITSPAC />
                <h2>ITSPAC Membership</h2>

                <section class="rule"></section>

                <table id="ITSPAC">
                  <thead>
                  <tr>
                    <th>Full Name</th>
                    <th>Title and Employer</th>
                    <th>Stakeholders' Group</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Catherine McGhee</td>
                    <td>Chief Deputy Commissioner – Virginia Department of Transportation</td>
                    <td>State highway department</td>
                  </tr>
                  <tr>
                    <td>Peter Koonce</td>
                    <td>Division Manager – Portland Bureau of Transportation</td>
                    <td>Local highway department who is not from a metropolitan planning organization</td>
                  </tr>
                  <tr>
                    <td>Debra Johnson</td>
                    <td>Chief Executive Officer (CEO) and General Manager – Regional Transportation District (RTD)</td>
                    <td>State, local, or regional transit agency</td>
                  </tr>
                  <tr>
                    <td>Casey Parker</td>
                    <td>Wildlife Biologist – Tennessee Wildlife Resources Agency</td>
                    <td>State, local, or regional wildlife, land use, or resource management agency</td>
                  </tr>
                  <tr>
                    <td>Eric Hill</td>
                    <td>Director, Transportation System Mgmt. & Operations – MetroPlan Orlando</td>
                    <td>Metropolitan planning organization</td>
                  </tr>
                  <tr>
                    <td>Paul Skoutelas</td>
                    <td>President and CEO – American Public Transportation Association</td>
                    <td>National transit association</td>
                  </tr>
                  <tr>
                    <td>Solomon Caviness</td>
                    <td>Transportation Commissioner – City of Atlanta</td>
                    <td>National, State, or local transportation agency or association</td>
                  </tr>
                  <tr>
                    <td>Randell Iwasaki</td>
                    <td>President and CEO – Iwasaki Consulting Services</td>
                    <td>Private sector user of intelligent transportation system technologies</td>
                  </tr>
                  <tr>
                    <td>Cory James Hohs</td>
                    <td>CEO & Co-Founder – HAAS Alert</td>
                    <td>Private sector developer of intelligent transportation system technologies, which may include emerging vehicle technologies</td>
                  </tr>
                  <tr>
                    <td>Rory Cooper</td>
                    <td>Director of Human Engineering Research Laboratories – University of Pittsburgh</td>
                    <td>Academic researcher with expertise in computer science or another information science field related to ITS, and who is not an expert on transportation issues</td>
                  </tr>
                  <tr>
                    <td>Henry X. Liu</td>
                    <td>Professor – University of Michigan</td>
                    <td>Academic researcher who is a civil engineer</td>
                  </tr>
                  <tr>
                    <td>Jon Peha</td>
                    <td>Professor – Carnegie Mellon University</td>
                    <td>Academic researcher who is a social scientist with expertise in transportation issues</td>
                  </tr>
                  <tr>
                    <td>Grace Bulltail</td>
                    <td>Assistant Professor – University of Wisconsin Nelson Institute for Environmental Studies</td>
                    <td>Academic researcher who is a biological or ecological scientist with expertise in transportation issues</td>
                  </tr>
                  <tr>
                    <td>Steve Kuciemba</td>
                    <td>Executive Director & CEO – Institute of Transportation Engineers (ITE)</td>
                    <td>Nonprofit group representing the intelligent transportation system industry</td>
                  </tr>
                  <tr>
                    <td>Adrienne Gildea</td>
                    <td>Deputy Executive Director – Commercial Vehicle Safety Alliance</td>
                    <td>Public interest group concerned with safety</td>
                  </tr>
                  <tr>
                    <td>Cole Sandaglia</td>
                    <td>Senior Legislative Representative and Policy Advisor – International Brotherhood of Teamsters</td>
                    <td>Labor organization</td>
                  </tr>
                  <tr>
                    <td>Cole Sandaglia</td>
                    <td>Senior Legislative Representative and Policy Advisor – International Brotherhood of Teamsters</td>
                    <td>Labor organization</td>
                  </tr>
                  <tr>
                    <td>Preeti Choudhary</td>
                    <td>Executive Director – DriveOhio</td>
                    <td>Mobility-providing entity</td>
                  </tr>
                  <tr>
                    <td>Robert Bertini</td>
                    <td>Professor and Head of the School of Civil and Construction Engineering – Oregon State University</td>
                    <td>Expert in traffic management</td>
                  </tr>
                  <tr>
                    <td>Karen Lightman</td>
                    <td>Executive Director – Carnegie Mellon Metro21 Smart Cities Institute</td>
                    <td>Public interest group concerned with the impact of the transportation system on land use and residential patterns</td>
                  </tr>
                  <tr>
                    <td>Caroline Sevier</td>
                    <td>Senior Vice President, Public Policy and Government Affairs – American Society of Civil Engineers</td>
                    <td>Public interest group concerned with the impact of the transportation system on terrestrial and aquatic species and the habitat of those species</td>
                  </tr>
                  <tr>
                    <td>Mandy K. Bishop</td>
                    <td>Senior Director of Development – IKE Smart City</td>
                    <td>Planning, safety, telecommunications, and operations</td>
                  </tr>
                  <tr>
                    <td>Tom Lusco</td>
                    <td>Principal Systems Engineer – Iteris</td>
                    <td>Expert in cybersecurity</td>
                  </tr>
                  <tr>
                    <td>Sue Bai</td>
                    <td>Chief Engineer & Chief of Data Business – American Honda Motor Company</td>
                    <td>Automobile manufacturer</td>
                  </tr>
                  <tr>
                    <td>Jane Lappin</td>
                    <td>Consultant – Blue Door Strategy</td>
                    <td>ITS Expert</td>
                  </tr>
                  <tr>
                    <td>Timothy Drake</td>
                    <td>Senior Vice President, Public Policy and Government Affairs – ITS America</td>
                    <td>ITS Expert</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
    <script>
      import DataTable from 'datatables.net';
     
     let table = new DataTable('#ITSPAC');
    </script>
    <!-- InstanceEndEditable -->
</Default>