---
export function getStaticPaths() {
  return [
    { params: { category: "its-basics" }, props: { title: "ITS Basics" } },
    { params: { category: "its-architecture" }, props: { title: "ITS Architecture" } },
    { params: { category: "systems-engineering" }, props: { title: "Systems Engineering" } },
    { params: { category: "v2x" }, props: { title: "Vehicle-to-Everything (V2X)" } },
    { params: { category: "tsmo" }, props: { title: "Transportation Systems Management and Operations (TSMO)" } },
    { params: { category: "rwm" }, props: { title: "Road Weather Management (RWM)" } },
    { params: { category: "tim" }, props: { title: "Traffic Incident Management (TIM)" } },
    { params: { category: "cybersecurity" }, props: { title: "Cybersecurity" } },
    { params: { category: "standards" }, props: { title: "Standards" } },
  ]
}

const { category } = Astro.params;
const { title } = Astro.props;
---

<h2 class="blue">
  {title}
</h2>