---
import PcbLayout from "../_pcb-layout.astro";
import Link from "@/src/components/Link.astro";
import trainingImage from "@/src/assets/images/pcb/v2x-training.png";
import v2xTrainingImage from "@/src/assets/images/pcb/v2x-training.jpg";
import { Image } from "astro:assets";
---
<PcbLayout title="Vehicle-to-Everything (V2X) Trainings | Trainings" currentBreadcrumb="Vehicle-to-Everything (V2X) Trainings">
  <Image 
    class="img-fluid"
    src={v2xTrainingImage} 
    alt="Vehicles at an intersection with yellow circles around each, indicating the use of V2X technologies"
  />
  <div class="typography mt-4">
    <h2>Vehicle-to-Everything (V2X) Trainings</h2>
    <p>
      The ITS Professional Capacity Building Program developed curriculum designed for professionals who are eager to understand 
      and implement the latest advancements in vehicle-to-everything (V2X) technology. Our V2X Trainings cover everything 
      from the basics of V2X technology to technical trainings on V2X standards. Participants will gain a deep understanding 
      of how V2X works, the types of communication (vehicle-to-vehicle, vehicle-to-infrastructure, vehicle-to-pedestrian, etc.), 
      and the potential impact on the transportation ecosystem. Trainings cover the following topics:
    </p>
    <ul>
      <li>
        <strong>Introduction to V2X Technology</strong>: Understand the fundamentals of V2X, including the different communication types, 
        the underlying technologies, and their role in the future of transportation.
      </li>
      <li>
        <strong>V2X Standards</strong>: Learn about the key standards and how they ensure seamless and secure communication between vehicles and infrastructure.
      </li>
      <li>
        <strong>Security and Privacy</strong>: Understand the critical importance of securing V2X systems, protecting data integrity, 
        and safeguarding privacy in connected transportation ecosystems.
      </li>
      <li>
        <strong>V2X Deployment and Testing</strong>: Gain hands-on experience in setting up, testing, and deploying V2X systems for real-world use cases.
      </li>
    </ul>
    <h3>Foundational V2X Training</h3>
    <p>
      Vehicle-to-everything (V2X) is the use of wireless communications technologies to enable vehicles 
      to communicate with each other, other road users such as pedestrians and bicyclists, and infrastructure. 
      These technologies have the potential to make significant impacts improving safety and enhancing mobility. This foundational-level course provides participants 
      with a basic understanding of V2X concepts. Participants are introduced to the key components 
      that enable a V2X ecosystem, the potential benefits of the technology, and example use cases and the messages 
      and standards supporting them while ensuring safety and privacy. This 4-hour introductory course 
      is currently be offered in collaboration with ITS America to ITS State Chapters&mdash;as well as others&mdash;
      across the United States. 
    </p>
    <p>
      Entities interested in this training should click
      <Link isExternal href="mailto:john.schneeberger@dot.gov">here</Link> to email J.D. Schneeberger.
    </p>
    <h3>V2X Standards Trainings</h3>
    <ul>
      <li>
        <Link href="https://www.its.dot.gov/StandardsTraining/Modules.aspx?ModuleID=67#mod67" isExternal>
          Vehicle-to-Vehicle (V2V) ITS Standards for Project Managers (Updated 2021)
        </Link>
      </li>
      <li>
        <Link href="https://www.its.dot.gov/StandardsTraining/Modules.aspx?ModuleID=90#mod90" isExternal>
          Using the ISO TS 19091 Standard to Implement V2I Intersection Applications Introduction
        </Link>
      </li>
      <li>
        <Link href="https://www.its.dot.gov/StandardsTraining/Modules.aspx?ModuleID=1094#mod1094" isExternal>
          Connected Vehicles Certification Testing Introduction
        </Link>
      </li>
      <li>
        <Link href="https://www.its.dot.gov/StandardsTraining/Modules.aspx?ModuleID=2095#mod2095" isExternal>
          Introduction to SPaT/MAP Messages
        </Link>
      </li>
      <li>
        <Link href="https://www.its.dot.gov/StandardsTraining/Modules.aspx?ModuleID=2096#mod2096" isExternal>
          Introduction to IEEE 1609 Family of Standards for Wireless Access in a Vehicular Environments (WAVE)
        </Link>
      </li>
      <li>
        <Link href="https://www.its.dot.gov/StandardsTraining/Modules.aspx?ModuleID=2097#mod2097" isExternal>
          Introduction to Cybersecurity for Transportation Agencies
        </Link>
      </li>
      <li>
        <Link href="https://www.its.dot.gov/StandardsTraining/Modules.aspx?ModuleID=3098#mod3098" isExternal>
          Introduction to Security Credentials Management System (SCMS) Part 1 of 2
        </Link>
      </li>
      <li>
        <Link href="https://www.its.dot.gov/StandardsTraining/Modules.aspx?ModuleID=3099#mod3099" isExternal>
          Introduction to Security Credentials Management System (SCMS) Part 2 of 2
        </Link>
      </li>
    </ul>
  </div>
</PcbLayout>