---
import DataProgramLayout from "../_DataProgramLayout.astro";
import base_url from "@/src/lib/base_url";
---
<DataProgramLayout title="CMMs | Research Projects">
  <h2 class="sideways blue">Data Management Capability Maturity Models (CMMs)
  </h2>
  
   <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;"> 
    <div class="col-lg-7">
      <p>
        Understanding organizational core capabilities in data and their management is of utmost importance for the widespread use and sharing of ITS solutions across the transportation industry. In order to assess organizational and technical capability maturities around transportation data management, data culture, use, governance, documentation, infrastructure, workforce, etc., the ITS Data Program developed Data Management Capability Maturity Models (CMMs) to be used internally by the USDOT Program Managers and externally by the ITS JPO and other USDOT grant/funding recipients.  
      </p>
      <p>
        Internal Data Management CMM assesses the organizational capability maturity internal to the DOT modal administrations and offices. External CMM assesses the capabilities of institutions and organizations such as state DOTs, municipal DOTs, Metropolitan Planning Organizations (MPOs), university research centers, transit agencies, or any other entity that currently is or planning to participate in projects that involve ITS research, demonstration, modeling, or data management systems to support such projects. These CMMs are designed as assessments (not rankings) to determine the level of readiness of an organization to produce, collect, analyze, integrate, disseminate/share, store, maintain, support, and finally, retire data, and recommend actions to improve organizational capability maturities. 
      </p>

      <!--Additional information for when needed
      <ul>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Factsheet</a>
          </li>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Publication</a>
          </li>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Policy</a>
          </li>
      </ul>
      <button class="Pagebtn externalLink_White btnDark top20Margin" onclick="window.open('../stratplan2020/ITSJPO_StratPlanFactSheet.pdf');">View More CMMs
      </button> 

       -->

    </div>
    <div class="col-lg-5">
      <img class="sideColumnImg" src={base_url("/assets/images/data_access/ITS_DataProgram_ResourcePreivew_ComingSoon.png")}>
    </div>
  </div>
</DataProgramLayout>