---
import Default from "../../../../layouts/Default.astro";
import SideBar from "../../../../components/SideBar_Research.astro";
import NavDataProgram from "../../../../components/Nav_DataProgram.astro";
---

<Default title="ITS JPO - ITS Data Program">
  <!-- InstanceBeginEditable name="AboutBanner" -->

  <div class="AboutBanner DataAccess_bkgd">
    <div class="AboutBannerTitle">
      <h1>ITS Data Program</h1>
    </div>
  </div>
  <div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light">
        <SideBar />
      </aside>
      <main class="col-9 MainContent">
        <div class="container-fluid">
          <NavDataProgram />
          <h2 class="sideways blue">Data Valuation Index (DVI)</h2>

          <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;">
            <div class="col-lg-7">
              <p>
                Valuation of available ITS data is important for justifying investments in ITS data and infrastructure and for creating sustainable business models around the use of those data. As an
                exploratory effort, this project takes a novel approach to determine a quantitative value for how useful the ITS datasets are to the ITS research community. Evaluating datasets based
                on several clearly-defined characteristics such as timeliness, completeness, transferability, scalability, fusibility, relevancy, etc., and different weight/conversion factors, the
                first iteration of the Data Valuation Index (DVI) was developed as a tool to assess the intrinsic value of datasets. It is the intention of the ITS Data Program to continue the
                development after the evaluation of the initial DVI tool and determining the value to the ITS community.
              </p>

              <!-- ADditional information for when it comes
                <ul>
                  <li>
                      <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Factsheet</a>
                  </li>
                  <li>
                      <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Publication</a>
                  </li>
                  <li>
                      <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Policy</a>
                  </li>
              </ul>
              <button class="Pagebtn externalLink_White btnDark top20Margin" onclick="window.open('../stratplan2020/ITSJPO_StratPlanFactSheet.pdf');">View More Data Valuation Indices (DVI)
              </button> 
      
              -->
            </div>
            <div class="col-lg-5">
              <img class="sideColumnImg" src="/src/assets/images/data_access/ITS_DataProgram_ResourcePreivew_ComingSoon.png" />
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <section class="download bg-primary text-center" id="research" style="padding-top: 2em">
    <div class="container-fluid">
      <div class="container">
        <div class="col-lg-12">
          <h2>Contacts</h2>
          <p style="padding-bottom: 20px">
            Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
            available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
          </p>
          <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
            <b>Murat Omay</b>
          </p>
          <p>Program Manager, ITS Data Program</p>
          <p>ITS Joint Program Office</p>
          <p>(202)-366-4374</p>
          <p>
            <a class="email-footer" href="mailto:Murat.Omay@dot.gov">Murat.Omay@dot.gov</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</Default>
