---
import Default from "../../../../layouts/Default.astro";
import SideBar from "../../../../components/SideBar_Research.astro";
import NavDataProgram from "../../../../components/Nav_DataProgram.astro";
---

<Default title="ITS JPO - ITS Data Program">
  <!-- InstanceBeginEditable name="AboutBanner" -->

  <div class="AboutBanner DataAccess_bkgd">
    <div class="AboutBannerTitle">
      <h1>ITS Data Program</h1>
    </div>
  </div>
  <div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light">
        <SideBar />
      </aside> 
      <main class="col-9 MainContent">

        <div class="container-fluid"><NavDataProgram />
          <h2 class="sideways blue">Data and Innovation Research
          </h2>
          
           <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;"> 
            <div class="col-lg-7">
              <p>
                In recent years, integration of data and Artificial Intelligence (AI) techniques became inevitably important in developing ITS solutions, thus putting AI in the forefront of ITS and transportation research. ITS Data Program supports research activities to promote use, reuse, and repurposing of ITS data, especially using advanced computing technologies, analytics, and methods such as Machine Learning (ML). 
              
              </p>
              <p>
                This research demonstrates the intersection of data and AI with a primary objective of supporting new AI-focused test datasets and techniques to promote future development of transportation solutions that are data and AI-centric. The research project also focuses on demonstrating research-to-operations possibilities by identifying and prioritizing research problems, identifying potential solutions using available data and AI techniques, and rapidly investigating/testing the feasibility of such solutions by limited demonstrations. 
              </p>
      
              <!-- Additional information for when it's needed
              <ul>
                  <li>
                      <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Factsheet</a>
                  </li>
                  <li>
                      <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Publication</a>
                  </li>
                  <li>
                      <a href="../../factsheets/pdf/nameofPDF" target="_blank">This is the title of a Policy</a>
                  </li>
              </ul>
              <button class="Pagebtn externalLink_White btnDark top20Margin" onclick="window.open('../stratplan2020/ITSJPO_StratPlanFactSheet.pdf');">View More Data and Innovation Research
              </button> 
      
               -->
      
            </div>
            <div class="col-lg-5">
              <img class="sideColumnImg" src="/src/assets/images/data_access/ITS_DataProgram_ResourcePreivew_ComingSoon.png">
            </div>
          </div>
        </div>
      
      
      
            
      
      
      
      
          </main>
    </div>
  </div>
  <section class="download bg-primary text-center" id="research" style="padding-top: 2em">
    <div class="container-fluid">
      <div class="container">
        <div class="col-lg-12">
          <h2>Contacts</h2>
          <p style="padding-bottom: 20px">
            Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
            available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
          </p>
          <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
            <b>Murat Omay</b>
          </p>
          <p>Program Manager, ITS Data Program</p>
          <p>ITS Joint Program Office</p>
          <p>(202)-366-4374</p>
          <p>
            <a class="email-footer" href="mailto:Murat.Omay@dot.gov">Murat.Omay@dot.gov</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</Default>
