---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import base_url from "@/src/lib/base_url";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
---

<link href="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.1.4/datatables.min.css" rel="stylesheet" />
<PageLayout title="Artificial Intelligence" bannerImage={banner}>
  <Fragment slot="banner">Artificial Intelligence</Fragment>
  <SidebarLayout path="/research-areas/">
    <main>
      <div>
        <h2 class="sideways blue">Artificial Intelligence (AI) in Transportation</h2>
        <p class="read-more-wrap" style="padding-top:0px">
          AI has many practical applications in the transportation domain and offers the promise to transform the transportation industry by improving safety, mobility, productivity, security, and
          efficiency. The ITS JPO seeks to understand the landscape of how AI in transportation is currently being leveraged, and how potential investment in the future can help the industry achieve
          the promise while addressing the technical and institutional challenges.
        </p>
        <p class="read-more-wrap" style="padding-top:0px">
          There is a need to understand the risks and challenges, coordinate with stakeholders via U.S. DOT pooled fund efforts, advance collaborative research, develop voluntary-use tools and
          resources, and continued support of a U.S. DOT wide understanding of the application of AI for ITS and AI. We see a multi-pronged approach that ensures coordination and collaboration with
          infrastructure owners and operators (IOOs), removes barriers to implementation, and maximizes industry innovation.
        </p>
      </div>
    </main></SidebarLayout
  >
</PageLayout>
