---
import banner from "@/src/assets/images/banners/Emerging_Tech_Banner.png";
import PageLayout from "@/src/layouts/PageLayout.astro";
import { Image } from "astro:assets";
import trAnalyticsLogo from "@/src/assets/images/ai/logos/TrAnalyticsLLC.png";
import creareLogo from "@/src/assets/images/ai/logos/Creare-Logo.jpg";
import jcTechsLogo from "@/src/assets/images/ai/logos/JC-Techs-logo.jpg";
import veloLogo from "@/src/assets/images/ai/logos/Velo-logo.svg";
import aiWaysionLogo from "@/src/assets/images/ai/logos/AIWaysion-logo.jpg";
import numobilityLogo from "@/src/assets/images/ai/logos/numobilityai_logo.jpg";
import opalLogo from "@/src/assets/images/ai/logos/opal-logo.png";
import skyliteLogo from "@/src/assets/images/ai/logos/SkyliteLabs-logo.webp";
import kitwareLogo from "@/src/assets/images/ai/logos/Kitware-logo.png";
import kittelsonLogo from "@/src/assets/images/ai/logos/Kittelson-Associates-logo.webp";
import stateOfPlaceLogo from "@/src/assets/images/ai/logos/stateofplace-logo.png";
import base_url from "@/src/lib/base_url";
---

<PageLayout title="Artificial Intelligence" bannerImage={banner}>
  <Fragment slot="banner">Artificial Intelligence</Fragment>
      <main>
        <h2 class="sideways blue">Artificial Intelligence (AI) in Transportation</h2>
        <p class="read-more-wrap">
          AI has many practical applications in the transportation domain and offers the promise to transform the transportation industry by improving safety, mobility, productivity, security, and
          efficiency. The ITS JPO seeks to understand the landscape of how AI in transportation is currently being leveraged, and how potential investment in the future can help the industry achieve
          the promise while addressing the technical and institutional challenges.
        </p>
        <p class="read-more-wrap mb-5">
          There is a need to understand the risks and challenges, coordinate with stakeholders via U.S. DOT pooled fund efforts, advance collaborative research, develop voluntary-use tools and
          resources, and continued support of a U.S. DOT wide understanding of the application of AI for ITS and AI. We see a multi-pronged approach that ensures coordination and collaboration with
          infrastructure owners and operators (IOOs), removes barriers to implementation, and maximizes industry innovation.
        </p>
      
      </main>
</PageLayout>

