---
import banner from "@/src/assets/images/banners/Automation_Banner.png";
import { Image } from "astro:assets";
---

<!-- Banner Styles -->
<style>
  .banner-container {
    position: relative;
    max-height: 20rem;
    min-height: 15rem;
    width: 100%;
    overflow: hidden;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    min-height: 15rem;
    object-fit: cover;
    object-position: center right;
  }

  .banner-text-container {
    position: absolute;
    text-wrap: pretty;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-image: linear-gradient(to right, rgba(7, 46, 85, 1), rgba(7, 46, 85, 0));
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.2),inset 0 -10px 10px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.2),inset 0 -10px 10px -10px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.2),inset 0 -10px 10px -10px rgba(0,0,0,0.2);
  }

  .banner-text {
    font-size: 3rem;
    color: white;
    font-weight:bold;
    line-height: 0.9;
    margin: 0;
    padding: 0;
    text-transform:uppercase;
    transition: font-size 0.2s ease;
    text-wrap: pretty;
    padding-bottom: 1rem;
  }
  .banner-tagline {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    max-width: 600px;
  }

  /* 1200, 992, 768, 576 */
@media (max-width: 1200px) {
  .banner-text {
    font-size: 2.4rem;
  }
}

@media (max-width: 1040px) {
  .banner-text {
    font-size: 1.8rem;
  }
}
@media (max-width: 992px) {
  .banner-text {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .banner-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .banner-text {
    font-size: 1.2rem;
  }
}
</style>

<!-- Breadcrumb styles -->
<style>
  .breadcrumb {
    color: white;
  }
  .breadcrumb-item::before {
    color: white;
  }
</style>

<div class="banner-container">
  <Image 
    src={banner} 
    alt="Banner Image" 
    class="banner-image"
  />
  <div class="banner-text-container">
    <div class="container-xl">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            Research Areas
          </li>
          <li class="breadcrumb-item">
            Automation Program
          </li>
        </ol>
      </nav>
      <div class="banner-text">
        AUTOMATION PROGRAM
      </div>
      <p class="banner-tagline">
        Pursuing an automation program that will support 
        the safe deployment of an automated future.
      </p>
    </div>
  </div>
</div>