---
import base_url from "@/src/lib/base_url";
import { getTrimmedPathname } from "@/src/lib/navigation";
import type { ChildNavigationItem } from "@/src/types";

const pathname = Astro.url.pathname;
const trimmedPathname = getTrimmedPathname(pathname);

const menuItems: ChildNavigationItem[] = [
  {
    name: "Overview",
    url: "/research-areas/automation-program"
  },
  {
    name: "Focus Areas",
    url: "/research-areas/automation-program/focus-areas",
    pages: [
      {
        name: "Cooperative Driving Automation (CDA)",
        url: "/research-areas/automation-program/focus-areas/cda"
      },
      {
        name: "Analysis, Modeling and Simulation (AMS)",
        url: "/research-areas/automation-program/focus-areas/ams"
      },
      {
        name: "Human Factors",
        url: "/research-areas/automation-program/focus-areas/human-factors"
      },
      {
        name: "Automated Driving System (ADS) Integration",
        url: "/research-areas/automation-program/focus-areas/ads"
      }
    ]
  },
  {
    name: "Resources",
    url: "/research-areas/automation-program/resources"
  }
]
---
<style>
  .menu-wrapper {
    position: sticky;
    top: 0;
    z-index: 30;
    background: white;
    border: 1px solid var(--border-light);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  .menu-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  @media (min-width: 1200px) {
    .menu-container {
      padding: 0;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 50px;
  }
  .menu-item {
    padding: 0.5rem 1rem;
    color: #055581;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
  }
  .menu-item:hover {
    background: #e9ecef;
    font-weight: 600;
    cursor: pointer;
  }
  .menu-item-active {
    background: #055581;
    color: white;
  }
  .menu-item-active:hover {
    background: #055581;
    color: white;
  }
</style>
<div class="menu-wrapper">
  <div class="menu-container">
    <nav class="menu">
      {menuItems.map(item => (
        <>
          <a
            class:list={[
              "menu-item",
              { "menu-item-active": 
                item.pages 
                  ? trimmedPathname.startsWith(item.url) 
                  : trimmedPathname === item.url 
              },
              { "dropdown-toggle": item.pages }
            ]}
            href={
              item.pages 
                ? "#" 
                : item.isExternal
                  ? item.url
                  : base_url(item.url)
            }
            ...{...(item.pages && { "role": "button", "data-bs-toggle": "dropdown", "aria-expanded": "false" })}
          >
            {item.name}
          </a>
          {item.pages && (
            <ul class="dropdown-menu mt-1">
              {item.pages.map(page => (
                <li>
                  <a 
                    class="dropdown-item"
                    href={
                      page.isExternal
                        ? page.url 
                        : base_url(page.url)
                    }
                  >
                    {page.name}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </>
      ))}
      <!-- <a 
        class="menu-item menu-item-active"
        href={base_url("/research-areas/automation-program")}
      >
        Overview
      </a>
      <a 
        class="menu-item dropdown-toggle" 
        href="#" 
        role="button" 
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Focus Areas
      </a>
      <ul class="dropdown-menu mt-1">
        <li>
          <a 
            class="dropdown-item"
            href={base_url("/research-areas/automation-program/focus-areas/cda")}
          >
            Cooperative Driving Automation (CDA)
          </a>
        </li>
        <li>
          <a 
            class="dropdown-item"
            href={base_url("/research-areas/automation-program/focus-areas/ams")}
          >
            Analysis, Modeling and Simulation (AMS)
          </a>
        </li>
        <li>
          <a 
            class="dropdown-item"
            href={base_url("/research-areas/automation-program/focus-areas/human-factors")}
          >
            Human Factors
          </a>
        </li>
        <li>
          <a 
            class="dropdown-item"
            href={base_url("/research-areas/automation-program/focus-areas/ads")}
          >
            Automated Driving System Integration (ADS)
          </a>
        </li>
      </ul>
      <a 
        class="menu-item"
        href={base_url("/research-areas/automation-program/resources")}
      >
        Resources
      </a> -->
    </nav>
  </div>
</div>