---
import automationImage from "@/src/assets/images/automation/automation.webp";
import { Image } from "astro:assets";
import base_url from "@/src/lib/base_url";

import cdaIcon from "@/src/assets/images/automation/cda-icon.svg";
import cdaImage from "@/src/assets/images/automation/cda.webp";
import adsIcon from "@/src/assets/images/automation/ads-icon.svg";
import humanIcon from "@/src/assets/images/automation/human-icon.svg";
import humanImage from "@/src/assets/images/automation/human-factors.jpg";
import amsIcon from "@/src/assets/images/automation/ams-icon.svg";
import amsImage from "@/src/assets/images/automation/ams.png";
import Roadmap from "./_roadmap.astro";
import DownloadIcon from "@/src/components/programs/icons/DownloadIcon.astro";
import Layout from "./_layout.astro";
import OverlayCard, { type OverlayResource } from "@/src/components/programs/overlay-card.astro";

const focusAreas: OverlayResource[] = [
  { 
    name: "Cooperative Driving Automation (CDA)", 
    description: "Assess the feasibility of conducting a small-scale CDA pilot (focusing on L0-2 with Interoperable Connectivity) and package the accomplishments for design and architecture.",
    path: "/research-areas/automation-program/focus-areas/cda",
    background: cdaImage,
    alt: "",
    icon: cdaIcon,
    color: "blue",
  },
  { 
    name: "Analysis, Modeling and Simulation (AMS)", 
    description: "Crosscutting research and resource development including design, planning, operations, and impact assessments informed by improved AMS.",
    path: "/research-areas/automation-program/focus-areas/ams",
    background: amsImage,
    alt: "",
    icon: amsIcon,
    color: "green"
  },
  { 
    name: "Human Factors", 
    description: "Identify likely safety-relevant scenarios where human performance and interaction behaviors with vehicle automation technologies have a mismatch and develop corresponding Human Factors best practices.",
    path: "/research-areas/automation-program/focus-areas/human-factors",
    background: humanImage,
    alt: "",
    icon: humanIcon,
    color: "orange",
  },
  { 
    name: "Automated Driving System (ADS) Integration", 
    description: "Explore recommended practices to address safe and efficient Automated Driving System (ADS) Integration into the transportation system.",
    path: "/research-areas/automation-program/focus-areas/ads",
    background: automationImage,
    alt: "",
    icon: adsIcon,
    color: "purple"
  },
]

---
<style>
  .roadmap-image {
    width: 100%;
    min-width: 992px;
    /* height: auto; */
  }
  .roadmap-image-container {
    width: 100%;
    padding: 1rem;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    overflow-x: auto;
  }

  .roadmap-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    border-radius: var(--radius-md);
    max-width: fit-content;
  }

  .roadmap-footer {
    background: rgb(var(--color-gray-light));
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

</style>
<style>
  .strategy-container {
    background: rgb(var(--color-gray-light));
    border-radius: var(--radius-md);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .strategy {
    display: flex;
    gap: 1rem;
  }
  .strategy-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .strategy-title {
    color: rgb(var(--color-brand-dark));
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  .strategy-icon {
    background: rgb(var(--color-brand-dark));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    font-weight: 600;
  }
  .strategy-description {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
  }
</style>
<style>
  .focus-area-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  @media (min-width: 992px) {
    .focus-area-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
<Layout>
  <main class="container-xl program-main program-padding">
    <section class="program-section">
      <h2 class="program-title-lg">Program Overview</h2>
      <p class="program-text">
        Driving automation is one of the major transportation industry trends 
        of this decade. Through close collaboration and monitoring of current industry 
        and academic technology innovators and leaders in automation the ITS JPO continues 
        the pursuit of an automation program that will support the safe deployment 
        of an automated future. Advanced Driver Assistance Systems (ADAS) with automation 
        of lateral or longitudinal controls are widely available in passenger vehicles, 
        although their development and refinement continue. Automated Driving System (ADS)-equipped 
        vehicles are being piloted in passenger vehicles, commercial motor vehicles, and transit buses. 
      </p>
      <p class="program-text">
        While driving automation research has been, to some degree, mainstreamed 
        across the Department's Operating Administrations, research needs are evolving 
        alongside the technology. The technological and practical challenges of translating 
        research breakthroughs into daily transportation are significant and often are not 
        fully understood at the outset. Many foundational questions around ADS 
        and ADAS may not be resolved until more and better data are available. 
      </p>
      <p class="program-text">
        The ITS JPO Automation Program's collaborative and multi-modal research portfolio 
        provides cross-cutting support across the U.S. DOT with the following strategies:
      </p>
      <div class="strategy-container mt-4" role="list">
        <h3 class="program-title-md">Research Strategies</h3>
        <div class="strategy">
          <div class="strategy-icon" aria-hidden="true">
            1
          </div>
          <div class="strategy-content" role="listitem">
            <h4 class="strategy-title">
              Applications of Vehicle Automation Technologies
            </h4>
            <p class="strategy-description">
              Research potential applications of vehicle automation technologies 
              to achieve safety, mobility, and efficiency benefits through advanced 
              wireless communications and interactions with interoperable connectivity 
              and develop supporting standards and assessment tools to enable private 
              and public sector deployment.
            </p>
          </div>
        </div>
        <div class="strategy">
          <div class="strategy-icon" aria-hidden="true">
            2
          </div>
          <div class="strategy-content" role="listitem">
            <h4 class="strategy-title">
              Analysis, Modeling, and Simulation (AMS) Capabilities
            </h4>
            <p class="strategy-description">
              Collaborate with stakeholders to document and prioritize 
              Analysis, Modeling and Simulation (AMS) capabilities for ITS, conduct research 
              and development to enhance these capabilities, and provide resources to support 
              their understanding and use.
            </p>
          </div>
        </div>
        <div class="strategy">
          <div class="strategy-icon" aria-hidden="true">
            3
          </div>
          <div class="strategy-content" role="listitem">
            <h4 class="strategy-title">
              Human Interactions
            </h4>
            <p class="strategy-description">
              Study human interactions with vehicle automation technologies to identify 
              potential mismatches and best practices for realizing safe and effective 
              automation operations for all users in the roadway environment.
            </p>
          </div>
        </div>
        <div class="strategy">
          <div class="strategy-icon" aria-hidden="true">
            4
          </div>
          <div class="strategy-content" role="listitem">
            <h4 class="strategy-title">
              Automated Driving Systems (ADS) Technologies
            </h4>
            <p class="strategy-description">
              Identify challenges/issues that can negatively impact safe and efficient 
              integration of Automated Driving System (ADS) technologies, such as lack 
              of AV preparedness, limited understanding of ADS use cases that can 
              maximize benefits, and not-well-understood ADS capabilities/safety protocols 
              that vary between manufacturers and across ODDs.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="program-section">
      <h2 class="program-title-lg text-center">Focus Areas</h2>
      <p class="program-text text-center max-w-lg mx-auto">
        In collaboration with the Operating Administrations, ITS JPO prioritized 
        near-term research focus areas to directly address strategies stated above, 
        and achieve desired outcomes across four current focus areas:
      </p>
      <div class="focus-area-container mt-4" role="directory">
        {focusAreas.map(focusArea => (
          <OverlayCard {...focusArea}/>
        ))}
      </div>
    </section>
    <section class="program-section">
      <h2 class="program-title-lg text-center">Program Roadmap</h2>
      <p class="program-text text-center max-w-lg mx-auto">
        In collaboration with the Operating Administrations, ITS JPO prioritized 
        near-term research focus areas to directly address strategies stated above, 
        and achieve desired outcomes across four current focus areas:
      </p>
      <div class="roadmap-container mt-4 shadow">
        <div class="roadmap-image-container">
          <Roadmap className="roadmap-image"/>
        </div>
        <div class="roadmap-footer">
          <p class="m-0">Last Updated: May 2025</p>
          <a 
            class="program-button" 
            href={base_url("/assets/images/automation/roadmap.png")}
            target="_blank"
            rel="noopener noreferrer"
          >
            <DownloadIcon/>
            Download Image
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
