---
import Link from "@/src/components/Link.astro";
import Breadcrumb from "@/src/components/programs/Breadcrumb.astro";
import Card from "@/src/components/programs/card/Card.astro";
import CardBody from "@/src/components/programs/card/CardBody.astro";
// import CardFooter from "@/src/components/programs/card/CardFooter.astro";
import CardHeader from "@/src/components/programs/card/CardHeader.astro";
import ProgramSection from "@/src/components/programs/ProgramSection.astro";
// import base_url from "@/src/lib/base_url";

import Layout from "../../_layout.astro";
---
<style>
  .training-list {
    display: flex;
    flex-direction: column;
    gap: var(--size);
  }
  .card-metadata {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: start;
  }
  .card-module-number {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(var(--color-gray));
  }
  .card-module-length {
    background: #efefef;
    border-radius: 16px;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
  }
  .training-card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
    background: none;
    border: none;
    padding: var(--size-sm);
    padding-bottom: 0;
    text-align: left;
  }

  .training-card-body {
    padding: var(--size-sm);
    padding-top: 0;
  }
  .training-link {
    text-decoration: none;
    color: inherit;
  }
</style>
<Layout>
  <main class="program-main">
    <ProgramSection>
      <Breadcrumb items={[
        { name: "Trainings", path: "/resources/pcb/trainings" },
        { name: "Crowdsourcing for Operations" }
      ]}/>
      <h2 class="program-title-lg mb-4">
        Crowdsourcing for Operations
      </h2>
      <p class="program-text">
        Most public agencies and private companies use crowdsourcing, which is the practice of addressing 
        a need or a problem by enlisting the services of large numbers of people through technology. 
        Organizations crowdsource product reviews, idea generation, feature detection, funding, and much more. 
        With the proliferation of location-based technologies, an unprecedented wave of crowdsourced data 
        is available to transportation agencies. Moreover, analytics tools and services make processing 
        and using crowdsourced data a true game-changer for advancing intelligent transportation systems (ITS) 
        solutions and <Link href="https://ops.fhwa.dot.gov/tsmo/" isExternal>transportation systems management and operations (TSMO)</Link>.
      </p>
      <p class="program-text">
        Since 2019, the FHWA Every Day Counts (EDC) Innovation, 
        <Link href="https://www.fhwa.dot.gov/innovation/everydaycounts/edc_6/crowdsourcing.cfm" isExternal>Crowdsourcing for Advancing Operations</Link>, 
        has been supporting the adoption of crowdsourced data and tools to advance transportation operations 
        across 35+ States and their local agencies to improve traffic incident, road weather, work zone, 
        traffic signal, traveler information and emergency management, along with a host of other ITS and TSMO practices.
      </p>
      <p class="program-text">
        The Crowdsourcing Innovation Team in collaboration with the ITS Joint Program Office (JPO) 
        Professional Capacity Building (PCB) Program delivered an introductory Crowdsourcing course 
        through a series of five webinars, featuring State and local practitioner perspectives.
      </p>
      <h3 class="program-title-md">
        Webinar Series
      </h3>
      <p class="program-text">
        The following lists the live webinar dates and course topics. Click on each to view the webinar recording, 
        download webinar presentations, and review the question-and-answer component for each webinar.
      </p>
      <div class="training-list mt-2 mb-4">
        <Card shadow="md">
          <CardHeader class="pb-0">
            <div class="training-card-header">
              <div class="card-metadata">
                <p class="card-module-number">
                  May 16, 2023
                </p>
                <div class="card-module-length">
                  Part 1 of 5
                </div>
              </div>
              <Link class="training-link" href="/resources/pcb/trainings/cs4ops/part-1">
                <h3 class="program-title-sm">
                  Introduction and Application Highlights
                </h3>
              </Link>
            </div>
          </CardHeader>
          <CardBody class="pt-0">
            <div class="training-card-body">
              The webinar aims to enhance participants' understanding of how crowdsourced data 
              can improve transportation operations. It will explore whether specific applications 
              of crowdsourcing align with organizational needs and provide an opportunity for 
              peers to share their experiences with using crowdsourced data in real-time 
              and archived contexts. The focus will be on its impact on Transportation Management 
              Systems Operations (TMSO), safety, and investment decision-making.
            </div>
          </CardBody>
        </Card>
        <Card shadow="md">
          <CardHeader class="pb-0">
            <div class="training-card-header">
              <div class="card-metadata">
                <p class="card-module-number">
                  June 20, 2023
                </p>
                <div class="card-module-length">
                  Part 2 of 5
                </div>
              </div>
              <Link class="training-link" href="/resources/pcb/trainings/cs4ops/part-2">
                <h3 class="program-title-sm">
                  Data Sources and Management
                </h3>
              </Link>
            </div>
          </CardHeader>
          <CardBody class="pt-0">
            <div class="training-card-body">
              The webinar will cover key aspects of crowdsourced data, including common sources, 
              providers, data fields, and potential uses. It will address data validation considerations 
              for integrating crowdsourced data into Transportation Systems Management 
              and Operations (TSMO). Additionally, the session will highlight the importance 
              of effective data management for both crowdsourced and broader agency data, and provide 
              a high-level overview of how modern data management practices differ from traditional approaches.
            </div>
          </CardBody>
        </Card>
        <Card shadow="md">
          <CardHeader class="pb-0">
            <div class="training-card-header">
              <div class="card-metadata">
                <p class="card-module-number">
                  July 18, 2023
                </p>
                <div class="card-module-length">
                  Part 3 of 5
                </div>
              </div>
              <Link class="training-link" href="/resources/pcb/trainings/cs4ops/part-3">
                <h3 class="program-title-sm">
                  Traveler Information and Traffic Incident Management (TIM)
                </h3>
              </Link>
            </div>
          </CardHeader>
          <CardBody class="pt-0">
            <div class="training-card-body">
              The webinar will examine the components and challenges of State and local Traffic 
              Incident Management (TIM) and Traveler Information Programs. It will explore 
              how crowdsourced data can enhance these programs and address key aspects of TIM. 
              Participants will also have the opportunity to share their experiences with 
              using crowdsourced data to improve TIM and Traveler Information services.
            </div>
          </CardBody>
        </Card>
        <Card shadow="md">
          <CardHeader class="pb-0">
            <div class="training-card-header">
              <div class="card-metadata">
                <p class="card-module-number">
                  August 15, 2023
                </p>
                <div class="card-module-length">
                  Part 4 of 5
                </div>
              </div>
              <Link class="training-link" href="/resources/pcb/trainings/cs4ops/part-4">
                <h3 class="program-title-sm">
                  Road Weather and Arterial Management
                </h3>
              </Link>
            </div>
          </CardHeader>
          <CardBody class="pt-0">
            <div class="training-card-body">
              The webinar will focus on the components and challenges associated with State 
              and local arterial and road weather management programs. It will explore 
              how crowdsourced data can enhance these programs and address key aspects 
              of arterial and road weather management. Participants will also have 
              the chance to share their experiences with utilizing crowdsourced data 
              to improve these management programs.
            </div>
          </CardBody>
        </Card>
        <Card shadow="md">
          <CardHeader class="pb-0">
            <div class="training-card-header">
              <div class="card-metadata">
                <p class="card-module-number">
                  September 19, 2023
                </p>
                <div class="card-module-length">
                  Part 5 of 5
                </div>
              </div>
              <Link class="training-link" href="/resources/pcb/trainings/cs4ops/part-5">
                <h3 class="program-title-sm">
                  Emergency and Work Zone Management, and Next Steps
                </h3>
              </Link>
            </div>
          </CardHeader>
          <CardBody class="pt-0">
            <div class="training-card-body">
              The webinar will cover the components and challenges faced by State and 
              local work zone and emergency management programs. It will explore how 
              crowdsourced data can enhance these programs and provide insights into 
              its application. Participants will have the opportunity to share their experiences 
              with crowdsourced data in these contexts and learn key steps for exploring 
              its use in their own regions.
            </div>
          </CardBody>
        </Card>
      </div>
      <p>
        To request course delivery (virtual or in person), contact 
        the FHWA Office of Operations Crowdsourcing Innovation Team 
        <Link href="https://ops.fhwa.dot.gov/crowdsourcing/contacts.cfm" isExternal>here</Link>.
      </p>
      <h3 class="program-title-md mt-4">
        Target Audience
      </h3>
      <p class="program-text">
        The target audience for this webinar series includes transportation professionals with an interest 
        in or responsibility for the management and operations of roadway systems, including local, State, 
        or Federal Departments of Transportation or Public Works as well as consultant, university, 
        or contractor support. No prior experience is required to attend this webinar series; however, 
        participants are advised to attend the first two and the final webinars in this series either 
        during the live delivery or as a recorded event.
      </p>
      <h3 class="program-title-md">
        Disclaimer
      </h3>
      <p class="program-text">
        The U.S. Government does not endorse products or manufacturers. Trademarks or manufacturer's names appear 
        in these webinars only because they are considered essential to the objective 
        of the webinar. They are included for informational purposes only and are not intended to reflect a preference, 
        approval, or endorsement of any one product or entity.
      </p>
    </ProgramSection>
  </main>
</Layout>