---
import PageLayout from "@/src/layouts/PageLayout.astro";
import v2xImage from "@/src/assets/images/Image38.jpg";
---
<style>
  #portalBox_right {
    font-size: smaller;
    width: 30%;
    float: right;
    border: 1px solid #d0d0d0;
    background-color: #eeeeee;
    margin-bottom: 12px;
    padding: 10px;
    margin: 10px;
}

#portalBox_right a:hover{
  
}


#portalBox_right ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}

#portalBox_right ul li {
  margin: 0;
  padding-left: 10px;
  position: relative;
  font-family: Arial, sans-serif;
  color: #333;
}

#portalBox_right ul li::before {
  content: ''; /* Custom bullet for main list */
  display: inline-block;
  position: absolute;
  left: 0;
}

#portalBox_right ul ul li::before {
  content: '▸'; /* Custom bullet for nested list */
}

#portalBox_right ul ul ul li::before {
  content: '◦'; /* Custom bullet for deeper nested list */
  color: #2ecc71; /* Bullet color for deeper nested list */
}



</style>
<PageLayout title="Vehicle-to-Everything (V2X)">
  <Fragment slot="banner"> Accessible Transportation Technologies Research Initiative (ATTRI) </Fragment>
  <main>
  <div class="latest_news">
    <h2><a name="news" id="news"></a>ATTRI News and Events</h2>
    <div class="col_right_main" style="margin-left: 12px;">
      <div id="portalBox_right">
          <h2 class="text-center p-0 m-0">ATTRI Portal</h2>
          <p>
            <a href="../../exit/attri_video.htm"><img src="images/attri_yt3.jpg" alt="ATTRI Video image" width="184" height="108" /></a><br />
            <strong><a href="../../exit/attri_video.htm">ATTRI Video</a></strong>
          </p>
          <ul >
            <!-- -<li><a href="attri_newsform.htm"><strong>Sign up for ATTRI Newsletter</strong></a></li>-->
            <li>
              <strong>ATTRI Application Development Awardees</strong>
              <ul >
                <li><a href="wayfinding"><strong>Wayfinding &amp; Navigation</strong></a></li>
                <li><a href="pretrip_concierge.htm"><strong>Pre-Trip Concierge &amp; Virtualization</strong></a></li>
                <li><a href="safe_crossing.htm"><strong>Safe Intersection Crossing</strong></a></li>
                <li><a href="automation.htm"><strong>Robotics &amp; Automation</strong></a></li>
              </ul>
            </li>

            <li>
              <strong>ATTRI Fact Sheets and Brochures</strong>
              <ul >
                <li><a href="../../factsheets/pdf/JPO_ATTRI.pdf">Advancing Mobility Solutions for Travelers with Disabilities</a></li>
              </ul>
            </li>
            <li>
              <strong>ATTRI Reports</strong>
              <ul >
                <li><a href="https://rosap.ntl.bts.gov/view/dot/34721">ATTRI Institutional and Policy Issues Assessment</a></li>
                <li><a href="https://rosap.ntl.bts.gov/view/dot/4375">ATTRI International Innovation Coordination Plan</a></li>
                <li><a href="../../exit/cmu_ri.htm">ATTRI State of the Practice, Innovation, and Assessment of Research</a></li>
                <li><a href="../../exit/attri_innovation_scan.htm">ATTRI: Innovation Scan</a></li>
                <li><a href="../../exit/attri_assessment.htm">ATTRI: Assessment of Relevant Research</a></li>
                <li><a href="https://rosap.ntl.bts.gov/view/dot/31320">ATTRI User Needs Report</a></li>
                <li><a href="https://rosap.ntl.bts.gov/view/dot/3498">ATTRI Online Dialogues Report</a></li>
              </ul>
            </li>
            <li>
              <strong>ATTRI Presentations</strong>
              <ul >
                <li><a href="pdf/ATTRI_SxSW_v2.pdf">ATTRI presentation at the SXSW Interactive Festival and Conference 2016</a></li>
                <li><a href="pdf/ATTRI_ODEP_CSUN 2016.pdf">ATTRI presentation at the 31st Annual International Technology and Persons with Disabilities Conference 2016</a></li>
                <li><a href="pdf/16TRB_ATTRI.pdf">ATTRI 2016 Transportation Research Board Annual Meeting Presentation</a></li>
              </ul>
            </li>
            <li>
              <strong>ATTRI Webinars</strong>
              <ul >
                <li><a href="ad2_webinar2017.htm">Application Development Webinar Series</a></li>
                <li><a href="../../meetings/attri_2016webinar.htm">ATTRI State of the Practice, Innovation and Assessment of Research Webinar</a></li>
                <li><a href="attri_user_webinar.htm">ATTRI User Needs Webinar Series</a></li>
              </ul>
            </li><li>
              <strong>Links and Resources</strong>
              <ul >
                <li><a href="https://www.pcb.its.dot.gov/StandardsTraining/Modules.aspx?Year1Transit=1&ModuleID=86#mod86">ITS Transit Standards Training: ATTRI Module Now Available</a></li>
                <li><a href="../../press/2015/attri_report.htm">The U.S. Department of Transportation’s Accessible Transportation Program Cited in New Report on Intellectual Disabilities</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
    <ul>
      <li><a href="../../exit/attri_5.htm">ATTRI Update Webinar #5 – Robotics and Automation recording is now available</a></li>
      <li><a href="https://rosap.ntl.bts.gov/view/dot/34721" target="_blank" rel="noopener noreferrer">ATTRI Institutional and Policy Issues Assessment Now Available</a></li>
      <li><a href="ad2_webinar2017.htm">ATTRI Application Development Webinars Recordings Now Available</a></li>
      <li><a href="../../exit/naric.htm">NIDILRR Announces Robotics and Automation Grant Recipient</a></li>
      <li>
        <a href="https://ntlrepository.blob.core.windows.net/lib/61000/61000/61018/FHWA-JPO-17-499.pdf" target="_blank" rel="noopener noreferrer">
          Now Available – ATTRI International Innovation Coordination Plan
        </a>
      </li>
      <li><a href="pdf/ATTRI_BAA_AwardsAnnouncement.pdf" target="_blank" rel="noopener noreferrer">ATTRI Application Development Awards</a></li>
    </ul>
    <p class="morenews"><a href="../../press/news.htm">More news <img src="../../images/arrow_double_right.png" width="7" height="7" alt="double right arrow" /></a></p>
    <p></p>
    <h3>ATTRI Technology Development</h3>
    <div style="width:450px">
      <table>
        <tbody>
          <tr>
            <td align="center">
              <a href="wayfinding_nav.htm"><img src="images/ATTRI_FocusAreas_Color_Wayfinding.png" alt="Wayfinding & Navigation" width="90" /><br />Wayfinding &amp; Navigation</a>
            </td>
            <td align="center">
              <a href="pretrip_concierge.htm"><img src="images/ATTRI_FocusAreas_Color_Concierge.png" alt="Pre-Trip & Concierge Services" width="90" /><br />Pre-Trip Concierge &amp; Virtualization</a>
            </td>
            <td align="center">
              <a href="safe_crossing.htm"><img src="images/ATTRI_FocusAreas_Color_SafeStreetCrossing.png" alt="Safe Intersection Crossing" width="90" /><br />Safe Intersection Crossing</a>
            </td>
            <td align="center"><a href="automation.htm"><img src="images/ATTRI_FocusAreas_Color_SharedUse.png" alt="Automation & Robotics" width="90" /><br />Robotics &amp; Automation</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3>About ATTRI</h3>
    <p>
      The USDOT’s Accessible Transportation Technologies Research Initiative (ATTRI) is a joint USDOT initiative, co-led by the Federal Highway Administration (FHWA), Federal Transit Administration
      (FTA), and Intelligent Transportation Systems Joint Program Office (ITS JPO), with support from the National Institute on Disability, Independent Living, and Rehabilitation Research (NIDILRR),
      and other federal partners. The ATTRI Program is leading efforts to develop and implement transformative applications to improve mobility options for all travelers, particularly those with
      disabilities. With nearly 20 percent of the U.S. population comprising individuals with disabilities, and other demographic trends such as the increasing number of older Americans, USDOT is
      seeking to expand innovative travel options. ATTRI research focuses on removing barriers to transportation for people with visual, hearing, cognitive, and mobility disabilities. Emerging
      technologies and creative service models funded by ATTRI will offer all Americans enhanced travel choices and accessibility at levels once only imagined. The USDOT has awarded application
      development funding for <a href="wayfinding_nav.htm">Wayfinding and Navigation</a>, <a href="pretrip_concierge.htm">Pre-trip Concierge &amp; Virtualization</a>, <a href="safe_crossing.htm">
        Safe Intersection Crossing
      </a> with NIDILLR awarding a grant in the <a href="automation.htm">Robotics and Automation</a> technology area.
    </p>
    <h3>Complete Trip</h3>
    <p>
      Working together, the four technology areas will provide the basis for an accessible transportation network that is far more economical, expansive, and welcoming than we have now, which is of
      increasing importance not only to travelers with disabilities, but to all travelers in the United States.
    </p>
    <p>
      The accessibility of a transportation system can be described in terms of the ability of individuals to go from home to a destination without breaks or in terms of a travel chain with various
      links such as trip planning, travel to station, station/stop use, boarding vehicles, using vehicles, leaving vehicles, using the stop or transferring, and travel to destination after leaving the
      station or stop. If one link is not accessible, then access to a subsequent link is unattainable and the trip cannot be completed. Thus, the travel chain defines the scope of potential research
      and development in accessible transportation.
    </p>

    <p align="center"><a href="complete_trip.htm"><img src="images/ATTRI_CompleteTrip_web.jpg" width="656" height="507" alt="ATTRI - The Complete Trip" /></a></p>
    <p>
      The inability to get to and from destinations, i.e., from home to a transit station and from the station to a final destination (the first mile/last mile problem) and distance traveled are
      persistent problems in the travel chain. An accessible travel chain allows individuals with disabilities, especially those with severe disabilities, to have independent access to work sites,
      educational programs, health facilities, and social and recreational activities.
    </p>
    <p>
      Click on this <a href="complete_trip.htm">blog</a> to see how someday soon a traveler such as Andy can independently plan and complete all segments of his trip, enabling him to travel to work, school,
      medical appointments, and linking him to wider community.
    </p>

    <br />

    <!-- BEGIN: Constant Contact Email List Form Button -->
    <div align="center">
      <a
        href="attri_newsform.htm"
        class="button"
        style="font-family:Arial,Helvetica,sans-serif;border: 1px solid rgb(91, 91, 91); color: rgb(91, 91, 91); display: inline-block; padding: 8px 10px; text-shadow: none; border-radius: 10px; background-color: rgb(232, 232, 232);"
      >
        Subscribe
      </a><!-- BEGIN: Click here to receive ATTRI News and Updates via email -->
      <div id="ctct_button_footer" align="center" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#999999;margin-top: 10px;">
        Click here to receive ATTRI News and Updates via email.
      </div>
    </div>

    <div class="contacts">
      <h2>Research Contacts</h2>
      <p>
        <img src="../../images/icon.contacts.png" width="75" alt="contacts" class="img_left" />
        <strong>Mohammed Yousuf</strong><br />
        Program Manager, ATTRI<br />
        Office of Operations Research and Development<br />
        Federal Highway Administration<br />
        (202) 493-3199<br />
        <a href="mailto:Mohammed.Yousuf@dot.gov">Mohammed.Yousuf@dot.gov</a>
      </p>

      <p>
        <strong>Robert Sheehan</strong><br />
        Multi-modal Program Manager<br />
        ITS Joint Program Office<br />
        U.S. Department of Transportation<br />
        (202) 366-6817<br />
        <a href="mailto:Robert.Sheehan@dot.gov">Robert.Sheehan@dot.gov</a>
      </p>

      <p>
        <strong>Hendrik Opstelten</strong><br />
        Program Manager<br />
        Office of Mobility Innovation<br />
        Federal Transit Administration<br />
        (202) 366-8094<br />

        <a href="mailto:hendrik.opstelten@dot.gov">Hendrik.Opstelten@dot.gov</a>
      </p>

      <p>
        <strong>Murat Omay</strong><br />
        Senior Transportation Program Analyst
        <br />
        Office of Research, Demonstration, and Innovation (TRI)
        <br />
        Federal Transit Administration<br />
        (202) 366-4182<br />

        <a href="mailto:murat.omay@dot.gov
">Murat.Omay@dot.gov</a>
      </p>

      <div class="clearboth"></div>
    </div>
  </div>
</main>
</PageLayout>
