---
import { Image } from "astro:assets";
import PageLayout from "@/src/layouts/PageLayout.astro";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
---

<style>
  hr {
    margin: 10px 0;
  }
  .blue {
    display: grid;
  }
</style>
<PageLayout title="ATTRI">
  <Fragment slot="banner"> AERIS </Fragment>
  <SidebarLayout path="/research-areas/archive/aeris/">

  <main>
    <h2 class="sideways blue">AERIS Capstone Report (2009-2014)</h2>
    <p>The AERIS Capstone Report (2009-2014),  summarizes the five years of connected vehicle environment research conducted  by the Intelligent Transportation Systems (ITS) Joint Program Office (JPO). The  report serves as a tool to transfer knowledge to a diverse set of stakeholders  educating them on the program's objectives, key research findings, modeling  results, and prototyping activities. As such, the AERIS Capstone Report  (2009-2014) answers three questions:</p>
    <ul>
      <li>What  was the AERIS Research Program supposed to do and what did it do?</li>
      <li>How  did the AERIS Research Program advance connected vehicle and environmental  research and move forward the state of the practice?</li>
      <li>How  are the AERIS Research Program's results being used and how might they support  deployment in the near-term and in the long-term?</li>
  </ul>
  <p>The report also provides  recommendations for future research activities related to transportation, the  environment, and connected vehicle technologies.</p>
  <h3>Download the Report</h3>
  <ul>
    <li><a href="pdf/AERIS_Capstone_ExecSummary.pdf" target="_blank" rel="noopener noreferrer">AERIS Capstone Report (2009-2014) – Executive Summary</a></li>
</ul>
  </main>
  </SidebarLayout>
</PageLayout>
