---
import { Image } from "astro:assets";
import PageLayout from "@/src/layouts/PageLayout.astro";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";


---

<style>
  hr {
    margin: 10px 0;
  }
  .blue {
    display: grid;
  }
</style>

<PageLayout title="ATTRI">
  <Fragment slot="banner"> AERIS </Fragment>
  <SidebarLayout path="/research-areas/archive/aeris/">
  <main>
    <h2 class="sideways blue">AERIS Research Program Overview</h2>
    <p>
      The vision for the Applications for the Environment: Real-Time Information Synthesis (AERIS) Research Program is "Cleaner Air through Smarter Transportation." The AERIS Research Program was
      established by the Intelligent Transportation Systems (ITS) Joint Program Office (JPO) to investigate whether it was possible and feasible to:
    </p>
    <ul>
      <li>Identify connected vehicle applications that could provide environmental impact reduction benefits via reduced fuel use and efficiency impacts on emissions.</li>
      <li>Facilitate and incentivize "green choices" by transportation service consumers (i.e., system users, system operators, policy decision makers, etc.).</li>
      <li>Identify vehicle-to-vehicle (V2V), vehicle-to-infrastructure (V2I), and vehicle-to-grid (V2G) data (and other) exchanges via wireless technologies of various types.</li>
      <li>Model and analyze connected vehicle applications to estimate the potential environmental impact reduction benefits.</li>
      <li>Develop a prototype for one of the applications to test its efficacy and usefulness.</li>
    </ul>

    <p>
      Employing a multi-modal approach, the AERIS Research Program aims to encourage the development of technologies and applications that support a more sustainable relationship between
      transportation and the environment chiefly through fuel use reductions and resulting emissions reductions.
    </p>

    <!-- do we still need news and updates for the archive?   it hasn't been updated since 2016 -->

    <h3>AERIS News and Updates</h3>
    <ul>
      <li><a href="pdf/AERIS_Capstone_ExecSummary.pdf">AERIS Capstone Report Executive Summary</a></li>
      <li>
        GlidePath Prototype Application
        <ul><li><a href="aeris_factsheet_glidepath.htm">Fact Sheet</a> and <a href="glidepath.htm">Webinar</a></li></ul>
      </li>
      <li>
        Emissions Visualization Demonstration
        <ul><li><a href="aeris_factsheet_emissions_demo.htm">Fact Sheet</a> and <a href="pdf/AERIS_emissions_webinar.pdf">Webinar</a></li></ul>
      </li>
      <li><a href="aeris_oct2014_workshop.htm">AERIS Workshop: Moving Toward Deployment</a></li>
    </ul>

    <h3>AERIS Operational Scenarios</h3>

    <p>
      The Applications for the Environment: Real-Time Information Synthesis (AERIS) Research Program defined five Operational Scenarios and eighteen unique connected vehicle applications that sought
      to reduce fuel consumption and vehicle emissions. AERIS Operational Scenarios include: Eco-Signal Operations, Eco-Lanes, Low Emissions Zones, Eco-Traveler Information, and Eco-Integrated
      Corridor Management (Eco-ICM). Each Operational Scenario encompassed a set of applications which individually achieved environmental benefits. However, by strategically bundling the
      applications, the AERIS Program saw that the Operational Scenarios could achieve additional environment benefits above those of the individual applications. Many of these first-of-their-kind
      applications were innovative and transformative. The AERIS team created Concept of Operations (ConOps) documents for each of the five Operational Scenarios to guide analysis, modeling,
      simulation, and prototyping. Learn more about the <a href="pdf/AERIS_Operational_Scenarios020216.pdf">AERIS Operational Scenarios and Applications</a>.
    </p>

    <p><a href="">Research Plan</a></p>

    <h2>Research Contacts</h2>
    <p>
      <strong>Marcia Pincus</strong><br />
      Program Manager, Environment (AERIS) and ITS Evaluation<br />
      ITS Joint Program Office<br />
      (202) 366-9230<br />
      <a href="mailto:Marcia.Pincus@dot.gov">Marcia.Pincus@dot.gov</a>
    </p>

    <p>
      <img src="../../images/icon.contacts.png" width="75" alt="contacts" class="img_left" />
      <strong>Marcia Pincus</strong><br />
      Program Manager, Environment (AERIS) and ITS Evaluation<br />
      ITS Joint Program Office<br />
      (202) 366-9230<br />
      <a href="mailto:Marcia.Pincus@dot.gov">Marcia.Pincus@dot.gov</a>
    </p>

    <ul>
      <li>
        <a href="https://rosap.ntl.bts.gov/view/dot/3368" target="_blank" rel="noopener noreferrer">AERIS: Eco-Vehicle Speed Control at Signalized Intersections Using I2V Communication</a> June 2012
      </li>
      <li>
        <a href="https://rosap.ntl.bts.gov/view/dot/3366" target="_blank" rel="noopener noreferrer">
          AERIS: Assessment and Fusion of Commercial Vehicle Electronic Control Unit (ECU) Data for Real-Time Emission Modeling
        </a> June 2012
      </li>
      <li>
        <a href="https://rosap.ntl.bts.gov/view/dot/3367" target="_blank" rel="noopener noreferrer">ECO-ITS: Intelligent Transportation System Applications to Improve Environmental Performance</a> May
        2012
      </li>
      <li><a href="https://rosap.ntl.bts.gov/view/dot/3347" target="_blank" rel="noopener noreferrer">AERIS - Techniques for Evaluating the Environmental Impacts of ITS Deployment</a> August 2011</li>
      <li><a href="https://rosap.ntl.bts.gov/view/dot/37285" target="_blank" rel="noopener noreferrer">AERIS - Applications State of the Practice Assessment Report</a> August 2011</li>
      <li><a href="https://rosap.ntl.bts.gov/view/dot/3348" target="_blank" rel="noopener noreferrer">An AERIS Data Environment Based on Existing Systems Development</a> August 2011</li>
      <li>
        <a href="https://rosap.ntl.bts.gov/view/dot/3349" target="_blank" rel="noopener noreferrer">
          Engaging the International Community – Research on ITS Applications to Improve Environmental Performance
        </a> August 2011
      </li>
      <li><a href="https://rosap.ntl.bts.gov/view/dot/3345" target="_blank" rel="noopener noreferrer">AERIS - State-of-the-Practice Scan of Behavioral and Activity-Based Models</a> June 2011</li>
      <li>
        <a href="https://rosap.ntl.bts.gov/view/dot/3346" target="_blank" rel="noopener noreferrer">AERIS - State-of-the-Practice Assessment of Technology to Enable Environmental Data</a> June 2011
      </li>
      <li><a href="https://rosap.ntl.bts.gov/view/dot/3357" target="_blank" rel="noopener noreferrer">AERIS - State-of-the-Practice Scan of Environmental Models</a> June 2011</li>
    </ul>
  </SidebarLayout>
  </main>
</PageLayout>
