---
import { Image } from "astro:assets";
import PageLayout from "@/src/layouts/PageLayout.astro";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";
import infographic from "@/src/assets/images/aeris/scenarios_applications.png";
---

<style>
  hr {
    margin: 10px 0;
  }
  .blue {
    display: grid;
  }
</style>
<PageLayout title="ATTRI">
  <Fragment slot="banner"> AERIS </Fragment>
  <SidebarLayout path="/research-areas/archive/aeris/">
    <main>
      <h2 class="sideways blue">AERIS Operational Scenarios and Applications</h2>
      <p>
        The AERIS Research Program investigated five Operational Scenarios or bundles of connected vehicle applications. Each Operational Scenario encompassed a set of applications which individually
        achieved environmental benefits. However, by strategically bundling the applications, the AERIS Program saw that the Operational Scenarios could achieve additional environment benefits above
        those of the individual applications. The AERIS Operational Scenarios include:
      </p>
      <Image src={infographic} alt="An infograhoic covering the 5 scenarios and applications area" />
      <p>
        <strong>Eco-Signal Operations</strong>: Uses connected vehicle technologies to reduce fuel consumption and emissions at signalized intersections. Applications included in this Operational
        Scenario include: Eco-Approach and Departure at Signalized Intersections, Eco-Traffic Signal Timing, Eco-Traffic Signal Priority, Connected Eco-Driving, and Wireless Inductive/Resonance
        Charging.
      </p>
      <ul>
        <li><a href="https://rosap.ntl.bts.gov/view/dot/3419" target="_blank" rel="noopener noreferrer">Eco-Signal Operations Concept of Operations (ConOps) Report</a></li>
        <li><a href="pdf/Eco-SignalOperationsConOps021814.pdf" target="_blank" rel="noopener noreferrer">Eco-Signal Operations ConOps Presentation</a></li>
      </ul>
      <p>
        <strong>Eco-Lanes:</strong> Dedicated freeway lanes – similar to managed lanes – optimized for the environment that encourage use from vehicles operating in eco-friendly ways. Drivers would be
        able to opt-in to these dedicated eco-lanes to take advantage of eco-friendly applications such as Eco-Cooperative Adaptive Cruise Control (Eco-CACC), Eco-Speed Harmonization, Connected Eco-Driving,
        and Wireless Inductive/Resonance Charging applications.
      </p>
      <ul>
        <li><a href="https://rosap.ntl.bts.gov/view/dot/3439" target="_blank" rel="noopener noreferrer">Eco-Lanes Concept of Operations (ConOps)</a></li>
        <li><a href="pdf/Eco-LanesConOps021814.pdf" target="_blank" rel="noopener noreferrer">Eco-Lanes ConOps Presentation</a></li>
      </ul>
      <p>
        <strong>Low Emissions Zones:</strong> Geographically defined areas that seek to incentivize “green transportation choices” or restrict high-polluting vehicles from entering the zone. Low Emissions
        Zones in a connected vehicle environment would be similar to existing low emissions zones; however they would leverage connected vehicle technologies allowing the systems to be more responsive
        to real-time traffic and environmental conditions.
      </p>
      <ul>
        <li><a href="https://rosap.ntl.bts.gov/view/dot/28000" target="_blank" rel="noopener noreferrer">Low Emissions Zones Concept of Operations (ConOps)</a></li>
        <li><a href="pdf/LowEmissionsZonesConOps021814.pdf" target="_blank" rel="noopener noreferrer">Low Emissions Zones ConOps Presentation</a></li>
      </ul>
      <p>
        <strong>Eco-Traveler Information:</strong> Enables development of new, advanced “green” traveler information applications through integrated, multisource, multimodal data. The objective of traveler
        information is to provide the traveling public with information regarding available modes, optimal routes, and departure times in real-time either pre-trip or en-route. Research has shown that
        successful traveler information services can impact fuel consumption and vehicular emissions in various forms.
      </p>
      <p>
        <strong>Eco-Integrated Corridor Management (Eco-ICM):</strong> Considers treating travel corridors as an integrated asset with a focus on decreasing fuel consumption and emissions. The Eco-ICM
        Operational Scenario seeks to build on the successes of previous ICM initiatives by considering how connected vehicle and other future technologies may support the integrated operation of a major
        travel corridor to reduce transportation-related emissions.
      </p>
    </main>
  </SidebarLayout>
</PageLayout>
