---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Intersection Safety Challenge Outreach Toolkit"
  description="Materials for local agencies and community partners to raise awareness about ITS-enabled intersection safety technologies."
  keywords={"Intersection Safety"}
>
  <main class="container my-5">
    <h1 class="h2 mb-4 sideways blue">NEWSROOM</h1>
    <h2 class="sideways blue">Intersection Safety Challenge Outreach Toolkit</h2>

    <section>
      <h3>Fact Sheets</h3>
      <div></div>
    </section>

    <section>
      <h3>Infographics</h3>
      <div></div>
    </section>

    <section>
      <h3>Talking Points</h3>
      <div></div>
    </section>

    <section>
      <h3>Slides</h3>
      <div></div>
    </section>

    <section>
      <h3>Photos</h3>
      <div></div>
    </section>
  </main>
</BaseLayout>
