---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Artificial Intelligence in Transportation Toolkit"
  description="Shareable materials explaining how AI is being used to improve safety and efficiency across the transportation system."
  keywords={"AI"}
>
  <main class="container my-5">
    <h1 class="h2 mb-4 sideways blue">NEWSROOM</h1>
    <h2 class="sideways blue">Artificial Intelligence in Transportation Toolkit</h2>

    <section>
      <h3>Fact Sheets</h3>
      <div></div>
    </section>

    <section>
      <h3>Infographics</h3>
      <div></div>
    </section>

    <section>
      <h3>Talking Points</h3>
      <div></div>
    </section>

    <section>
      <h3>Social Posts</h3>
      <div></div>
    </section>
  </main>
</BaseLayout>
