---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Transportation Research Board (TRB) Annual Meeting 2026"
  description="Resources to help communities and agencies communicate the benefits of V2X technology to local stakeholders and the public."
  keywords={"TRB"}
>
  <main class="container my-5">
    <h1 class="h2 mb-4 sideways blue">NEWSROOM</h1>
    <h2 class="sideways blue">Transportation Research Board (TRB) Annual Meeting 2026</h2>

    <section>
      <h3>Contacts</h3>
      <div></div>
    </section>

    <section>
      <h3>ITS JPO Resources Distributed at TRB 2026</h3>
      <div>
        
      </div>
    </section>

    <section>
      <h3>Social Posts</h3>
      <div></div>
    </section>

    <section>
      <h3>Infographics</h3>
      <div></div>
    </section>

    <section>
      <h3>Slides</h3>
      <div></div>
    </section>
  </main>
</BaseLayout>
