---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Utah Department of Transportation (UDOT) Connecting the West Program Media Kit"
  description="The UDOT Connecting the West Program is part of the Vehicle-to-Everything (V2X) Accelerator Program funded by the Intelligent Transportation Systems Joint Program Office (ITS JPO). For more information on the V2X Accelerator Program visit the V2X Accelerator information page."
  keywords={"V2X Accelerator, UDOT, Connecting the West Program"}
>
  <main class="container my-5">
    <h1 class="h2 mb-4 sideways blue">NEWSROOM</h1>
    <h2 class="sideways blue">Utah Department of Transportation (UDOT) Connecting the West Program Media Kit</h2>

    <section class="kit-section print-materials">
      <h3>Print Materials</h3>
      <div></div>
    </section>

    <section class="kit-section videos">
      <h3>Videos</h3>
      <div></div>
    </section>

    <section class="kit-section image-library">
      <h3>Image Library</h3>
      <div></div>
    </section>
    <section class="kit-section webinar-materials">
      <h3>Webinar Materials</h3>
      <div></div>
    </section>
     <section class="kit-section media-coverage">
      <h3>Media Coverage</h3>
      <div></div>
    </section>
     <section class="kit-belt-cta">
      <h3>Connecting the West Program</h3>
      <div></div>
    </section>
  </main>
</BaseLayout>
