---
import DataProgramLayout from "../_DataProgramLayout.astro";
import base_url from "@/src/lib/base_url";
---
<DataProgramLayout title="Reference | Resources and Tools">
  <h2 class="sideways blue">Reference Documents, Guidelines, and Templates
  </h2>
  
   <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;"> 
    <div class="col-lg-7">
      <p>
        The applicable ITS Data Program reference documents, guidelines, and templates provide processes and best practices for ITS JPO and other ITS projects to follow regarding implementing formal USDOT policies and guidance for open data and source code access, making them easily accessible and implementable.
        </p>
        <h3>Reference Documents</h3>
        <ul>
          
         </ul>
         <h3>Guidelines</h3>
          <ul>
           
          </ul>
         <h3>Templates</h3>
         <ul>
          
         </ul>
         <h3>Additional Relevant Documents and Guidelines</h3>
         <ul>
          <!-- <li>
            <a href="../../../../assets/pdf/factsheets/pdf/nameofPDF" target="_blank">Forthcoming OST-R Data Strategy and Implementation Plan</a>
          </li> -->
          
         </ul>
     

    </div>
    <div class="col-lg-5">
      <img class="sideColumnImg" src={base_url("/assets/images/data_access/ITS_DataProgram_ResourcePreivew_ComingSoon.png")}>
    </div>
  </div>
</DataProgramLayout>
