---
import PageLayout from "@/src/layouts/PageLayout.astro";
import bannerImage from "@/src/assets/images/asc/banner.jpg";
import SidebarLayout from "@/src/layouts/SidebarLayout.astro";

interface Props {
  title: string
}

const { title } = Astro.props;
---
<style is:global>
	.typography {
		/* margin-left: 0.5rem; */
		margin-right: 0.5rem;
		margin-bottom: 2rem;
	}

  @media (min-width: 500px) {
    p {
      margin-right: 0;
    }
  }
</style>

<PageLayout title={`${title} | ASC`} bannerImage={bannerImage}>
  <Fragment slot="banner">
		Enabling ITS Resources:
		<br/>
		Architecture, Standards, & Cybersecurity
	</Fragment>
  <SidebarLayout path="/resources/accelerating/asc">
    <slot/>
  </SidebarLayout>
	<section slot="footer" class="download bg-primary text-center py-4" id="research">
    <div class="container-fluid">
      <div class="container">
          <h2>Contacts</h2>
          <p style="padding-bottom: 20px">
            Please explore this site for a more detailed description of the program and progress. We will continue to upload relevant program information for public consumption as it becomes
            available. For inquiries regarding the program, please contact the USDOT Point of Contact below.
          </p>
          <p style="padding-top: 20px; border-top-style: solid; border-color: honeydew; border-width: 2px">
            <b>Robert Sheehan, P.E., PTOE</b>
          </p>
					<p>Program Manager - Architecture, Standards, and Cybersecurity (ASC)</p>
          <p>ITS Joint Program Office</p>
          <p>(202) 366-6817</p>
          <p>
            <a class="email-footer" href="mailto:Robert.Sheehan@dot.gov">Robert.Sheehan@dot.gov</a>
          </p>
      </div>
    </div>
  </section>
</PageLayout>