---
import DataProgramLayout from "./_DataProgramLayout.astro";
---
<DataProgramLayout title="News and Events">
  <h2 class="sideways blue">Data and Exchanges Program News and Events</h2>
            
  <div class="row" style="padding-bottom:0px; margin-bottom:20px; border-bottom-style:none; border-block-width:1px; border-color:gainsboro;"> 
    <div class="col-lg-7">
      <p>
        Interested in staying up to date on the latest ITS Data Program news and events? We have you covered.        
      </p>
      <h3>News</h3>

      <!-- Placeholder links for future
      <ul>
          <li>
              <a href="../../factsheets/pdf/nameofPDF" target="_blank"> New data feed added to the WZDx Feed Registry</a>
          </li>
          <li>
            <a href="../../factsheets/pdf/nameofPDF" target="_blank">Additional News Highlight 1</a>
        </li>
        <li>
          <a href="../../factsheets/pdf/nameofPDF" target="_blank">Additional News Highlight 2</a>
        </li>
        <li>
          <a href="../../factsheets/pdf/nameofPDF" target="_blank">Additional News Highlight 3</a>
        </li>
          
      </ul>

    -->

      <h3>Events</h3>
      <!-- Placeholder links for future 
      <ul>
        <li>
          <a href="../../factsheets/pdf/nameofPDF" target="_blank">Past or Upcoming Event 1</a>
        </li>
        <li>
          <a href="../../factsheets/pdf/nameofPDF" target="_blank">Past or Upcoming Event 2</a>
        </li>
        <li>
          <a href="../../factsheets/pdf/nameofPDF" target="_blank">Past or Upcoming Event 3</a>
        </li>
      </ul>

    -->
      <button class="Pagebtn externalLink_White btnDark top20Margin" onclick="window.open('https://www.its.dot.gov/press/news.htm');">View all ITS JPO News and Events</button> 

    </div>
    <div class="col-lg-5">
      <img class="sideColumnImg" src="/src/assets/images/data_access/ITS_DataProgram_ResourcePreivew_News.png">
    </div>
  </div>
</DataProgramLayout>