---
import SideBar from "../components/SideBar_News.astro";
import Default from "./Default.astro";
const {frontmatter} = Astro.props;
---
<style is:global>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  img {
      vertical-align: middle;
      width: 100%;
      height: auto;
      max-width: 600px;
  }
  
  </style>
  

<Default title={frontmatter.title}>



<div class="AboutBanner">
    <div class="AboutBannerTitle">
        <h1>Infographics</h1>
    </div>
</div>
<div class="container-fluid h-100 bodyWrap">
    <div class="row h-100">
      <aside class="col-12 col-md-3 p-3 bg-light">
        <SideBar /></aside>
      <!-- InstanceEndEditable -->
      <!-- InstanceBeginEditable name="MainContent" -->

      <main class="col-9 MainContent">
        <h2>{frontmatter.title}</h2>
        <slot />
      </main>
    </div>
  </div>

</Default>