---
import { Image } from "astro:assets";
import PageLayout from "@/src/layouts/PageLayout.astro";
import infographic from "@/src/assets/images/attri/PretripConcierge.jpg";
---

<style></style>
<PageLayout title="ATTRI Pre-Trip Concierge & Virtualization">
  <Fragment slot="banner"> Accessible Transportation Technologies Research Initiative (ATTRI)</Fragment>
  <main>
    <h2 class="sideways blue">Pre-Trip Concierge & Virtualization</h2>
    <Image src={infographic} alt="Pre-Trip Concierge & Virtualization illustrative graphic of a tablet being used at an airport" class="float-end m-2" />
    <p>
      Pre-Trip Concierge & Virtualization provide pre-trip planning and en-route travel information to travelers with disabilities, theirPre-Trip and Concierge Services family members, and caregivers,
      including creating a virtual environment for users to familiarize themselves with their travel before the trip. This technology also offers the ability to pair transportation services based on
      user needs.
    </p>
    <p>In 2017, the USDOT granted a Broad Agency Agreement (BAA) awards to:</p>
    <ul>
      <li>
        <a href="https://www.ablelinktech.com/index.php?id=2">AbleLink</a>&nbsp;– A suite of assessment, self-directed learning, and trip execution technologies to support independent travel for
        individuals with cognitive disabilities.&nbsp;
      </li>
    </ul>
  </main>
</PageLayout>
