---
import { Image } from "astro:assets";
import PageLayout from "@/src/layouts/PageLayout.astro";
import infographic from "@/src/assets/images/attri/SafeIntersectionCrossing.jpg";
---

<style></style>
<PageLayout title="ATTRI Safe Intersection Crossing">
  <Fragment slot="banner"> Accessible Transportation Technologies Research Initiative (ATTRI)</Fragment>
  <main>
    <h2 class="sideways blue">Safe Intersection Crossing</h2>
    <Image src={infographic} alt="Safe Intersection Crossing illustrative graphic" class="float-end m-2" />
    <p>
      Safe Intersection Crossings enable pedestrians to use their connected mobile devices to interface with vehicles, trafficSafe Intersection Crossing signals, and other infrastructure to receive
      context-based information related to pedestrian and built environments-helping them cross an intersection safely. Guidance notification and alerts in accessible communication formats optimize
      their travel experience.
    </p>
    <p>In 2017, the USDOT granted a Broad Agency Agreement (BAA) awards to:</p>
    <ul>
      <li>
        <a href="https://www.cmu.edu/">Carnegie Mellon University</a>&nbsp;– Connect pedestrian travelers with disabilities to the traffic signal systems (and by extension to nearby connected vehicles
        and infrastructure), and use this connectivity to develop assistive services for safe intersection crossing and increased independent mobility.
      </li>
    </ul>
  </main>
</PageLayout>
