---
import { Image } from "astro:assets";
import PageLayout from "@/src/layouts/PageLayout.astro";
import infographic from "@/src/assets/images/attri/ATTRI_SmartWayfinging.jpg";
---

<style>
  #portalBox_right {
    font-size: smaller;
    width: 30%;
    float: right;
    border: 1px solid #d0d0d0;
    background-color: #eeeeee;
    margin-bottom: 12px;
    padding: 10px;
    margin: 10px;
  }

  #portalBox_right a:hover {
  }

  #portalBox_right ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
  }

  #portalBox_right ul li {
    margin: 0;
    padding-left: 10px;
    position: relative;
    font-family: Arial, sans-serif;
    color: #333;
  }

  #portalBox_right ul li::before {
    content: ""; /* Custom bullet for main list */
    display: inline-block;
    position: absolute;
    left: 0;
  }

  #portalBox_right ul ul li::before {
    content: "▸"; /* Custom bullet for nested list */
  }

  #portalBox_right ul ul ul li::before {
    content: "◦"; /* Custom bullet for deeper nested list */
    color: #2ecc71; /* Bullet color for deeper nested list */
  }
</style>
<PageLayout title="ATTRI Wayfinding & Navigation">
  <Fragment slot="banner"> Accessible Transportation Technologies Research Initiative (ATTRI)</Fragment>
  <main>
    <h2 class="sideways blue">Pre-Trip Concierge & Virtualization</h2>
    <Image src={infographic} alt="Wayfinding illustrative infographic" class="float-end m-2" />
    <p>
      Smart Wayfinding and Navigation helps travelers, particularly those with disabilities, safely and independently reach their
       destinations by providing real-time information, localization and situational awareness to assist in navigating indoor and outdoor environments, including path planning and detouring around blocked
      routes or hazards.
    </p>
    <p>In 2017, the USDOT granted the following Broad Agency Agreement (BAA) awards for Wayfinding &amp; Navigation projects:</p>
    <ul>
      <li><a href="https://www.ccny.cuny.edu/">City College of New York</a> – Smart Cane for Assistive Navigation (SCAN), integrated with a smart phone application</li>
      <li>
        <a href="https://www.ablelinktech.com/index.php?id=2">AbleLink Smart Living Technologies</a> – An open wayfinding media standard and related infrastructure to support the creation of geographically-specific,
        cloud-based libraries of routes that adhere to the SMART standard for users in different metropolitan or rural areas.
      </li>
      <li>Pathways Accessibility Solutions – A wayfinding tool for wheelchair users and people with visual impairment that guides routes tailored to the user’s preferences.</li>
      <li><a href="https://www.trxsystems.com/">TRX Systems</a> – A smart wayfinding and navigation system to obtain real-time location, en-route assistance, and situational awareness.</li>
    </ul>
  </main>
</PageLayout>
